[2019-05-22 14:14] #1400 closed

[2019-05-22 14:17] edhartnett opened #1403 "nc_perf cleaning .txt file but should not be"
As pointed out by @DennisHeimbigner the nc_perf Makefile.am cleans *.txt, which wipes out the CMake file in the directory.

In fact, this is an artifact of old code anyway, there is no .txt file to clean up, so I just removed the *.txt from the CLEANFILES.

PR up shortly.

[2019-05-22 19:00] #1399 closed

[2019-05-22 19:00] #1401 closed

[2019-05-22 19:00] #1403 closed

[2019-05-24 18:35] zerothi opened #1408 "configure does not check for STRDUP"
`configure` does not check for `HAVE_STRDUP` which makes compilation fail.

### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [ ] cmake

### Sum

[2019-05-24 18:58] WardF commented on #1408
Thanks, we’ll get this addressed!

[2019-05-24 19:48] DennisHeimbigner commented on #1408
configure.ac has an AC_CHECK_FUNCS for strdup (about line 823),
so I am not sure what is going on here.

[2019-05-24 19:57] zerothi commented on #1408
Thanks!

@DennisHeimbigner I can see now that indeed it does (I only grepped for HAVE_STRDUP which obviously didn' find this...).

I have just tested this with 4.6.3 and 4.7.0, it *only* happens in 4.7.0...

If you need anymore details, let me know!

[2019-05-24 19:59] DennisHeimbigner commented on #1408
The reason that declaration is in ncconfigure.h is because it is needed
when -ansi is specified to the compiler.
But there is something odd in nccconfigure.h.
I see this:
[code]
but later on, I see this:
[code]
I have no idea what #ifndef strcat does; is it assuming strcat is a macro?

[2019-05-24 20:05] zerothi commented on #1408
Agreed, in git blame it seems it entered around december 2018, so it could be the culprit.

The fix is easy for me. I simply added `-DHAVE_STRDUP` to my `CFLAGS` and it worked...

[2019-05-24 20:09] DennisHeimbigner commented on #1408
The base problem is that for gcc, if you specify -ansi, then the headers
do not define strdup, but it turns out that the gcc library in fact defines strdup
anyway. This is why all we need to do is add our own extern strdup decl.
Similar for some other functions.

[2019-05-24 20:44] DennisHeimbigner commented on #1408
Well since I probably caused the problem, I might as well try to fix it and
take credit for it :-)

[2019-05-24 22:03] DennisHeimbigner commented on #1408
As a test of my fix, I am attaching a modified copy of netcdf-c/include/ncconfigure.h.
Can you try it and see if it fixes your problem?
[ncconfigure.zip](https://github.com/Unidata/netcdf-c/files/3218732/ncconfigure.zip)

[2019-05-27 07:03] zerothi commented on #1408
@DennisHeimbigner sadly I get the same error:

I here show the full line for compilation for your convenience:
[code]

[2019-05-27 07:04] zerothi commented on #1408
As an additional information my config.log has this:
[code]
which seams to suggest some kind of mismatch?

[2019-05-27 19:01] DennisHeimbigner commented on #1408
That is very odd. This decl "char strdup ();" cannot possibly
be right; strdup returns char*.
I notice you are using mpi. Can you try rebuilding with parallelism turned off?
I am wondering if there are header files used by mpicc that are causing the problem.

[2019-05-29 06:21] zerothi commented on #1408
In serial I get exactly the same error:

[code]

[2019-05-29 06:25] zerothi commented on #1408
In serial I get exactly the same error (**with** your patch):

[code]

[2019-05-29 16:49] DennisHeimbigner commented on #1408
Ok, for the compiler to see that, the two preceding #if tests must be true.
These tests are:

Since this is linux, the first test is trivially true.
It is the second test that is the problem apparently. My claim that __STDC__ == 1
is same as --ansi must be false, or you are setting __STDC__ or --ansi, which I assume
you are not.
What linus are you running?
Also, is HAVE_STRDUP set in config.h?

[2019-05-29 18:03] DennisHeimbigner commented on #1408
As an experiment, you might try replacing the line:

with

This comes from looking at this page:
https://gcc.gnu.org/onlinedocs/cpp/Standard-Predefined-Macros.html

[2019-05-29 19:10] zerothi commented on #1408
In my `config.h` I have:

[code]
OS: Linux nicpa-dtu 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux

Custom binutils and latest GCC version.

[2019-05-29 19:25] DennisHeimbigner commented on #1408
Ok, one more test: compile and run this program
and tell me its output.
[code]

[2019-05-29 19:30] zerothi commented on #1408
I did this:

[code]

[2019-05-29 19:31] zerothi commented on #1408
I'll compile now, and yes it yields: `stdc ==1`

[2019-05-29 19:44] DennisHeimbigner commented on #1408
ok, I guess that ````__STDC__==1```` is not
the equivalent of -ansi (unless you are for some reason
setting that flag). I any case, it should still work. The errors
you are seeing imply that somehow the symbol "strdup"
is being defined by a macro. I have attached another version
of ncconfigure.h to try.
[ncconfigure.zip](https://github.com/Unidata/netcdf-c/files/3234181/ncconfigure.zip)

[2019-05-29 19:57] zerothi commented on #1408
As noted previously it works with 4.6.X using the same procedure.

[2019-05-29 20:08] zerothi commented on #1408
That one worked. Everything ran through. :)

[2019-05-29 20:09] DennisHeimbigner commented on #1408
ok, thanks. I must confess I cannot understand why functions like strdup
are being defined as macros, but oh well.

[2019-05-29 20:13] zerothi commented on #1408
It is indeed weird...

[2019-05-29 21:26] #1398 closed

[2019-06-03 16:20] ZedThree opened #1412 "Converting array of floats or doubles uses signalling comparisons"
If an array contains a NaN and certain floating point exceptions are enabled, writing the array to a different type will cause a crash.

More specifically, writing an array of either `float`s or `double`s to a different type may result in `FE_INVALID` being raised due to the comparisons to check if a value is within the range of the destination type. If floating point exceptions are enabled this w

[2019-06-03 22:53] jswhit opened #1413 "surprising results writing data to a 2d variable with both dimensions unlimited"
reported in https://github.com/Unidata/netcdf4-python/issues/933

Here's a C test program:

[code]

The resulting netcdf file looks like this:

[code]

Note that the data value is repeated along the 2nd dimension.  The expected result is to just have a single value at the location y=2; x=3

[2019-06-03 23:50] edhartnett commented on #1413
Awesome test program contribution! THanks! I will take a look.

[2019-06-03 23:52] edhartnett commented on #1412
Does this affect performance?

[2019-06-04 01:04] edhartnett commented on #864
@opoplawski this topic has come to the fore. Can you give a more detailed explanation of why you think HDF5 should drop the header check? (I will communicate this explanation to the HDF5 team as well, we were just discussing this today.)

[2019-06-04 03:57] dkobashi opened #1414 "ncdump for opendap address failed (netcdf-c 4.7.0)"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [ x ] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [X ] 64-bit
* What build system are you using?
  * [X ] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [X

[2019-06-04 08:50] ZedThree commented on #1412
I've not checked empirically, but it looks like the `isless/isgreater` macros just get turned into slightly different op codes, at least with any degree of optimisation: https://godbolt.org/z/px1X16

[2019-06-04 15:06] DennisHeimbigner commented on #1414
Ok, I can reproduce. I will investigate.

[2019-06-04 15:12] DennisHeimbigner commented on #1412
The only issue will be platform specificities; does it work on windows and macs etc.
I would suggest making the PR so we can test it out.

[2019-06-04 16:19] DennisHeimbigner commented on #1414
do the command

with no arguments.
At the end of the output, it will indicate the version.
Please report it to us.

[2019-06-04 16:23] dkobashi commented on #1414
netcdf library version 4.6.3 of Jun  2 2019 14:43:28 $.

Now I am confused.
[code]
The version should be 4.7.0.

[2019-06-04 16:27] DennisHeimbigner commented on #1414
So am I.

[2019-06-04 16:49] DennisHeimbigner commented on #1414
I think you need to look in /usr/bin or /usr/local/bin to see if that is where
the ncdump 4.6.3 is located.

[2019-06-04 17:00] ZedThree commented on #1412
Ok, I will open it tomorrow. It's in C99, so it is in theory portable.

[2019-06-04 17:08] edhartnett commented on #1412
Oh oh. C99 does not work on Windows, IIRC.

[2019-06-04 17:22] dkobashi commented on #1414
4.6.3 was the version installed before 4.7.0 without opendap because I had an issue on curl installed by default on my ubuntu when installing 4.6.3 (then I installed curl from source).

I downloaded the latest version of netcdf (4.7.1?) and installed with cmake and that worked fine. Then I removed version 4.6.3 and re-installed 4.7.0 with automake and that worked fine too.
So I don't know. maybe I

[2019-06-04 17:22] #1414 closed

[2019-06-04 17:49] WardF commented on #1412
Modern Visual Studio claims to offer some level of C99 support. We can take a look at the very least :).

[2019-06-04 23:30] DennisHeimbigner commented on #864
So basically, the verification process should involve something like this:
1. the netcdf library being accessed should have a built in constant representing
    its version.
2. the client code must contain a constant representing the version of library for
    whose header files it was compiled
3. At run-time, the client code must query the library with its (the clients) version constant
    and t

[2019-06-05 00:12] edhartnett commented on #864
If the lib file holds the version number in a global var and the version number is in netcdf.h, then those could be compared. Is that what you mean? The library global var is fixed when it is compiled, so if the user builds with a different netcdf.h, the library can throw an error.

But I am not sure this is necessary. Lots of trouble is taken to ensure that the netcdf.h files is backward compatib

[2019-06-05 03:00] DennisHeimbigner commented on #864
The problem case is this:
1. client program was compiled with header files that declared the mode flag
    of e.g. nc_open as 32 bit.
2. the netcdf.so that is dynamically loaded was built with header files
    that declared the mode flag to nc_open to be 64 bit.
So, the code thinks it is getting a 64 bit integer on the arg stack, but the client
code has put a 32 bit integer on the arg stack.

[2019-06-05 10:34] edhartnett commented on #864
You know what, let me try it out a bit today on a branch and we will see what we can make happen.

@opoplawski still eager to get your input on this, since you were the one who raised the objection...

[2019-06-05 17:00] DennisHeimbigner commented on #864
In any case, when/if we expand the size of the mode flag, we should
consider doing 2 things:
1. see if there are other argument types that need to expand to 64 bits
2. bump the primary version number to version 5.

[2019-06-05 17:33] WardF commented on #1393
Reopened because additional information has come to light.

[2019-06-05 19:23] DennisHeimbigner commented on #1412
Can we provide our own implementations of isless/isgreater if they are not available?

[2019-06-05 21:25] WardF commented on #1393
I finally was able to get openssl 1.0.2l installed, now I need to get libcurl 7.6.0.  OpenSSL 1.0.2l and libcurl 7.55.1 do not encounter an error.

[2019-06-05 21:47] WardF commented on #1393
Checking with libcurl 7.60.0 and OpenSSL 1.0.2l on my system, using the current `master` dev branch, fails to reveal the reported issue. Next check will be netCDF `4.6.1`.

[2019-06-05 21:52] WardF commented on #1393
I will double check my work but I am not able to duplicate this issue with netCDF `4.6.1`, OpenSSL `1.0.2l` and `libcurl 7.60.0` on my system as of this moment.  I'll try to do a clean install of everything just to minimize the chance of user error, and report on that.

[2019-06-06 13:00] ZedThree commented on #1412
Possibly. Here's how GCC defines them:

[code]

[2019-06-10 21:53] ellenjohnson commented on #1393
Hi Ward and Dennis -- thanks for reopening this and investigating.  Just letting you know we had another user report this exact same issue with this GRIB OPeNDAP endpoint:
  "https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regional_US_East_Coast/Best"
Same error -- Invalid argument (NC_EINVAL).
Same configuration -- only on Windows, only on GRIB endpoints, only in netcdf 4.6.1 +

[2019-06-10 23:00] WardF commented on #1393
@DennisHeimbigner is it possible this is a TDS issue? I'm putting together an email and some log files right now, but more work to diagnose this is needed before I have any concrete conclusions.

[2019-06-11 02:59] DennisHeimbigner commented on #1393
It is possible, but if so, then it should be easy to show by testing these 3 URLS
in your web browser.
1. https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regional_US_East_Coast/Best.dds
2. https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regional_US_East_Coast/Best.das
3.https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regional_US_East_Coast/Best

[2019-06-11 18:10] DennisHeimbigner commented on #1393
I have created a separate branch called windap.tmp that turns on a bunch
of debug output. Please try to use it to see if the error you are seeing
shows up.
It should be sufficient if you send the output from this:

I used the -h flag to keep the output down, but if the error does not show, then
try again with the -h flag removed.

[2019-06-13 15:20] ellenjohnson commented on #1393
Thanks Dennis -- I've been trying to build the special branch on Windows and it's a bit slow-going.  I got it to at least the build stage but it's failing with some weird errors, I think it's our configuration system here, though I tried to build it standalone and got build errors there too.  I'll let you know when I make more progress.

[2019-06-14 09:57] edhartnett opened #1416 "shared library version-info different for autotools vs. cmake build"
Note sure if this is an issue, but the autotools and cmake builds use different version-info numbers (a.k.a. SO numbers) for the C library.

From liblib/Makefile.am:
[code]

From CMakeLists.txt:

[code]

This seems related to issue #355.

[2019-06-17 03:02] opoplawski commented on #1416
If I'm not mistaken, I believe a -version-info of 14:1:1 will result in a so version of 13.

[2019-06-17 03:11] opoplawski commented on #864
The proper way to signal the version of the ABI is with the library's soname/soversion.  When the library's ABI changes, you bump the SO version.  Otherwise you leave it alone and let previously linked programs take advantage of any bug fixes in a compatible update.  Conflating the library's release version with the API/ABI is a mistake - and one that I recently argued against netcdf from making i

[2019-06-17 03:21] opoplawski commented on #932
We now run MPI tests with:
[code]
And this does not appear to be a netcdf issue, so feel free to close it.

[2019-06-17 11:46] #1416 closed

[2019-06-17 17:44] WardF commented on #1416
@opoplawski is correct; the CMakeLists.txt SO version is set after adjusting the autotools-based numbers, creating the library, and confirming their SO version :).

[2019-06-17 19:48] WardF commented on #932
Thanks @opoplawski

[2019-06-17 19:48] #932 closed

[2019-06-17 19:56] WardF commented on #864
Thanks @opoplawski ; the second link you provide is the guide I use during a release to update the SO version.  I use the ABI reporting tool to generate a change report between the previous version and pending release version and, based on the information therein, update the SO version according to the gnu.org recommended guidelines.

[2019-06-17 20:38] WardF opened #1417 "Issue printing date string"
The following issue was reported to us.  Using the attached file, we see that the printout is assuming the starting offset is from 00:00:00UTC, when it should be from 03:00:00UTC

*  [timetest.nc.zip](https://github.com/Unidata/netcdf-c/files/3298754/timetest.nc.zip)

## Issue as reported

ncdump -t on the attached file prints timestamps starting with
"2018-03-01 21", whereas it should be "2018-03

[2019-06-17 20:54] edhartnett commented on #1416
Thanks!

[2019-06-17 20:57] WardF commented on #1416
No problem; at the time we adopted SO versioning into the cmake-based builds, I could not find a similar spec for adjusting the SO version as the one provided by gnu.org.  If there is better documentation out there now (I'll take a look) I'm happy to adjust our process, but keeping the .so version consistent between build systems seemed like a good idea.

[2019-06-17 21:52] DennisHeimbigner commented on #1417
Is this related to e-support WSC-538180?

[2019-06-18 11:30] edhartnett commented on #1416
Yes I think I will have to start doing the same with PIO.

[2019-06-18 12:29] edhartnett commented on #864
OK, to summarize, there is a tricky method used by HDF5 to check version of header and compiled library.

However, it monkeys with the usual shared library system, which already allows for the fact that sometimes the compiled library may be updated, and everything is still compatible, so we should all chill.

I believe the conclusion is that we should NOT do the header version checking. I think we

[2019-06-18 19:52] WardF commented on #864
I would agree with the summary @edhartnett presents above, for the reasons he succinctly states.  We would be potentially trading one set of issues for a whole new set of issues that my gut tells me we would encounter far more often.

[2019-06-18 19:58] DennisHeimbigner commented on #864
Ed- I would appreciate some clarification. You write:

Can you give an example of each?

[2019-06-25 20:00] ellenjohnson commented on #1393
I am so close to getting this building and am down to three link errors, I think all due to m4 not being found.
During CMake configure, I get:
m4 not found
Cannot find source files putget.c and test_get.c
Cannot determine linker language for targets netcdf3 and nc_test
Then during CMake build, I get three unresolved linker errors:
nc_initialize.obj : error LNK2019: unresolved external symbol NC3_i

[2019-06-25 21:31] ellenjohnson commented on #1393
Update:  got past m4 thing by starting up a new command window (oops, I had forgot I need to do that after changing system path).
So I no longer get unresolved symbol link errors, but am getting build errors with libsrc\posixio.c:

"X:\fromDennis\netcdf\build\ALL_BUILD.vcxproj" (default target) (1) ->
"X:\fromDennis\netcdf\build\examples\C\C_tests_format.vcxproj" (default target) (3) ->
"X:\fromDe

[2019-06-30 02:49] PaulWessel opened #1419 "nc_open in 4.7.0 gives SEGV if given NULL as file name"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [ ] Linux
  * [ ] Windows
  * [X] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [X ] 64-bit
* What build system are you using?
  * [ ] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Y

[2019-06-30 10:32] edhartnett commented on #1419
Sigh.

[2019-06-30 11:20] edhartnett commented on #1419
I have a PR up with a fix for this.

[2019-06-30 13:54] edhartnett opened #1421 "ncvalidator causes -ansi build to fail with some minor warnings"
In today's master, the -ansi build fails:

[code]

[2019-07-01 22:06] #1419 closed

[2019-07-01 22:16] #1421 closed

[2019-07-02 14:23] edhartnett opened #1423 "warning in quick_large_files.c"
Seeing this warning. I will fix.

[code]

[2019-07-02 15:07] edhartnett commented on #1310
This has been fixed. Thanks Ward!

[2019-07-02 15:07] #1310 closed

[2019-07-02 19:02] #1423 closed

[2019-07-02 19:28] ellenjohnson commented on #1393
I finally figured out all my CMake build and link problems with the netcdf-c windap.tmp branch Dennis setup.  I built it using the problematic combo of curl 7.60.0 and openssl 1.0.2.l.

As Dennis recommended, I tried this endpoint with -h flag:
ncdump -h https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regional_US_East_Coast/Best

This gives a ton of output, of which I included a

[2019-07-02 23:29] dopplershift opened #1425 "Problem communicating to TDS opendap"
I've found a real head scratcher. I've run into problems accessing some radar data on THREDDS instance running in jetstream, configured to serve NEXRAD data from the AWS S3 archive. It manifests as an error in Python as `RuntimeError: NetCDF: Access failure`, but I can reproduce with `ncdump`:
[code]
produces

Location: file /usr/local/miniconda/conda-bld/libnetcdf_1559816324689/work/ncdump/vardat

[2019-07-02 23:33] dopplershift commented on #1425
Roping in @Unidata/thredds too. I feel like this is server-based, but the fact that netCDF-java talks to the problematic server would seem to belie that.

[2019-07-03 00:05] WardF commented on #1425
Interesting; those are certainly conflicting symptoms. I’ll check if I can duplicate as soon as I can (working on phone at the moment) and will trace through to the precise error. I’ll follow up with the root of the error as soon as I discover it.

[2019-07-03 04:36] WardF commented on #1425
Duplicated with self-compiled on OSX.  Interesting, I will compile with logging and pass some additional DAP parameters that Dennis added (after I look them up) in the morning and see what falls out. Thanks, @dopplershift, This is an odd one. I believe that the root might be that the C library is being more stringent in some respects, 4.6.2 added some additional checks for various behaviors.  They

[2019-07-03 13:57] edhartnett opened #1426 "ncdispatch.h needs to be split into an installed, public header, and an uninstalled private header"
As I try to use the user-defined format feature to support PIO/netCDF integration, I see that user-defined formats will not work unless the ncdispatch.h file is installed with netcdf.h.

This is not a big deal, but the ncdispatch.h file contains a bunch of internal stuff too - stuff that should not be exposed in a public header.

I will submit a PR shortly.

[2019-07-03 18:01] WardF commented on #1425
I'm encountering the issue reading the `.dods` file.  Still trying to get to the bottom of it but thusfar I can say that in the failing case, the call to `readpacket()` at ocread.c:135 returns `state->packet.length == 0` and the working case returns `state->packet.length == 1992`.  I'll continue to dig, but wanted to make a note of this. Also, seeing if I can tag in @DennisHeimbigner this way.

[2019-07-03 18:03] dopplershift commented on #1425
I'll note that the only difference between the `.dods` return is:
[code]
versus
[code]
in the header. The one that works has a filename with an extension. That couldn't possibly be it?

[2019-07-03 18:27] WardF commented on #1425
Update: Using wget to check, I see the following:

I can use `wget` to fetch the entire `.dods` file from either server.  I can also append `?Reflectivity` to the query on either server and download just the Reflectivity variable.  However, when I try to subset the variable, we see another failure.

### Works

`$ wget http://thredds.ucar.edu/thredds/dodsC/nexrad/level2/KDIX/20190702/Level2_KDIX_20

[2019-07-03 18:29] WardF commented on #1425
Issue discovered, the square brackets appear to need encoded to work; by replacing `]` `[` with `%5D` and `%5B` respectively, the subsetting query worked. Issue diagnosed, leaving the issue open while @dopplershift figures out how to address this. It appears to be out of our (C library) teams hands at this point.

[2019-07-03 19:18] lesserwhirls commented on #1425
So the root issue is that more and more web servers are following the standards for URL composition. For URIs, there are certain rules when characters should be encoded, but they sort of leave it up to the type of URI to specificy what those characters are. For URLs, the square bracket characters fall into the "unsafe" category and should always be encoded. Here is the relevant text from [RFC 1738

[2019-07-03 19:47] WardF commented on #1425
Encoding in the C library shouldn't be an issue, `curl_easy_escape` was the first thing that occurred to me.  Let me poke around on this and see if this fix is as easy as one would expect.

[2019-07-03 20:29] WardF commented on #1425
It is not a necessarily easy fix by encoding here; given that it also fails using wget, it seems like a two pronged approach may be necessary here.  I'll keep digging at it on my end, but sadly `curl_easy_escape()` was not a straight-forward panacea.

[2019-07-03 20:47] dopplershift commented on #1425
Well, wget fails because it only takes the url we give it--it doesn't do any encoding, that's up to the user I believe. Here's the proper example in curl:
[code]
Fails. This works:
[code]

[2019-07-03 20:57] DennisHeimbigner commented on #1426
This is clearly an error. I assume that netcdf.h is making references
to something defined in ncdispatch.h, which it should not do.
Can you identify the minimum set of items in ncdispatch.h that
are being referenced?

[2019-07-03 21:40] DennisHeimbigner commented on #1425
Turns out there is a flaw in the query parser for URLS in ncuri.c
I should be able to fix in a couple of hours.

[2019-07-03 21:41] edhartnett commented on #1426
No, it's not an error. In order to use the user-defined format feature, the user must have access to the definition of the dispatch table.

However, this is not referenced from netcdf.h. It's only needed for users (like me, with PIO) who are writing a dispatch layer and using nc_def_user_format() to use it.

Yes, I can and will separate the minimum items that need to be in the public file.

[2019-07-03 22:10] DennisHeimbigner commented on #1426
I see. You are correct, sorry.  For consistency,
this new file should probably be called netcdf_dispatch.h
to be consistent with e.g. netcdf_parallel.h etc.

[2019-07-03 22:19] edhartnett commented on #1426
OK, will do.

[2019-07-04 02:25] DennisHeimbigner commented on #1425
Below is the text for the commit (same as pull request text) for this fix.
Attached is a zip file containing the modified files. Needs testing.

[gh1425.zip](https://github.com/Unidata/netcdf-c/files/3357019/gh1425.zip)

 ++++++++++++++++++++++++++++++
Fix encoding of a DAP2 constraint specified outside the URL.

re: github issue https://github.com/Unidata/netcdf-c/issues/1425

The 'ncdump -v' com

[2019-07-04 02:53] dopplershift commented on #1425
I’m confused, why isn’t this being done as a regular pull request?

[2019-07-04 04:13] julienchastang commented on #1425
Perhaps we can resume this discussion when I'm back on Monday. Related: https://github.com/Unidata/thredds-docker/issues/209

Also potential relevant snippet to add to `server.xml` via a Tomcat solution:

[code]

We already do this on

http://thredds-jetstream.unidata.ucar.edu/thredds/catalog.html

Not sure why this was not transferred over to

http://thredds-aws.unidata.ucar.edu/thredds/catalog.h

[2019-07-04 05:33] dopplershift commented on #1425
@julienchastang That would fix our server, yes, but doesn’t help netcdf-c with servers we don’t control, servers that are not misconfigured.

[2019-07-04 13:39] edhartnett opened #1427 "C preprocessor macro USE_REFCOUNT used by never defined"
In dfile.c I see:

[code]

But no USE_REFCOUNT is defined in config.h or the configure.ac file.

Checking the code I see:
[code]

So it is never set anywhere. I believe code with USE_REFCOUNT will break for the PIO/netCDF integration layer. The same file will be open twice, once by PIO, and once by netCDF without PIO (acting under PIO).

Also, there should not be the use of macros that are not def

[2019-07-04 18:25] DennisHeimbigner commented on #1427
Go ahead and remove it. I think it was part of some early experiments
in threading.

[2019-07-04 18:27] DennisHeimbigner commented on #1425
I think we need to bite the bullet and not use relaxedQueryChars.

[2019-07-04 19:39] edhartnett commented on #1427
OK, will do. Thanks!

[2019-07-04 19:46] edhartnett opened #1429 "memory error in example sfc_pres_temp_more"
Recently I turned on example sfc_pres_temp_more.c. But it has a memory problem, detected by valgrind and the address sanitizer. I will have a fix up shortly.

[2019-07-05 18:05] edhartnett opened #1433 "unneeded prototype in nc4internal.h for nc4_file_list_del()"
There's no such function. I will fix.

[2019-07-05 19:39] edhartnett opened #1434 "dfile.c does not correctly handle user-defined formats for NC_create()"
This code needs to be added to NC_create:

[code]

I have added this in my open PR with changes to the dispatch files.

[2019-07-09 16:25] ellenjohnson commented on #1380
Hi guys -- is there any update on this?  We discovered this bug during an upgrade to netcdf and are blocked until this is resolved, as this bug results in loss of data in this particular workflow.  Thanks!

[2019-07-09 16:35] edhartnett commented on #1380
I could not get a test that reproduced the error. Do you have such a test?

On Tue, Jul 9, 2019 at 10:25 AM ellenjohnson <notifications@github.com>
wrote:

[2019-07-09 16:50] ellenjohnson commented on #1380
Hi Ed -- I thought you were able to repro the error in a test (your comment from April 6).  If not, then see the files.zip attachment in the initial report.  Dennis kindly created this issue after I emailed Dennis and Ward to report the bug and I included a standalone C program to reproduce it.  The zip archive contains my ncRepro_WeirdStrideIssue.c program plus test file nctest_netcdf4_classic.nc

[2019-07-09 18:25] DennisHeimbigner commented on #1393
To refresh my memory, what version of netcdf-c were you using to generate
the output? 4.6.1?

[2019-07-09 18:35] ellenjohnson commented on #1393
To generate that huge output file with the extra debug info, I built whatever netcdf version is in the windap.tmp branch.  I assume that's your latest development version (4.7 or similar)?  I built it fron scratch using curl 7.60.0 and openssl 1.0.2l (the seemingly problematic combo).  I reported the initial bug using our current shipping version of netcdf (4.6.1).  That was before you setup the w

[2019-07-09 18:50] DennisHeimbigner commented on #1393
Oh yes
Unfortunately that output is just not precise enough.
Are you in a position to do this in visual studio?
1. Set a breakpoint in the function dapbreakpoint() (in file libdap2/dapdebug.c)
2. When that breakpoint is hit and the argument is -125, then get a list of
the callstack to send to me.

[2019-07-09 18:58] #1429 closed

[2019-07-09 18:58] #1427 closed

[2019-07-09 18:58] #1434 closed

[2019-07-09 19:30] ellenjohnson commented on #1393
My Visual Studio chops are a bit rusty as I'm more of a Linux person.  I was able to generate the above output showing error -125 by building and installing netcdf from windap.tmp branch completely from Windows command line using CMake, then running ncdump.exe from command line.  I'm assuming I can try to run the ncdump solution file in Visual Studio?

[2019-07-09 20:13] DennisHeimbigner commented on #1393
That should work.
I use the following cheat sheet to remind me how to do this, it might be helpful
to you also. The big issue is the PATH= arguments. The first item points
to the netcdf-c library, the second points to where you have the hdf5 and libcurl
etc libraries.
Anyway for what it is worth:
* Start VS

* Open File->Open->ProjectSolns
	build/ZERO_CHECK.vcxproj
  or    build/ALL_BUILD.vcxproj

[2019-07-09 20:16] DennisHeimbigner commented on #1393
Ward- are you in a position to get me that stack trace?

[2019-07-09 20:51] WardF commented on #1393
Sorry for my silence on this, I've been working with our intern trying to sort out some of the C++ issues.  Let me take a look.  I should be able to get the stack trace for you.

[2019-07-09 21:10] WardF commented on #1393
@DennisHeimbigner you need this specifically from the `windap.tmp` branch?

[2019-07-09 21:20] DennisHeimbigner commented on #1393
No, but for whatever branch you use, you need to modify libdap2/dapdebug.h
to turn on some flags by changing

to

This will make dapbreakpoint be defined.

[2019-07-09 21:27] WardF commented on #1393
Ok, thanks @DennisHeimbigner.  I've got the branch built and the change you specified has been made. I'm still accessing the file without issue (e.g., I never hit a breakpoint at `dapbreakpoint()` where `err == -125`.  Let me try the libraries @ellenjohnson provided and see if that changes things.

[2019-07-09 22:07] ellenjohnson commented on #1393
Thanks Dennis and Ward!  Ward, I know you just tried the windap.tmp branch without error -- was that linking with curl 7.60.0 and openssl 1.0.2l?  Or newer versions?

Just a reminder the libraries I sent over to you are our shipping R2019a binaries for netcdf 4.6.1, curl 7.60.0, and openssl 1.0.2l.  (Note curl was built using OpenSSL and not WinSSL.  A colleague here tried to swap out OpenSSL with

[2019-07-10 17:42] edhartnett opened #1435 "User-defined types being forced to classic model but should not be"
In dinfermodel.c, we have:

[code]

I don't believe we want to assume UDFs are classic model. The PIO integration uses UDFs and is not fully classic model. I am going to take this out for UDF0/UDF1 and see if that's OK.

[2019-07-10 17:47] DennisHeimbigner commented on #1435
I am not sure I follow. NC_CLASSIC_MODEL will only be assumed
if by some other path it is determined that
model->format == NC_FORMAT_NETCDF4_CLASSIC
Are you actually observing this happening?

[2019-07-10 18:08] DennisHeimbigner commented on #1393
So I think I have determined that the -125 error is a red-herring.
However, in looking at the ncdump_fullOutput.txt, I did not see
any occurrence of NC_EINVAL (-36), which if I understand, was
the original problem.

[2019-07-10 20:18] ellenjohnson commented on #1393
@DennisHeimbigner, I noticed that also -- that i didn't see NC_EINVAL in the output, but the windap.tmp gave so much output that I didn't know if it successfully read all the variables or not.  Is there any way to build the windap.tmp branch to just have regular ncdump output to see if I get the original error?  I haven't had much success debugging in VisualStudio, but maybe it's a moot point if I

[2019-07-10 20:19] WardF commented on #1393
@ellenjohnson It was with the most recent versions.  I will test the version you provided next.  My laptop has spent the day running a surface scan because of an error, I will reproduce this as soon as I can launch my Windows environment; this is at the top of my priority list right now!

[2019-07-10 20:22] DennisHeimbigner commented on #1393
windap.tmp minus all the debug output should be the same
as the current master branch. So you could see if the master
branch fails

[2019-07-10 20:25] DennisHeimbigner commented on #1393
Oh, also, at this point, I just do not have enough info to even figure out
where to put such print statements.

[2019-07-10 20:28] DennisHeimbigner commented on #1393
If we are lucky, Ward will have a failing version under visual studio
and during our local meeting tomorrow maybe we can debug the problem.

[2019-07-11 14:59] edhartnett opened #1436 "nccopy to compressed NetCDF-4 file is magnitudes slower on version 4.6.0+"
Mike Chen mike.scchen@gmail.com via unidata.ucar.edu
7:51 AM (1 hour ago)
￼￼
 to netcdfgroup
￼
Hi,
We have a storage shortage and we'd like to leverage the compression to save space.
The idea works fine for some time.
However, I was testing different NetCDF versions and happens to find that the nccopy to compressed NetCDF-4 file is magnitudes slower on version 4.6.0+.

The test method follows:
OS:

[2019-07-11 16:21] neumannd commented on #1436
Probably related to close issue #1398?

[2019-07-11 16:54] ellenjohnson commented on #1393
I don't know if this helps -- my Mapping Toolbox colleague wrote a script to test 61 OPeNDAP THREDDS  servers hosting GRIB data using our ncinfo function in MATLAB R2019a on Windows.  Of the 61, only 7 worked, and 54 failed (NC_EINVAL).  They all worked in R2018b.  I'm going to try the same servers using ncdump with same libraries in R2019a (the ones I sent to Ward).  I'm assuming they'll have sam

[2019-07-11 17:05] DennisHeimbigner commented on #1436
Is the fix for https://github.com/Unidata/netcdf-c/issues/1398
in version 4.7.0 or is it still only in master?

[2019-07-11 17:06] DennisHeimbigner commented on #1436
In any case, you might try forcing the chunk sizes to see if that makes
the speed problem go away. That will tell us if https://github.com/Unidata/netcdf-c/issues/1398 is the same issue.

[2019-07-11 19:24] WardF commented on #1393
@ellenjohnson We are still trying to duplicate this issue, and @DennisHeimbigner just pointed out that the code you are calling does not require HDF5.  Do you still see the issue if you compile netCDF without HDF5 support?

[2019-07-11 19:55] WardF commented on #1393
@ellenjohnson That isn't a high priority question, it shouldn't matter.  But we are still not able to duplicate this issue, even running against the libraries you have provided.  I will continue to try to duplicate this.  I will also try to create a distributable file I can send to you and hopefully see if you encounter the same (lack of) issue.

[2019-07-11 20:01] WardF commented on #1393
Summary (note to self)

* openssl 1.0.2l
* libcurl 7.6.0
* hdf5 1.8.12 (shouldn't matter since this is DAP2, but for completeness sake)

[2019-07-11 20:51] DennisHeimbigner commented on #1436
I am pretty sure the problem is the default chunking.

[2019-07-11 21:04] WardF commented on #1393
@ellenjohnson Attached is a zip file.  Within is a version of `ncdump` 4.6.1 compiled today, against libcurl 7.6.0 and openssl 1.0.2l.  The openssl runtimes are the ones you kindly provided.  The HDF5 libraries were not used, as I built it without netcdf4 support (which shouldn't matter for this).

I'm able to run `ncdump
-h https://thredds-test.unidata.ucar.edu/thredds/dodsC/grib/NCEP/WW3/Regiona

[2019-07-12 06:57] mike-scchen commented on #1436
I'm the original mail poster.
It looks like the default chunking is the blame.
I'll turn away for now and see if the NCO (our colleagues uses ncks rather than the nccopy) with newer NetCDF has this issue too.

[2019-07-12 18:56] DennisHeimbigner commented on #1436
Nccopy is actually overriding the default chunking incorrectly.
The problem appears to be with UNLIMITED dimensions.
As a temporary work-around, add the option "-c U/1"
to the nccopy command where U is the name of any unlimited dimension.

[2019-07-12 21:59] DennisHeimbigner commented on #1436
If you need a quick fix, then use that attached nccopy.c and tell me
if it solves your problem.
[nccopy.zip](https://github.com/Unidata/netcdf-c/files/3388100/nccopy.zip)

[2019-07-14 21:58] DennisHeimbigner commented on #1425
Converted to pull request: https://github.com/Unidata/netcdf-c/pull/1439

[2019-07-16 16:16] ellenjohnson commented on #1393
@WardF:  Thank you for the binaries, and yes, I can run the ncdump command on that endpoint without error!  This is weird, especially since you can't reproduce with the binaries I sent.
Questions and comments:
1.  I think you mean libcurl 7.60.0 (not 7.6.0, right?)
2.  What version of Visual Studio did you use  -- Visual Studio 2017 or 2015?   (I see the USING-Debug-x64-VS15 file including in the

[2019-07-17 01:06] #1435 closed

[2019-07-17 02:38] edhartnett commented on #1363
This was fixed by a recent PR.

[2019-07-17 02:38] #1363 closed

[2019-07-17 18:08] ellenjohnson commented on #1380
Any updates on this?  Ed, did you see my reply about the repro code?
Question:  In Dennis' comments, he mentioned the refactoring that seems to have caused this bug (converting the netcdf-4 code to use HDF5 hyperslab for performance).  Was this introduced in 4.6.2 or 4.6.3?

[2019-07-17 18:12] DennisHeimbigner commented on #1380
According to the release notes, it was added in 4.6.2-rc1.

[2019-07-17 23:06] #1425 closed

[2019-07-18 21:08] #1436 closed

[2019-07-19 20:41] #1433 closed

[2019-07-22 06:46] jschueller opened #1444 "cmake exported target uses undefined hdf5::hdf5 imported target"
on mingw (win32), compiling netcdf with cmake, with a cmake-compiled hdf5 using its exported target (module mode, not config mode), results in an installed netcdf-targets.cmake that contains the hdf5::hdf5 target (and hdf5::hdf5_hl) in the INTERFACE_LINK_LIBRARIES properties.

But then, when using netcdf in module mode (with find_package(netCDF)) these hdf5 targets are undefined (the hdf5 cmake co

[2019-07-22 12:54] mathstuf commented on #1444
Well, `netCDFConfig.cmake` should do a `find_package(HDF5)` and may provide hints to where it found it at build-time via the `HDF5_DIR` and/or `HDF5_ROOT` variables.

[2019-07-23 22:47] WardF commented on #1444
The netCDFConfig.cmake file is generated automatically; let me take a look to see if I can find out how it is properly modified/updated.

[2019-07-24 06:27] jschueller commented on #1444
@WardF  see https://github.com/Unidata/netcdf-c/blob/master/netCDFConfig.cmake.in

[2019-07-28 16:47] edwardhartnett commented on #1426
OK, we now have a netcdf_dispatch.h and it seems to be working well.

But there is a problem in that the open and create calls both use pointers to NC (the final parameter for both calls):

[code]

The code in dfile.c is:

[code]

So the code is written to allow dispatch layers to modify the contents of NC. But do they?

The HDF5 layer only sets int_ncid (which may not be necessary) and check the

[2019-07-28 19:18] DennisHeimbigner commented on #1426
The design is this. It is assumed that the NC structure
is created in nc.c/new_NC and mostly filled  independent of any
dispatcher. new_NC is called by e.g. NC_open in libdispatch/dfile.c
again independent of any dispatcher.
Once created, the NC structure is passed to the dispatcher specific
open or create functions (as you note). These functions create
their own dispatcher specific state and hook

[2019-07-28 19:24] DennisHeimbigner commented on #1426
Questions remain:
1. Does the dispatcher code (e.g. open) have access to the information
    contained in the NC structure in some other way?
2. The dispatcher specific state needs to be linked into the NC structure;
    how to do this?
3. Who uses int_id and what would they do instead?

[2019-07-28 19:28] DennisHeimbigner commented on #1426
Another way to look at it is that the dispatch->open function
must return multiple values (its internal state, int_ncid, etc).
Currently we are using the NC structure to hold those multiple
return values.

[2019-07-28 19:33] edwardhartnett commented on #1426
1 - If the function parameter is ncid (from ext_ncid) then any dispatch layer that needs to can look up the NC. But those that don't need to, don't have to know about NC. Surprisingly (for me) I think this includes libhdf5, so perhaps no dispatch layer has to know about NC.

2 - Not sure what you mean by dispatch-specific state. You mean all the other values in NC? Seems like we are not really usi

[2019-07-28 19:40] edwardhartnett commented on #1426
I have examined the code and indeed setting int_ncid by the libhdf5 layer is unnecessary. I have removed it. PR up shortly. This is worth doing independently from the dispatch work, just to reduce code complexity and confusion...

[2019-07-28 20:53] DennisHeimbigner commented on #1426
If you look in the other dispatch directories you will
see that all of them set nc->dispatchdata.
For example,
libsrc4/nc4internal.c: nc->dispatchdata = h5;
    where h5 is instance of NC_FILE_INFO_T

WRT int_ncid, it is set in most of the dispatchers
(search for '->int_ncid'), but it is not clear if it is necessary
for it to be part of struct NC as opposed to the dispatch specific state.
I suspec

[2019-07-28 21:53] edwardhartnett commented on #1426
I believe int_ncid is not necessary for most dispatch layers, but it certainly is for pnetcdf and libsrc.

My ides is not to eliminate it, or move it, but simply to first remove it wherever it is not really needed. This will simplify the situation.

It is set (but not used, apparently) in libdap2 and libdap4. Can it be removed there too?

[2019-07-29 00:42] edwardhartnett opened #1446 "Enable byterange when DAP is enabled? [was: questions about the --enable-byterange configure option]"
I just read about the byterange feature in the docs.

Can byterange be always on @DennisHeimbigner? That is, can we remove the --enable-byterange option? I could not see any reason why not.

Every enable option doubles (ideally) our test burden. We don't want that, and we also don't want a bunch of code that goes from version to version without being tested (is this code being tested in Travis?).

[2019-07-29 00:54] edwardhartnett commented on #1426
OK, removing int_ncid worked fine. Now we have one remaining use of NC on libhdf5. In nc4_open_file() we have this code:

[code]
(I have asked some questions about --ebable-byterange in #1446.)

One immediate thought is that the flag checking can probably be done in libdispatch in this case (with the rest of the flag checking that occurs there).

Parameters should not silently be set to NULL. If t

[2019-07-29 01:07] edwardhartnett commented on #1426
OK, I see how NC * can be easily taken out of the create/open dispatch functions.

Create the NC object, but instead of passing a pointer to it, pass the ncid that has been assigned to the file (the ext_ncid).

If the code needs it (as the open does for HDF5, due to the enable-byterange stuff, or as the pnetcdf open and create need to), then either find_nc_h5() or NC_check_id() is used to find the

[2019-07-29 02:30] DennisHeimbigner commented on #1446
Do you care that byterange requires libcurl to work?

[2019-07-29 13:42] edwardhartnett commented on #1426
@DennisHeimbigner when you say "dispatch state" do you mean the dispatchdata field in NC?

Seems like only the pnetcdf layer uses that.

[2019-07-29 19:50] DennisHeimbigner commented on #1426
I do not believe that is accurate. All of the dispatch directories use it
directly or indirectly. Note that for libhdf5, it is set up in libsrc4
(which is probably not the right way to do it).

[2019-08-01 15:29] edwardhartnett opened #1449 "current master does not pass make check due to ncdap_test/tst_zero_len_var.sh"
The current master is failing due to this test.

Not sure what is going on here. I will comment this test out of my branch while you guys take a look. This is also the test that is failing for PR #1448.

[code]

[2019-08-01 17:00] WardF commented on #1449
Interesting, it appears to be a DAP test so could be something related to the opendap.org server.  I'll take a look, thanks.  Do you have any immediate thoughts on it, @DennisHeimbigner ?

[2019-08-01 17:06] WardF commented on #1449
Well, embedded in the response is `The server is temporarily unable to service yourrequest due to maintenance downtime or capacityproblems. Please try again later.`.  So, we will try a bit and if it persists I'll see if it's their side, or something we need to change on our end. @DennisHeimbigner is this a test we could shift to our test server, do you think?

[2019-08-01 17:37] edwardhartnett commented on #1449
Thanks for the quick response! I will continue without this test, but I'll be careful not to commit my commenting-out of the test.

[2019-08-01 17:53] DennisHeimbigner commented on #1449
Looking at it.

[2019-08-01 18:06] DennisHeimbigner commented on #1449
Right at this moment, it appears that test.opendap.org/ is down except
for the landing page. Will try again later.

In the longer term, the right thing to do is to change
this test (and any others) to not use test.opendap.org.

[2019-08-01 19:33] DennisHeimbigner commented on #1449
I think I can add a test to our test server that can replace the opendap.org
one. Will take a while, though. I sent a message to opendap support
to ask about the status of test.opendap.org.

[2019-08-01 21:20] WardF commented on #1446
I would think that having byterange enabled whenever DAP4 is enabled would be ok.  I can't imagine a situation when DAP would be turned on, but byterange would need to be disabled (althought I'm open to being corrected).  What do you think, @DennisHeimbigner ?

[2019-08-01 21:44] DennisHeimbigner commented on #1446
Well technically byterange is independent of DAP. It is similar in the
sense that it requires libcurl but it does not require any of the DAP code
either DAP2 or DAP4.

[2019-08-02 00:43] DennisHeimbigner commented on #1449
The server is back up; See if the test works now.

[2019-08-02 10:42] edwardhartnett commented on #1449
Indeed it seems to be working fine now. ;-)

I have turned the test back on in my PR. I will close this issue.

[2019-08-02 10:42] #1449 closed

[2019-08-02 17:21] DennisHeimbigner opened #1451 "Modify DAP2 tests to no longer use test.opendap.org"
At least one test (ncdap_test/test_zero_len_var.sh) is using
the test.opendap.org server.  There might be others.
It might be better if all of these tests
were modified to use our remote test server.
re: https://github.com/Unidata/netcdf-c/issues/1449#event-2529286420

[2019-08-05 18:33] #1426 closed

[2019-08-06 01:23] edwardhartnett commented on #1372
@gsjaardema can you send me the cmake command you are using to build?

[2019-08-06 14:32] gsjaardema commented on #1372
You have to undo commit commit 3823307b9e461acacc931b5c3376a6ea143ad393
[code]

Then, my cmake command is:
[code]

[2019-08-06 17:21] WardF commented on #1372
I don't recall why I made the commit you referenced above, but my guess would be it is related to this error?  Unless there is a file @edhartnett wants to add in, I'd say that this isn't so much an issue, as the issue was resolved by commenting out the lines in the CMakeLists.txt file.  If there isn't a file to be added back in, we can probably remove the commented out lines altogether;  I'll take

[2019-08-06 17:35] #1412 closed

[2019-08-06 17:38] edwardhartnett commented on #1372
OK, I have confirmed that there is no run_par_test2.sh file to include or run. The parallel testing is all done in run_par_test.sh, and that's working fine.

Also, I don't see run_par_test2.sh in any of the CMakeLists.txt files, except the commented out lines in the main CMakeLists.txt file, which can actually just be removed.

Seemingly run_par_test2.sh was an artifact of development activities a

[2019-08-06 17:39] WardF commented on #770
Going through to prepare for the 4.7.1 release, I believe we have this fixed.

[2019-08-06 17:39] #770 closed

[2019-08-06 17:48] WardF commented on #498
Cleaning up old issues, this one has clearly languished.  It has been fixed at some point between the last review and now.

[2019-08-06 17:48] #498 closed

[2019-08-06 20:25] WardF opened #1455 "Travis CI Instability"
We are seeing a lot of temporary (apparently) breakage in TravisCI.  This is causing problems managing pull requests; manually restarting failing tests is time consuming, and there's no reason to need to do this in the first place, especially since the failures are seldom reproducible locally.

The issues tend to be centered on remote tests.  I posit the issue is either an instability in the Travi

[2019-08-06 20:26] WardF commented on #1455
It's worth noting that the issues don't appear to show up in the Jenkins tests run by @edhartnett, nor do they show up on the private Jenkins install I've set up.

[2019-08-06 20:30] edwardhartnett commented on #1455
I use --disable-dap-remote-tests in many of my CI builds on Jenkins. If I have more than a few jobs trying to run DAP tests at the same time, I frequently get a timeout on tst_remote.sh.

So perhaps try that on a bunch of the travis test cases, and let only one of them actually to DAP remote tests. If that fixes it, you can expand it to 2 or 3.

(Or is there a way to lengthen the timeout of the te

[2019-08-06 20:49] DennisHeimbigner commented on #1455
You can increase the timeout by creating a file called .dodsrc using e.g.
cat >.dodsrc <<EOF
HTTP.TIMEOUT=dddd
EOF
where dddd is the timeout in seconds.

[2019-08-06 20:49] WardF commented on #1455
If the issue turns out to be a timeout, that would make sense to address it as described, although we are only running a small number of concurrent tests.  I'll be really dismayed if 4 people running 'make check' at once is enough to cause problems with our test servers.

[2019-08-06 20:50] WardF commented on #1455
Thanks @DennisHeimbigner.  It occured to me "Hey, actually, I thought I disabled DAP testing in travis" so now I'm reviewing how the test scripts parse the options passed to Docker at test time.

[2019-08-08 18:50] mathomp4 opened #1456 "nccopy with HDF5 filter: Not sure what I'm doing"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [X] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [X] 64-bit
* What build system are you using?
  * [X] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Ye

[2019-08-09 14:32] edwardhartnett opened #1457 "PIO needs a way to change the ncid of a file..."
@DennisHeimbigner I have a little itty-bitty problem...

PIO/netCDF integration is working great, but it turns out that PIO needs to reassign ncids after the NC struct has been created and added to the list.

Recall that with PIO, different computational units (each N processors) can create/open netCDF files, all through a single set of dedicated I/O processors. That means that the I/O processors

[2019-08-09 14:43] edwardhartnett opened #1458 "Add a unit_test directory and put some unit tests in"
What we have for tests are system tests, i.e. tests that exercise the system functions. In doing so we (hope to) test all the code underneath. These tests all involve the external functions from netcdf.h.

One thing Russ and I discussed back in olden times was to also add some unit tests. That is, tests of netCDF internal functions. Back in olden times there were fewer internal functions, and we n

[2019-08-09 17:11] edwardhartnett opened #1459 "Remove all references to very obsolete _CRAYMPP and LOCKNUMREC macros"
Back in olden, olden times, the Cray people did some exciting new things with multiprocessing. And netcdf was there to support that.

Those exciting early developments eventually evolved into MPI, which is now universally used for HPC, including on all Cray machines. This has been the case for more than 20 years.

So there is no longer any need for the old code that supported old Cray multiprocess

[2019-08-09 20:08] DennisHeimbigner commented on #1458
Actually, there are a few unit tests scattered in various directories: dap, for example.
One problem with them is that it is hard to run those tests using Visual
studio because the internal functions need to be exported using declspec.

[2019-08-09 20:11] edhartnett commented on #1458
I suggest that the unit tests only be run in the autotools build. Then,
windows will just ignore them.

On Fri, Aug 9, 2019 at 2:08 PM Dennis Heimbigner <notifications@github.com>
wrote:

[2019-08-09 20:13] DennisHeimbigner commented on #1458
It is not obvious to me that unit tests should be separate from
integration tests, especially for dispatch specific test directories
like ncdap_tests and dap4_tests and (soon) zarr_tests.

[2019-08-09 21:42] edhartnett commented on #1458
They are separate because:
1 - they are used across dispatch layers
2 - they are not public functions
3 - they should be turned off for code coverage checking

For the testing of each dispatch layer's public API we should continue to add a test directory for each dispatch layer (ex. zarr_test).

[2019-08-09 21:49] DennisHeimbigner commented on #1458
What about dispatch specific unit tests?

[2019-08-09 21:51] edhartnett commented on #1458
If you mean testing of libdispatch, that would be unit tests, because all the public functions in libdispatch are already tested in nc_test/nc_test4, etc.

[2019-08-09 22:18] DennisHeimbigner commented on #1458
No. For example, the zarr_tests has unit tests for testing
chunking functionality and internal lowest level storage functions.
These  cannot be tested directly thru the netcdf API. Currently,
these unit tests are in zarr_test along with integrations tests.

[2019-08-09 22:23] DennisHeimbigner commented on #1458
In any case, I think what you propose is reasonable. For me
the only issue is whether the unit test dir should have all unit tests
or just those that are independent of any specific dispatcher.
I can see arguments both ways. Perhaps Ward has a comment.

[2019-08-12 11:16] edhartnett commented on #1458
OK, great. I have a PR up for this, #1460

[2019-08-13 16:14] jedwards4b opened #1462 "Fails writing a scalar of type MPI_BYTE with hdf5 1.10.5"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [ X] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [X] 64-bit
* What build system are you using?
  * [ ] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Y

[2019-08-13 16:54] jedwards4b commented on #1462
A testcase is provided in https://github.com/NCAR/ParallelIO/issues/1582

[2019-08-13 20:00] WardF commented on #1458
Back from being out of the office for the past week.  I agree it's broadly reasonable, although I see Dennis' point about whether unit tests should be in their own directory universally, or only if there is no other neat bin for them to sit in.  I'm tempted to say lets keep unit tests in their own directory, we can always move them around if there is a reason to.

I don't think that having unit te

[2019-08-13 20:44] edhartnett commented on #1458
I have been thinking about it and I believe all tests that do not involve public functions should go in unit_test.

The reason is that we can turn of unit tests, and then run the rest of the tests, and we will find any dead code. (That is, code that is not run by any of the public functions.)

Agree that it would be nice to get this working for cmake too. I will leave that to you Ward. ;-)

[2019-08-14 14:46] edhartnett commented on #1462
I am adding this test to nc_test4/tst_parallel5.c. Works fine with HDF5-1.10.5. I'm now running it thru my CI to test older versions of HDF5.

[2019-08-14 14:56] edhartnett commented on #1462
I have added a test to tst_parallel5.c, based on your test code. I create a netCDF-4 file with parallel I/O, define a scalar var, write a value to it, then close the file. Then I reopen the file with nc_open_par() and read the scalar to confirm its value.

[code]

This test passes with current master on my workstation. I put up a PR, and it's running through the various CI systems now...

[2019-08-14 15:05] jedwards4b commented on #1462
It seems to be dependent on the version of mpi.  It fails with mpt/2.19 and mpt/2.20 but passes with all other mpi libraries I've tried.

[2019-08-14 20:06] PaulHuwe opened #1466 "Netcdf4Dimid Writing or Not Based on Variable Write Order?"
### Environment Information

Centos6 64 Bit
Anaconda Python 2.7
Library version: netCDF4 (1.5.1.2)

### Summary of Issue

The internal attribute _Netcdf4Dimid is inconsistently showing up in output files for our tools, and it appears to be due to variable write order (with data).

### Steps to reproduce the behavior

Using the following input file:
https://tropomi.gesdisc.eosdis.nasa.gov/data/S5P_

[2019-08-14 20:23] WardF commented on #1466
Thanks, will take a look at this!

[2019-08-14 20:25] WardF commented on #1466
Unfortunately, I'm getting a '404 file not found' when I try to access this file.  Can you confirm that it is still present?  I can try to debug this with a different file, but would like to duplicate the issue as closely as possible.

[2019-08-14 20:36] PaulHuwe commented on #1466
If I click the link, I get a file. We do require a (free) account to download from NASA now. If you would prefer, I could put it here as an attachment, but it is large (~125MB).

[2019-08-14 21:09] edhartnett commented on #1466
The _Netcdf4Dimid attribute is used when needed to retain dimension ordering that would otherwise be lost.

Since it is a hidden attribute, why is it a problem for you?

[2019-08-14 21:12] PaulHuwe commented on #1466
Because I am trying to preserve the original file as close as possible, and the _Netcdf4Dimid exists in the original, but not some of our subsets (it is inconsistent). The inconsistency also affects our ability to test our services.

[2019-08-14 21:16] edhartnett commented on #1466
If you create the file with netcdf or any of the netcdf utilities, you don't have to worry about whether it is present or not.

If you use netcdf for testing (i.e. to open the file and check it) then once again it should not matter.

In fact, the only way to see it is to use netcdf-c to create the file, and then use hdf5 to read the file. Is that what you are doing?

[2019-08-14 21:21] WardF commented on #1458
Sounds good.  We are also overdue on releases, so I'm flagging these for 4.7.2 so that I can get 4.7.1 out the door asap, followed by the Fortran and C++ releases. Thanks!

[2019-08-14 21:27] edhartnett commented on #1458
Well this is actually part of #1457 and it would be great if that could be part of the 4.7.1 release. I will probably have a final fix for #1457 tomorrow...

[2019-08-14 21:32] PaulHuwe commented on #1466
Yes, we are using hdf5 tools in addition to netcdf tools to read the file.

[2019-08-14 21:33] WardF commented on #1458
It's unlikely I'll have the cmake half of this in by tomorrow, but I'll take a look once I get caught up on emails and non-PR stuff.  The 4.7.2 release will come fairly quickly, however, fwiw.  We shall see.

[2019-08-14 21:36] edhartnett commented on #1466
OK, well if I recall correctly, the _Netcdf4Dimid attribute is used whenever the creation order of the dimension scale dataset is not the same as the dimid order. This occurs in the following situation:
nc_def_dim "dim_a"
nc_def_dim "dim_b"
nc_def_var "dim_a"

So if I define two dimensions dim_a and dim_b they will be created in that order and have dimids 0 and 1.

Then I do an nc_def_var for dim_

[2019-08-14 21:40] edhartnett commented on #1466
I would suggest you write your hdf5-based tests so that they ignore the netcdf-4 hidden attributes. They are (from libhdf5/hdf5file.c):
[code]

[2019-08-14 21:41] edhartnett commented on #1458
OK, well if you could merge this PR, it would help. It's perfectly safe for 4.7.1 and required for #1457.

[2019-08-14 21:41] PaulHuwe commented on #1466
Your description did make sense. Do you know where I can find good documentation on _Netcdf4Dimid?

[2019-08-14 21:43] edhartnett commented on #1466
That was it! ;-)

You can grep the code and see what you find. It will be documented there as well.

[2019-08-14 21:45] PaulHuwe commented on #1466
Okay - so long as it is only intra-library, and does not affect anything else, I can modify my tests to ignore it.

[2019-08-15 12:28] edhartnett opened #1467 "Remove nc_inq_base_pe()/nc_set_base_pe() from dispatch table?"
This is related to #1056

We have nc_inq_base_pe() and nc_set_base_pe(). These are obsolete functions that do nothing. The only valid value for pe is zero, and it is ignored. (See #1459 for more info on these ancient Cray functions, which no longer work, on Crays or any other systems.)

Can we remove these two functions from the dispatch table?

Seems like we can, and still support them, by sill s

[2019-08-15 12:51] edhartnett commented on #1467
OK, I just gave this a whack and it works well and was easy. PR up shortly.

[2019-08-15 20:07] edhartnett opened #1469 "add a dispatch table version number to netcdf_meta.h and libnetcdf.settings"
This is part of #1056

Should there be some version number in the dispatch table?

How would that work? Let's say we call the current dispatch table (after merging outstanding PRs) version 1.

Then, some package, like PIO, uses the dispatch layer and everyone is happy.

Then, we decide to change the dispatch table - we add a function. So we bump the version.

How does the version number help? PIO

[2019-08-15 20:11] WardF commented on #1469
I'm still getting caught up, but just wanted to add my +1 to this.  I'm not opposed to it, but I'd be interested in hearing more.  Or, I'll chime in when I'm caught up and my questions are answered.

Back to esupport!

[2019-08-15 20:14] WardF commented on #1456
I'm tagging in @DennisHeimbigner, but I believe you will need to be using a newer version that hdf5 1.8.10.  @DennisHeimbigner wrote our plugin code, and may have some advice more readily available.  If not, I'll follow up!

[2019-08-15 20:44] WardF commented on #1446
That seems a straightforward answer, thanks @DennisHeimbigner.  Should byterange be enabled when the required features of libcurl are available? Do we even look for/link against libcurl when DAP is completely disabled? Let's discuss this at the next meeting, the configure-time logic may become a little convoluted.  I'm working on a support question currently, but want to go try something.

[2019-08-15 21:04] WardF commented on #1444
Coming back to revisit 4.7.1 issues in the lead-up to the release.  @jschueller thanks for the pointer.

[2019-08-15 21:04] #1467 closed

[2019-08-15 21:57] DennisHeimbigner commented on #1469
Yes, there should be. THis may have been one of the changes
I proposed in that issue some time back about what changes
are needed in the dispatch table.

[2019-08-15 22:15] edhartnett commented on #1469
@DennisHeimbigner yes it is from #1056. Some of the items in that list have been done, some have been discussed and discarded. This is one of the unresolved items.

But it's not clear to me how this should work. As a library that is using UDF, should I inquire what is the version of the dispatch layer that the library supports? And should PIO be responsible for always providing the correct dispatc

[2019-08-15 22:18] edhartnett commented on #1469
So sum up, I propose we add dispatch_version to netcdf_meta.h, and set it to 1.

When and if we change the dispatch table, we can increment that number. I would like to work through all the items in #1056 and see if we can get all desired changes done in one version, instead of spreading them out. Let's get the table to where we want it, and then try to leave it alone.

[2019-08-15 23:01] mathomp4 commented on #1456
@WardF I tried building against HDF5 1.10.5, but no joy:
[code]

[2019-08-15 23:02] mathomp4 commented on #1456
Note that the first one was using GCC 8.2, this one uses Intel 18.0.5 so I'm at least consistently doing things wrong across multiple compilers! :smile:

[2019-08-16 02:04] DennisHeimbigner commented on #1469
We could allow new fields to be added to the end of the
table, but not allow any of the existing ones to be deleted.
Then we say that user defined code must be prepared to get
a new, current version, table, with any fields it would not
recognize filled with some fake function that just fails (or always succeeds).

[2019-08-16 02:13] DennisHeimbigner commented on #1456
First question: were you able to get make check to work with filter
testing enabled?

[2019-08-16 02:26] edhartnett commented on #1469
Yes, I agree it would be best to add not change. This is similar to our usual approach to the API, so that's fine.

But I think one round of changing is OK, because right now, no one is using the dispatch table. So we can make changes without impacting anyone.

However, I would like to release PIO with netCDF integration, before the Autumn, and then start using that in NOAA models. So at that poin

[2019-08-16 10:59] edhartnett commented on #1466
Probably this issue should be closed, since this is not a bug. ;-)

[2019-08-16 11:48] #1466 closed

[2019-08-16 16:30] DennisHeimbigner commented on #1469
It occurs to me that there is an alternate solution to the public dispatch
table problem. Instead of using the current one, we replace it with one
whose entries exactly mirror the API as defined in netcdf.h.
This would mean that it would change only when netcdf.h changes,
which is something that users might have to deal with in any case.
The one caveat is that the new dispatch table would need to

[2019-08-16 19:12] edhartnett commented on #1469
Let us consider these functions:

[code]

Do we want all of them in the dispatch table? Only the first is needed, and the rest can be written in terms of the first.

[2019-08-16 19:26] DennisHeimbigner commented on #1469
That is of course the reason I built the original dispatch table the
way it was. But redundancy would be the price we pay.

[2019-08-16 19:44] edhartnett commented on #1469
OK, of course we can also have NCDEFAULT versions of the extra functions, so in practice, the functions would not have to be duplicated in every layer.

[2019-08-16 19:46] edhartnett commented on #1469
Also what about the base_pe functions? Are we going to put them back in the dispatch table?

I would like to get rid of the nc_delete_pe() function (in the dispatch table).

[2019-08-16 20:10] DennisHeimbigner commented on #1469
I guess so to be consistent.

[2019-08-16 21:20] edhartnett commented on #1469
I guess I think your fist instinct was correct: the dispatch table should try to concentrate some functions. That is, I don't think it should have every function. I don't think it should have all the redundant inq functions, and I don't think it should have the pe functions.

Also, currently the dispatch table takes the any-type version of the var/var1/vara/vars/varm functions. If we exactly match

[2019-08-21 20:04] DennisHeimbigner opened #1473 "Allow parallel IO with filters ..."
As of version HDF5 1.10.2, it is possible to use MPI and filters together.
We should probably modify our checks to allow this.

[2019-08-21 20:09] DennisHeimbigner commented on #1473
Maybe we should not check at all for MPIxFilters and instead
let HDF5 do its thing.

[2019-08-21 20:11] edhartnett commented on #1473
Writing in parallel with zlib is very much desired by several HPC users.

[2019-08-21 20:17] #1372 closed

[2019-08-21 20:18] #1459 closed

[2019-08-22 12:21] edhartnett opened #1476 "missing #if defined(__cplusplus) in netcdf_dispatch.h"
In some of our header files (ex. hdf5dispatch.h) we have the if defined(__cplusplus) business around all our prototypes, like this:

[code]

On other header files, like netcdf_dispatch.h, we don't have that.

Should we have that for all prototypes in all header files? I believe the answer is yes.

These are needed for C++ compilers to compile the netCDF C library, as described here: https://stacko

[2019-08-22 14:03] edhartnett commented on #1476
Actually this is just in netcdf_dispatch.h. I have a fix and it will be in my next PR.

[2019-08-22 18:11] edhartnett commented on #1457
@wardf I have this working but am still testing. I will put up a PR tomorrow. I hope this can make it to the 4.7.1 release. It is required for PIO integration.

[2019-08-22 19:31] WardF commented on #1457
@DennisHeimbigner I'm going through all of GitHub PR's and such now, any input/thoughts on this?

[2019-08-22 20:21] DennisHeimbigner commented on #1457
I think there a lot of consequences to this change. I still do not understand
exactly why the ncid needs to change. Ed, can you spell out the scenario
in detail. If you were passed the NC* instead of ncid, would the problem
go away?

[2019-08-22 20:42] DennisHeimbigner commented on #1457
I am trying to figure out the consequences for this.
Is there an issue with changing the ncid's of all files
with higher ncid's than the one you are changing
-- attribute deletion has this problem, for example.
Or are you assuming a hole would be left in the file list?

[2019-08-22 21:03] DennisHeimbigner commented on #1457
Would it be possible for pio to use its own ncid equivalents and
use a hash table to map those to the real ncids?

[2019-08-22 23:13] edhartnett commented on #1457
I believe this is something that can be in place for PIO, with minimum code impact and no affect on non-PIO users.

Why is it needed?

Imagine I have 10K processors. I assign 1K to I/O, 1K to an ocean model, and 8K to an atmospheric mode.

Recall that with PIO, the I/O processors do all I/O for both the ocean model and the atmospheric model.

The ocean model creates/opens a file. The computation p

[2019-08-22 23:19] edhartnett commented on #1457
I might add that these two functions are all that remain of #555

The rest of #555 has been accomplished using the user-defined format feature. But PIO needs the ability to reassign ncid. This makes a lot more sense to put in the netcdf library than the PIO library, because it would require that PIO be aware of lots of netCDF internal structs.

[2019-08-23 20:48] gsjaardema opened #1477 "Question interpreting netcdf-4 HDF5 file"
I was looking at the h5dump output of a NetCDF-4 file today and was confused by some of the datasets that were in the HDF5 file.  As an example, my NetCDF file has a dimension `num_el_in_blk2` with the definition:
[code]
And it is used in a variable `connect2`:
[code]
Now, when I do an h5dump on this file, I see the following for `num_el_in_blk2`:
[code]
The confusing part of this output is that i

[2019-08-24 00:12] edhartnett commented on #1477
Due to the use of dimension scales for dimensions, this is the case.

Furthermore, I don't believe that compression is used, unless you add a coordinate var for that dimension, and turn on compression for that coordinate var.

The problem is that dimension scales do not admit the possibility of a dimension without coordinate information. That is, a dimension without a coordinate variable. In the v

[2019-08-24 00:58] edhartnett commented on #1477
Pondering a bit more, I wonder if this is one of those cases where HDF5 pretends the data are there, but they are never really written to disk. @gsjaardema if you create a file with just the dimension, is it large?

[2019-08-24 01:07] edhartnett opened #1478 "Wouldn't it be great if netcdf-c could read NcML?"
It would be great if the C library could, like the Java library, understand NcML files.

This would be a great way for users to aggregate data sets that are too big to fit in one data file, or that are written to multiple files for performance reasons.

[2019-08-26 19:50] DennisHeimbigner opened #1479 "Error in netcdf-4 endianness handling?"
The attached file appears to produce incorrect result.
I believe this is because endianness is attached to the type
object (NC_TYPE_INFO_T) rather than the var object (NC_VAR_INFO_T).
In the attached, we define an enum type and use it as the var type
for two different variables. We then set different endianness on the
two variables. What happens is that the endianness of the first variable
is chan

[2019-08-26 21:21] WardF opened #1480 "4.7.1-prep.wif failures with memory checking turned on."
Seeing errors in the following tests when memory checking is turned on.

	 26 - ncdump_tst_netcdf4 (Failed)
	 34 - ncdump_tst_nccopy4 (Failed)
	 36 - ncdump_tst_ncgen4 (Failed)

Will diagnose, pushing back `4.7.1` release a day.  Will follow up here with details, capturing this info while it's right in front of me.

[2019-08-27 12:44] vassilyl opened #1481 "`nc_inq_dimlen` reports wrong dimension length on a 32-bit platform"
NetCDF 4.7.0 on Windows 10 using Microsoft (R) C/C++ Optimizing Compiler Version 19.22.27905.

It appears it is totally possible to create a NetCDF4 file with the length of dimension > 2**32.
On systems with 32-bit size_t, e.q. 32-bit Windows, the NetCDF API reports wrong values.
Does the API has functions capable of reporting 64-bit sizes on 32-bit platforms? I would, at least, expect that the li

[2019-08-27 19:27] timhoar commented on #1397
You're welcome - and Thanks!
Tim Hoar
Data Assimilation Research Section
National Center for Atmospheric Research
thoar@ucar.edu
303.497.1708

On Tue, Aug 27, 2019 at 11:21 AM Ward Fisher <notifications@github.com>
wrote:

[2019-08-29 23:09] #1397 closed

[2019-08-31 17:02] ArchangeGabriel commented on #808
Seems fixed as of 4.7.1.

[2019-08-31 21:56] #808 closed

[2019-09-02 07:49] kmuehlbauer opened #1484 "Reading HDF5 - control creation of anonymous dimensions"
I've read the [Interoperability with HDF5](https://www.unidata.ucar.edu/software/netcdf/docs/interoperability_hdf5.html) section in the docs.

_Assuming a HDF5 file is written in accordance with the netCDF-4 rules (i.e. no strange types, no looping groups), and assuming that every dataset has a dimension scale attached to each dimension, the netCDF-4 API can be used to read and edit the file, quit

[2019-09-02 12:09] edhartnett commented on #1484
What would make this easier would be a test program that builds your HDF5 file (with HDF5 code) and then tries to open the file with netcdf.

[2019-09-02 12:28] kmuehlbauer commented on #1484
@edharnett Thanks for looking into this.

Attached below is sample code taken from [HDF Group](https://support.hdfgroup.org/HDF5/examples/intro.html). It creates a sample file with a single 2d dataset. Using `ncdump -h ` on this file:

[code]
Changing the second dimension in the source code to 200:

[code]

[code]

[2019-09-02 14:36] edharnett commented on #1484
Hi You have the wrong person or email.

Thanks

Ed Harnett

On Mon, 2 Sep 2019 at 13:28, Kai Mühlbauer <notifications@github.com> wrote:

[2019-09-02 15:08] kmuehlbauer commented on #1484
Ping @edhartnett, because of using wrong github username

[2019-09-05 16:15] kmuehlbauer commented on #1484
@edhartnett Is there any news on this issue? Can I be of any further help?

[2019-09-05 16:34] edharnett commented on #1484
Wrong email again!

On Thu, 5 Sep 2019 at 17:15, Kai Mühlbauer <notifications@github.com> wrote:

[2019-09-05 16:45] kmuehlbauer commented on #1484
@edharnett I double checked to not use your github name this time but @edhartnett instead. Not sure why you got notified again. If this persists you might need to mute the thread via the link in your email. Sorry for any inconvenience.

[2019-09-05 17:01] DennisHeimbigner commented on #1484
My 2cents. The problem is that without a name for the dimension,
it is impossible for netcdf to assign semantics to anonymous dimensions.
Given a variable (100,100), it just has no way to decide if those are
semantically the same or just by accident the same.
IMO, there are two defensible positions:
1. all anonymous dimensions of the same size will refer to the same
    dimension. This is the curr

[2019-09-05 17:12] edhartnett commented on #1484
There is no further news and unfortunately it's unlikely that I will get time to look at this before I come back from a long vacation in November. ;-)

@DennisHeimbigner I believe 2 is not a good idea, because mostly HDF5 files are actually trying to use netcdf-like dimensions. In other words, if there are 10 variables and they all share a dimension of length 100, then probably the file writer int

[2019-09-05 17:20] DennisHeimbigner commented on #1484
Another possibility (not necessarily a good one) is to
allow an nccopy option to specify the names for selected anonymous
dimensions. Then the user could fix things up by copying the hdf5 file
to a different, true netcdf4 file, with the dimension names set as desired.

[2019-09-05 17:31] edhartnett commented on #1484
I think it would be better to fix this in the C library. In fact, I think we should just assume, as @kmuehlbauer points out, that a variable will never have the same dimension twice in its list of dimensions. So if we encounter:
var[100][100]
we should assume 2 dimensions, dim1 and dim2.

What happens if we encounter another?
var2[100]

Well we should just assign it dim1 and move on with our lives

[2019-09-05 17:47] kmuehlbauer commented on #1484
@edhartnett @DennisHeimbigner Thank you for your extensive insights.

I now see, that it is not that easy to conquer. Your example with var1 and var2 is quite convincing and this is possibly the main reason for having named dimensions (or dimension scales).

In my datasets this is only appearing in some corner cases. But this means several years of 5 minute spaced datasets are involved. My current

[2019-09-05 19:27] gsjaardema commented on #1484
If you do start implementing this, let me know... I have another somewhat related proposal, but it would result in a change to the dimensions and would make it so that older libraries would misread the dimensions in the new files.  Would still be possible to read old files with new library, but not vice-versa...

In other words, if the implementation planned for this would result in a new mode, I

[2019-09-05 19:30] edhartnett commented on #1484
Well, @gsjaardema, we are certainly always prepared to listen. Your proposal relates to reading non-netcdf-4 HDF5 files as well?

[2019-09-05 19:38] gsjaardema commented on #1484
@edharnett No, NetCDF-4 files only.   I need to do some more testing and timing; should have something at the start of our next FY -- October

[2019-09-05 19:43] edhartnett commented on #1484
OK ping me in November when I get back...

[2019-09-05 19:49] DennisHeimbigner commented on #1484
You probably should give us an overview of what you are proposing
so we can analyze if from the point of view of back compatibility,etc.

[2019-09-05 20:13] gsjaardema commented on #1484
@DennisHeimbigner That is the plan, but I am not yet ready.  Hopefully early October.

[2019-09-08 16:22] abhishekBansal opened #1485 "ncdump v4.6.3 NetCDF: Unknown file format"
ncdump version: `4.6.3`
`MacOS 10.14.5`, `ncdump` installed via `homebrew`

This might be a noob question, I am just starting with understanding of netcdf files and format.
I am unable to open files that I am downloading from here
https://tgftp.nws.noaa.gov/SL.us008001/DF.of/DC.radar/DS.p94r1/SI.kpoe/

These files open in [Panoply](https://www.giss.nasa.gov/tools/panoply/download/) fine. I keep ge

[2019-09-09 13:55] remkos opened #1486 "netcdf-4.7.1 creates Bus Error when testing ncgen3"
This is on Mac OS 10.14.6 with Command Line Tools 10.3.

When running `make check` after compilation, the test of `ncgen3` fails with a `Bus error: 10`.
When installing without the test, the installed `ncgen3` **and** `ncgen` both also create a bus error on any CDL file on input.
This may be related to issue #1480.
<pre>
Making check in ncgen3
/Library/Developer/CommandLineTools/usr/bin/make  chec

[2019-09-09 20:47] WardF commented on #1480
Thanks; I'm seeing the same thing.  I am getting the new release of the C++ interface out, and then will take a look at this. Thanks!

[2019-09-09 20:50] WardF commented on #1485
These files don't appear to be netCDF files.  Do you know how they were generated?

[2019-09-10 06:08] abhishekBansal commented on #1485
I am not sure, its govt. database I assumed it must be netCDF. Here is panoply screenshot which reads its as netCDF, its also able to export same file as CDL.
<img width="947" alt="Screen Shot 2019-09-10 at 11 35 49 AM" src="https://user-images.githubusercontent.com/1726219/64588217-6ea48200-d3bf-11e9-9c0b-b8c99d3f60e9.png">

[2019-09-10 06:23] abhishekBansal commented on #1485
okay so seemed like I had to convert it to netCDF first
https://www1.ncdc.noaa.gov/pub/data/radar/Radar-Decoding-EasySolution.txt

After this conversion `ncdump` started working for me, thanks!

[2019-09-10 14:37] edhartnett commented on #555
OK, this capability has been added to PIO, and it works great! ;-)

[2019-09-10 19:11] dopplershift commented on #1485
For the record, those files are NEXRAD Level 3 product files, also known as NIDS files.

[2019-09-10 21:08] DennisHeimbigner commented on #1485
If the conversion to netcdf is straightforward, would it
be useful to have the netcdf-c library directly read such files?
=Dennis

On 9/10/2019 1:11 PM, Ryan May wrote:

[2019-09-10 21:19] dopplershift commented on #1485
NIDS can describe many different product types (lines, points, polar grids, rectangular grids), so no the conversion to netcdf is not straightforward, though netcdf-java does its best.

In terms of supporting conversions from other file formats, that's duplicating the IOSP layer from netcdf-java. IMO, that's a topic that would go well-beyond the issue tracker.

[2019-09-10 21:21] edwardhartnett commented on #1485
Well we have duplicated the IOSP layer from netcdf-java, and its called user-defined formats. ;-)

[2019-09-10 21:39] dopplershift commented on #1485
That's so cute. 😉

Seriously, while I recognize a significant amount of effort in developing a useful C abstraction layer and interface, there is so much more work in:
1. Rewriting a bunch of binary I/O in C
2. Porting netcdf-java's netcdf schema for all those files into the C-API calls

I'm not saying it's a terrible idea, or one that's technically hard. But it's a massive undertaking that needs

[2019-09-10 22:22] DennisHeimbigner commented on #1485
NIDS is only worth doing if it is low-hanging fruit; but I gather
that is not the case, so never mind.

[2019-09-10 23:24] WardF commented on #1485
Resolved so closing, but only for housekeeping, not to shut down the conversation. :)

[2019-09-10 23:24] #1485 closed

[2019-09-12 00:47] edhartnett commented on #1485
@dopplershift climate science/meteorology have always pressed hardware and software to their limits.

I/O has become the bottleneck for both model development and performance. This situation is expected to continue as Earth observation assets achieve greater diversity and data rates, models greater resolution, and HPC systems more processors.

There are no scientific problem of greater importance!

[2019-09-14 03:58] opoplawski commented on #1338
This appears to have returned with 4.7.1

[2019-09-14 18:37] DennisHeimbigner commented on #1457
In your example, it appears that you are assuming that each processor
(or is it sets of processors?) have independent copies of the global
state of the netcdf-c library (else they would alll see the see the same set
of file ids in use). Is this correct?

[2019-09-14 19:00] edwardhartnett commented on #1457
Each processor has its own global state. For processors in the same computational unit, that state will be identical. So if all 1000 processors are in the same computational unit, and call nc_create, they will all start with the same starting ncid, and increment it by one, so they can all assign ncids and they are all the same.

But consider the case of multi-level parallelism. Now 300 processors

[2019-09-14 19:08] edwardhartnett commented on #1457
To make things a little more theoretical, the issue here is really that ncid is assigned before the dispatch layer is called. So the dispatch layer does not control the assignment of ncid. Another way to approach this would be to have the dispatch layer code assign ncids, but then we have the problem of coordinating between different dispatch layers. And the code to assign ncid would be repeated e

[2019-09-14 19:09] DennisHeimbigner commented on #1457
Short answer, yes. There are multiple copies of the netcdf-c library
global state. ANd changing the ncid is a hack to achieve the effect
of having a single copy of the file list part of the global state.

One question that comes to mind is that within a processor, it appears
that the ncid list is being simultaneously accessed by multiple "threads"
(my term) within the, say, IO processor. so how do

[2019-09-14 19:23] edwardhartnett commented on #1457
@DennisHeimbigner not sure what you are answering "yes" to.

There are multiple copies of the netcdf global state. They are not shared. Multi-processing means a bunch of processors executing the same code with independent memory. So if 300 processors are involved in a computational unit, each of them have their own state for netCDF. But since they are all executing the same code, that state change

[2019-09-14 19:47] DennisHeimbigner commented on #1457
From a concurrency point of view, I think the correct solution
would be if we had a single "thread"/processor that manages
the file list and all other processors talked to that single
processor to get ncids. In practice, this should be the case
for all of the global state of the netcdf-c library.

However, I suspect that this proper approach is not doable
with mpio, so you are probably right.

[2019-09-14 19:59] edwardhartnett commented on #1457
In non-async mode, all processors do the same exact things to their global state, so it is always in lockstep.

In async situations (i.e. multi-level parallelism) then the I/O processors are in charge of the file list, and they own the nicds. They are the only ones that really open files on the file system. But the computational units need to know the ncid's that have been assigned by the I/O unit

[2019-09-14 20:03] DennisHeimbigner commented on #1457
I think I understand your point  The fact that some subset of processors
is operating in tight lockstep means that they act in effect as if they
were one cpu. So we have a situation in which each cpu(set of
lockstep processors) has its own state but synchronization of the
state of the various cpus must be synchronized at least with respect
to the ncid assignment. Frankly the netcdf-c library is no

[2019-09-14 20:23] DennisHeimbigner commented on #1457
I agree. What I did not realize is that PIO is in effect introducing
a distributed memory model and not a shared memory model.
As I said, a more general solution to distributed memory is just not
worth thinking about right now. In any case, I have given my approval
to your proposed pull request. Sorry for being so obtuse about this.

[2019-09-15 01:01] edwardhartnett commented on #1457
No problem. I'm happy that others are safe-guarding my baby too. ;-)

[2019-09-16 21:46] WardF commented on #1338
Ok.  Let me take a look, reopening.

[2019-09-17 12:08] nmassey001 opened #1488 "netCDF files created in memory are always multiples of 64K when written to disk"
With reference to the Python version of this issue: [(https://github.com/Unidata/netcdf4-python/issues/971)], I've now recreated the problem in C.

Using the new facility for writing a netCDF file into memory and then recovering the memory buffer on close of the dataset, and then writing the memory to disk always results in a file that is a multiple of 64K big, with zeros padding out the unused sp

[2019-09-17 12:12] nmassey001 opened #1489 "Cannot create nested compound types when creating netCDF file in memory"
With reference to the Python version of this issue: [https://github.com/Unidata/netcdf4-python/issues/970], I've now recreated the problem in C.

I've run into a problem when using the relatively new functionality of creating a netCDF4 file in memory, then writing the memory to a file on closure of the netCDF file.
It seems that it's not possible to use nested compound types - i.e. a compound type

[2019-09-17 19:43] WardF commented on #1488
Tagging @DennisHeimbigner in case he has any immediate thoughts. We will take a look at this.

[2019-09-17 19:44] WardF commented on #1489
Tagging @DennisHeimbigner in case he has any immediate thoughts. We will take a look at this.

[2019-09-17 22:11] DennisHeimbigner commented on #1489
This is surprising. My immediate speculation is that it is related
to the layout of structs. and the relative field offsets.

[2019-09-17 22:14] DennisHeimbigner commented on #1488
Not entirely surprised. This is probably an artifact of the allocation
strategy inside the memio allocator code. Is it a problem
(other than the wasted space)?

[2019-09-18 06:38] nmassey001 commented on #1488
Thanks @DennisHeimbigner and @WardF.
The only problem is with the wasted space.  I work at a datacentre where we have millions of files, including user files, so this wasted space could add up to a lot!

[2019-09-18 06:40] nmassey001 commented on #1489
Thanks @DennisHeimbigner @WardF.
I should have said that the first code example works fine if the file is written straight to disk, rather than going through the memory.  However, my use case is streaming files from / to memory to / from object store over S3, without every touching the disk.

[2019-09-19 17:26] DennisHeimbigner commented on #1488
WRT to your test case, the netcdf-c code (file nc4mem.c)
has a DEFAULT_CREATE_MEMSIZE, which has the value 1<<16,
which is of course 64k. So the real test would be to create file much
larger than this default size and see if it is still a multiple of 64k.

[2019-09-19 17:35] DennisHeimbigner commented on #1488
There are fields to specify the allocation increment and the minimum increment.
If these are set too low, then the code will spend time in memory allocation.
Need to figure out a good way to set the minimum increment. We could
do it at build time, but then it would be applied to every file. We currently
do no have a good way to send in parameters from the user.
If we could get the actual used size

[2019-09-19 19:40] DennisHeimbigner commented on #1489
I did some experiments;
1. use NC_DISKLESS - works
2. change the char* field types to e.g. int - works
3. use h5dump to view the file - works
This is going to take a while.

[2019-09-20 15:17] edwardhartnett commented on #1489
A through refactor of all the nested type code has long been on my wish-list. I really just did not get deep nesting of types correctly. Oh well, even the great Homer nods.

However, it's not a trivial undertaking.

I am very curious as to the use-case here. What are these data? Why are we using nested compounds for them?

[2019-09-22 19:06] DennisHeimbigner commented on #1488
It looks like there is a way to get the actual size of the file: H5Fget_eoa.
IF I can get it to work with memory files, then I can return it in the NC_memio
object and solve your problem.

[2019-09-25 21:04] WardF commented on #1486
Seeing this under the following circumstances:

* netCDF4 support not required (disables `run_nc4_tests.sh`), still see BUS error in `run_tests.sh`.
* Failure appears when configuring/compiling with `configure/make`, **does not** happen when configuring/compiling with `cmake/make`.
* Bringing the compiler flags into parity between the two systems does not cause an issue.
* Forcing `cmake` to use `

[2019-09-30 10:33] nmassey001 commented on #1489
@edwardhartnett The example I gave is a trivialisation of the actual data structures used and, even with the current full data structures, I can flatten them so that I don't need to use nested compounds.
However, the bug still exists and could be a problem with my code in the future, when I expand the datatypes to have (for example) an array of a compound type in a compound type.

[2019-10-08 19:05] LGTM-badger opened #1494 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-11 21:42] #1486 closed

[2019-10-15 12:44] jswhit opened #1496 "HDF5 error when unlimited dimension and a variable share the same name"
Reported by a python user (https://github.com/Unidata/netcdf4-python/issues/975).  The error occurs when a variable has the same name as an unlimited dimension, but does not have an unlimited dimension.  Both C and python programs to trigger the error included in the python issue.

[2019-10-15 16:42] renato2099 opened #1497 "Issue while reading data directly from S3"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
current master in GitHub

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
Ubuntu 16.04
* a description of the issue with the steps needed to reproduce it
Trying to read a publicly available file from Amazon S3

If you

[2019-10-15 19:24] WardF commented on #1497
Can you provide a little more info about how you are trying to open the file? What are you passing to `nc_open()`?   @DennisHeimbigner might be able to provide some insight as well.

[2019-10-15 19:28] WardF commented on #1496
Thanks Jeff; I see there is an example C program in the linked python issue.  I'll take a look!  Tagging in @DennisHeimbigner in case anything pops out at him as well.

[2019-10-15 21:26] DennisHeimbigner commented on #1497
Yes, it is possible since we tested it against some similar S3 files.
We will need to know the exact url that you used.

[2019-10-15 21:36] renato2099 commented on #1497
Thanks for the prompt reply!

https://tpch-rmm-fk.s3.eu-central-1.amazonaws.com/3B.nc4

Currently I am using something as simple as this:

`(retval = nc_open(argv[1], NC_NOWRITE, &ncid))`

[2019-10-16 21:26] DennisHeimbigner commented on #1497
You need a marker to tell the library to use byte ranges.
Change the url to this and try again:
"https://tpch-rmm-fk.s3.eu-central-1.amazonaws.com/3B.nc4#mode=bytes"

[2019-10-16 22:40] renato2099 commented on #1497
Thank you very much @DennisHeimbigner ! that worked like a charm.
I still have some questions though:
1) When should one prefer using `nc_http_open` vs `nc_open` api? are they the same or is one subsumed by the other?
2) If I were to track the total number of requests done to S3, which files should I look into?
3) Can I make the same assumptions when reading files from S3 as I would when reading f

[2019-10-17 01:50] dopplershift commented on #1494
Deleted the old LGTM webhook. New LGTM GitHub App was already setup for this repo.

[2019-10-17 01:50] #1494 closed

[2019-10-19 06:11] edhartnett commented on #1479
The rule is, as documented, that endianness should be set only for numeric types, not user-defined types.

This is a restriction on user-defined types that few are likely to notice or care about. No one really wants to mess with endianness, now that every processor uses little-endian and netCDF-4 uses native endian by default.

@WardF if you have a way to assign issues to me, you can do that with

[2019-10-19 06:25] edhartnett commented on #1395
This is becoming a serious problem for me, and I'm sure other netcdf programmers (i.e. users) will feel this pain. So @DennisHeimbigner perhaps we could move this up the to-do list?

The reason is that I use memory checking in my CI systems (and have caught more than a few netcdf memory leaks that way, IIRC). But now they break. :-( Leaving me wailing and gnashing my teeth.

Actually nc_finallize

[2019-10-19 18:28] DennisHeimbigner commented on #1395
Not sure how to address this.

What you really want is in effect an nc_reset() that just resets the library
back to its initial state, but allows continued use.
Also, I never intended that programs be required to invoke nc_finalize.
The idea was to provide it exactly for the purpose of memory checking.
It should be the case that your program should work identically
whether or not you called nc_fin

[2019-10-20 04:35] edhartnett commented on #1395
Requiring nc_finalize is breaking the API. Memory checking used to work fine, now it does not. Can we fix that?

Also, I really question what is going on with this memory that we cannot free it when the last file is closed. The memory that you are using is for dap initialization? Because the classic and netCDF-4 code cleans up after itself.

So what memory thing are you doing that cannot be easily

[2019-10-21 12:38] gsjaardema commented on #1395
We have some use cases in which we open/close files repeatedly.  I'm not sure what the overhead of this repeatedly calling nc_initialize/nc_finalize each time the file count goes to zero would be.

Would it be possible to register `nc_finalize` with `atexit`?

[2019-10-21 16:47] DennisHeimbigner commented on #1395
I have a branch that calls nc_finalize at atexit. What I have not tested is if
it shuts up the memory checker.

[2019-10-21 16:49] DennisHeimbigner commented on #1395
Ed-
I do not understand this comment:

It has always been the case the e.g. valgrind would complain
about  the global memory no being reclaimed. You seem
to be implying that nc_finalize is no introducing new memory errors.

[2019-10-21 22:15] WardF commented on #1395
@DennisHeimbigner Ed may be referring to the bounds checkers used when compiling with `CFLAGS="-fsanitize=address -fno-omit-frame-pointer`.  The leaked memory returns as a failure, not just a warning, and this is new behavior.

Getting caught up on email and messages (in reverse order, of course) so wanted to mention that while it was fresh.

[2019-10-21 22:15] WardF commented on #1395
@edhartnett will correct me if I'm off base.

[2019-10-22 17:26] DennisHeimbigner commented on #1497
The public API for the netcdf library is defined by the union of
the files in include that are of the form netcdf_XXX.h. The
include directory however does contain other, non-public, .h
files; nchttp.h is one such.

Bottom line: since nc_http_open is not public, you should always
use nc_open, which is public.

Not sure I understand the question. Are you asking where to insert code
to track # reads

[2019-10-22 17:29] DennisHeimbigner commented on #1489
Ed is right about the refactoring of nested types. But I suspect that since
this works with files and DISKLESS, that the problem is in my memory code
in this case.

[2019-10-22 22:38] ArchangeGabriel opened #1500 "Timeout for nc_test4_run_par_test in 4.7.2"
Hi,

While building the new 4.7.2 release, I’ve encountered timeout in `157: nc_test4_run_par_test`:

[code]

This is the only test failure. Arch Linux as always, with OpenMPI.

[2019-10-23 21:58] DennisHeimbigner commented on #1488
This has turned out be harder than I thought. I will have to rethink a solution.

[2019-10-23 22:38] DennisHeimbigner commented on #1395
The atexit() soln appears to work for valgrind. Except. There is some unfreed
memory in some support libraries (I see libcrypto and libhdf5) that we have
no control over. It does not look like sanitize recognizes memory that is reachable but unfreed at program exit.

[2019-10-25 03:40] gsjaardema opened #1502 "Parallel cmake build does not install ncexternl.h"
Version 4.7.2, using cmake build and parallel enabled, the `ncexternl.h` include file is not installed.  It is referenced by `netcdf_par.h`, so the client builds will fail

[2019-10-25 20:04] DennisHeimbigner commented on #1502
Actually, netcdf_par.h should not include ncexternl.h at all.
This is because the same macros are in netcdf.h already.

[2019-10-25 21:00] WardF commented on #1500
I'm trying to duplicate this.  Can I ask how many processors your machine has, and what version of HDF5 you're using?

[2019-10-26 02:14] opoplawski commented on #1338
Still there with 4.7.2

[2019-10-26 02:36] DennisHeimbigner commented on #1338
Is this just that ref_filteredvv.cdl contains the string "little"? If so,
then we need to fix the test to sed the ref_filteredvv.cdl and the filteredvv.cdl
to remove the exact endianness string.

[2019-10-26 15:44] ArchangeGabriel commented on #1500
HDF5 is 1.10.5, OpenMPI 4.0.2. This is a 48 cores machine.

[2019-10-26 17:44] opoplawski commented on #1500
Possibly this? https://github.com/open-mpi/ompi/issues/7109

[2019-10-27 19:05] edhartnett commented on #1395
OK, lots of development here which is good!
I was experimenting with valgrind and thought I had found a leak.

Then I read Dennis' reply and thought I must have been wrong.

Now I read Ward's comment about the leak sanitizer and I am confused again. Maybe there are real leaks.

I will keep looking at this and let you know what I have, when I have something more concrete.

[2019-10-28 09:47] edhartnett opened #1503 "old ncgen documentation should be removed"
The documentation here: https://www.unidata.ucar.edu/software/netcdf/netcdf/ncgen.html

Says:

[code]

But when I try:
[code]

There is no mention of -lc in the docs...

[2019-10-28 09:59] edhartnett opened #1504 "ncgen does not ignore "secret" attributes"
I ran ncgen -lc on an ncdump output. I had used the -s option with the ncdump output, so it contained hidden attributes.

ncgen then generates code that tries to set hidden attributes. This surprised me. I would have thought ncgen would be smart enough to ignore the hidden atts.

[code]

Also when this code ran, the error message surprised me. I would have thought we had a message for trying to se

[2019-10-28 10:07] edhartnett commented on #1503
OK, turns out that this is just out of date documentation. @oxelson perhaps you can remove it? It is coming up first on my google searches...

[2019-10-28 15:10] gsjaardema commented on #1502
@DennisHeimbigner Should `netcdf_par.h` include `netcdf.h` then?  Currently it only includes `mpi.h` and `ncexternl.h`

[2019-10-28 15:15] gsjaardema commented on #1502
I will add a pull request, but not sure of recommended fix:

- Install `ncexternl.h`
- add the definition of `EXTERNAL` to `netcdf_par.h`

Note that either fix may entail a new release as 4.7.2 is not usable for parallel at the current time.

[2019-10-28 15:20] gsjaardema commented on #1502
Related to the above, the `netcdf_aux.h` include file has uses of `EXTERNL`, but the symbol is not defined nor are there any includes in the file that would define the symbol, so the include file is not "standalone consistent" and must currently be included *after* an include file which does define `EXTERNL`

[2019-10-28 15:54] DennisHeimbigner commented on #1502
The assumption is the following.
- If you plan to use any of the netcdf_XXX.h files, then it it is assumed
  that you first include netcdf.h, followed by any netcdf_XXX.h files
  you need. The EXTERNL (and other things) are defined in netcdf.h
  so they should be available for use by the netcdf_XXX.h files.

[2019-10-28 16:01] gsjaardema commented on #1502
OK, I can work with that assumption.  Note that there are some NetCDF files that don't follow that assumption, for example, `nc4internal.h`

I assume then that the recommended fix for `netcdf_par.h` then is to just remove the `#include "ncexternl.h"` ?

I will prepare a PR if you want, but not sure how you handle the new release...

[2019-10-28 16:12] DennisHeimbigner commented on #1502
Sorry, I meant only the publically installed headers. nc4internal.h should
not be publically installed.

[2019-10-28 16:14] DennisHeimbigner commented on #1502
The two exceptions are netcdf_meta.h and netcdf_f.h

[2019-10-28 16:25] gsjaardema commented on #1502
And `netcdf_mem.h` has its own definitions of `EXTERNL`

[2019-10-28 19:35] t-brown commented on #1502
Are you going to cut a new version (`4.7.3`)?

[2019-10-28 19:50] WardF commented on #1502
Yes, although not in the next day or two.  The end of the week would be the
earliest we see a release.

On Mon, Oct 28, 2019 at 1:35 PM Timothy Brown <notifications@github.com>
wrote:

[2019-10-28 20:39] WardF commented on #1338
@DennisHeimbigner at a glance it looks like `tst_filter.sh` should already be removing the `Endianness` string comparison.   Unless you have a fix in the pipeline, I'll follow up on this and figure out what's going on.

[2019-10-28 20:45] WardF commented on #1395
@edhartnett My comment was supposition on what you might have been talking about, and not in reference to a specific error I'm seeing on my end.

[2019-10-28 21:06] DennisHeimbigner commented on #1338
I wonder if that test should put the leading colon in square brackets.
e.g. /[:]_Endianness ?

[2019-10-28 21:14] oxelson commented on #1503
@edhartnett and @WardF -- those docs have been removed and archived offline.  Let me know if you need anything else!

[2019-10-28 21:35] WardF commented on #1338
@DennisHeimbigner there is an `Endianness` flag present in one of the reference files in the repository; I’m not sure why it’s not being stripped out by the `sed` invocation in `tst_filters.sh`.  Your suggestion might work, although I wonder if the `Endianness` string should just be removed altogether?

[2019-10-28 21:41] DennisHeimbigner commented on #1338
The reason the ref file still has it is because it is not being passed
thru the sclean function apparently. We can just remove the _Endianness
from that file it that solves the problem.

[2019-10-28 21:49] DennisHeimbigner commented on #1338
This is unobvious. Where is that _Endianness flag coming from?
It is not in any of the ref_ files as near as I can tell.

[2019-10-28 21:56] DennisHeimbigner commented on #1338
I take it back, but it is in an input to ncgen and is not referenced after that.
I wonder if this is related to the  fact that there is an NC_ENDIAN_NATIVE
that ncdump tests for.

[2019-10-28 22:58] WardF commented on #1338
Without access to a big endian system I'm not sure how to test a fix *for sure* but I can remove the endianness flag from the reference file.

[2019-10-28 23:16] WardF commented on #1338
Ok, I'm setting up with `qemu` for testing.

[2019-10-29 07:58] edhartnett commented on #1503
Awesome work Jen!!

[2019-10-29 07:58] #1503 closed

[2019-10-29 08:01] edhartnett commented on #1504
As I pondered this I realized that it might also be good to actually use the hidden attributes, instead of ignoring them. In ohter words, if there is a _Format of netCDF-4, then treat that as if the user had specified the flag that called for a netcdf-4 file.

This strays rather beyond the original issue title. Perhaps a ignoring them is better.

[2019-10-29 08:17] edhartnett commented on #1395
OK, let me check more thoroughly when I get back next week...

[2019-10-29 17:24] DennisHeimbigner commented on #1504
For _Format, I think it does that now.
IN any case, some attributes are used: _Endianness, for example.

[2019-10-29 20:50] DennisHeimbigner commented on #1489
I am working now on this issue. I have a question.
Do you ever use the ability to over-allocate the incoming buffer memory
plus nc_open_mem
or do you always use the nc_create_mem function?

[2019-10-29 22:15] WardF commented on #1338
Just a follow-up, hdf5 is still compiling.

[2019-10-30 07:59] nmassey001 commented on #1489
Hi Dennis.  Thanks for looking at this.
I mainly interact with the netCDF library via the Python API, which uses both nc_create_mem and nc_open_mem.

[2019-10-30 12:13] edhartnett commented on #1504
Well I just got the error for _Format, and that was with 4.7.2. Am I using it wrong? See above for the exact error message...

[2019-10-30 17:37] DennisHeimbigner commented on #1504
THis .cdl works:
netcdf t {
:_Format = "netcdf4";
}

[2019-10-30 20:45] DennisHeimbigner commented on #1488
I am going to have to declare partial failure on this Issue.
As HDF5 is currently set up, it is impossible to get the necessary
info without breaking the HDF5 internal abstractions.
I think it can be done for disk-based files, but not for in-memory files.
This is primarily because the HDF5 core driver is not SWMR enabled.
The best I can do is reduce the increment size so that the file is a multipl

[2019-10-31 06:40] edhartnett commented on #1504
Will you also be adding a test? ;-)

[2019-10-31 16:12] DennisHeimbigner commented on #1504
oops, I will do that.

[2019-10-31 16:23] DennisHeimbigner commented on #1338
Ok, the failures in that test log are coming in test_filter_misc.c and
are errors from the meta-data creation actions. Do not have enough
info to resolve.

[2019-11-01 17:36] WardF commented on #1338
Hi Dennis,

I'm seeing the following:

http://cdash.unidata.ucar.edu/testDetails.php?test=387708&build=14371

This is a different failure than has been reported above, any insight? It took a day to build hdf5 so I'd like to avoid redoing unless need be.

[2019-11-01 17:39] WardF commented on #1338
Oh, I see they're the same as @t-b submitted, nevermind @DennisHeimbigner you've answered it already.  Will keep looking at this.

[2019-11-01 18:26] WardF commented on #1338
My only question would be if there is a way to speed up the emulated machine; my cursory investigation says no, but I'm hardly a qemu expert :).

[2019-11-01 19:29] jswhit commented on #1315
Does the issue being discussed here only affect parallel writes?  Should parallel reads of compressed data work 'out of the box' with HDF5 >= 1.10.2?

[2019-11-01 20:03] t-b commented on #1338
@WardF Not really at the moment. That is a a limitation of the emulated architecture. I've tried to setup a s390x debian as well in QEMU but the installer on that platform is really different to the default installer.

[2019-11-04 18:02] #1502 closed

[2019-11-04 18:02] #1480 closed

[2019-11-04 18:03] WardF commented on #1338
I've determined the failure was introduced between `4.7.0` and `4.7.1`.  Setting up a `git bisect` to track this down, but I expect it will take some time; compiling each branch takes about an hour.

[2019-11-04 20:33] WardF opened #1507 "Failure building with mpicc in current master"
Appears to be an issue with `EXTERNL` not being defined properly in `netcdf_par.h`.  Fixing now, should be pretty straight-forward.

[2019-11-04 20:55] gsjaardema commented on #1507
I thought that the correct usage was to require that `netcdf.h` be included prior to including `netcdf_par.h` wherever it was used.  See #1502

[2019-11-04 21:15] WardF commented on #1507
You're right, of course, @gsjaardema.  Reworking so that the fix is in line with correct usage.

[2019-11-05 16:53] WardF commented on #1338
Ran `git bisect` overnight, currently reporting commit `8d0bced6` as the first failure.  Investigating this morning.

[2019-11-05 17:16] turingeret opened #1509 "Please Substitute CMAKE_{SOURCE,BINARY}_DIR with CMAKE_CURRENT_{SOURCE,BINARY}_DIR"
If you directly include netcdf-c in another CMake project, it fails to configure properly as it looks for several things in CMAKE_SOURCE_DIR which will be the parent CMake project's source directory, not the netcdf-c's source directory. This can be simply fixed by replacing it with CMAKE_CURRENT_SOURCE_DIR. The same applies for CMAKE_BINARY_DIR.

In order to quickly reproduce this issue, create a

[2019-11-05 18:31] #1507 closed

[2019-11-05 19:42] WardF commented on #1509
This will require some rewriting of the CMakeLists.txt files over and above substituting one for the other.  I will work on this when I get a chance, and as always, pull requests are welcome. Thanks for reporting this, however, I wasn't aware of `FetchContent`. Thanks!

[2019-11-05 20:03] turingeret commented on #1509
Yeah, I'm noticing that it wasn't quite a easy substitution. While I am using FetchContent myself, this will happen if it's just included as a subproject of another CMake project.

I'll see if I can play with it a little and maybe fix the issue.

[2019-11-05 20:38] WardF commented on #1509
Sounds good; it may not be as difficult as I originally thought, I’ve created a branch to see if I can make this broader change. Thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-07 13:33] edhartnett opened #1512 "better documentation required for the _text attribute calls, in C and Fortran"
As kindly pointed out by @gsjaardema in #1510, the documentation for the nc_get/put_att_text is confusing. There needs to be a longer discussion of the following:

* In C, a text string is an array of char, terminated by a NULL.
* Does the length include the NULL (this is a user choice)
* What does the API mean by calling these _text?
* How does this relate to the NetCDF-4 model String type?

Also

[2019-11-07 13:58] edhartnett commented on #1512
OK, there is even more to do here. When I build the latest master, and build the docs, and navigate to the documentation for nc_get_att_text(), it is wrong! It is the documentation for nc_get_att(). So that needs to be fixed as well.

[2019-11-07 18:02] turingeret opened #1513 "Files Generated by CMake Should Not Go In Source Tree"
Files generated by CMake should not go in the source tree. For example, "findtestserver.c.in" is configured and put in the source directory, but it should probably go in the build directory. A out-of-source CMake build should leave the source tree completely untouched so that several out-of-source builds can be run simultaneously without any risk of interfering with each other.

[2019-11-07 19:23] WardF commented on #1513
Thanks for pointing this out.

[2019-11-07 19:40] edhartnett commented on #1512
OK, even more fun. ;-) The current way the documentation is done is not actually correct. What is done is that all the atomic type functions are grouped together, and described by one documentation block. But this causes the function name links to not work properly. So you can go to the Attributes section, and see all the functions properly, but if you click on nc_get_att_int() in the documentatio

[2019-11-07 21:05] turingeret commented on #1509
I created a pull request with what I believe works. It compiled successfully and all tests passed.

https://github.com/Unidata/netcdf-c/pull/1514

[2019-11-08 00:41] #1509 closed

[2019-11-08 20:15] edhartnett opened #1516 "test run_examples4.sh fails with parallel build with netcdf-c-4.7.2 and HDF5-1.10.5"
I am trying for the first time to build netcdf-c-4.7.2 with hdf5-1.10.5 with parallel I/O.

I am seeing this error:
[code]
Running the bash script I see:

[code]

This does not happen with hdf5-1.10.4.

[2019-11-08 20:23] WardF commented on #1516
Looking at this now more closely, but this hasn't cropped up in our local testing.  In the interest of duplicating the environment as closely as possible, are you using `mpich` for parallel, and `make check -j`?

[2019-11-08 20:40] WardF commented on #1516
Running `make check` with hdf5-1.10.5 with parallel I/O I see:

[code]

Running the script directly, I see:

[code]

Investigating the `libnetcdf` and `libhdf5` libraries I see:

[code]

[code]

[2019-11-08 20:42] edhartnett commented on #1516
OK, it went away when I used make check instead of make -j check. So looks like a parallel build issue...

[2019-11-08 20:43] WardF commented on #1516
I ran `make check -j` as well and am not seeing it, but isn't that the way with race conditions. I'll keep poking at it here as well.

[2019-11-08 20:55] edhartnett commented on #1516
OK, maybe just my dumb mistake. Maybe I should have run make clean first!

[2019-11-08 20:55] #1516 closed

[2019-11-11 20:29] WardF opened #1517 "filter tests should not run when HDF5 doesn't support them."
Currently, netCDF tries to run the filter tests even if the underlying libhdf5 doesn't support them.  This feature should only be available if linking against hdf5 when dynamic filter support is available.

[2019-11-11 20:30] WardF commented on #1517
This can currently be worked around by passing `--disable-filter-testing` at configure time or `-DENABLE_FILTER_TESTING=OFF` when using cmake.

[2019-11-11 21:18] ckhroulev opened #1518 "Incorrect indexing in NCDISPATCH_initialize()"
Looking at the code of NetCDF-C 4.7.2 (commit 108e938b2f50dab47175b011aa731b8f119b3dc5) I noticed that `NCDISPATCH_initialize()` contains the following:

[code]

I suspect that `c0[0]` above should be replaced by `c0[i]`. This code was introduced by #1379.

Please feel free to close this if the code quoted above is correct as it stands.

[2019-11-12 14:02] edhartnett opened #1519 "can we now remove non-relaxed coord bounds?"
See #1010 for the long discussion.

To summarize, coordinate bounds checking for netCDF-4 was originally slightly broken with parallel I/O. This was fixed (and the fix called "relaxed coord bounds"). Unfortunately, instead of just making the fix, an option was included to continue to build the old, incorrect code.

Using non-relaxed coord bounds is wrong and dangerous. This is reflected in the --e

[2019-11-12 14:42] edhartnett opened #1520 "in 4.7.2, parallel I/O not working"
I just noticed that 4.7.2 netcdf_par.h includes ncexternl.h, but this is not installed.

This seems to be fixed in master, but I believe it means that 4.7.2 will not work for parallel I/O, which is a fairly serious problem!

Or am I mistaken?

[2019-11-12 16:05] ckhroulev commented on #1520
This is correct (see #1502). NetCDF 4.7.2 cannot be used for parallel I/O, which forced me to downgrade to 4.7.0 since 4.7.1 does not work on macOS.

[2019-11-12 16:10] edhartnett commented on #1520
OK, bummer. @WardF is the plan to get the next release out soon? Preferably before the AGU?

[2019-11-12 20:48] WardF commented on #1518
I believe you are correct, and I am tagging in @DennisHeimbigner just to confirm.

[2019-11-12 20:59] WardF commented on #1519
<muttering outloud to myself as I review this>

Reviewing #1010, it seems that the main issue against removing it altogether was raised by @wkliao and we ended in a place where we erred on the side of caution; I disagree that this was a mistake, but that's neither here nor there ;).  @wkliao changed the default behavior in pnetcdf to match. We checked in with Charlie Zender at the time, he had no

[2019-11-13 07:11] ckhroulev commented on #350
Unfortunately this issue is *not* fixed by #1119: the issue is present in the current `master` branch (I tested 108e938b2f50dab47175b011aa731b8f119b3dc5). Test cases included above still fail and I could not find the test mentioned by @edhartnett in https://github.com/Unidata/netcdf-c/issues/350#issuecomment-414065377 anywhere in the repository.

Please see #1521 for an improved fix.

[2019-11-13 12:09] kmuehlbauer commented on #1484
Ping @edhartnett  approaching mid-november, so just to get this back on the plate. If I can be of any help resolving this issue, please let me know.

[2019-11-13 13:52] edhartnett commented on #350
OK, you are quite right. Sorry about that, not sure what happened to that fix and test, but there was a lot going on in that PR - too much I guess. ;-)

@WardF can you reopen this issue? I will take a look...

[2019-11-13 14:13] edhartnett commented on #1484
Thanks @kmuehlbauer for bringing this up again. I'm included to go with the solution I outlined above:

@gsjaardema now would be the time to bring up your proposed alternate solution...

[2019-11-13 18:34] edhartnett opened #1522 "User-defined formats must take priority in NC_infermodel()"
I'm glad I caught this before the next release, because it breaks user-defined formats in some cases.

The determination that this is a user-defined format must be done before any other cmode/omode flags. That's because the user-defined format may use some of the same flags as netCDF, but needs to handle them in the UDF code.

For example:

`nc_create("file.nc", NC_PIO|NC_NETCDF4, &ncid);
`

will

[2019-11-13 18:42] DennisHeimbigner commented on #1522
Good call. I will fix.

[2019-11-13 18:48] edhartnett commented on #1522
No need, I've got a PR ready, just working on the test.

The fix itself is trivial, I just move this code to the top of the function:
[code]

I'm having trouble getting the test to detect this issue...

[2019-11-13 19:35] edhartnett opened #1524 "test in nc_test4/tst_interops6.c is commented out"
There is a big section of test code commented out in nc_test4/tst_interops6.c. After I finish with the anonymous dimension stuff I will take a look and what is up...

[2019-11-14 01:39] DennisHeimbigner commented on #1518
You are correct, although it may have overtaken by a later change,

[2019-11-14 15:16] edhartnett commented on #1484
Well @kmuehlbauer such a joy to know my documentation has at least one reader! As a programmer, I honestly don't expect people to read the documentation. ;-)

I have included an update to the tutorial on this topic.

Thanks for your help on this! Please test it out and let me know if it solves your issues...

[2019-11-14 15:39] ckhroulev commented on #1518
Not in the `master` branch - I checked before I opened this issue.

Note, though, that `c0`, `c1`, and `s1` should also be removed now that there's no need cast away `const` (see #1486 and #1495).

[2019-11-14 16:43] edhartnett commented on #1500
@ArchangeGabriel any further resolution of this issue?

Can you try building master and see if it occurs?

Also, can you run the test script with bash -x?

[2019-11-14 16:46] gsjaardema commented on #1484
I have an experimental version in which I use a "hidden attribute" to specify the size of the dim instead of the length of the HDF5 dataset.  This did work, but breaks any applications that are using an older version of the library since they now see every dimension as having a value of '1'.

The original reason that I investigated this (parallel scalability) did not show the performance benefit t

[2019-11-14 17:46] edhartnett commented on #1484
OK, but a recent change to netCDF (4.7.1?) added hidden attributes for all the dimension info. Have you looked at them? So it may be that the info you need is already there.

Adding a new hidden attribute is a problem. It breaks compatibility! So I piggybacked on some existing hidden attributes.

[2019-11-14 18:40] kmuehlbauer commented on #1484
Yes, that's true @edhartnett . But RTFM (and the code, if one is able to do so) is still the best approach to gain as much information as needed. I did not want to annoy people with things RTFM would have resolved. So, thanks for having neat documentation out there!

I can try to build `netcdf-c` and `netCDF4` locally to test this. But there is a good chance that this is released before I find the

[2019-11-14 22:33] #1518 closed

[2019-11-14 23:08] #1524 closed

[2019-11-14 23:58] #1484 closed

[2019-11-15 10:39] edhartnett commented on #1520
@WardF given that parallel I/O is a major feature, and one that NOAA and other HPC users absolutely need, can we soon get a new release where parallel I/O is working?

Thanks

[2019-11-15 16:28] edhartnett commented on #1496
OK, this was a subtle one. I have a fix I am submitting now.

[2019-11-15 16:41] edhartnett commented on #1476
OK, this fix never made it, due to other issues with the PR. So I will submit a PR just for this...

[2019-11-15 16:48] edhartnett commented on #1469
To summarize this discussion:  we should add dispatch_version to netcdf_meta.h, and set it to 1.

I will put a PR up with this...

[2019-11-15 19:38] edhartnett commented on #1380
I am looking at this again now...

[2019-11-15 19:40] edhartnett commented on #1380
OK, @DennisHeimbigner I think you attached the wrong zip file, the one attached is the one related to the endianness issue. So I could still use some help with C code that reproduces this problem...

[2019-11-15 19:42] edhartnett commented on #745
This got fixed when I did all those rename and other dim/var fixes for various corner cases. I will close this issue.

[2019-11-15 19:42] #745 closed

[2019-11-15 19:51] edhartnett commented on #1291
Turns out we can't do this anyway, see #1342

I will close this ticket.

[2019-11-15 19:51] #1291 closed

[2019-11-15 19:54] edhartnett commented on #1458
We have the unit_test directory and its working, so I believe this issue can be closed.

[2019-11-15 19:55] edhartnett commented on #1457
This had been done. I will close this issue.

[2019-11-15 19:56] #1457 closed

[2019-11-15 19:58] edwardhartnett commented on #1458
OK, I see this issue was still open because these unit tests are not yet working in Cmake. I will take a stab at that, since I am trying to learn more about cmake builds...

[2019-11-15 20:39] DennisHeimbigner commented on #1380
Sorry, let me attach the correct file.
[stridetest.zip](https://github.com/Unidata/netcdf-c/files/3853067/stridetest.zip)

[2019-11-15 22:21] #1496 closed

[2019-11-15 22:27] #1479 closed

[2019-11-15 23:04] #1476 closed

[2019-11-15 23:38] #1469 closed

[2019-11-15 23:39] #1512 closed

[2019-11-15 23:40] #1522 closed

[2019-11-16 00:22] #350 closed

[2019-11-16 14:23] edhartnett commented on #1458
I do not believe we want to run unit tests on windows.

The reason: the unit tests are specifically for internal functions. In order for them to work in Windows, they need to be declared with EXTERNL, which will make them publicly exposed functions in the library. We don't want that.

So I have added all the unit tests to the CMake build, but left the part where the unit_test directory is not run

[2019-11-16 14:33] edhartnett commented on #1504
I believe this has been fixed, so I will close this issue.

[2019-11-16 14:33] #1504 closed

[2019-11-16 14:38] edhartnett commented on #1446
The general rule we follow is that, once a feature is no longer experimental, we enable it automatically if the system supports it.

This is helpful for CI testing, because then the feature will start to be tested automatically on most CI builds. If we leave this feature as is, it will not be tested on any CI builds which do not explicitly do --enable-byterange.

But what happens if curl is not th

[2019-11-17 12:42] edhartnett commented on #1481
Well certainly this can be better documented.

Can this be detected? That is, is there some code that runs on the 32-bit machine that will identify when this condition has occurred?

[2019-11-18 19:13] edwardhartnett opened #1533 "Trouble getting netcdf-c to build with cmake with HDF5 in a specific location..."
I am trying to build with cmake for testing purposes. I am following instructions here:
https://www.unidata.ucar.edu/software/netcdf/docs/faq.html#cmake_faq

But when I try and specify a location for the HDF5 libraries and include files, I can't get it to work. What am I doing wrong?

[code]

[2019-11-18 21:35] edwardhartnett opened #1534 "problem with --enable-benchmarks and current master"
I have not yet had time to look into this, but I am seeing this on a make -j distcheck build with --enable-benchmarks. I will take a look after I get the rest of my testing set up and running...

[code]

[2019-11-18 22:41] ckhroulev commented on #1533
With recent CMake versions you should be able to run

[code]
(tested using CMake 3.15.4).

[2019-11-18 23:01] junwang-noaa commented on #1520
May I ask if this parallel I/O is working for compressed netcdf4(HDF5) data? If yes, what is the time line for the release package ready? We are working on the next GFS implementation, it is planned to have the model output history files in compressed netcdf4 format, but currently downstream jobs are suffering the slowness of reading the data. We hope the parallel I/O can help resolving the issue.

[2019-11-18 23:53] edwardhartnett commented on #1520
Howdy @junwang-noaa parallel I/O can read but not write compressed data. That will be the state of the next release.

However, the HDF5 team has created a filter that allows compression when writing with parallel I/O and they have promised to help me get this going soon after the new year.

But I would like to take a look at one of your history files to see if I can understand what is going on. Ca

[2019-11-19 17:17] kprussing commented on #1533
If you dig into the [CMakeLists.txt](https://github.com/Unidata/netcdf-c/blob/af8f9ad2cf9a4dfa5788958691ddedf1bf1c6d94/CMakeLists.txt#L586), the correct variables are `HDF5_HL_LIBRARY`, `HDF5_C_LIBRARY`, and `HDF5_INCLUDE_DIR`.  Setting these got it working for me.

[2019-11-19 17:59] junwang-noaa commented on #1520
I have two sample data on EMC ftp site at:

https://ftp.emc.ncep.noaa.gov/EIB/sample/gfsv16_compressed_netcdf/gfs.t00z.atmf024.nc
https://ftp.emc.ncep.noaa.gov/EIB/sample/gfsv16_compressed_netcdf/gfs.t00z.sfcf024.nc

The atmf file is compressed and the sfcf is not. The sequential read of the two files takes about 5 minuts, while previous parallel read of the plain binary files takes 20s.

[2019-11-19 18:25] WardF opened #1538 "v4.7.3 (and presumably master) RC fails to build on Windows using Visual Studio 2017"
Currently failing to build on Windows, blocking `v4.7.3` release.  I expect this to be a fairly minor issue, working on branch `v4.7.3-wellspring.wif` to propagate any fixes back upstream to `master`.  Details will be forthcoming as diagnosed.

[2019-11-19 18:36] edwardhartnett commented on #1520
Thanks I will take a look...

[2019-11-19 19:58] kprussing opened #1539 "Add Include Directories as Transient Properties for CMake"
Following behind using `CMAKE_CURRENT` directories (Issue #1509), it would be nice to have netCDF provide the targets with transient dependencies.  Specifically, it's beneficial to specify the netCDF dependency as

    add_executable(myprog ...)
    target_link_libraries(myprog netcdf)

and not have to worry about setting the include directories.

To report a non-security related issue, please pro

[2019-11-19 20:55] WardF commented on #1538
It appears this is an environmental issue.

[2019-11-19 20:55] #1538 closed

[2019-11-19 22:58] edwardhartnett opened #1541 "need to update docs on chunking, also increase default buffer sizes"
The docs here need an update: https://www.unidata.ucar.edu/software/netcdf/docs/netcdf_perf_chunking.html

Also the default cache sizes of 10 and 64 MB are laughably small by today's ideas. We can increase them.

[2019-11-19 23:18] dopplershift commented on #1541
Sure there's lots of big iron out there, but there's also a rise in tablets and platforms like the raspberry pi. IMO, any bump in default cache sizes should both keep those platforms in mind and come with a decent set of performance benchmarks to justify the change.

[2019-11-20 13:23] edwardhartnett opened #1543 "Questions of netcdf-4 read performance on GFS surface and atmosphere data files"
We have two sample restart files from the Global Forecasting System (GFS) from NOAA. They are slow to read.

What's up with that?

See comments and sample files from @junwang-noaa in #1520.

[2019-11-20 13:23] edwardhartnett commented on #1520
Let's continue this discussion in #1543

[2019-11-20 16:18] edwardhartnett commented on #1543
OK, I have been looking into this a bit.

I have been looking at file gfs.t00z.sfcf024.nc.

This file is 1087655544 bytes, or 1.09 GB. It is a netCDF-4 classic model file with 153 vars, there are 5 coord-vars, and 148 NC_FLOAT data vars. The data vars have a size of 1 x 1536 x 3072. (This is 4718592 values, or 18874368 bytes ~ 19 MB per var uncompressed.)

Here's a typical example of a data var:

[2019-11-20 16:21] edwardhartnett commented on #1543
@junwang-noaa in the other discussion you say:

I have looked at the sfcf file, and the data *are* compressed (deflated). Do I have something incorrect here?

[2019-11-20 17:00] edwardhartnett commented on #1543
Some quick results from the surface data file:
* Reading the original netCDF4 compressed file takes 8 s.
* Reading a classic version of the same file (uncompressed) takes 4 s.
* Reading a netCDF-4 uncompressed version of the file takes 1.5 s.

So compression is a significant factor here. However, it brings considerable benefit. Uncompressed, the surface file is 2.87 GB. Compressed it is only 1.09

[2019-11-20 18:37] junwang-noaa commented on #1543
Thanks  lot for the analysis!  As you pointed out it's critical to have
compressed data as we are increasing vertical resolution. For the atm file
with 3D fields, we use lossy compression, which further reduced the data
size, but it also takes even longer.

On Wednesday, November 20, 2019, Edward Hartnett <notifications@github.com>
wrote:

[2019-11-20 18:47] edwardhartnett commented on #1543
I find no indication of lossy compression in the file. Here's what I am seeing:

[code]

[2019-11-20 20:46] junwang-noaa commented on #1543
We are using nbits=14 for lossy compression, deflate=1, the data itself is
real4.

cld_amt:nbits = 14

On Wednesday, November 20, 2019, Edward Hartnett <notifications@github.com>
wrote:

[2019-11-20 20:55] edwardhartnett commented on #1543
OK, what do you mean by nbits=14 for lossy compression? I see that the deflate level is 1, but the netcdf-4 deflation of vars has nothing to do with nbits... Did you apply some transformation on the data before you wrote it?

Each value is currently stored as a deflated 16-bit floating point. Is that what you intend?

[2019-11-20 21:16] junwang-noaa commented on #1543
We actually did transform the code before writing them. The code was done
by Jeff Whitaker using method from doi:10.5194/gmd-10-413-2017. We are
using nbits=14 for the data sets I provided.

  elemental real function quantized(dataIn, nbits, dataMin, dataMax)
    integer, intent(in) :: nbits
    real(4), intent(in) :: dataIn, dataMin, dataMax
    real(4) offset, scale_fact
    ! convert data to 32

[2019-11-20 21:19] edwardhartnett commented on #1543
OK, thanks for that info.

Here's a chart showing the read rate (MB/s) for various combinations of chunksizes, deflation, and shuffle.

The thing to note here is the difference between all combinations with no deflation (the ones that are very high). As we see, uncompressing the data is a major factor in read rate:

![Read Rate for GFS Surface Restart File](https://user-images.githubusercontent.co

[2019-11-20 21:45] edwardhartnett commented on #1543
Does the shuffle filter help when compressing these float data? Yes it does, across a wide range of chunksize choices.

![Effect of Shuffle Filter on GFS Surface Restart File](https://user-images.githubusercontent.com/38856240/69279962-a3dd0580-0ba2-11ea-8c09-f82380697cd1.png)

I thought that the shuffle filter would make reads slower, but it has the opposite effect:

![Read Rate vs  Shuffle Filte

[2019-11-20 22:29] junwang-noaa commented on #1543
Sorry, I just realized that you are working on surface file. The two files
are avtually model forecast  output(history files), they are not restart
files. The surface file is lossless compression due to the land sea mask
issue. So nbits is not applied.  The atmf file is lossy compressed using
the method I just described.

Does the figure below means the surface file is compressed more with
shuffle

[2019-11-21 12:00] edwardhartnett commented on #1543
Yes, the surface file is faster and more compressed because you have used the shuffle filter.

I am going to take a look at the atmosphere file today.

So far it looks like netcdf-4 is a good deal faster than netcdf classic, until you turn on compression. THere's no free lunch! When you compress the data, it takes extra time to uncompress.

However, you should not be seeing the slowdown that you a

[2019-11-21 14:18] edwardhartnett commented on #1541
Some points:
* HPC systems typically are not much different from desktop platforms, there are just lots of  processors. So each processor will have a generous amount of memory, but not much different than they would have on a linux workstation.
* 64 MB, our current buffer size, is tiny even for rasberry pis and tablets. Tablets typically have gigabytes of memory. Rasberry Pis now have 512 MB.
* Th

[2019-11-21 15:35] Try2Code opened #1544 "fortran flags in nc-config"
hi!

this is just a question regarding Fortran and C. In the current release 4.7.2 the nc-config has several fortran related information:

[code]

why is this the case? netcdf-fortran has its own ```nf-config``` script and netcdf_c has not relation to fortran, hasn't it?

thx in advance
try2

[2019-11-21 15:54] edwardhartnett commented on #1543
I wondered last night whether some buffering might be going on which was impacting the re-read time for these files. So this morning I changed the program to make a copy of the written file, and re-read that copy; This will defeat any buffering that is going on.

But the results are the same.

When comparing netCDF-4 and netCDF classic, netCDF-4 is 2 or 3 times faster reading the file

When compre

[2019-11-21 20:11] dopplershift commented on #1541
Some good points. All I'm saying is we shouldn't just blindly assume every platform is capable--that doesn't mean that defaults shouldn't be better optimized.

I would think that if the current defaults are "laughably small", then demonstrating performance improvements with updated defaults should be trivial. Just my $0.02.

[2019-11-21 20:18] edwardhartnett commented on #1541
Yes, I see about a 10% improvement by increasing it, at least every circumstance I've measured.

I am doing some work on some NOAA GFS history files (see #1543 ) and I will write up my results, which will include the buffers. I'm also going to contact the HDF5 team for some clarification and advice.

Another thing I need to look into is seeing what happens if I set it too high for a particular mac

[2019-11-21 20:29] edwardhartnett opened #1545 "NetCDF needs better and faster compression, especially for HPC applications"
This issue is for general discussion about improving the compression capability of netCDF. I will address specific ideas in their own issues.

Compression is a key feature of netCDF-4. Whenever I ask why netCDF-4 was selected, the answer is always because it's netCDF, with built in compression. That is, the API is already understood and all the read program are working, and it's easy to turn on co

[2019-11-21 20:29] dopplershift commented on #1541
10% for "free" is pretty significant.

[2019-11-21 20:35] edwardhartnett opened #1546 "Allow users to turn on szip compression for variables in netCDF-4 files"
HDF5 offers native access to zlib and szlib compression. However, at the time I wrote netCDF-4, szlib had an unclear license. So Russ and I decided to make it a read-only capability in netCDF-4. That is, you can read HDF5 files written with szlib, but you could not create them.

(Probably we were being too cautious anyway. HDF5 uses it and no one cares.)

The szip compression library is beloved by

[2019-11-21 20:46] edwardhartnett opened #1547 "Provide a standard way to do data packing (which does not break existing, non-standard methods)"
By packing I mean taking a 32-bit or 64-bit float array, calculating a scale and offset, and storing values as short ints. In this way a 32 or 64 bit data type can be stored in 16 bits.

Of course people have been doing this for a long time, but we have no official way to do this in the netCDF library. I suggest we add one.

So lets say I can do:

[code]

That defines a var that is a double, store

[2019-11-21 20:51] edwardhartnett opened #1548 "Provide a way to do bit grooming before compression"
In the NOAA GFS data files they are doing something neat to get better compression. They are zeroing out a bunch of bits they don't care about in the float.

For this to work, all we need to know is the number of bits. So we could have:

`nc_def_var_smoothing(ncid, varid, nbits);
`

to turn this on.

For some code from Jeff Whitaker see #1543. (They call this "quantizing" and maybe that's a better

[2019-11-21 20:53] edwardhartnett opened #1549 "Provide a way to do jpeg compression"
Jpeg compression is great. All the kids are using it. So it would be great if it would be well supported in netCDF-4.

With @DennisHeimbigner filter work, this should be straightforward.

This is part of #1545

[2019-11-21 20:54] WardF commented on #1544
@Try2Code This is legacy code that predates `4.7.2` by quite a bit; I suspect it harkens back to when `libnetcdf` was a monolithic library providing the Fortran/C++/C interfaces from a single library.  When the interfaces were separated out, I surmise that this was done so that workflows that queried `nc-config` wouldn't need to be changed to also query `nf-config`, etc.

Thanks, I hope this answe

[2019-11-21 20:54] #1544 closed

[2019-11-21 20:54] edwardhartnett commented on #1315
This is part of #1545

Elena has promised me some help doing this after the AGU/AMS madness is over.

[2019-11-21 20:56] edwardhartnett commented on #1544
I wonder however if it is correct information?

If I build netcdf-c then build netcdf-fortran, how does netcdf-c know where I will put netcdf-fortran?

[2019-11-21 20:58] WardF commented on #1544
It invokes `nf-config` dynamically if found, it isn't baked in when nc-config is generated from nc-config.in.

[2019-11-21 20:58] WardF commented on #1544
[code]

[2019-11-21 21:05] edwardhartnett opened #1550 "Provide zlib compression in a classic format"
This is one I'm not going to do in the near-term, as I have more than enough to keep me busy with netCDF-4 and PIO! ;-)

But it seems like it would not be too hard to use zlib in one of the classic formats. I believe the only difference is that you would have to store both offsets and lengths of blocks of data. That is, the lengths would not be calculatable, because they would depend on how the da

[2019-11-21 21:07] WardF commented on #1550
We'd need to come up with a new label than 'classic', since classic netCDF3 files are pretty well defined/documented as not working with compression.  Maybe classic+ or classicc (the extra c is for compression) or something along those lines.

[2019-11-21 21:07] WardF commented on #1550
Ah, you snuck CDF6 in as I commented.

[2019-11-21 22:33] gsjaardema commented on #1545
Re: other forms of compression "getting their own nc_def_var_XXXX function".  Would it not be OK from an API status to instead add an `nc_def_var_compress(compression_type, compression_value)` or something similar such that a new compression type could be added without adding a new API function... Maybe even a `nc_def_var_property()`.  There has to be some way that this can be supported without ad

[2019-11-21 22:34] junwang-noaa commented on #1543
We are working on GFSv16, which will be implemented next year, it is using
netcdf-4.

May I ask how long it takes you to read the two files? Would you please
send us the code of reading the files? If you like, I can send you our code
of reading the files, which is taking 5 mins. Thanks a lot for the analysis.

On Thursday, November 21, 2019, Edward Hartnett <notifications@github.com>
wrote:

[2019-11-21 22:35] gsjaardema commented on #1545
Re: compression for classic formats.  I remember some work from about a decade ago where there were some patches or something to the NetCDF library which provided compression.  I think it wasn't just compressing the resulting file, but instead messed with NetCDF internals to compress on a dataset by dataset basis.  Will try to see if I can find anything referencing that work...

[2019-11-21 22:47] dopplershift commented on #1549
JPEG or JPEG2K? I'm only aware of the latter being used for GRIB.

[2019-11-21 23:26] edwardhartnett commented on #1549
JPEG2K

[2019-11-21 23:27] edwardhartnett commented on #1543
Yes, please send me your code.

Here's code that reads the surface file:

[code]

[2019-11-22 00:11] WardF commented on #1545
@gsjaardema The API @DennisHeimbigner wrote to support filters (`nc_def_var_filter`, etc) is generalizable to different filters. I'm on my phone so can't check the reference at the moment. I don't think we need to define a function for each compression individually.

[2019-11-22 01:58] edwardhartnett commented on #1545
I don't want to get into the idea of just passing a void pointer and it means different things. That's a bit much. So I believe we will have separate functions for separate compression methods. I'm willing to reuse as much as possible, but different methods have different numbers and types of parameters.

[2019-11-22 02:33] WardF commented on #1545
This may need to be a broader discussion before we go too far with the implementation, it’s important we maintain coherence with the approach. Are you suggesting a handful of specialized API calls for a closed set of new compression algorithms? Or are you suggesting an open ended “every new compression method requires new functions?” The latter seems like it could expand quickly, and is not in lin

[2019-11-22 05:40] junwang-noaa commented on #1543
Thanks for sharing the code. Our code is in Fortran, I may change it to
Fortran to see if it improves the reading speed.

One of our code to read these files is in POST processing. You can find it
on github at:

https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/INITPOST_GFS_NETCDF.f

Please let us know if you see anything that slows down the reading process.
Thanks.

On Thu, Nov

[2019-11-22 06:47] Try2Code commented on #1544
thx for clarification. So with 4.7.2 this is planed to be removed?

[2019-11-22 07:26] sluehrs commented on #1545
From my side I think the available `nc_def_var_filter` is already pretty powerful for the netcdf4 format. E.g. I did some tests using ZFP (https://computing.llnl.gov/projects/floating-point-compression) within a parallel program (in a brute force way, by removing the parallel checks from the netcdf4 code, which normally blocks parallel filter calls). This worked pretty fine, e.g.:
[code]
Of course

[2019-11-22 10:54] edwardhartnett commented on #1545
I believe having a different nc_def_var_XXXX() for each compression method is perfectly acceptable and also in accordance with what we already have.

The post of @sluehrs actually proves my point. It does not sound easy! If I am to describe how to turn on compression to NOAA programmers, I need to just tell them a function, like nc_def_var_deflate().

I am perfectly willing to have a function cove

[2019-11-22 10:58] edwardhartnett commented on #1543
Seems like everything is happening in subroutine read_netcdf_2d_scatter(), but that is not included with the code. Where is it?

[2019-11-22 10:59] edwardhartnett commented on #1543
Changing to Fortran should not and will not change the speed vs. the C library. Fortran is just a thin wrapper around the C functions. It just changes order of dimensions, and adds 1 to all the stuff (like count, start, stride) which is 0-based in C.

[2019-11-22 14:31] renato2099 opened #1551 "NetCDF: HDF error"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
netcdf-c v4.7.3 and also master
using hdf5-1.10.5

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
Ubuntu 16.04
CXX=clang++-7.0 CC=clang-7.0
For compiling HDF5 I used:
`CXX=clang++-7.0 CC=clang-7.0 cmake -DCMAKE_INSTA

[2019-11-22 14:50] junwang-noaa commented on #1543
The subroutine read_netcdf_2d_scatter is in INITPOST_NETCDF.f.

https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/INITPOST_NETCDF.f
<https://github.com/NOAA-EMC/EMC_post/blob/develop/sorc/ncep_post.fd/INITPOST_GFS_NETCDF.f>

It's good to know the Fortran wrapper does not change the speed. Thank you!

Jun

On Fri, Nov 22, 2019 at 5:59 AM Edward Hartnett <notifications@github.com>

[2019-11-22 15:06] edwardhartnett commented on #1543
One good test would be to turn off compression. Can you easily do that?

If so, then we can see how much of your delays are caused by uncompressing the data.

[2019-11-22 15:11] edwardhartnett commented on #1543
Seems like you are reading the values, then copying them one by one into another array. Why not just read them to the destination array in one operation?

          do l=1,lm
          do j=1,jm
!            jj=jm-j+1
            jj=j
            do i=1,im
              dummy(i,j,l)=dummy2(i,jj,l)
              if(dummy(i,j,l)==spval_netcdf)dummy(i,j,l)=spval
            end do
           end do

[2019-11-22 15:31] edwardhartnett commented on #1551
Can you open the file with a C program? (That is, without ncdump).

Try a program that does something like this:

[code]

Make sure you check the return codes. Also, upload a copy of the file.

Did this work with previous versions of netCDF?

Also you say you converted a HDF5 into NC4? How exactly? You should be able to read the original HDF5 file directly with netCDF, with no conversion necessary

[2019-11-22 15:34] edwardhartnett opened #1552 "Benchmarking program nc_perf/bm_file.c has integer overflows when used on really big files"
The benchmarking program bm_file.c in nc_perf has some good old-fashioned integer overflows when used on a really big file, like the one under investgation in #1543

I have a new version of bm_file.c with these fixed. I will submit a PR shortly.

[2019-11-22 15:50] edwardhartnett opened #1553 "We need to change the way we set caching, because HDF5 has changed..."
I was looking into caching as part of #1543 and I found a problem.

We have the following cache setting set/get functions:

[code]

Note that we are setting size, nelems, and preemption.

But the HDF5 function is: H5Pset_cache() (see https://support.hdfgroup.org/HDF5/doc/RM/RM_H5P.html#Property-SetCache)

This function now takes an extra parameter, nslots:

`herr_t H5Pset_cache(hid_t plist_id, int

[2019-11-22 15:53] edwardhartnett commented on #1553
on the other hand, as I read the docs, nslots is exactly what nelems was. So I'm not sure what the difference is supposed to be. Maybe we just leave our API alone and set nslots in addition to nelems, to the same value?

[2019-11-22 16:24] gsjaardema commented on #1545
I do not have a concrete proposal at this time.  But, I know of several compression algorithms, both lossy and non-lossy, and the thought of adding support for all of these to NetCDF through a new API function seems non-tenable.  Some of these may be niche solutions -- e.g. they work only for an unstructured mesh representation -- and may not be worthwhile to have them fully supported in every ins

[2019-11-22 16:29] junwang-noaa commented on #1543
Ed,

The destination array is on decomposed domain. So what we did is to read
the field into a temporary array, check undefined value, then scatter it
onto decomposed domain. I agree the dummy in the code below is not needed.I
guess it's there because previous GFS output has bottom-up vertical
structure, which is different from UPP (top down) that is used by several
models.

I am traveling back to

[2019-11-22 20:05] edwardhartnett commented on #1545
@gsjaardema you make some excellent points, and all of these must be kept in mind as we move forward.

To address one issue, which is how do compression methods interact with formats: right now, none of the classic formats can use zlib. When one (or more) can, then yes, I would expect we would use the same nc_def_var_deflate() function; it would then work for both netcdf-4 and whatever classic for

[2019-11-22 22:45] #1539 closed

[2019-11-22 22:45] #1534 closed

[2019-11-22 23:28] WardF commented on #1544
@Try2Code No, no plans to remove this.

[2019-11-22 23:54] dopplershift commented on #1545
I know some. What do you mean by "handles unpacking"?

[2019-11-22 23:58] dopplershift commented on #1545
Also please bear in mind that any core netCDF functionality that gets added to the C library has to be added to netCDF-Java, at least as far as read support is concerned.

[2019-11-23 00:05] dopplershift commented on #1549
JPEG2K does seem to be popular. The library implementations of this compression are also complex and can be challenging to build. conda-forge only recently got windows builds for Jasper (with the 2.x series). OpenJPEG seems to be better, but for some reason I only recently learned of its existence--which makes me wonder about it.

On the Java side, there's JJ2000--which we seem to be the only main

[2019-11-23 13:08] edwardhartnett commented on #1549
This is what is used by GRIB, the greatest competitor to netCDF and a data format we should all want to see in the dustbin of history.

So I am sure we can do better at this than GRIB, despite the difficulties.

[2019-11-23 14:46] edhartnett commented on #1545
@dopplershift by "handles unpacking" I mean it will automatically apply the scale/offset parameters and change a packed short into an unpacked float. Am I correct that python netCDF-4 library does this?

[2019-11-23 16:23] edhartnett opened #1556 "Can netcdf support unsigned types in all classic formats?"
I am looking at some data from the wonderful and amazing Geostationary Lightning Mapper (GLM) instruments on GOES-16 and GOES-17. Here's something from their data file README:

Which made me wonder, how come the classic formats don't support unsigned types? I know that CDF5 does, but how about CDF1 and CDF2?

It seems like this should be pretty easy. The unsigned types are the same sizes as existi

[2019-11-23 18:04] dopplershift commented on #1545
Yes, it can (optionally) handle scale/offset unpacking.

[2019-11-23 20:27] t-b commented on #1556
According to https://cdn.earthdata.nasa.gov/conduit/upload/496/ESDS-RFC-011v2.00.pdf only signed integers are supported. And if you would add support for unsigned types you are basically creating a new fileformat or? I do know that as we've written a proprietary tool to read all kinds of netcdf classic files. How would old netcdf libraries handle unsigned variables? Would they crash or error grace

[2019-11-24 01:59] Dave-Allured commented on #1551
I can read the file **3B.nc4** successfully and completely with **ncdump-4.7.3** and **HDF5-1.10.5** on **Mac OS 10.14.6** (Mojave).  However, I find two strange things about this file.

* The file time stamp is October 15.  This pre-dates the **netcdf-c-4.7.3** release.  Therefore I assume that your problem is specifically with **ncdump-4.7.3**, and not the nccopy version that made this file.

*

[2019-11-24 02:15] Dave-Allured commented on #1551
Also please show the last line of `ncdump` with no file or other arguments.  This shows another clue about your `ncdump` version.

[2019-11-24 14:19] edhartnett commented on #1556
@t-b good questions!

That document you cite has my name on it, but I don't remember writing it. ;-)

However, it is from 2008 and is out of date, as one might expect. The CDF5 is a new classic format, which allows unsigned types, and is not mentioned in that document.

[2019-11-24 21:48] ArchangeGabriel commented on #1546
Interesting, didn’t now that they turned to free software licensing (can you give a link for this though, I still read “free for non-commercial use”?). We were relying on [libaec](https://gitlab.dkrz.de/k202009/libaec/) to provide szip support on Arch, maybe we should re-evaluate that then.

[2019-11-24 23:38] opoplawski commented on #1338
Any progress here?  I have to admit that I think the error is different now than before:
[code]
Still seeing it with 4.7.3.

[2019-11-25 13:26] renato2099 commented on #1551
Thanks for the prompt reply @edwardhartnett !
I found the problem with some debugging. The problem was that on my installation I removed zlib library, and although everything compiled properly, I would just get that error.
I fixed the problem by making hdf5 to enable support for zlib

` CXX=clang++-7.0 CC=clang-7.0 cmake -DCMAKE_INSTALL_PREFIX=/opt/hdf5 -DHDF5_ENABLE_Z_LIB_SUPPORT=ON ..`

I think

[2019-11-25 13:26] #1551 closed

[2019-11-25 13:41] edwardhartnett opened #1557 "Do autotools and cmake build correctly handle case of HDF5 built without zlib?"
We had a user report a HDF5 Error problem. Turns out that his HDF5 was not built with zlib. Building HDF5 with zlib is required for netCDF-4 (szlib is optional). See #1551

This is something that should be checked by both build systems.

[2019-11-25 13:43] edwardhartnett commented on #1545
Seems like automatic handling of unpacking is something the netcdf-c library could do as well.

Perhaps a new mode flag for nc_open/nc_create, NC_UNPACK, which would indicate that this should be done.

[2019-11-25 13:45] edwardhartnett commented on #1519
OK, let's withdraw my perhaps too-critical evaluation of the history of this issue.

Nonetheless I believe it's time to put this to rest and remove this code. @Ward, may I proceed with this and present a PR?

[2019-11-25 13:59] edwardhartnett commented on #1557
OK, in the autotools build, this is not correctly handled. However, make check fails on netcdf-c like this:

[2019-11-25 14:09] edwardhartnett commented on #1557
I have asked HDF5 support what is a good way to detect if HDF5 was built with zlib...

[2019-11-25 14:14] edwardhartnett commented on #1553
OK, it seems that this change has already been made, perhaps by me. ;-)

When I look in the code, I see that we are using the correct parameters. From hdf5create.c:
[code]

Here's the HDF5 prototype:

`herr_t H5Pset_cache(hid_t plist_id, int mdc_nelmts, size_t rdcc_nslots, size_t rdcc_nbytes, double rdcc_w0)
`

So although we call this nelems, we are actually using this for nsliots. I will documen

[2019-11-25 17:37] Dave-Allured commented on #1556
Why not simply use the existing and time-tested facilities of Netcdf-4 for enhanced support such as unsigned integers?  Where is there any advantage of expanding classic format capabilities?

[2019-11-25 18:01] WardF commented on #1519
@edhartnett Sounds good, as I've heard no objections. We've allowed plenty of time for any workflow/wilderness issues to surface, so I'm comfortable we aren't breaking an unusual corner cases. Thanks!

[2019-11-25 20:05] brentd42 opened #1558 "udata.grps in libhdf5/hdf5open.c rec_read_metadata() may be uninitialized during BAIL() exit processing"
Version: 4.7.1
Operating System: Windows, Linux, MacOS

The _rec_read_metadata()_ function in libhdf5/hdf5open.c may terminate early on error conditions by invoking the _BAIL()_ macro. _BAIL()_ jumps to the 'exit:' label, where there's an attempt to clean up the child groups as specified by udata.grps. Unfortunately, _BAIL()_ may be invoked prior to udata.grps being initialized (statement 2567). I

[2019-11-25 21:45] dopplershift commented on #1545
netCDF should tread carefully in considering this kind of feature. Right now, as far as I'm aware, the netCDF library does not do any semantic interpretation of metadata. The only functionality is about managing mapping the data model to the storage layer.

Interpreting user metadata is a whole new ballgame, and arguably increases the scope of the library. I'm not expressing support or disdain for

[2019-11-25 22:07] edwardhartnett commented on #1558
Thanks! I will fix...

[2019-11-25 22:56] edwardhartnett opened #1559 "Cache functions in libhdf5/hdf5cache.c don't appear in Doxygen docs"
The Doxyfile.in does not include the file libhdf5/hdf5cache.c, but it should.

As a result the caching functions are not in the documentation.

I will submit a PR shortly.

[2019-11-25 23:55] WardF commented on #1338
I'm able to duplicate the issue but have not had a chance to work on it these last couple of weeks.  I will switch gears and take a look, we are hindered by the slowness of the qemu machine, but we should be able to get this sorted out.  The 'fail 134: permission denied' is an interesting one, I wonder how many of the subsequent failures are the result of not being able to access a particular file

[2019-11-25 23:56] edwardhartnett commented on #1541
After studying this issue and running some benchmarks I believe we should increase the cache to 16 MB from 4 MB. The attached chart shows the improvement in a newly developed benchmarking program which does random record reads of a file. (Reading a file in one pass is not a good way to measure cache performance, as it does not give the cache a chance to do anything.)

![Time to Read 10K Random Rec

[2019-11-26 00:02] WardF commented on #1541
If I wanted to recreate this on a raspberry pi or other 'small' platform, for the sake of curiosity, how would I go about that; is the newly developed bencharking program part of the PR, or completely outside of NetCDF, or somewhere inbetween?  I'm also curious what happened when you set it too high, did you see the dreaded segfaults? The results look pretty good.

Thanks Ed, have a good Thanksgiv

[2019-11-26 00:05] edwardhartnett commented on #1541
The benchmarking program is part of the build (after PR is merged). It is nc_perf/tst_bm_rando.c. It will run fine on raspberry pis.

I did not get segfaults for setting this too high. It seemed to be ignored. In any case, 16 MB will not be too high, even for raspberry pi.

[2019-11-26 00:07] WardF commented on #1541
I don't expect it will be too high, but I do like running experiments and generating numbers, and it is worth doing to satisfy my curiosity if nothing else :). I'm looking at the PR now, thanks Ed!

[2019-11-26 09:58] t-b commented on #1556
And I found http://cucis.ece.northwestern.edu/projects/PnetCDF/CDF-5.html which documents the changes of CDF5 vs CDF1/2.

@Dave-Allured Good point! I would be in favour of keeping the classical formats as they are as well.

[2019-11-26 13:18] edhartnett commented on #1556
OK, I believe @t-b and @Dave-Allured have raised some excellent points and CDF1 and CDF2 should be left alone. However, we do need to change our description of classic vs. enhanced model.

[2019-11-26 13:18] #1556 closed

[2019-11-26 13:19] edhartnett commented on #1520
The parallel I/O build issue has been fixed by the 4.7.3 release, so I will close this issue.

[2019-11-26 13:19] #1520 closed

[2019-11-26 14:11] edhartnett commented on #1533
Thanks! CMAKE_FIND_ROOT worked well. Thanks also @kprussing for fixing the FAQ!

[2019-11-26 15:06] #1533 closed

[2019-11-28 12:21] Liu-Richard opened #1562 "NetCDF: HDF error"
OS:centOS7.6
server: aarch64 arm
gcc： 4.8.5
cmake :2.8.12
hdf5:1_8_21
netcdf:4.7.0
issue:
I compiled hdf5 and netcdf and installed them  in arm server.also compiled and installed gmt(5.4.5) successfully.
but when I run gmt, issue found:

[root@localhost home]# gmt pscoast -JM10c -R70/140/2/60 -Bafg -Ggray -Wthin > map.ps
pscoast: NetCDF: HDF error [GSHHG low resolution shorelines]
pscoast: No GSHH

[2019-11-28 13:34] edwardhartnett commented on #1562
Firstly, upgrade to the latest release of netcdf-c, which is 4.7.3.

Also, did you run make check after building netcdf-c?

[2019-11-28 14:01] Liu-Richard commented on #1562
tthanks, The result of make check as follow:
============================================================================
Testsuite summary for netCDF 4.7.0
============================================================================
# TOTAL: 26
# PASS:  25
# SKIP:  0
# XFAIL: 0
# FAIL:  1
# XPASS: 0
# ERROR: 0
============================================================================
See h5_tes

[2019-11-28 14:06] edhartnett commented on #1562
Was HDF5 built with zlib? It must be, for netcdf-4.

Unfortunately this problem is not detected by netcdf-c configure, as it should be. I am working on that... (see #1557).

To check, rebuild HDF5 (use 1.10.5) and ensure that it is finding and building with zlib. Then rebuild netcdf-c using that HDF5 build.

[2019-11-28 14:59] Liu-Richard commented on #1562
@edhartnett  thanks a lot
I built hdf5 with zlib(--with-zlib) and issue is solved
but I found netcdf has other error when I make check :
PASS: t_dap3a
PASS: test_cvt3
PASS: test_vara
PASS: tst_ncdap3.sh
PASS: tst_ber.sh
FAIL: tst_remote3.sh
PASS: tst_formatx.sh
PASS: testurl.sh
PASS: tst_fillmismatch.sh
PASS: tst_zero_len_var.sh
PASS: test_partvar
FAIL: test_varm3
FAIL: test_nstride_cached
PASS: t

[2019-11-28 16:04] edhartnett commented on #1562
OK, those are dap tests, which might mean the remote server is down, or your system cannot connect to it on the internet. Try adding --disable-dap-remote-tests to configure and build netCDF again.

[2019-11-28 17:00] Liu-Richard commented on #1562
@edhartnett  Thanks a lot. happy thanksgiving day

[2019-12-01 14:08] edhartnett opened #1563 "old texinfo docs can be removed from current repo"
In docs/old we still have the old texinfo docs, assembled by me, last worked on more than a decade ago.

Any differences between the old texinfo docs and the current docs are the result of changes in the library and documentation over time. There is nothing in the texinfo docs that is not in the current docs.

So these can be removed from the current repo. Of course they are always still available

[2019-12-01 15:51] edhartnett commented on #1558
Thanks again! Fix is up in a PR now.

[2019-12-01 16:27] edhartnett commented on #1500
Any further information here?

[2019-12-01 16:29] edhartnett commented on #1462
OK, this issue can be closed, as this appears to be an MPI implementation issue.

[2019-12-01 22:11] edhartnett commented on #1413
OK, I have a fix for this, sorry it took so long. ;-)

@jswhit it would be great if you could grab master after these changes are merged to see if this works better for you.

[2019-12-01 22:13] edhartnett opened #1567 "need more tests for vars with multiple unlimited dims"
Having multiple unlimited dims can result in some pretty complex behavior.

See #1413 for the kind of bug that can result from poor handling of the complexities.

I think more tests really working out nc_get_vars_*() reads for vars with multiple unlimited dims would be a good idea. Particularly when the dimension has been extended by some other dataset or action, and the dataset for the var is sma

[2019-12-02 00:04] epourmal commented on #1553
Ed,

Documentation @ https://support.hdfgroup.org is not supported. Please use https://portal.hdfgorup.org instead for the current documentation.

We didn't touch the function since 1.8.0 release ;-) Please see https://portal.hdfgroup.org/display/HDF5/H5P_SET_CACHE.

Maybe you can also check this function https://portal.hdfgroup.org/display/HDF5/H5P_SET_CHUNK_CACHE that sets chunk cache per each d

[2019-12-02 00:32] epourmal commented on #1545
I hope this information will help you to decide how compression can be extended in netCDF-4.

My personal view is that it is nice to have APIs for most commonly used compression methods and provide a generic API similar to [H5Pset_filter ](https://portal.hdfgroup.org/display/HDF5/H5P_SET_FILTER) that uses filter identifier to set compression for user-defined methods.

On another hand, please notic

[2019-12-02 00:36] epourmal commented on #1549
Please see [JPEG HDF5 filter ](https://bitbucket.hdfgroup.org/projects/TEST/repos/hdf5_plugins/browse/JPEG) supported by Mark Rivers <rivers@cars.uchicago.edu>

[2019-12-02 00:41] epourmal commented on #1546
There is SZIP implementation from [German Climate Computing Center](http://www.dkrz.de/) that has BSD type license. It is fully compatible with SZIP supported by The HDF Group. You can get the source from [here](https://www.dkrz.de/redmine/projects/aec/wiki/Downloads).

[2019-12-02 00:44] epourmal commented on #1462
We confirmed in HDF5 that this is MPI I/O library issue. See [HDFFV-10882](https://jira.hdfgroup.org/browse/HDFFV-10882).

[2019-12-02 14:01] edhartnett commented on #1553
Thanks! Maybe you should take down your old docs - it's what google sent me to when I googled the function name...

[2019-12-02 17:15] edwardhartnett commented on #1543
Jun,

I have not abandoned this, but I need to get my poster together for AGU! ;-)

If you are at AGU, I hope you come by and see me. I'll be in the poster section Wed morning.

[2019-12-02 18:58] czender commented on #1548
I support adding lossy compression to netCDF. However, bit smoothing is sub-optimal because it always rounds down. Bit Grooming alternately rounds up (to 1s) and down (to 0s) which reduces the statistical biases of rounding by orders of magnitude. See the comparisons in:

Zender, C. S. (2016), Bit Grooming: Statistically accurate precision-preserving quantization with compression, evaluated in the

[2019-12-02 19:55] #1462 closed

[2019-12-02 20:27] ArchangeGabriel commented on #1546
@epourmal Yeah, just as I implied above, this was the de-facto replacement when SZIP was non-free. But if they are now free, re-evaluating SZIP vs libaec might be interesting.

[2019-12-02 22:18] #1519 closed

[2019-12-03 03:36] junwang-noaa commented on #1543
Ed,

Thank you very much for thinking of this issue. I am not going to AGU, I
understand you have other commitments, really appreciate that you took time
working on the data sets. We plan to switch to netcdf format for GFSv16
implementation, it will benefit all the downstream jobs if we can speed up
the reading. I have another question, does Netcdf4 now use HDF1.10.2 and
later version that support

[2019-12-03 14:38] edwardhartnett commented on #1543
Yes, netcdf-c does work fine with HDF5-1.10.5, and you would be well advised to upgrade to that if you have not already. (1.10.4 has a parallel I/O bug.)

We cannot yet write compressed data in parallel, but I hope to get that working early in the next year (after AGU).

WHen you say you plan to switch to netCDF format for GFSv16, what was being used before that? (Or did you mean you are switching

[2019-12-03 15:58] edwardhartnett commented on #1548
@czender excellent point! And great reference.

I propose to add this to netcdf-c after the agu. I am thinking of the following functions:

nc_def_var_quantize(ncid, varid, nbits)
nc_inq_var_quantize(ncid, varid, &nbits_in)

These would only apply to NC_DOUBLE and NC_FLOAT, calling with any other type will return an error.

nc_def_var_quantize() will add an attribute _netcdf_nbits=12 for example.

[2019-12-03 16:09] czender commented on #1548
You are welcome to use the NCO code lines 576--860 (not all are necessary) of https://github.com/nco/nco/tree/master/src/nco/nco_ppc.c

[2019-12-03 16:11] edwardhartnett commented on #1548
@czender I was already planning to steal your code. ;-)

[2019-12-03 16:22] WardF commented on #1548
Tagging in @lesserwhirls and @DennisHeimbigner to this discussion, so that we can consider the potential impact on NetCDF java as well. Adding the FORTRAN and C++ interfaces shouldn’t be a problem.

[2019-12-03 16:28] edwardhartnett commented on #1548
This will have no impact on Java, because the files can be read in the normal way.

If netCDF-Java would also like to add this feature, that is of course possible. I would not hold back the rest of the netCDF community while waiting for Java.

I will add these calls to the Fortran APIs as well; just forgot to mention it, but of course we want both the F77 and F90 APIs to fully reflect the C API.

[2019-12-03 16:47] edwardhartnett commented on #1548
Also would welcome input from @jswhit and @gsjaardema on this issue...

[2019-12-03 16:58] lesserwhirls commented on #1548
I assume we’re talking about something like this?

https://www.unidata.ucar.edu/blogs/developer/en/entry/compression_by_bit_shaving

We don’t have a way of doing this (writing) via the netCDF-Java API currently, but would be easy to add (have code in our tests). Could also tie in to whatever the C library ends up doing since we use the C library for writing. Reading won’t be an issue.

One questio

[2019-12-03 17:29] edwardhartnett commented on #1548
@lesserwhirls this is part of a larger discussion about netcdf-c and compression. See #1545

I was going to ask if netcdf-java is now using the C library. You say for writing only? Why is that? Why not read as well as write?

[2019-12-03 18:47] WardF commented on #1548
@lesserwhirls no problem, I don't want to (potentially) add to your roadmap/workload without at least waving in your direction first ;).

No particular hurry on this; when lossy compression has come up in meetings or at conferences, the scientists have expressed their... hesitancy to truncate any of their data, even when it objectively contains no information.  The lack of people asking for it mak

[2019-12-03 19:57] lesserwhirls commented on #1548
Note: this was all done before my time, but here is my take.

Writing because, I think, the HDF documentation was too unclear regarding how writing is to be done (for example, chunking, VLEN, I think?) to support all of the features needed to write netCDF-4. We'd need to rope in John Caron for the details.

In terms of reading, we do support reading through the C library, but it's not threads safe

[2019-12-03 20:00] edwardhartnett commented on #1548
@lesserwhirls thanks for the clarifications. Thread-safety is something Denis has been working on I believe.

The classic formats are all still alive and well, for those who don't want to depend on HDF5. That said, HDF5 is an official NASA format that is guaranteed support based on the large amount of very expensive Earth science data NASA owns in HDF5. ;-)

[2019-12-03 20:51] lesserwhirls commented on #1548
I don't doubt the support one bit, and my comments should not be taken as a ding (just in case it came across that way), but knowing that a separate read implementation can be done is certainly a plus :-)

[2019-12-03 23:05] ArchangeGabriel commented on #1500
@edhartnett Sorry for the delay, been quite busy lately. The issue is still happening with 4.7.3, but as reported above it’s likely an OpenMPI issue fixed in a recent patch. I’m trying to get it backported to ArchLinux openmpi package and will report here if it indeed fixes the issue.

[2019-12-04 14:43] edwardhartnett opened #1568 "enable compact storage as an additional storage option for netCDF-4 vars"
HDF5 supports a "compact" storage option. It helps a lot with parallel I/O performance, but may only be used for small variables (< 64 MB).

See #1554 for prototype implementation by @gsjaardema, who suggested this feature.

This can be accomplished without API changes. Currently we have two constants for nc_def_var_chunking():

[code]

By adding NC_COMPACT as a third constant, we can enable compa

[2019-12-04 15:44] edwardhartnett opened #1569 "nc4_adjust_var_cache() not handling parallel I/O correctly"
In nc4_adjust_var_cache() we have this code, which returns for parallel builds without setting the var cache.

However, the var cache should still be set for parallel builds, if parallel I/O is not currently being used.

[code]

[2019-12-04 17:05] DennisHeimbigner commented on #1548
I think this functionality could handled with the current library
since quant can be packaged as jusy another filter.

[2019-12-04 17:10] edwardhartnett commented on #1548
I agree with Elena, although a general purpose filter handling ability is great, it is too complex for most users. As with HDF5, I believe the most common compression methods should be specified in the API, including this one.

[2019-12-04 17:41] czender commented on #1548
As implemented in NCO, Bit Grooming exposes to the user the number of significant digits, then uses an internal table to convert this to minimum number of bits to quantize while preserving the requested number of significant digits. Bits are finer-grained and thus more flexible, yet less familiar to scientists than significant digits. The underlying bit-masking implementation is the same. NCO chos

[2019-12-04 19:41] lesserwhirls commented on #1548
100% agree. I think setting the significant digits is the right call, although if the API could support both, that'd be even better.

@czender - does NCO add any metadata to variables that use Bit Grooming to indicate that the process has been done?

[2019-12-04 22:12] DennisHeimbigner commented on #1545
I guess I need someone to spell out to me why the current netcdf-c
filter API is inadequate for this.

[2019-12-04 23:16] edwardhartnett commented on #1545
Perhaps what is needed is for someone to explain how the filter API can achieve this? ;-)

I will dig into this further after AGU, but the first question I have is, what would it take to turn on one of those other compression filters using the filter API? Because I think the NOAA GFS team would want to use that immediately.

[2019-12-05 03:31] czender commented on #1548
Yes, see http://nco.sf.net/nco.html#number_of_significant_digits and/or the Bit Grooming paper referenced above.

[2019-12-05 16:57] gsjaardema commented on #1548
@edwardhartnett Sorry for not responding earlier, but I think this would be a great capability.

[2019-12-05 17:09] edwardhartnett commented on #1548
Setting significant digits is an interesting take on this. I had not considered it but am certainly not opposed. I agree that for users, significant digits is much more understandable than significant bits. I will study Charlie's paper and then get back with a proposed implementation, after the AGU next week.

[2019-12-05 19:57] edwardhartnett commented on #1543
@junwang-noaa what is your NOAA email? Can you email me at Edward.Hartnett@noaa.gov?

[2019-12-05 21:25] edwardhartnett opened #1571 "growing memory in netCDF library?"
@epourmal reported that netCDF has some memory problem, where memory use grows over time.

I don't want to forget to look into this important issue. Elena, can you provide any more info?

[2019-12-05 21:56] gsjaardema commented on #1571
This is described in HDF5 Forum at https://forum.hdfgroup.org/t/investigating-memory-growth-with-hdf5-netcdf-4/6187

[2019-12-05 21:58] gsjaardema commented on #1571
Down toward the bottom is the following result:

[2019-12-05 22:04] gsjaardema commented on #1571
Here is a patch showing the `hack` referenced in previous comment.
[dataset-close-open.patch.txt](https://github.com/Unidata/netcdf-c/files/3929315/dataset-close-open.patch.txt)

[2019-12-05 23:29] WardF commented on #1513
So for findtestserver, there are legitimate reasons to keep these source files in the source tree, along with other source files.  This is also in line with how our autotools build works for out-of-tree builds.  I'll look at generating the files only if they don't exist; this should help prevent multiple builds from conflicting with each other.

[2019-12-05 23:29] #1513 closed

[2019-12-06 16:58] epourmal commented on #1571
Hi Ed,

I believe I pointed you to [HDFFV-10915](https://jira.hdfgroup.org/browse/HDFFV-10915). Can you see the issue? Please let me know if you still cannot see JIRA issues and do not have access to our repo.

[2019-12-06 19:58] lesserwhirls commented on #1548
Excellent - thank you @czender! `number_of_significant_digits` looks good to me. Maybe also an attribute to for retained bits as well (perhaps as a less visible "special attribute")? At any rate, would want to make sure this gets added to the NUG.

[2019-12-06 20:35] edwardhartnett commented on #1548
I don't think we want to make this a special attribute (i.e. one that is hidden from the user by the netCDF  API).

There's a problem adding to the list of special attributes: earlier versions of netCDF will not know to hide that attribute. So there will be a different number of attributes in the file, depending on library version used to read it.

I believe we can simply add a new attribute, visi

[2019-12-10 16:04] edhartnett commented on #1548
At the AGU I have been chatting with people about this and there is a great deal of interest.

Stephan Siemen, Head of Development for ECMWF, says that compression, including lossy compression, is of great interest for ECMWF data sets, both model output and data from the Copernicus Sentinel satellites.

So we have strong interest from NOAA for their main operational forecasting system (GFS), from

[2019-12-10 18:16] czender commented on #1548
That's great to hear. I'll be at the EarthCube booth (#510)  from 1-2 today (Tuesday) if you would like to chat in person.

[2019-12-10 19:24] WardF commented on #1548
I'll drop by as well, I'd be interested in this conversation. Hope the conference is going well for everybody.  @czender I tried to stop by your poster earlier but, predictably, it was pretty well mobbed.

[2019-12-11 07:40] rkouznetsov opened #1572 "Failure on an .nc file that has _NCProperties attribute"
The issue was originally reported to nco, but seems to be an issue with NetCDF library.
https://sourceforge.net/p/nco/bugs/117/

Here is a copy for a reference.

[code]

$ ncatted -a _NCProperties,global,d,, in.nc
ncks passes. Such situation, probably, could have been handled more intelligently.

As it was pointed out, ncdump (in my case netcdf library version 4.6.0 of Feb  9 2018 19:21:24) fails

[2019-12-11 18:25] mathomp4 opened #1573 "Issue building NCO with latest netCDF (related to #1148 ?)"
All,

Recently I tried building NCO 4.9.0 with netCDF-C 4.7.3 and encountered this:
[code]
This has happened once or twice with NCO and netCDF-C:
https://sourceforge.net/p/nco/discussion/9831/thread/ef2655a6/
https://sourceforge.net/p/nco/discussion/9831/thread/e6faa0b8c1/

These discussions led to #1148 being opened which I believe led to commit 6830cfa4f289601c74b5b8c01768e2d45cd090b7 (given the

[2019-12-11 19:08] Dave-Allured commented on #1573
Recent changes to EXTERNL definition and use of include files are discussed in #1502 and #1507.  This may be related to your build problem.

[2019-12-11 21:29] DennisHeimbigner commented on #1573
My belief was that we had settled on the rule I articulated in https://github.com/Unidata/netcdf-c/issues/1502.
The multiple-definitions error, however is baffling. There appears to be
only one such definition in the code in dfile.c. Nor does it appear
like dfile.c is being compiled twice in Makefile.am or CMakeLists,txt.
If you look at the logs, it may say where the second definition
is coming fr

[2019-12-12 08:03] Dave-Allured commented on #1573
Actually the multiple definition is visible in Matt's excerpt above.  The second definition of nc_open_mem comes from nco_netcdf.c as a consequence of an NCO configure problem.

A fix to the configure problem is proposed in one of the NCO discussion threads above.

[2019-12-12 16:59] DennisHeimbigner commented on #1573
Missed that. so I believe nco can fix without netcdf change.

[2019-12-13 00:38] mathomp4 commented on #1573
Charlie Zender has incorporated @Dave-Allured's [solution](https://sourceforge.net/p/nco/discussion/9831/thread/e6faa0b8c1/#340f/7d78), so I will close this issue.  Thanks all for the help!

[2019-12-13 00:38] #1573 closed

[2019-12-15 16:37] jswhit opened #1575 "possible memory leak opening and closing the same file in a loop"
details in https://github.com/Unidata/netcdf4-python/issues/986

possibly related to issue #1571

[2019-12-15 17:47] DennisHeimbigner commented on #1575
So I ran the test with a smaller iteration count under both
valgrind and gcc -fsanitize and neither reported a memory
leak.

[2019-12-16 18:49] jswhit2 commented on #1575
Memory definitely does increase with iteration count though (on both Linux and OSX) - but only when the file is created with NC_NETCDF4.

[2019-12-16 18:55] edwardhartnett commented on #1575
I have also looked into this.

When built with --enable-benchmarks, the program nc_perf/tst_files2.c looks into memory use.

I have modified tst_files2 to include Jeff's C code. Here's some output from the existing test:

[code]

The thing to look at here is the mem(kb) column, and the num_files. What this is measuring is the memory usage with that many copies of the file open.

However, that is n

[2019-12-16 18:59] jswhit2 commented on #1575
Here's a version that prints out memory usage for every iteration.  Works on OSX at least (not sure about Linux).

[code]

[2019-12-16 19:12] jswhit2 commented on #1575
Just tried this on Linux and found no memory increase with netcdf-4.6.1/hdf5-1.10.4, but a linear memory increase with netcdf-4.7.0/hdf5-1.10.4.

[2019-12-16 19:25] jswhit2 commented on #1575
![memleak](https://user-images.githubusercontent.com/7596057/70936262-2bc9fa00-1fff-11ea-8bf8-e16612eaacb2.png)

[2019-12-16 19:26] edwardhartnett commented on #1575
Can you try with current master?

I put this into tst_files2 and it shows mem usage as constant. 4.7.0 was a long time ago!

[2019-12-16 19:27] edwardhartnett commented on #1575
Here's what I am doing now:

[code]

When I do this I get an unchanging:

`Memory usage: 148468 kilobytes
`

[2019-12-16 19:28] jswhit2 commented on #1575
With 4.6.1 I get an unchanging  7212 kb. Will try to build netcdf-c master today if I get a chance.

[2019-12-16 19:36] jswhit2 commented on #1575
On my mac, same linear increase with netcdf-c master and hdf5-1.10.5

[2019-12-16 22:25] WardF commented on #1575
Interesting.  I'm getting an unchanged 17220kb on Linux, but I see the same linear increase on OSX.

[2019-12-16 22:29] DennisHeimbigner commented on #1575
Can anyone do valgrind or equiv on OS/X?

[2019-12-17 00:06] edwardhartnett commented on #1575
When I do a valgrind on Jeff's code I get a bunch of leaks related to this line of code from ddispatch.c:

`        CURLcode cstat = curl_global_init(CURL_GLOBAL_ALL);
`

The problem seems to be that NCDISPATCH_finalize() is not called. It calls curl_global_cleanup(). As it says in the docs (https://curl.haxx.se/libcurl/c/curl_global_cleanup.html)

The valgrind errors look like this:
[code]

There

[2019-12-17 03:02] Dave-Allured opened #1576 "nc_test/run_diskless.sh: ncgen fails, and error is concealed"
### Environment

- Netcdf-C 4.7.3 with HDF5 1.10.5
- Multiple platforms: Linux, Mac OS
- GCC versions 7.3 and 9.2

### Steps to reproduce

- Standard install of netcdf-c 4.7.3
- configure, make, make check
- Capture console output from make check

### Symptoms

1.  Unit test log file contains unexpected ncgen error message.  Also notice the final status on the last line is **PASS**, when **FAIL**

[2019-12-17 03:07] Dave-Allured commented on #1576
This breaks into two separate issues immediately, but I am reporting them together.

1.  Ncgen fails on an enum inside a compound type.  I am not sure whether this is a real ncgen bug, or a problem in the CDL input.  This appears to be repeatable outside of the test suite.

2.  run_diskless.sh includes an ncdump/ncgen cycle, but fails to properly detect and report a failure within the cycle.

[2019-12-17 18:47] edwardhartnett commented on #1550
OK, we have a bunch of new compression functionality under discussion, but this is not part of that. I will close this issue, but would very much welcome it if some other programmer were to take this idea and run with it.

[2019-12-17 18:47] #1550 closed

[2019-12-17 18:49] edwardhartnett commented on #1562
I think this issue can be closed. THe problem was a HDF5 install without zlib. We are searching for a way to detect that in configure (see #1557). If we can figure it out, we will detect this in configure. Meanwhile, I note that this was actually detected by the test suite, which is good.

[2019-12-17 19:01] DennisHeimbigner commented on #1576
Looks like we have alot to fix here. The enum const in a compound
rings a bell. I think this may reflect either an ambiguity in CDL
or a problem in the library.
In any case, I will try to get up to speed on the underlying cause.

[2019-12-17 20:11] edwardhartnett commented on #1546
So here's the question: how do we handle it when people do not have libaec installed? Some alternatives include:
1 - Fail configure and demand they install it or build with --disable-netcdf-4.
2 - Build, but only include nc_def_var_szip() if libaec is installed?
3 - Include libaec in the builds (both autoconf and cmake), and build and install it if not already present.

3 seems safest - all users

[2019-12-17 20:31] epourmal commented on #1546
I agree, 3 is the safest. You can also include the source of szip with netCDF-4 source code.

[2019-12-17 20:56] Dave-Allured commented on #1576
This problem was originally found by the [ncgen](https://gitlab.com/remikz/nccmp) test suite:
https://gitlab.com/remikz/nccmp/issues/10

Also there is a little more information and a simple reproducer in the original bug report to netcdfgroup:
https://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2019/msg00113.html

[2019-12-17 21:32] epourmal commented on #1546
Forgot to mention that in HDF5 szip is a required filter, i.e., H5Dwrite will fail if the filter is not found for some reason. Do you build HDF5 libraries when you build netCDF-4 or some preinstalled binaries are used (probably both)? You will need to check that HDF5 was built with szip.

[2019-12-17 22:00] edwardhartnett commented on #1546
OK, so szip cannot be installed after HDF5 is built, however, other filters can?

[2019-12-17 22:02] czender commented on #1572
The user attempted to copy a netCDF3 file with the `_NCProperties` attribute into a netCDF4 file. This failed because the attribute was listed as a normal attribute to copy (from netCDF3), and then the netCDF4 API prevented the copying. Now NCO skips attempting to copy `_NCProperties`. Probably this attribute should not be made visible to the attribute inquire functions, nor should users be allowe

[2019-12-17 22:30] edwardhartnett commented on #1548
It was good to discuss this with @czender and @WardF at the AGU! ;-)

I have studied Charlie's paper - it is excellent and does a great job answering all the detailed questions and comparing the different approaches. I agree with Charlie that bit grooming can be a very valuable lossy compression technique, and the fact that NOAA is already using a similar algorithm (and absolutely depends on it to

[2019-12-17 22:32] edwardhartnett commented on #1548
@czender quick question: you support specifying both NSD (number of significant digits) or DSD (decimal significant digits).

Why both? It would seem that NSD would be sufficient. Am I missing something?

[2019-12-17 22:52] czender commented on #1548
NSD is better suited for science. DSD is more familiar to some laypeople who think of significance as how many digits before or after the decimal point. The section of the paper that discusses 800 pound gorillas attempts to convey the possible DSD use-cases. I personally would always use NSD and never use DSD, but I wrote the software for generic purposes that others may find useful.

[2019-12-17 23:18] #1558 closed

[2019-12-17 23:28] WardF commented on #1562
Thanks!

[2019-12-17 23:28] #1562 closed

[2019-12-18 03:15] Dave-Allured commented on #1576
Here are some results from other versions of netcdf-c, including my own tests and other people's reports.

4.4.1.1 -- Correct output file
4.6.2 -- Assertion failure
4.6.3 -- Conflicting reports, fails for me
4.7.0 -- Assertion failure
4.7.2 -- Enum failure
4.7.3 -- Enum failure

So, I guess you would call this a regression.

[2019-12-18 03:21] dopplershift commented on #1546
Does libaec build on windows at all? Conda-forge has windows builds for libaec disabled. I have severe reservations of making this a major feature in netCDF if a major client platform won't be able to use it.

[2019-12-18 03:22] dopplershift commented on #1546
Actually, I'm going to take that a step further: I have HUGE problems with making it possible to use the netcdf-c library to write files that you can't open on Windows.

[2019-12-18 09:34] magnusuMET commented on #1373
Over on the Rust wrapper (https://github.com/mhiley/rust-netcdf) we are wondering how unsafe the library is when multi-threading.

* Could we assume reading from the same file from two places simultaneously is safe?
* Is writing data to one file, and reading data from another safe?

[2019-12-18 14:41] edwardhartnett commented on #1546
@dopplershift this horse has already left the barn. ;-)

With the recent addition of filters, netcdf-c can use any HDF5 filter, which means users can already write netcdf files with any filter. So it is quite possible to write netcdf-4 files which cannot be used on Windows, if there are filters that can't build on windows (and there may be).

I agree that full windows compatibility is a requiremen

[2019-12-18 16:35] jsharpe commented on #1444
Note that a similar issue is with missing a dependency on MPI as well.
This commit:
https://github.com/Unidata/netcdf-c/commit/bc2a3babf9cbe80fa7ae3dec5d7622594a7ae51e introduces a call to find_package(MPI) on MSVC but surely this should be done for all platforms that use mpi as ncdispatch.h includes mpi.h if HDF5_PARALLEL or USE_PNETCDF is defined.

[2019-12-18 20:52] Neumann-A opened #1579 "[CMake] Variable TTL_LIBS debug/optimized keywords are getting eaten"
https://github.com/Unidata/netcdf-c/blob/29d070c50f1d02edbe5796ca9483345441570aab/liblib/CMakeLists.txt#L103

This line removes duplicates of debug/optimized keywords in TTL_LIBS which is probably not intended and screws up the generated targets with missing generator expressions

[2019-12-18 20:58] dopplershift commented on #1546
I'm aware of this. I'm pushing back against adding more APIs to the C library that simplify the process of creating such files and exacerbates this problem. Weren't you just arguing how hard it is to use the filter API so that few people do it and that's why we need the simple API?

That's an easy statement to make when you're not the one fielding support requests over on the netcdf-java repo. I'm

[2019-12-18 22:51] DennisHeimbigner commented on #1546
At least twice now, we (Ward and I) have rejected the idea
of netcdf-c including a bunch of additional filter implementations
because of security and maintenance issues. I for one
still stand by that position.

One partial approach would be to have a new include file,
netcdf_known_filters.h say. This file would contain wrappers
for nc_def_var_filter for specific filter s -- bzip, etc.
These wrappe

[2019-12-19 10:54] jsharpe commented on #1444
I think the issue here is that cmake's current FIndHDF5.cmake file doesn't define any imported targets (the hdf5::hdf5 target) but hdf5 build with cmake defines a cmake config file that does provide this target. See https://gitlab.kitware.com/cmake/cmake/issues/18560 for the upstream discussions regarding this.

So I suspect the best route to fixing this is to ignore the hdf5 provided config files

[2019-12-19 15:27] edwardhartnett commented on #1546
Well this has been a very interesting discussion!

@dopplershift do you object to Dennis' proposal?

@DennisHeimbigner would you be willing to allow me to extend this idea to the Fortran APIs?

I just participated in a NOAA telecom. Zlib is not meeting our operational constraints and we are now looking at other filters, starting with libaec/szlib. Speed of reading is a concern, because zlib is slo

[2019-12-19 15:30] edwardhartnett commented on #342
This issue can be closed. The fortran library is working well with parallel I/O and is tested as such in my Jenkins CI system.

[2019-12-19 16:18] DennisHeimbigner commented on #1546
Having Fortran follow C is fine I am sure.

[2019-12-19 16:20] DennisHeimbigner commented on #1546
One other thing. Is there any agreement in the community about
in picking a replacement for zlib?

[2019-12-19 16:21] edwardhartnett opened #1580 "Allow parallel I/O writes to use zlib"
Allow users to use zlib on parallel writes. This feature is needed urgently by NOAA. No doubt it is desired by many other large data producers.

Large data producers like NOAA are turning to netCDF-4 due to built-in compression. On HPC applications especially, they are writing very large files (10s of GB per file is normal, even with compression).

Since these files are produced on a HPC system, t

[2019-12-19 16:23] WardF commented on #342
I'll close this out but we'll need to open another one here shortly (as soon as I have the bandwidth), as I'm seeing failures with Fortran and Parallel I/O on our internal non-HPC parallel systems.  I'll have full details in the new issue but it relates to `configure` not being able to find MPI_File_open.

[2019-12-19 16:23] #342 closed

[2019-12-19 16:54] edwardhartnett commented on #342
Well hopefully nothing too bad as all of my parallel CI runs for netcdf-fortran are working, including with current master of netcdf-c and netcdf-fortran.

[2019-12-19 17:18] dopplershift commented on #1546
@edwardhartnett I think Dennis' proposal is incomplete because:

that cannot be completely read because it uses missing filters.

I'm not supporting any concept that leads to a proliferation of files that only netcdf-c can read. You're talking about adding features for the explicit purpose of allowing one of the major data creators in our field to create a new variant of files (which I fully suppo