[2022-01-19 22:56] WardF commented on #2189
What platform are you observing this failure on?

[2022-01-19 23:14] WardF commented on #2189
Nevermind my question, I see it in the header of the issue you opened, sorry, thanks :)

[2022-01-19 23:15] WardF commented on #2189
Observing this issue on OSX as well.

[2022-01-19 23:35] WardF commented on #2189
In linux with debug and logging turned on, observing the following.

[code]

[2022-01-19 23:42] WardF commented on #2189
For comparison, the following succeeds (netCDF 4.8.1, HDF5 1.8.21)

[code]

[2022-01-19 23:51] WardF commented on #2189
Note to self: Potential resource to follow up on:

* https://forum.hdfgroup.org/t/fletcher32-filter-on-variable-length-string-datasets-not-suitable-for-filters/9038

[2022-01-19 23:59] WardF commented on #2189
Note to self, I've narrowed this down as a regression between HDF5 `1.10.3` (works) and `1.10.7` (fails).  It is unclear to me as of yet whether or not `fletcher32` on a variable-length datatype variable is valid in the HDF5 API.  I'll investigate this further tomorrow.

[2022-01-20 00:03] WardF commented on #2189
Confirmation that HDF5 `1.10.6` appears to work, I'll have to dig into the release notes.

[2022-01-20 00:07] WardF commented on #2189
From the `1.10.7` [release notes](https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.10/hdf5-1.10.7/src/hdf5-1.10.7-RELEASE.txt), I see the following note.  It is confusing since it seems to indicate, at a glance, the reverse of what we are observing. It will merit further review.

[code]

[2022-01-20 07:44] verduijn commented on #2188
Just wanted to add another data point. I've seen the same issue while building from source using Docker.
As a base `amazonlinux:2` is used with `gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-13)` and after building netcdf-c `v4.6.1` the `make check` fails on the same error.  Previously this image build fine. My "fix" was to add `--disable-dap-remote-tests` to the `./configure` step.

[2022-01-20 17:18] apartridge opened #2190 ""No such file or directory" error when filename contains non-ASCII character"
OS: Windows 10
Visual Studio 2017 (15.9.24)

We noticed a change in behavior when upgrading netcdf, with file names that contain non-ascii characters. The following sample fails with a "Error: No such file or directory" when using netcdf-c 4.8.1. It works on netcdf-c 4.7.0. (Note: We also used some different build options between these builds, but both built towards hdf5 1.10.5).

[code]
Is this a

[2022-01-20 18:49] WardF commented on #2190
@DennisHeimbigner could this be related to the msys pathing work?

[2022-01-20 19:26] DennisHeimbigner commented on #2190
Windows cross UTF8 is known to be tricky because Microsoft refuses to bite the bullet
and get rid of the windows default encoding CP-1252.
Let me try out your test program and see what is going on.

[2022-01-20 19:50] WardF commented on #2189
I'm still taking a look into why this is happening, but the bottom line might be that it might be beyond our control in this circumstance.  It should not, however, fail silently. We'll have to put some thought into how we will best handle this at the netcdf layer.

[2022-01-20 19:56] DennisHeimbigner commented on #2189
We could put in a check in nc_def_var_filter so that if one attempts to add a filter to
a string or vlen typed variable, the call to nc_def_var_filter will fail.

[2022-01-20 20:10] WardF commented on #2189
@DennisHeimbigner Agreed.  I'm uncertain (and can't switch gears at the moment to think about it) whether we want to remove the filter definition when the combination doesn't work and silently proceed, or whether we want to fail with an informative message.  The question is whether we want to break a workflow with a message that explains why, or do we want to simply retain previous behavior (one l

[2022-01-20 20:11] WardF commented on #2189
@abhibaruah for what it's worth, it looks like this test may need some alteration on your end, regardless of how we proceed.  Any HDF5 version 1.10.7+ is going to (from my testing) result in the behavior you're seeing.

[2022-01-20 20:24] DennisHeimbigner commented on #2189
I interpret the HDF5 release notes to mean that if the filter cannot be applied, then it is now
skipped, whereas before it was not and was executed anyway. My interpretations is that this
relates to a function
in the filter API called "can_apply". It is invoked before a filter is used to indicate that the filter
should work or not on the specific variable. So, for fletcher32, this function probabl

[2022-01-20 21:45] DennisHeimbigner commented on #2190
As near as I can tell, in the above code, the 'Å' character is CP-1252, not UTF-8.
There is probably a way to get the visual studio compiler to treat the input file as utf-8,
but I do not know what it is off-hand.

[2022-01-21 10:25] apartridge commented on #2190
@DennisHeimbigner I checked the encoding closer using the following change to the sample, and yes, it is stored as CP-1252. The Å character is stored as 197 (dec) = 0xC5, matching https://en.wikipedia.org/wiki/Windows-1252.  This works with netcdf-c 4.7.0, but not 4.8.1.

We observed this in a GUI  application where we use Qt, we use `qUrl.toLocalFile().toLocal8Bit()` to produce this string. This

[2022-01-23 07:36] matzeri opened #2196 "Lost NOUNDEFINED"
long time ago NOUNDEFINED was added to configure.ac and to the libnetcdf_la_LDFLAGS
to allow shared libs on Cygwin and other platforms

from version 4.5.0 the NOUNDEFINED  was lost in the Makefile.am
and I am adding every time for the Cygwin package.
I will appreciate to be reinstated.

[code]

[2022-01-23 22:25] DennisHeimbigner commented on #2190
Are you in  a position to change the 'qUrl.toLocalFile().toLocal8Bit()'
to produce utf8 and try that; perhaps their exists a '.toUTF8' or similar?

[2022-01-23 22:28] DennisHeimbigner commented on #2190
I ran across a note that says that as of windows 10 build 1903, that the 8 bit functions
can handle utf-8 (assuming the locale is set to .UTF-8.

[2022-01-24 11:00] apartridge commented on #2190
Hi @DennisHeimbigner

I think you are referring to https://docs.microsoft.com/en-us/windows/apps/design/globalizing/use-utf8-code-page.

I have tested modifying the reproducer above, by encoding the Å character in UTF-8 (`"\xc3" "\x85"`), and enabling the Windows setting "Beta: Use Unicode UTF-8 for worldwide language support", following https://stackoverflow.com/questions/57131654/using-utf-8-enc

[2022-01-24 18:52] abhibaruah commented on #2189
Hello Ward and Dennis,
Thank you for working on this.
My understanding from the discussion above is that from hdf5 1.10.7 onwards, invoking a filter on a variable of variable length type will fail.
However, this behavior seems to exist with only fletcher32. I tried using the netcdf function 'nc_def_var_deflate' on a string type variable, and it did not throw any error (I am unsure if the filter is

[2022-01-24 20:05] abhibaruah commented on #2189
Meanwhile, I have also reached out to the HDF group and forwarded them the link to this discussion. Hopefully, they can help us in identifying next steps for the same, and if the behavior in the hdf5 layer is intended or a bug.

[2022-01-24 21:05] DennisHeimbigner commented on #2189
My suspicion is that other filters do not have a can_apply() function or the function
does not forbid variable length types. If correct, then what is compressed is not
the actual data but rather the pointers to the variable length data; the pointer to a string
or the .p field of an hvl_t object.

[2022-01-24 22:34] halehawk opened #2198 "Nccopy deflated data to filter data not working"
I have compiled netcdf-c 4.8.1 with hdf5 1.12.1 and hdf5 filter plugins.
This compilation was implemented on SUSE Linux Enterprise Server 12 SP4.
The problem I found is that when I ran command: nccopy -F var,307,2 deflate1.nc bzip2.nc. The bzip2.nc still has deflate level 1 compression instead of bzip2 level 2 compression that I specified.

I found if I changed the function copy_var_specials of nc

[2022-01-24 22:45] DennisHeimbigner commented on #2198
I do not understand. In our code,

is inside the test

so the && nofilters in the change should always be false.

[2022-01-24 23:05] halehawk commented on #2198
On Mon, Jan 24, 2022 at 3:45 PM Dennis Heimbigner ***@***.***>
wrote:

If we don't check nofilters here, now option_deflate_level is -1, then
deflate_out will be the same as deflate_in (d1) which is not what our case
wants.

[2022-01-24 23:14] #2149 closed

[2022-01-24 23:31] DennisHeimbigner commented on #2198
The issue is, I think, what filters should be applied to the output.
The current implementation is that the above -F 307,2 will append
bzip2 to the list of filters to be applied, so the sequence "deflate|bzip2"
is used.
This is incorrect since the output filters should replace all/any input filters.
Thanks for finding this; correction soon.

[2022-01-24 23:39] halehawk commented on #2198
Great, thanks.
If the original codes have append logics, how do I know it is appended?
Since I looked at ncdump -hs *.nc, I only can see deflate mode there.
I don't want you to remove the append logic, it is a very good one.

On Mon, Jan 24, 2022 at 4:31 PM Dennis Heimbigner ***@***.***>
wrote:

[2022-01-25 01:43] DennisHeimbigner commented on #2198
There was a bug in how ncdump printed the information.
If you use h5dump, you can see it.

[2022-01-25 12:49] abhibaruah commented on #2189
You are correct Dennis.
Here is what Elena from THG replied:
"Yes, behavior changed. Filtering for variable-size types was disabled at some point by Quincey."

She also confirmed that the erroring behavior would be seen only with fletcher32, since the checksum is mandatory. For all other filters, they will be silently ignored when used with variables having variable length datatypes.

Here is what

[2022-01-25 12:58] abhibaruah commented on #2189
So, with reference to the two options in Ward's previous comment, which option will the netcdf library go ahead with? Ignoring the filter and proceeding or failing with a more informative message?

[2022-01-25 16:44] halehawk commented on #2198
Thanks, I used h5dump. If I nccopy -F var,307,2
/glade/work/haiyingx/netcdf-c-4.8.1/deflate1.nc deflat1_bzip2.nc,
h5dump -p deflat1_bzip2.nc:
DATASET "var" {

      DATATYPE  H5T_IEEE_F32LE

      DATASPACE  SIMPLE { ( 16, 16, 16, 16 ) / ( 16, 16, 16, 16 ) }

      STORAGE_LAYOUT {

         CHUNKED ( 8, 8, 8, 8 )

         SIZE 78704 (3.331:1 COMPRESSION)

      }

      FILTERS {

         COMPR

[2022-01-25 19:10] DennisHeimbigner commented on #2177
I have a PR for this, but there are a large number of outstanding PRs, so I will wait until
Ward has had time to clear them.

[2022-01-25 19:15] WardF commented on #2177
I'm working through them now @DennisHeimbigner so feel free :)

[2022-01-25 19:45] hmaarrfk commented on #2177
wow! thank you both so much for working through this. Excited to integrated this in our system.

[2022-01-25 20:15] #2151 closed

[2022-01-25 23:13] DennisHeimbigner commented on #2198
Must be a main vs release issue; when I ran h5dump, it showed both compressors.
In any case, I have a fix that I am testing now.

[2022-01-25 23:27] DennisHeimbigner commented on #2189
Frankly, I have no idea how to disentangle this.
Needs some thought.

[2022-01-25 23:29] halehawk commented on #2198
That's great. Hope I can see it in your branch soon.

On Tue, Jan 25, 2022 at 4:13 PM Dennis Heimbigner ***@***.***>
wrote:

[2022-01-27 20:35] abhibaruah opened #2203 "Memory leak in Windows when building netcdf with hdf5 1.10.8"
NetCDF version: 4.8.1
HDF5 version: 1.10.8
OS: Windows 10

I am a developer at The MathWorks Inc. For MATLAB, we were building netcdf with hdf5-1.8.12.
However, we are trying to change netcdf's dependency on hdf5 to v1.10.8.

I built netcdf successfully with hdf5 1.10.8. However, while qualifying, I see that there is a memory leak in Windows when netcdf is built with hdf5 1.10.8. The leak is seen

[2022-01-27 23:30] WardF commented on #2203
Thank you, this will be an easy fix to incorporate!

[2022-01-28 22:59] #2203 closed

[2022-01-28 23:53] WardF commented on #2196
Thanks @matzeri, this appears to have been an accident, I've created a PR to correct it, #2205.

[2022-01-30 19:41] DennisHeimbigner commented on #2177
Fixed by https://github.com/Unidata/netcdf-c/pull/2206

[2022-01-31 20:43] simon-Leary42 opened #2207 "conftest.c(38): error: identifier "Syntax" is undefined"
### Environment Information
* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Yes

[2022-01-31 20:55] DennisHeimbigner commented on #2207
The confdefs.h is created multiple times to test for various platform features
(like testing for some header file, etc).
So, the real problem here is why configure is finding a syntax error.
Let's start by having you send us the config.log file.

[2022-01-31 20:56] simon-Leary42 commented on #2207
there is a link to a pastebin of config.log in my post

[2022-01-31 21:20] DennisHeimbigner commented on #2207
Sorry, I have no idea how to fix this. It appears that the code in configure is
wrong, which means that your autotools is not operating correctly.
You might try re-installing automake and autoconf, but otherwise,
I have idea how to find the fault.

[2022-01-31 21:21] simon-Leary42 commented on #2207
I used cmake instead and it worked just fine.

[2022-01-31 21:21] simon-Leary42 commented on #2207
I didn't generate configure with autoconf, this configure file came with the release

[2022-01-31 21:27] DennisHeimbigner commented on #2207
True. But it works for everyone else. There is something in your environment/tool-set
that is not working correctly and ./configure is invoking that tool and it is failing.
Lets try this:
Execute ./configure using the command
````sh -x ./configure <whatever options you are using>````
and send me the output. Warning it will be very large.

[2022-01-31 21:32] simon-Leary42 commented on #2207
https://pastebin.com/TpV41kJ7

[2022-01-31 21:34] simon-Leary42 commented on #2207
https://controlc.com/81d6fad8
I don't think pastebin likes 11,000 lines...

[2022-01-31 21:35] DennisHeimbigner commented on #2207
Can you compress it with gzip or bzip2 or zip?

[2022-01-31 21:38] simon-Leary42 commented on #2207
[debug.zip](https://github.com/Unidata/netcdf-c/files/7974424/debug.zip)

[2022-01-31 21:51] DennisHeimbigner commented on #2207
As near as I can tell, the problem is with the icc c-preprocessor.
But it also appears that the output of sh -x ./configure you sent is truncated,
so I cannot see what is causing the failure.
[Ward do we have an installation of icc?]

[2022-01-31 22:27] #2196 closed

[2022-01-31 23:40] simon-Leary42 commented on #2207
I fixed the issue by changing the $CPP environment variable from "icc -E" to "icpc -E"

[2022-01-31 23:41] DennisHeimbigner commented on #2207
Glad to hear it; sorry I could not be any help.

[2022-02-01 11:56] johnomotani commented on #2166
@DennisHeimbigner The source release tarball here https://downloads.unidata.ucar.edu/netcdf-c/4.8.1/src/netcdf-c-4.8.1.tar.gz does not contain any file or directory named `fuzz`. The tarball on the github.com release page https://github.com/Unidata/netcdf-c/archive/refs/tags/v4.8.1.tar.gz does though. I guess the unidata site version is broken?

[2022-02-01 18:17] WardF commented on #2166
The github tarball is generated automatically.  @DennisHeimbigner the tarballs we create manually are generated by 'make dist'; I don't see any autotools-based infrastructure for including the fuzz directory in the tarball.  I'll add that.

[2022-02-01 19:30] #2166 closed

[2022-02-01 23:17] krisfed opened #2212 "HDF error on reading back NC_VLEN variable with fill value and chunking"
We are using netcdf-c 4.8.1 and seeing an HDF error when using nc_get_var on an NC_VLEN variable that has (1) a fill value set, (2) not all elements filled, and (3) some chunking applied.

Not sure if this is expected behavior and the applied chunking or some other part of the process is incorrect (but then shouldn't it error out on writing, not reading?). Or does this look like a bug?

Here is so

[2022-02-02 02:27] DennisHeimbigner commented on #2212
You might look at the conversation associated with this: https://github.com/Unidata/netcdf-c/pull/2179
In particular, your example looks like the known bug #1.

[2022-02-02 18:08] krisfed commented on #2212
Thank you Dennis! It does look potentially related to the mentioned known bug about NC_VLEN and fill values in #2179, although I am not sure what kind of failures were observed there (errors/crash, on reading/writing, etc).  Another issue possibly related to the same NC_VLEN/FillValue problem is how the crash in https://github.com/Unidata/netcdf-c/issues/2181# persists even when the data was "zero

[2022-02-02 19:00] edwardhartnett commented on #1762
OK, NOAA needs this badly, because they are having a problem when running code in parallel I/O mode, and it only breaks occasionally, and only when they run on many processors. So they've asked me what to do and I am totally stumped.

But if I change the logging as discussed in this issue, then each processor will be one output file with all netcdf activity. That will help a lot...

[2022-02-02 19:38] Dave-Allured commented on #1762
One of the Intel support tools uses a single merged debug log.   Multiple processes spew their messages indiscriminately into the same log in real time, just like you described above.  Most event-related messages are prefixed with the process ID and time stamp.  The prefix fields are fixed width for readability.  The time stamps are precise to 0.01 seconds or better, I forget exactly.   I found th

[2022-02-02 20:06] DennisHeimbigner commented on #2212
My current hypothesis is that HDF5 is not doing a deep copy in some place
involving fill values. So, this leads to freeing data that is shared between the client
and the HDF5 library and that causes some kind of failure.  But I cannot prove it.

[2022-02-02 21:16] jswhit commented on #2173
@WardF still waiting breathlessly for the larger post you promised....

[2022-02-03 23:01] WardF commented on #2173
@jswhit Thank you for the bump, it is appreciated :).  This didn't fall off my radar, it just ended up sitting below the surface, covered by other things we're having to address at Unidata.

Ok! As previously mentioned, we think we should move forward with this, and I'm excited to see what `Zstd` support in the core netCDF-C library can potentially accomplish.  In support of @edwardhartnett's comm

[2022-02-04 14:35] edwardhartnett commented on #1762
OK, I have an upgrade which handles the multi-core case better.

@Dave-Allured I have considered your idea of putting everything in one file. But how do I stop collisions when multiple processes want to write to the file? To avoid this, I have left each processor to write its own file.

@DennisHeimbigner is there an exit point in the netCDF library that we know will be called before any netCDF pro

[2022-02-04 17:30] edwardhartnett opened #2215 "move nc_log() from libsrc4/error4.c to libsrc4/nc4internal.c and remove error4.c (which is otherwise empty)"
The file libsrc4/error4.c used to contain other functions, according to the documentation at the top of the file, but they have all been moved or removed over the years, and now error4.c only contains a single function, nc_log(), which does the logging in case logging is turned on.

Meanwhile, all the other logging functions, and global logging constants are in nc4internal.c. When doing #1762 I fi

[2022-02-04 17:48] Dave-Allured commented on #1762
Ed, my previous experiences indicated that collisions were usually handled gracefully.  Log messages came in small packets of one or more complete text lines.  The file system acted as a collective receiver and handled messages in the order received.  Broken lines were rare to nonexistent, I don't remember exactly.  Anyway, that is what was implied by the behavior that I saw.  I think this would b

[2022-02-04 17:50] Dave-Allured commented on #1762
I am sure that whatever you implement will be helpful.  Thanks for working on this.

[2022-02-04 20:27] DennisHeimbigner commented on #1762
You have several choices, all of which will ultimately be called by nc_finalize function in the file
netcdf-c/liblib/nc_initialize.c

1. Just stick the logging finalize in the body of nc_finalize()
2. put the logging finalization into NCDISPATCH_finalize() which is in the file libdispatch/ddispatch.c
3. put the logging finalization into NC_HDF5_finalize() which is in libhdf5/hdf5dispatch.c

But re

[2022-02-04 21:54] edwardhartnett commented on #1762
@DennisHeimbigner it seems like calling nc_finalize() from atexit() would not be a problem for parallel I/O. By that time, MPI_Finalize() has been called in all well-behaved programs, and so everything that parallel I/O cares about is already shut down.

I will ponder over the weekend.

With my draft PR, for parallel I/O programs, logging has to be turned on and then off. For example:

[code]
For

[2022-02-04 23:27] ceblanton opened #2217 "Warning from “ncdump -t” while printing some variable attributes"
Hello! We are writing NetCDF files with some variable attributes that cause “ncdump -t” to print some time-related warnings to standard error. (We saw this issue after updating from 4.2 to 4.7.3, and can be seen with other recent versions, all using Linux).

To see it,
[testing.txt](https://github.com/Unidata/netcdf-c/files/8006774/testing.txt)

[code]

The output looks normal except for the "CDMS

[2022-02-05 20:39] Dave-Allured commented on #2217
I think your file is fully compliant for basic netCDF format, and also for CF Conventions.

According to the release notes, time decoding for attributes was present in both versions 4.2 and 4.7.3.  I do not know why this fill value behavior changed between those two versions.

However, I can suggest a couple of clean workarounds to avoid the problem.  It looks like you are always fully populating

[2022-02-06 18:13] Dave-Allured commented on #2217
@ceblanton, that warning message comes from a sanity check in the time printing routine.  I thought perhaps the sanity check was not needed, and it might be better to just let it print strange numbers for data extremely out of range.  I simply disabled the sanity check.

The troublesome warning message is now gone.  Note that in place of "2021-11-10" in the data, I inserted a wild value that does

[2022-02-07 16:52] abhibaruah opened #2219 "Performance regressions on changing netcdf dependency to hdf5 v1.10.8"
NetCDF version: 4.8.1
OS: Windows 10 and Debian 10

I am trying to change the dependency of NetCDF from hdf5 v1.8.12 to v1.10.8. I was able to change the dependency successfully (thanks to help from you). After this, when I run our performance suite, we see regressions in several of the netcdf functions. I know that netcdf regressions with hdf5 1.10 is a known thing, but still, I thought I would r

[2022-02-07 22:18] DennisHeimbigner commented on #2190
I have begun a discussion about this here:

[2022-02-08 20:02] WardF opened #2221 "Remove Coverity badge"
Coverity in its current state has been obviated for static analysis. Remove the badge with the possibility to reintroduce when and if modern Coverity is reintroduced.

[2022-02-10 20:41] gsjaardema opened #2223 "Question about on-disk storage (netcdf-3)"
If I have a variable `double time(time_step)` with dimension `time_step = UNLIMITED` how is `time` stored on the disk --

- will it be contiguous following the fixed-size header;
- will it be stored in `time_step` separate pieces spread across the file (assume I have several other variables also with at least one unlimited dimension);
- will it be stored in 1 or more chunks of some know size sprea

[2022-02-10 20:46] WardF commented on #2223
So assuming netCDF3 completely absent the libhdf5-supplied storage layer, then there aren't any 'chunks', so to speak.  The file itself is contiguous, although the byte locations for the data stored along the unlimited dimension might not be contiguous, particularly (I think) if the file has been appended?   This is off the top of my head, let me take a closer look, starting [here](https://docs.un

[2022-02-10 20:48] WardF commented on #2223
Converting this to a discussion since it's an open question, which (depending where we end up), may have an 'action item' we can create an issue for.  This will also help me evaluate how well the 'discussion' tools Github provide fit into our workflow :).

[2022-02-11 18:55] ceblanton commented on #2217
@Dave-Allured Thank you very much for the quick reply and investigations. I understand the issue better with your help but confess I am still a bit confused.

One quick question I thought would be google-able but I could find it. What is the default or recommended _FillValue for date variables in NetCDF? (I believe there are default and recommended values for ints, floats, and doubles.)

Another q

[2022-02-11 22:09] DennisHeimbigner commented on #2173
Ed, a question about this. This signature uses a zstandardp flag to indicate
if the variable uses zstandard compression.
I would prefer an alternative of returnin NC_ENOFILTER if zstandard is not used. This
reduces the the function to this form:

Comment?

[2022-02-11 22:14] edhartnett commented on #2173
I don't think it's a good idea to cause an inq function to error, if the
user has not done anything wrong. Currently, no inq function will give an
error as a way of communicating results, only for errors.

Also, many Fortran users do not check return codes. So it would be best if
this worked similarly to other inq functions.

On Fri, Feb 11, 2022 at 3:09 PM Dennis Heimbigner ***@***.***>
wrote:

[2022-02-15 00:38] czender opened #2225 "Add support for BitRound quantization by number-of-significant-bits?"
netCDF-C needs (IMHO) one more lossy codec: BitRound. BitRound takes the Number of Significant Bits (NSB) not digits (NSD) as input, and performs quantization with IEEE rounding on the remaining bits, aka the "keep bits". BitRound is already used as the final step in GranularBR, thus the heart of BitRound algorithm is already in netCDF-dev. However, I think we need to make BitRound separately invo

[2022-02-15 15:46] Dave-Allured commented on #2217
@ceblanton, there is no recommended _FillValue for date variables, as far as I know, because "date" is not a netCDF data type.  By convention, date/time values are stored as pure numbers which are interpreted as precise temporal offsets from a specified base date and time.  The basic netCDF library treats these numbers generically, like all other numeric data.

There are default fill values for al

[2022-02-15 19:43] DennisHeimbigner commented on #2225
Is there a universally used conversion from number-of-digits to number-of-bits?

[2022-02-15 21:47] czender commented on #2225
Not in this case, i.e., not with optimized algorithms. The conversion factor of `M_LN10/M_LN2 = 3.32` is the average number of bits per digit. However, 3.32 is really the "marginal number of bits per digit", in that 3.32 mantissa bits buys _about_ one digit of precision, after the first digit or so. In practice the NSD-preserving algorithms must use functions like `ceil()`, `floor()` and `log2()`,

[2022-02-15 21:57] DennisHeimbigner commented on #2225
so use of NSB attribute vs NSD attribute will be algorithm specific?

[2022-02-15 21:59] czender commented on #2225
Yes, BitGroom and GranularBR use NSD. BitRound uses NSB.

[2022-02-15 23:08] DennisHeimbigner commented on #2225
If there is no way that an algorithm will use both nsb and nsd, then
reusing the nsd field seems ok to me.
At this point, I might consider replacing the three algorithm attributes with
a single attribute with a char value being the string name of the algorithm.

[2022-02-16 04:30] czender commented on #2225
Yeah, that makes sense. It might be more extensible in the long run, though it requires two attributes not one if I understand you correctly, e.g.,

[code]

[2022-02-16 13:08] edwardhartnett commented on #2225
Whatever changes are going to be made, let's make them now, because @WardF is preparing a release...

[2022-02-16 17:07] WardF commented on #2219
Hi @abhibaruah thank you for your patience!  The performance regressions with HDF5 1.10.x as compared to 1.8.x is expected, as you point out; I will take a look to see if I observe similar regressions.  I know that the HDF group has put effort into reverting some of these regressions in the 1.12.x branch, have you tried your benchmarks against the latest HDF5 1.12.x release?

[2022-02-16 21:54] WardF commented on #2225
I'll be creating the `v4.9.0-wellspring` branch soon and will start sorting PR's into that branch for the 4.9.0 release.  So there is, realistically, a little bit of time before the release.  I certainly won't quietly mint a 4.9.0 release w/out these features :).

[2022-02-16 22:04] edhartnett commented on #2225
I think it's totally fine to have an nsd parameter, and specify in the
documentation that means binary digits for some quantize modes, and decimal
digits for other quantize modes. Bits are digits too! In fact, "bit" is
just short for "binary digit". So we don't need a different parameter.

I am starting to agree that perhaps we need two attributes, as discussed,
one with the name of the algorithm,

[2022-02-16 22:48] #1762 closed

[2022-02-16 22:48] #2215 closed

[2022-02-17 21:22] DennisHeimbigner commented on #2189
After some discussion, we have decided to treat this an an error.

[2022-02-18 02:21] simon-Leary42 opened #2230 "Does HDF5 have to be compiled with same compiler as netcdf?"
The question is self explanatory.
HDF5 is failing to build for me with intel, I was wondering if I could use GNU and still use intel for netcdf.

[2022-02-18 04:25] czender commented on #2225
Hey @DennisHeimbigner
I notice that main:libnczarr/zvar.c appears to allow only `NC_QUANTIZE_BITGROOM`,
not `NC_QUANTIZE_GRANULARBR`. Is this intentional? Or should I add checks to it
for `NC_QUANTIZE_GRANULARBR` and `NC_QUANTIZE_BITROUND` in my upcoming PR?

[2022-02-18 05:14] WardF commented on #2230
Typically, the compatibility is determined by 'configure', insofar  as it tries to link a test program against the detected libhdf5; if the compiler has not produced a compatible binary, the configure script will fail to compile the test program linked against the target library, and configure will complain about not being able to find a compatible libhdf5.

[2022-02-18 13:54] edwardhartnett commented on #2230
I think a better question is: why does HDF5 not compile on intel?

I compile HDF5 on intel all the time, without problems, including the 1.10.x series and the 1.12.x series.

So what exactly is the problem building HDF5? Have you requested help in the HDF5 support mailing list?

[2022-02-18 15:57] ceblanton commented on #2217
@Dave-Allured Thank you again for the helpful explanations. Omitting _FillValue and relying on the default numeric fill value appears to be recommended best practices in cases where the default is adequate, such as this case (and it appears, all types except byte).

https://cfconventions.org/cf-conventions/cf-conventions.html#missing-data
https://www.unidata.ucar.edu/software/netcdf/documentation/

[2022-02-18 21:17] DennisHeimbigner commented on #2225
Thanks. Yes there appears to be some missing code in zvar.c. You can go ahead and fix it.

[2022-02-19 23:50] DennisHeimbigner commented on #2189
"Fixed" by https://github.com/Unidata/netcdf-c/pull/2231

[2022-02-22 23:28] #2189 closed

[2022-02-23 02:16] czender commented on #2225
FYI, PR #2232 to add the BitRound quantization is ready for review. If this is merged then netCDF will have two state-of-the-art quantization codecs (BitRound and Granular BitRound) and one last generation codec (BitGroom). This PR adds BitRound, it does not remove BitGroom. The decision to keep or remove BitGroom is not mine to make since others have already, graciously, put effort into supportin

[2022-02-23 08:13] Alexander-Barth commented on #2124
In julia we are still using NetCDF 4.7.4 but there are some issues (https://github.com/Alexander-Barth/NCDatasets.jl/issues/162, https://github.com/Alexander-Barth/NCDatasets.jl/issues/145) in this version which are solved in NetCDF 4.8. The julia package NetCDF.jl from @meggart uses the same NetCDF compiled library and also currently at 4.7.4.

It would be great if we could update to a newer vers

[2022-02-24 14:44] gdkrmr opened #2233 "support hdf5 1.12 api"
Is there a reason why you require hdf5 1.12 to be built with the `--with-default-api-version=v18` flag? I am trying to compile netcdf-c on Manjaro and the default package just doesn't come with this flag.

[2022-02-24 14:48] gdkrmr opened #2234 "reading from zarr file produces nonsense"
I am really happy to report that the distro packages on Manjaro can read Zarr files now! Thank you very much for the effort. Also the ncdf4 R package can open Zarr files now!

The meta data gets read in correctly but when I try to actually read the data I get only NaNs, zeros and random numbers. Overall it looks like a buffer that was allocated but never filled with actual data.

[2022-02-24 15:05] gdkrmr opened #2235 "cannot open zgroup on ubuntu"
I am trying to open a zgroup on current master compiled on ubuntu 20.04 and get an error. The same works fine with the repository packages on Manjaro:
[code]
when doing the same on the arrays in the dataset I get the corresponding metadata:
[code]

You can find the dataset [here](https://s3.bgc-jena.mpg.de:9000/esdl-esdc-v2.1.1/esdc-8d-0.25deg-184x90x90-2.1.1.zarr/)

[2022-02-24 15:07] gdkrmr commented on #1982
The errors have somewhat changed, so I am closing this issue in favor of these: https://github.com/Unidata/netcdf-c/issues/2235 and #2234.

[2022-02-24 15:07] #1982 closed

[2022-02-24 17:23] WardF commented on #2233
It is required for compatibility reasons, currently, in order to generate files that can be read and distributed most broadly. There are many existing systems in place amongst our community that would be unable to read the files generated by the newer api.

[2022-02-24 20:15] DennisHeimbigner commented on #2235
The dataset link does not work for me; can you re-check it?

[2022-02-24 21:15] krisfed commented on #2212
It sounds a little bit similar to https://github.com/Unidata/netcdf-c/issues/1985 too...

[2022-02-24 21:39] krisfed commented on #1672
I know it doesn't look like a particularly common issue... But would be nice to know if a fix is potentially planned for 4.8.2 or if it is on a back-burner for now.

[2022-02-25 21:50] gdkrmr commented on #2233
I just found out that there are the compatibility macros:
[code]
works for me, maybe this should be in the documentation somewhere or maybe I just missed it in the documentation.

[2022-02-25 21:50] #2233 closed

[2022-02-25 23:47] Dave-Allured commented on #2233
No.  This issue was fixed in **netcdf-c release 4.8.1**.  Please see PR #2044.

Best practice is to create an HDF5 build with a **universal API** that supports ALL HDF5 API versions in a single build.  That is what PR #2044 does.  That is what HDF5 source does by design, if you don't misdirect it.  That is /probably/ also what Manjaro did with their default HDF5 package.

API compatibility and **f

[2022-02-25 23:59] Dave-Allured commented on #2233
@gdkrmr, I did not properly address your workaround `cmake -DCMAKE_C_FLAGS="-DH5_USE_18_API`.  On reflection I think that is probably a valid workaround **if** you are trying to install a down-level netcdf-c version such as 4.8.0.  I think the effect is that it forces the API requirements of that particular netcdf-c version to be correctly resolved.

The short answer is, you probably made a good n

[2022-02-26 17:42] gdkrmr commented on #2233
Thanks for the response. I think it was my mistake. I was using an older local repository and I am pretty sure that that I did a `git pull` but maybe something went wrong or I just forgot. I deleted the local repository and cloned it again and now it works.

[2022-02-26 20:02] hmaarrfk opened #2236 "Allow users to specify the use of the DIRECT driver"
This is somewhat a followup to: https://github.com/Unidata/netcdf-c/issues/2177

In order to achieve maximum performance on writing large data blocks, I had to do a few things:

1. Ensure the datasets were aligned in the user's ram (out of scope for netcdf-c)
2. Ensure the destination in the file was aligned to a block : https://github.com/Unidata/netcdf-c/issues/2177
3. Use the direct driver to b

[2022-02-26 20:21] DennisHeimbigner commented on #2236
Since we use a couple of file drivers already, this is certainly possible.
I will have to investigate a reasonable way to specify the use of some
file driver. Is the DIRECT driver already part of HDF5 or is it your
own custom driver?

[2022-02-26 20:23] DennisHeimbigner commented on #2236
Is PR 2066 a possible solution when it gets integrated?

[2022-02-26 20:48] hmaarrfk commented on #2236
Do you mean to ask:
"Is a solution similar to PR2206 an acceptable solution?"

The answer is yes.

[2022-02-26 21:15] gdkrmr commented on #2234
The data set uses blosc with lz4 compression, and I `cmake -L` does not show `ENABLE_BLOSC`, not sure if this is related.

[2022-02-28 11:50] krisfed commented on #1985
Hi, just checking in on this - still planned for 4.8.2 for now? No worries, I understand it might be lower on the priority.

[2022-02-28 13:46] edwardhartnett commented on #1672
It is definitely back-burner, because this requires a lot of work to fix.

But if you try renaming in different orders, some will work, and some won't.

[2022-02-28 14:55] krisfed commented on #1672
Makes sense, thanks for the update!

[2022-02-28 16:59] DennisHeimbigner commented on #2236
A couple of questions:
1, Is the DIRECT driver already part of HDF5 or is it your own custom driver?
2. Does it take any parameters?
Is there a pointer to the source code for this driver?

[2022-02-28 21:43] DennisHeimbigner commented on #2236
Is this the driver to which you refer?

[2022-02-28 21:51] hmaarrfk commented on #2236
yes.

I guess my original reference to the official documentation was missed.

[2022-02-28 21:54] hmaarrfk commented on #2236
The difference is subtle, but eventually you get down deep in thesource code.

H5FDSec2 on the left, H5FDDirect On the right
![image](https://user-images.githubusercontent.com/90008/156064831-4bee8d93-7dba-446b-bebd-d5ababa6cf23.png)

* SEC2: https://github.com/HDFGroup/hdf5/blob/develop/src/H5FDsec2.c#L329
* Direct: https://github.com/HDFGroup/hdf5/blob/develop/src/H5FDdirect.c#L495

I think ther

[2022-02-28 21:57] DennisHeimbigner commented on #2236
Sorry, do you want Direct or do you want SEC2?

[2022-02-28 22:21] hmaarrfk commented on #2236
SEC2 is the default. Direct is the one I'm requesting.

[2022-02-28 22:21] hmaarrfk commented on #2236
(I've definitely been in the HDF5 weeds for too long, sorry for the jargon)

[2022-02-28 22:24] DennisHeimbigner commented on #2236
I see. Anyway, This will require some thinking. Solution will not be soon.

[2022-03-01 01:36] amarco opened #2237 "running configure tool fails"
I downloaded the 4.8.1 tarball exploded it and ran ./configure and it failed at:
config.status: linking ./dap4_test/baselinethredds/GOES16_TEST1.nc4.thredds to dap4_test/baselinethredds/GOES16_CONUS_20170821_020218_0.47_1km_33.3N_91.4W.nc4.thredds
config.status: error: ./dap4_test/baselinethredds/GOES16_TEST1.nc4.thredds: file not found

Not sure what it is trying to tell me? Or how to work around

[2022-03-01 18:34] #2177 closed

[2022-03-01 20:18] hmaarrfk commented on #2236
Cross referencing other benchmarks I ran:
https://github.com/Unidata/netcdf-c/pull/2206#issuecomment-1054855769

[2022-03-01 20:19] hmaarrfk commented on #2236
I must say that something I found rather annoying when building support for this in h5py was that the direct driver symbols are not always visible.

This means that you have to selectively enable (and disable!) them at compile time.

[2022-03-01 20:30] DennisHeimbigner commented on #2236
Not sure I follow; can you elaborate?

[2022-03-01 20:40] hmaarrfk commented on #2236
On conda forge, I compiled hdf5 with `--enable-direct-vfd`

https://github.com/conda-forge/hdf5-feedstock/blob/master/recipe/build.sh#L12

The command:
[code]

However, `h5py` installable through pypi, does not include the flag in their compilation.

[code]

This means that at compile time you have to detect the capabilities of the underlying hdf5 library, and use macros to enable the appropriate

[2022-03-01 20:53] DennisHeimbigner commented on #2236
I see.

[2022-03-02 12:07] agnishd commented on #1380
Hi @DennisHeimbigner,

Thanks for telling us the workaround to this issue.

I tried out your suggestion in the 4.8.1 version of the NetCDF library and it works. The data loss doesn't occur.

You did mention there is a significant performance penalty when the patch is applied. We'd like to know if you have plans for addressing the performance issue in a coming release.

[2022-03-07 23:57] DimitriSotnik opened #2241 "netCDF::exceptions::NcHdfErr after calling getVar too often"
Hi everybody,
working here on an ns2 simulator, which is using netCDF 4.7.3 (tried also 4.8.1) / netcdf-cxx4-4.3.1, and we encounter a limitation on reading our HDF5 files. The database is called on every transmission. So the amount is quite large. After calling it around 570000 times during the run netCDF crashes with following exception:

terminate called after throwing an instance of 'netCDF::e

[2022-03-09 18:01] abhibaruah opened #2242 "'ncdap_tst_remote3' test failure in Linux"
NetCDF version: 4.8.1
HDF5 version: 1.10.8
OS: Debian 10

Recently, we changed the upstream dependency of netcdf from hdf5 1.8.12 to 1.10.8.
After this, on building netcdf, the test 'ncdap_tst_remote3' fails with a 'Permission Denied' error message.

The test log \netcdf\Testing\Temporary\LastTest.log records the following:

179/199 Testing: ncdap_tst_remote3
179/199 Test: ncdap_tst_remote3
Comman

[2022-03-09 21:34] WardF commented on #2242
If you run `ls -alh /mathworks/devel/sandbox/abaruah/3p-tmw/3p/derived/glnxa64/netcdf/ncdap_test/tst_remote3.sh`, what do you see? This seems like a pretty straightforward linux filesystem permissions issue, and it doesn't appear to be reflecting anything specific to the release.

[2022-03-09 21:41] abhibaruah commented on #2242
Hello Ward,
Thank you for looking into this. I agree that the error message is not much helpful.
Here is the output that I get on executing the ls -alh command

-rw-r--r--+ 1 abaruah users 928 Mar  3 16:04 /mathworks/devel/sandbox/abaruah/3p-tmw/3p/derived/glnxa64/netcdf/ncdap_test/tst_remote3.sh

Thanks

[2022-03-09 21:48] WardF commented on #2242
Hi @abhibaruah it looks like the 'execute' bit is not set on this file.  I'm not sure how that would have happened, although it might be something to do with the underlying filesystem, or if this is a network share.  Try setting the executable bit with the following command:

    $ chmod 755 /mathworks/devel/sandbox/abaruah/3p-tmw/3p/derived/glnxa64/netcdf/ncdap_test/tst_remote3.sh

After running

[2022-03-09 22:08] abhibaruah commented on #2242
Hello Ward,
After I executed the chmod command, I did see the permissions change.

-rwxr-xr-x+ 1 abaruah users 928 Mar  3 16:04 /mathworks/devel/sandbox/abaruah/3p-tmw/3p/derived/glnxa64/netcdf/ncdap_test/tst_remote3.sh*

But, when I build netcdf again after that, the permissions on tst_remote3.sh revert back to what I showed initially, and I see the same 'Permission denied' error.

The ls -alh re

[2022-03-09 23:42] WardF commented on #2241
Thanks, I'll take a look and see what's going on.  What version of HDF5 are you working with?

[2022-03-09 23:49] DimitriSotnik commented on #2241
Thank you for your help.

We are using HDF5 1.8.13

[2022-03-11 18:05] abhibaruah commented on #2242
Hello @WardF,
I was able to resolve the 'Permission Denied' error. However now, the same test fails with the following log:

[code]

[2022-03-11 23:02] DennisHeimbigner commented on #2242
[code]
The problem is the middle value differs in the last digit: 3 vs 4.
This occasionally occurs depending on the platform.

[2022-03-14 12:52] abhibaruah commented on #2242
Thank you for taking a look Dennis.
Is there a way to fix this, or can this be treated as an outlier and filtered for now?

[2022-03-14 16:08] DennisHeimbigner commented on #2242
If the data is being accesses with ncdump, then you might be able to use the -p flag.

[2022-03-15 13:04] Alexander-Barth opened #2248 "NetCDF 4.9.0 fails to create a NetCDF4 file on Windows (x86_64-w64-mingw32-gcc) with HDF5 1.12.1"
* the version of the software with which you are encountering an issue

NetCDF 4.8.1

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

Windows, mingw compiler (x86_64-w64-mingw32-gcc (GCC) 4.8.5)

* a description of the issue with the steps needed to reproduce it

NetCDF 4.8.1 fails to create a NetCDF4 files on Windows with HDF5 1.12.1 (binary

[2022-03-15 22:56] WardF commented on #2248
Thank you for the *very* comprehensive report!  I'll take a look, I am working primarily on Linux/OSX myself, with Windows being a secondary environment. I will try to duplicate this environment and issue, and hopefully being able to provide some insight.  Hopefully I will be able to track this down without going into Julia, as I unfortunately have no experience there.

[2022-03-16 08:09] edwardhartnett commented on #2248
Could this be a file permission problem? Do you have permission to create the file, or is there already a file of that name that you are attempting to overwrite without using NC_CLOBBER?

[2022-03-16 09:44] Alexander-Barth commented on #2248
In our case, we have this issue also with a randomly created filenames in the windows temporary directory (windows equivalent of /tmp) when running our test suite. I guess that @visr also checked that the file `test.nc4` did not exist in his tests.

[2022-03-16 15:41] visr commented on #2248
Yes indeed, I don't think it is a file permission issue. The filename didn't exist, and I could create a netcdf3-classic file in the same place with the same library.

[2022-03-17 01:47] DennisHeimbigner commented on #2242
Aince it is clear that there is no essential problem, I recommend that
you build netcdf-c with the --disable-dap-remote-tests option.

[2022-03-17 01:50] DennisHeimbigner commented on #2237
Try removing the file
dap4_test/baselinethredds/GOES16_CONUS_20170821_020218_0.47_1km_33.3N_91.4W.nc4.thredds

[2022-03-17 13:36] abhibaruah commented on #2242
Thank you Dennis.
I have filtered out the corresponding test by commenting out the line
add_sh_test(ncdap tst_remote3)
in ncdap_test/CMakeLists.txt

[2022-03-17 22:03] wkliao opened #2251 "NetCDF: HDF error when creating a lot of variables and attributes"
NetCDF 4.8.1
HDF5 1.13.0
MPICH 3.4.3
gcc 8.5.0

I encountered "NetCDF: HDF error" when running a parallel program that creates
an HDF5-based NetCDF4 file. The test program that can reproduce the error is
available in [icase_def.c](https://raw.githubusercontent.com/Parallel-NetCDF/E3SM-IO/master/tests/icase_def.c)

The test program follows the E3SM I/O pattern by creating the a large number of
vari

[2022-03-18 12:02] malmans2 opened #2252 "Incompatibility with zarr data created by xarray"
I'm looking into the compatibility between xarray/zarr and netcdf-c.
See also: https://github.com/pydata/xarray/issues/6374, https://github.com/zarr-developers/zarr-specs/issues/41

I'm able to open with `xarray` zarr data created using `netcdf-c` + `mode=xarray`.
However, I'm getting wrong values when I try to access with `netcdf-c` zarr data created by `xarray`.

For example, when I run  `ncdump

[2022-03-18 19:12] WardF commented on #2252
Tagging @DennisHeimbigner as well.

[2022-03-18 19:27] DennisHeimbigner commented on #2252
First, thank you for doing this; we need all the eyes we can get.

Is there anyway you can send me the xarray zarr data. If it is in a file hierarchy,
you could send me a tar or zip of the file hierarchy and contents. If it is already
in zip format, you could send that.

[2022-03-18 19:50] dopplershift commented on #2252
You should be able to attach a zip file to this issue.

[2022-03-18 20:09] Dave-Allured commented on #2188
I have also seen the same test.67 failure in several recent builds, all on Mac OS 10.15.  These are the only versions that I tested, so other versions are probably also affected in the same way.

- 4.3.3.1
- 4.4.1.1
- 4.6.3
- 4.8.1 release
- recent development snapshots

These failures occurred consistently between 2021 December 23 and 2022 March 6.  I have some old testing leftovers and other evi

[2022-03-19 09:23] malmans2 commented on #2252
- This is the problematic dataset, created using xarray's backend "zarr": [test.xr.zip](https://github.com/Unidata/netcdf-c/files/8308882/test.xr.zip)
- This is the "control" dataset, created using xarray's backend "netcdf4": [test.nc.zip](https://github.com/Unidata/netcdf-c/files/8308884/test.nc.zip)

[2022-03-19 21:18] DennisHeimbigner commented on #2252
It appears to work with the current netcdf-c main branch. So I guess there was
some error in implementing the blosc filter in the netcdf-c version you are using.

[2022-03-20 22:51] ArchangeGabriel commented on #2242
Just wanted to say that I’m seeing the same failure on Arch Linux (while it wasn’t showing before):
[code]

[2022-03-21 00:49] Dave-Allured commented on #2242
The test.67 error is a duplicate of #2188.

[2022-03-21 10:59] malmans2 commented on #2252
Good news - Thanks!

[2022-03-21 10:59] #2252 closed

[2022-03-21 11:27] ArchangeGabriel commented on #2188
I can fill the gap a lot then: on Arch, it worked up to the 2021 October 1st builds (including builds in 2021 July for instance). After that I don’t have builds before this February, so you’ve got a closer point, but with the two of us we can already narrow it down a lot.

[2022-03-21 12:35] Dave-Allured commented on #2188
@ArchangeGabriel, thank you, this is helpful.  So it seems the relevant change in behavior was between 2021 October 1 and 2021 December 23.

I would like to look into this more closely.  Can someone at Unidata please show me how to get a direct copy of the original netCDF data file for test.67, NOT through OpenDAP?  Also can you please show me how to access the server-side OpenDAP support code, an

[2022-03-21 14:38] bmcandr opened #2254 "[Bug] cmake does not search for libblosc or libszip"
Currently, cmake does not search for Blosc or SZip libraries due to use of bang (`!`) rather than `NOT` for negation on lines 1072 and 1084 of CMakeLists.txt:

https://github.com/Unidata/netcdf-c/blob/526552034cbd9bbcc013994494a50c9e19a32c21/CMakeLists.txt#L1071-L1081

https://github.com/Unidata/netcdf-c/blob/526552034cbd9bbcc013994494a50c9e19a32c21/CMakeLists.txt#L1084-L1095

cmake's docs indicat

[2022-03-22 13:50] serbinsh commented on #2242
I am not sure if this is the same or related but I am also running into a testing error on 4.8.1, but only the DAP test

I am compiling with HDF5 1.12.1 with gcc 8.5.0-4 (system gcc on RHEL 8.5)

All other tests passed.

[code]

[2022-03-22 14:59] Dave-Allured commented on #2242
@serbinsh, yes, your error log clearly shows this is the same single-digit failure of test.67.  This is now an expected failure because of a presumed behavior change on a remote test server.  This is being analyzed in #2188.

[2022-03-24 20:36] DennisHeimbigner commented on #2188
The test.67 is produced by the WAR file constructed by the code
in this github repository: https://github.com/Unidata/Tds.
Specifically, the path is tds/opendap/dtswar.
This code is quite old.

The process for accessing e.g. test.67 is a bit complicated.
The .dds file is ./src/main/webapp/WEB-INF/resources/testdatasets/dds/test.67.
However, the server sends out a synthetic .dods file and specifica

[2022-03-24 22:28] Dave-Allured commented on #2188
Synthesized!  I had not really thought about that.  Well, I see at least two opportunities for roundoff deviation to creep in.  Yes, cosine is one of them.  `tFloat64 += 0.01` is another because 0.01 is not exactly representable in base 2.  Possible causes of deviations are change in hosting CPU type, compiler or runtime math optimizations, and runtime code fixes and improvements.  On reflection I

[2022-03-25 04:54] DennisHeimbigner commented on #2188
Changing the dts war to serve up a fixed file for a single test is, I suspect,
a rather large task. It would be easier to do it for all test files, but that too is still a large task.
It is worth remembering that the reason for remotetest is to check out the actual operation
of the OPeNDAP protocol with a real server. The actual data is not particularly important.
So we could modify test.67 to gen

[2022-03-25 06:40] wkliao commented on #2251
Further investigation reveals that the location returns the error is at
https://github.com/Unidata/netcdf-c/blob/cd0f1690e82c0e3ba7ab1a5424cea1e858aa14b4/libhdf5/nc4hdf.c#L1412-L1413

In issue #1822, @brtnfld mentioned that "HDF5 does not test any of the HL APIs in a parallel setting". Given that, I wonder if netcdf plans to resolve the bug by taking @brtnfld's suggestion.

[2022-03-25 13:52] malmans2 opened #2259 "Issue creating zarr from datasets with string variables"
I'm having troubles creating a NCZarr from datasets with string variables.

Here is the test dataset: [test_string_dim.nc.zip](https://github.com/Unidata/netcdf-c/files/8351018/test_string_dim.nc.zip)
Here are the commands that illustrate the problem:
[code]

[2022-03-25 17:07] edwardhartnett commented on #1545
I'm reopening this issue because it is a good issue for the general discussion of how to improve compression in netCDF.

In the immediate future the 4.9.0 release will include quantization.
In the next release, ZStandard compression will be supported.

Other forms of compression are under discussion including BLOSC and LZ4.

[2022-03-25 19:24] DennisHeimbigner commented on #2259
Unfortunately, the Zarr spec does not support variable length strings.
I am been looking at what can be done with fixed length strings, but
it is difficult.
Can you get by using characters, something like this?

[2022-03-25 19:32] DennisHeimbigner commented on #2251
I wonder if this PR https://github.com/Unidata/netcdf-c/pull/2161
would fix the problem?

[2022-03-25 22:22] wkliao commented on #2128
To avoids adding a new flag, an approach can be to add a new API, e.g. nc_set_dimscale, to disable or enable using dimension scale. It is like nc_set_fill API, which can disable/enable the fill mode for the entire file.

[2022-03-25 22:23] wkliao commented on #2251
Yes. Thanks.
I assume this PR will go to 4.9.0.

[2022-03-26 15:31] malmans2 commented on #2259
Thanks! I didn't realise that.

I don't have a real use case at the moment, I ran into this while playing with xarray's test data.
This is the original `dim3` generated by `xarray`:
[code]
I looked into `netcdf4-python` documentation, and I think the problem with this dtype is indeed explained [here](https://unidata.github.io/netcdf4-python/) in section "Dealing with strings".

If it's of use, I'm

[2022-03-26 18:49] DennisHeimbigner commented on #2259
As you know, the U type refers to the NumPy 32 bit unicode encoding; that is each character is
stored as a 32 bit value. It is very unlikely that we would support that encoding any time soon.
I have a branch in which I am trying to simulate the netcdf-4 string type using fixed length strings.
If you are interested, I will let you know when it is ready for testing.

[2022-03-27 10:49] malmans2 commented on #2259
Sure, I'm happy to give it a go when it's ready for testing!

[2022-03-29 08:36] malmans2 opened #2265 "NCZarr fill_value is Nan instead of NaN on Windows"
In [this xarray's PR](https://github.com/pydata/xarray/pull/6420) I found out that I'm having issues reading with python NCZarr data created on Windows.
Looks like the issue has to do with fill_value, which is Nan instead of NaN, and therefore can't be properly parsed by python's `json`.

Sorry, I don't have much more details as I don't have a Windows machine to explore this a bit better. I though

[2022-03-29 18:50] DennisHeimbigner commented on #2265
Looks like a typo on my part.
You should be able to fix as follows:

1. edit the file netcdf-c/libnczarr/zcvt.c
2. Near line 308 you should see this line: ````strcpy(s,"Nan"); break;````
3. Change to this: ````strcpy(s,"NaN"); break;````

I will submit a PR for this after I hear if it fixes the problem.

[2022-03-30 15:07] malmans2 commented on #2265
I don't have an easy way to test that change on Windows.

However, I replaced myself all `Nan` in `.zattrs` and `.zarray` with `NaN`, and I can confirm that I'm able to correctly read the data. Therefore, I'm pretty sure that changing `strcpy(s,"Nan")` to `strcpy(s,"NaN")` will fix the problem and I suggest to go ahead with the PR.

[2022-03-30 16:42] #2146 closed

[2022-03-30 16:42] #2169 closed

[2022-03-30 20:06] DennisHeimbigner commented on #2265
See PR https://github.com/Unidata/netcdf-c/pull/2267

[2022-03-30 20:45] bmcandr opened #2268 "cmake build fails when Blosc is enabled"
#2245 enhanced filter support, but seems to have broken the build process when including Blosc. It was working prior to the merge of that PR.

`cmake .. -LA -DENABLE_FILTER_TESTING=ON -DENABLE_BLOSC=ON` finds the Blosc installation:

[code]

[(Click here for the full log)](https://github.com/Unidata/netcdf-c/files/8383852/cmake_netcdf_blosc.log)

However `cmake --build .` fails with:

[code]

Look

[2022-04-01 23:27] #2225 closed

[2022-04-04 03:30] #1391 closed

[2022-04-04 09:36] fkarg opened #2271 "CMake Error Build failure SET_TESTS_PROPERTIES Can not find test to add properties to: nc_test_run_mmap"
A minimal failing `Dockerfile`:
[code]
Build with `docker build .`. Failing in the `cmake .`-step due to:

[code]
Full log: https://pastebin.com/76Xqa3Xn

[2022-04-04 20:49] WardF commented on #2271
Thank you, I'm taking a look at this now. I will mention that your script is doing an in-directory build, which can lead to other issues.  I've made a find your Dockerfile file slightly, see below. It is not responsible for this issue, but could cause other issues once this one is solved.

[code]

[2022-04-04 21:27] WardF commented on #2271
Ok, I've discovered the issue. We will need to adjust the logic in the CMakeLists.txt file, to account for Systems that don't have bash available. What is happening here is a macro is failing and not creating the test because bash is not available in this Docker file, and then we are attempting to set a property on the nonexistent test.

I will correct this so that the failure is handled gracefull

[2022-04-04 22:27] edwardhartnett commented on #2225
I do not think BitGroom should be removed. It should be faster than the other two methods, and that is a significant feature. Many users might prefer a faster, but less compressive solution.

Great work getting this in @czender and @WardF. On behalf of NOAA and the UFS: thanks.

This will be put to immediate use once the next version of netcdf-c is released, and will make it into the operational c

[2022-04-05 07:27] gdkrmr commented on #2235
Here are updated links for the zgroup:
http://data.rsc4earth.de:9000/EarthSystemDataCube/v2.1.1/esdc-8d-0.25deg-184x90x90-2.1.1.zarr/
https://s3.bgc-jena.mpg.de:9000/esdl-esdc-v2.1.1/esdc-8d-0.25deg-184x90x90-2.1.1.zarr/

and for a single zarray:
http://data.rsc4earth.de:9000/EarthSystemDataCube/v2.1.1/esdc-8d-0.25deg-184x90x90-2.1.1.zarr/Rg
https://s3.bgc-jena.mpg.de:9000/esdl-esdc-v2.1.1/esdc-8d

[2022-04-05 10:56] edwardhartnett opened #2272 "parallel I/O build tests break with run_examples4.sh error"
I just found this:

[code]

@WardF this certainly must be fixed before release. I will take a look today and come up with a PR.

I seem to remember something about H5Pset_all_coll_metadata_ops and HDF5-1.12.1 going by in some other PR or issue...

[2022-04-05 11:22] edwardhartnett commented on #1964
OK, there is a new version of HDF5, 1.12.1. Does it work? ;-)

[2022-04-05 14:10] gsjaardema opened #2274 "Incorrect "has_fortran" and "has-c++4" reporting"
If I run `nc-config --all`, I get the following (editted) output:
[code]
Note that this indicates that `has-fortran` is true, but points to a fortran netcdff that is in a different location than my local install.   If I look at how `nc-config` is determining this, it simply searches to see if there is a `nf-config` in my path somewhere.

I don't think that this is correct behavior since the versio

[2022-04-05 14:13] gsjaardema opened #2275 "How detect whether zstd is supported"
Is there a setting in `netcdf_meta.h` that indicates whether the library supports `zstd` compression.  I see a `HAS_ZSTD` define in `config.h`, but that is not available to me when I am using the library.

I would like to know whether I can let my users know that they can specify the use of zstd compression for output, but don't know how to detect that at build or run time...

[2022-04-05 14:21] gsjaardema opened #2276 "Inconsistent output from nf-config"
For `nc-config` and most `nf-config` output the output is `yes` or `no` however for the `--has-f90`, it is `TRUE`.   Should this be `yes` also, or is there a reason that it needs to be `TRUE`.

Doesn't really affect me, but when it started showing up in the `nc-config` output, it stood out as an inconsistency that may indicate an issue somewhere...

[2022-04-05 17:44] #2190 closed

[2022-04-08 07:21] #2265 closed

[2022-04-08 20:25] WardF commented on #2276
Thank you, they should be consistent, I will take a look in preparation for the next release.

[2022-04-09 18:42] edwardhartnett opened #2279 "GitHub CI testing does not include testing with pnetcdf"
I know several HPC places are using the pnetcdf layer, and it's working well.

But it's not being run in the github CI.

@WardF your CI files are a bit beyond my understanding but I have a fix that adds pnetcdf-1.12.3, the latest release, to the parallel dependencies, and builds with parallel for --enable-pnetcdf. This indeed causes the pnetcdf tests to run.

I will put this PR up shortly.

[2022-04-09 19:09] edwardhartnett opened #2281 "some problem with file ncdump/ncpathcvt in autotools build when --disable-utilities is used"
When doing the following, I get an error:

[code]

I get:

[code]

This is because I built with --disable-utilities and therefore ncpathcvt was not built. So the Makefile.am in nctest should only attempt to run compare_test_files.sh if utilities are enabled.

I will submit a PR with a fix.

[2022-04-09 19:14] edwardhartnett commented on #2281
The same problem also occurs in nczarr directory:
[code]

[2022-04-09 19:37] edwardhartnett opened #2283 "problems with some tests in nc_test when --enable-pnetcdf is used"
As pointed out by @tjahns in #2020, there are some problems with the test code in nc_test when --enable-pnetcdf is used.

* Some tests run with MPI when MPI is present, but we are not running those tests with ${MPIEXEC} as we should.
* nc_test/tst_nofill.c is exiting without calling MPI_Finalize() for parallel builds.
* in test script run_pnetcdf_test.sh, we are using mpiexec, instead of building

[2022-04-10 14:14] edwardhartnett opened #2285 "error in netcdf_meta.h file in current master"
This is not good!

[code]

I will submit a PR shortly with a fix.

@WardF this should be fixed before release.

[2022-04-11 14:36] edwardhartnett commented on #2038
OK, I've been taking a look at this and indeed this seems to be a bug in netcdf parallel I/O code.

The problem is here:

    err = nc_put_vara_int(ncid, varid, start, count, &buf); CHECK_ERR
    err = nc_inq_dimlen(ncid, dimid, &nrecs); CHECK_ERR

Obviously the dimlen is not getting the correct result because it is being updated on each processor, but the result is not being propagated to the oth

[2022-04-11 15:50] edwardhartnett commented on #2038
OK, the problem is in libhdf5/hdf5internal.c:

[code]

OK, so H5Dget_space() is returning local information. I have tried using H5fsync() to sync the file, but this did not work either.

I don't know any way to force HDF5 to update this information except by closing and reopening the file. And that's no good.

So what should happen here? @wkliao suggestions are welcome...

[2022-04-11 16:36] #2279 closed

[2022-04-11 16:39] wkliao commented on #2038
In PnetCDF, we call MPI_Allreduce to get the maximal record number among all writing processes if the I/O mode is collective. If it is in independent mode, then the consistency on record number is not guaranteed.

[2022-04-11 16:40] #2275 closed

[2022-04-11 20:32] edwardhartnett commented on #2038
OK I will take a stab at this tomorrow morning...

[2022-04-11 20:58] #2285 closed

[2022-04-11 21:11] #2281 closed

[2022-04-15 23:17] feiliuesmf opened #2291 "NetCDF Error: largeWeight.nc : NetCDF: One or more variable sizes violate format constraints"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
*  intel/intelmpi/hdf5/1.10.6
   intel/intelmpi/netcdf-c/hdf5-1.10.6-4.6.3
   intel/intelmpi/netcdf-fortran/hdf5-1.10.6-4.4.4

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
* a description of the issue with the step

[2022-04-15 23:27] edwardhartnett commented on #2291
Take out

`| NC_64BIT_OFFSET`

The mode flag should simply be NC_NETCDF4.

[2022-04-19 14:07] edwardhartnett opened #2294 "zstandard filter is not built or installed?"
I just tried to add a test for zstandard to the code. But it fails.

It turns out that we are not building and installing the zstandard filter code itself. This is a small C program that we must compile and install on the users system, or else zstandard cannot work for them.

We build (but do not install) the bzip2 filter.

We need to build the zstandard one as well.

And we should install both fi

[2022-04-19 17:00] WardF commented on #2294
I am home from a week off and wading through emails; I will return to this as I review the others, in the meantime, @DennisHeimbigner any thoughts?

[2022-04-19 19:27] DennisHeimbigner commented on #2294
This problem is with current main, correct?

[2022-04-19 20:09] DennisHeimbigner commented on #2294
I just built the main branch and ran the test that exercises various filters and it seems to
work fine, except the relevant test: nc_test4/tst_specific_filters.sh has some things turned off. Use the attached version.

Did you look at the output of configure to see if it found libzstd?

[tst_specific_filters.txt](https://github.com/Unidata/netcdf-c/files/8516183/tst_specific_filters.txt)

[2022-04-19 20:12] edwardhartnett commented on #2294
It found libzstd.

Could it be that you already have the zstandard filter installed in your HDF5 filter path? ;-)

[2022-04-19 20:26] DennisHeimbigner commented on #2294
I guess I assumed you had set HDF5_PLUGIN_PATH to point to your own directory
of plugins.

[2022-04-19 20:53] edwardhartnett commented on #2294
Well imagine the poor netCDF user who has never heard of HDF5 plugins but wants to use this new compression. It won't work! :-)

So we need to build the zstandard filter, and install it in HDF5_PLUGIN_PATH, or else the nc_def_var_zstandard() function cannot work. This is what CCR does. It's easy and works fine. Then the user just installs netcdf-c, and they can start using nc_def_var_zstandard().

[2022-04-19 21:39] DennisHeimbigner commented on #2294
I am lost. Let me make sure that I understand,
1. your HDF5_PLUGIN_PATH points to some ccr created directory that holds the zstd HDF5 filter wrapper.
2. Your attempt to create a file with zstd compression fails, or
3. Your attempt to open a file with zstd compression fails.

Correct?

[2022-04-19 22:04] edwardhartnett commented on #2294
No I do not have the HDF5 filter wrapper installed. This is a fresh machine.

So I install zlib and zstandard with apt-get, and build HDF5.

When netcdf-c is built, zstandard is found and built. But when I try to use it, I get a filter not found error.

[2022-04-19 22:43] DennisHeimbigner commented on #2294
What is the value of HDF5_PLUGIN_PATH ?

[2022-04-19 22:47] DennisHeimbigner commented on #2294
I think I get it. You want to bypass the HDF5_PLUGIN_PATH altogether, right?

[2022-04-19 22:53] edwardhartnett commented on #2294
What CCR does is include this self-contained autoconf project:
https://github.com/ccr/ccr/tree/master/hdf5_plugins/ZSTANDARD

This builds the code here: https://github.com/ccr/ccr/blob/master/hdf5_plugins/ZSTANDARD/src/H5Zzstandard.c

This generates the plugin shared library for zstandard.

During testing, CCR manipulates the HDF5_PLUGIN_PATH to get the tests to work. During install, the plugin is

[2022-04-20 17:20] feiliuesmf commented on #2291
Hi, problem resolved, and thanks Ed for the suggestion.

The problem turned out to be a bug in MPI in the IO layer. I was using INTELMPI 18 which has this bug. After upgrading to INTELMPI 22, I was able to get things to work with
nc_create(c_infile, *mode | NC_64BIT_DATA, &id);

This creates the netCDF file in cdf5 format (which as I understsood it is part of version 3 of netCDF standard. :-)

Tha

[2022-04-20 17:23] edwardhartnett commented on #2291
Yes, NC_NETCDF4 would also have worked, and is HDF5.

Both NC_NETCDF4 and NC_64BIT_DATA (a.k.a. cdf5) eliminate the limits encountered with previous formats, like NC_64BIT_OFFSET.

[2022-04-20 18:21] DennisHeimbigner commented on #2294
I did some experimenting with this idea. One problem that crops up
is that HDF5_PLUGIN_PATH is an actual path, not a single directory.
So it could be of the form "<dir1>:<dir2>: ..." or "<dir1>;<dir2>; ..."
In this case, it is not clear where to install the wrappers.
I think it would be best if we had a ./configure option of this form:

so that a specific install location is defined.

[2022-04-20 19:16] DennisHeimbigner commented on #2294
Another point. In order to protect the user, I would propose
that the installation not overwrite existing filter shared librarys.
Rather, the user would be required to manually remove any existing
installed filter wrappers. The idea is to prevent inadvertent overwrites.

[2022-04-20 19:20] edwardhartnett commented on #2294
I agree with both these points.

CCR has an option:

[code]

[2022-04-21 20:28] #2283 closed

[2022-04-22 04:36] #2251 closed

[2022-04-23 12:59] edwardhartnett commented on #2294
@DennisHeimbigner do you want me to make a PR or are you going to do it?

I sense that @WardF wants to release soon, so we should get this done. It needs to be in the next release...

[2022-04-23 13:01] edwardhartnett commented on #2272
Seems like I've encoutered this before, and determined that it was just an artifact of an uncleaned previous build: https://github.com/Unidata/netcdf-c/issues/1516

I'm going to try again from scratch and see if I can reproduce this problem...

[2022-04-23 13:10] edwardhartnett commented on #2272
OK, with a fresh checkout and a clean build, no problem.

So I've got to remember, next time I see this, that I probably have built with parallel on top of a sequential build, without doing a clean. I will close this issue...

[2022-04-23 13:10] #2272 closed

[2022-04-23 13:18] edwardhartnett commented on #2276
OK, this issue should probably be in netcdf-fortran. ;-)

[2022-04-24 11:44] edwardhartnett opened #2299 "Build of netcdf-fortran doesn't work with current netcdf-c master due to lack of parallel I/O functions"
Due to the work done in #2270, the fortran build stopped working. See https://github.com/Unidata/netcdf-fortran/issues/344.

[2022-04-24 12:41] edwardhartnett opened #2301 "should the netcdf-c CI build and test netcdf-fortran as a set of extra tests, and to ensure we don't break the C/Fortran API?"
Recently a change was made to netcdf-c which caused netcdf-fortran to break. (See #2300 for details).

The point is that these changes worked fine in netcdf-c and all the netcdf-c CI checks passed. But then netcdf-fortran broke. However, that is not tested in the netcdf-c CI runs.

Should the netcdf-c CI download and build netcdf-fortran, using it as an extra set of tests?

In this way, if we make

[2022-04-25 08:48] Alexander-Barth opened #2302 "Windows: _FPCLASS_SNAN’ undeclared on mingw32"
I am hitting a small issue when compiling NetCDF 4.8.1 on Windows with mingw32. In essence `_FPCLASS_SNAN` is not defined on mingw32 but `isnan` is defined like on Linux/Unix. Instead testing `_WIN32` the patch checks for `_MSC_VER`.

* the version of the software with which you are encountering an issue

NetCDF 4.8.1

* environmental information (i.e. Operating System, compiler info, java version

[2022-04-25 09:24] Alexander-Barth opened #2303 "build error on aarch64-linux-gnu: ncvalidator.c: error: ‘optind’ undeclared"
I am trying to cross-compile NetCDF 4.8.1 for the julia project but I have a compile error on aarch64-linux-gnu.

* the version of the software with which you are encountering an issue

 NetCDF 4.8.1

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

Cross-compilation: host: Linux x86_64 target:   aarch64-linux-gnu
Compiler: aarch64-linux-gnu-g

[2022-04-25 14:27] edwardhartnett commented on #2274
Since netcdf-fortran is installed separately, I don't know how nc-config can be expected to know what settings to use for Fortran.

Similarly, I don't see how nc-config can know anything about the netcdf-cxx library or where it might be installed.

Should these values even be in nc-config?

[2022-04-25 14:29] gsjaardema commented on #2274
Agree. I was surprised to see them in the output.

[2022-04-25 14:30] edwardhartnett commented on #2241
Shouldn't this be in the netcdf-cxx project?

[2022-04-25 14:31] edwardhartnett commented on #2230
Can this issue be closed? It does not seem to be a netcdf issue...

[2022-04-25 14:33] gsjaardema commented on #2276
That works for me.  Thanks.

[2022-04-25 14:33] #2276 closed

[2022-04-25 16:27] DennisHeimbigner commented on #2274
Historical note. The current c++ implementation was not the first. There was an older version.
So perhaps this comes from that version support.

[2022-04-25 16:39] WardF commented on #2302
Thank you, a PR would be great, although I am curious as to why I am not observing this on my own mingw32 installation.  Thanks!

[2022-04-25 16:45] #2299 closed

[2022-04-25 18:52] Alexander-Barth commented on #2302
Yes, I make a PR here: https://github.com/Unidata/netcdf-c/pull/2305

[2022-04-26 11:11] edwardhartnett commented on #2301
On sleeping on it, I think this is not a great idea...

[2022-04-26 11:11] #2301 closed

[2022-04-26 11:12] edwardhartnett commented on #2162
This is no longer happening to me so I will close this issue.

[2022-04-26 11:12] #2162 closed

[2022-04-26 11:12] #2110 closed

[2022-04-26 11:12] #2097 closed

[2022-04-26 11:13] edwardhartnett commented on #1803
This has been fixed, thanks.

[2022-04-26 11:13] #1803 closed

[2022-04-26 11:31] edwardhartnett opened #2306 "new code warnings in dutil.c ncio.c test_pathcvt.c tst_diskless6.c tst_quantize.c"
[code]

[code]

[code]

[code]

[code]

[2022-04-26 11:42] edwardhartnett commented on #2080
These got fixed at some point.

[2022-04-26 11:42] #2080 closed

[2022-04-26 11:48] edwardhartnett commented on #1748
OK, since this is now being tested in the CI, it must be working. I will close this issue.

[2022-04-26 11:48] #1748 closed

[2022-04-26 11:54] edwardhartnett commented on #1675
OK, the links seem to have been removed or fixed.

[2022-04-26 11:54] #1675 closed

[2022-04-26 11:56] #1699 closed

[2022-04-26 12:22] edwardhartnett commented on #1948
Well this would be easy in the CMake build, but hard in the autoconf build. I cannot find any easy way to do this.

I do note this m4 script to find HDF5, which would work if we used it: http://git.savannah.gnu.org/gitweb/?p=autoconf-archive.git;a=blob_plain;f=m4/ax_lib_hdf5.m4

But this would be a very significant change to configure.ac, and we have a lot of finicky choices relating to HDF5 and w

[2022-04-26 12:22] #1948 closed

[2022-04-26 12:22] edwardhartnett commented on #1948
Well this would be easy in the CMake build, but hard in the autoconf build. I cannot find any easy way to do this.

I do note this m4 script to find HDF5, which would work if we used it: http://git.savannah.gnu.org/gitweb/?p=autoconf-archive.git;a=blob_plain;f=m4/ax_lib_hdf5.m4

But this would be a very significant change to configure.ac, and we have a lot of finicky choices relating to HDF5 and w

[2022-04-26 12:24] edwardhartnett commented on #2148
Adding the HDF5 version is hard in the autoconf build. See http://git.savannah.gnu.org/gitweb/?p=autoconf-archive.git;a=blob_plain;f=m4/ax_lib_hdf5.m4 for ideas.

[2022-04-26 12:35] edwardhartnett commented on #2173
OK, this has been done, although see #2294 for trouble in paradise.

I will close this issue however.

[2022-04-26 12:35] #2173 closed

[2022-04-26 12:36] edwardhartnett commented on #1624
Well this would be nice but I am too busy and will close this issue. If anyone else wants to try this I would be happy to see it happen.

[2022-04-26 12:36] #1624 closed

[2022-04-26 12:45] edwardhartnett commented on #1648
This has apparently been done, though I don't remember doing it. ;-)

[2022-04-26 12:45] #1648 closed

[2022-04-26 12:46] edwardhartnett commented on #2144
I don't believe this is a netcdf-c issue, but rather an issue with the model code. I will update here if I ever figure out what is going on.

[2022-04-26 12:52] edwardhartnett commented on #1756
@WardF it seems that the users guide has moved to its own GitHub repo?

What is that repo, so I can submit a PR adding info about CDF5?

[2022-04-26 12:53] edwardhartnett commented on #1943
OK, this is not really a netcdf-c issue. I will close it...

[2022-04-26 12:53] #1943 closed

[2022-04-26 14:09] edwardhartnett commented on #2030
Can you try again with the current master branch? Many fixes have been made...

[2022-04-26 14:10] edwardhartnett commented on #1964
@GeorgeVandenberghe-NOAA it would be great to test whether HDF5-1.12.1 fixes your problem.

Also, it would be great to test a build of the current master of the netcdf-c repo, and see how it does. The next release is coming soon, and there have been many changes...

[2022-04-26 14:56] edwardhartnett commented on #1951
I believe this issue can be closed.

[2022-04-26 14:57] edwardhartnett commented on #1886
Can you send a small test program and demonstrates the problem?

[2022-04-26 15:28] #1951 closed

[2022-04-26 15:43] #2038 closed

[2022-04-26 16:22] WardF commented on #1756
https://github.com/Unidata/netcdf is the repo.  Tagging @ethanrd as he has been working on a reorganization and may have some feedback about the merge process.

[2022-04-26 17:05] #2306 closed

[2022-04-26 18:37] #2148 closed

[2022-04-26 19:24] edwardhartnett commented on #163
I believe this ticket should be closed...

[2022-04-26 19:26] edwardhartnett commented on #241
This issue is very old and should probably be closed. At NOAA we build and test netcdf with intel compilers all the time...

[2022-04-26 19:28] edwardhartnett commented on #448
@gsjaardema is this issue still active or should it be closed?

If it's active, what should we do to fix it?

[2022-04-26 19:31] edwardhartnett commented on #1303
When I run tst_parallel3 I see:

[code]

So is this issue still happening?

[2022-04-26 19:35] edwardhartnett commented on #1347
I believe the bzip filter should be installed, just as the zstandard filter is to be installed. (See #2294).

[2022-04-26 19:36] edwardhartnett commented on #1822
I believe this issue should be closed.

I note that it is now possible to create files that don't do the dimscales.

[2022-04-26 19:40] edwardhartnett commented on #325
I believe this issue should be closed...

[2022-04-26 19:41] edwardhartnett commented on #1002
I believe this can be closed. We are currently building with no warnings with gcc.

[2022-04-26 19:44] MicroTed commented on #1886
@edwardhartnett  I tried to reproduce the issue with a simple code and lots of arrays, but it did not fail. I haven't gotten back to this in a while. My guess is there is something I'm missing in the my model code where a collective mpi action has conflicts, but I really don't know

[2022-04-26 19:48] edwardhartnett commented on #1886
OK, maybe you could close this issue and re-open it if this turns out to be related to netCDF.

[2022-04-26 20:01] ckhroulev commented on #448
@edwardhartnett After looking at the code in `main` (just now) I believe it is still active, but I did not check this today.

Note that [my original bug report](http://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2012/msg00015.html) mentioned above includes a minimal example you can use to check this yourself and to create an automatic test.

To fix it you would need to add a block of c

[2022-04-26 20:07] ckhroulev commented on #448
@edwardhartnett Hmm. I may have written the comment above too soon. Sorry. Let me run that minimal example myself -- I'll report when I actually feel like I have something to say.

[2022-04-26 20:35] edwardhartnett commented on #2158
@kgerheiser can you close this issue please?

[2022-04-26 20:41] MicroTed commented on #1886
Sure, good suggestion. I will do that.

[2022-04-26 20:43] edwardhartnett commented on #2029
@gnw3 is this issue still active? Have you tried release 4.8.1?

[2022-04-26 20:45] edwardhartnett commented on #1898
I believe this issue can be closed.

[2022-04-26 21:18] #2158 closed

[2022-04-26 21:33] ckhroulev commented on #448
@edwardhartnett All right. I re-built NetCDF 4.8.1 (with HDF5 1.12.0) with debugging symbols, built my minimal example (see the link above; it needs one more line (`#include <netcdf.h>`) near the top, but otherwise it's still  in good shape), then ran `mpiexec -n 2 a.out varm collective` and attached `gdb` to both processes.

One of the two processes was waiting in an `MPI_Barrier` trying to close

[2022-04-26 21:55] ckhroulev commented on #448
I feel like an idiot (and I may need more coffee). I finally realized that I keep talking about an issue with `..._varm_...` while this issue is about `..._vars_...`. (However, the `varm` issue **is** real.)

Sorry about all this noise.

[2022-04-27 05:59] #1002 closed

[2022-04-27 19:43] #1898 closed

[2022-04-27 19:47] #2157 closed

[2022-04-27 19:58] brtnfld commented on #1822
The issue can be revisited in the future if needed. Closing.

[2022-04-27 19:58] #1822 closed

[2022-04-27 21:53] edwardhartnett commented on #2274
OK, I see what is going on here. In nc-config.in we have:

[code]

So if you have nf-config in your path, you will get the correct answers.

I think this is fine the way that it is. @gsjaardema I suggest you close this issue.

[2022-04-27 21:54] gsjaardema commented on #2274
I disagree that you will get the "correct" answers.  Please read the description in the original report of how I think you get "incorrect" results.

[2022-04-27 21:54] edwardhartnett commented on #73
OK, this is a very old issue. I'm wondering if this is still relevant or if this should be closed.

I believe there was a significant refactoring of the compound data structure handling by @DennisHeimbigner which fixed memory leaks and recursion problems...

[2022-04-27 21:55] edwardhartnett commented on #107
I believe this has been done and this issue can be closed.

[2022-04-27 21:58] edwardhartnett commented on #2274
OK, fair point. Perhaps removing them would be the best approach, and let the user find the nf-config that he or she wants to use...

[2022-04-27 23:28] WardF commented on #73
Happy to reopen it if need be.

[2022-04-27 23:28] #73 closed

[2022-04-28 13:03] edwardhartnett commented on #927
I believe this has been fixed and this issue can be closed.

[2022-04-28 13:05] edwardhartnett commented on #859
OK, seems like this issue can be closed.

[2022-04-28 13:05] edwardhartnett commented on #859
OK, seems like this issue can be closed.

[2022-04-28 13:07] edwardhartnett commented on #858
I think this issue has been resolved and can be closed.

[2022-04-28 13:07] edwardhartnett commented on #858
I think this issue has been resolved and can be closed.

[2022-04-28 13:09] edwardhartnett commented on #485
This is very old. Is this issue still relevant or should it be closed?

[2022-04-28 13:10] edwardhartnett commented on #412
I think this issue can be closed. It is not a netcdf-c issue...

[2022-04-28 13:11] edwardhartnett commented on #396
This is very old. Is this still relevant? @t-b can you try again with the current main branch and see if it resolved your issue?

[2022-04-28 13:13] edwardhartnett commented on #1148
I still think this issue should be closed. ;-)

[2022-04-28 13:13] edwardhartnett commented on #1137
I think this issue should be closed.

[2022-04-28 13:16] t-b commented on #396
Thanks for the reply. Feel free to close for now. I'll reopen once I find time to reproduce.

[2022-04-28 13:32] edwardhartnett commented on #396
@t-b can you close the issue please? I don't have permissions. ;-)

[2022-04-28 15:36] #396 closed

[2022-04-28 15:40] #1148 closed

[2022-04-28 16:18] edwardhartnett opened #2314 "large file tests hang at run_diskless2.sh"
@DennisHeimbigner when trying to run large file tests (i.e. with --enable-large-file-tests) the test run_diskless2.sh hangs. It's been like this for more than an hour.

This is on a powerful multi-core machine with plenty of memory, so if the test can't run on this machine, it's too hard! ;-)

[code]

[2022-04-28 16:18] edwardhartnett opened #2315 "large file tests hang at run_diskless2.sh"
@DennisHeimbigner when trying to run large file tests (i.e. with --enable-large-file-tests) the test run_diskless2.sh hangs. It's been like this for more than an hour.

This is on a powerful multi-core machine with plenty of memory, so if the test can't run on this machine, it's too hard! ;-)

[code]

[2022-04-28 17:01] edwardhartnett commented on #2315
When I comment out running run_diskless2.sh, then all tests pass.

[2022-04-28 17:01] #2314 closed

[2022-04-28 18:18] schwehr commented on #927
Can you link to the commit where it was fixed?

[2022-04-28 19:25] edwardhartnett commented on #927
No! ;-) But I seem to recall that Dennis fixed all these at one point. Can you look in the current main branch and see?

[2022-04-28 19:49] DennisHeimbigner commented on #927
I was just looking at this. The change I made was to try and replace
use of strncpy with strlcat.

The code for  the last resort strlcat is in netcdf-c/libdispatch/dstrings.c
So we could rename it to, say, nc_strlcat, and then modify the strlcat
related ifdefs in include/ncconfigure.h.

But is this problem restricted to strlcat? are there other functions in dstrings.c
that need similar treatment.

[2022-04-28 20:02] edwardhartnett commented on #2315
I have ~57 GB of available memory:

[code]

[2022-04-28 21:36] edwardhartnett commented on #2315
This is a sequential test so is only running on one processor...

[2022-04-28 21:47] DennisHeimbigner commented on #2315
Well I will suppress this test if running parallel. Hope  that will fix the problem.

[2022-04-28 21:53] DennisHeimbigner commented on #2315
Fixed by PR https://github.com/Unidata/netcdf-c/pull/2316 ?

[2022-04-28 21:53] DennisHeimbigner commented on #2303
Fixed by PR https://github.com/Unidata/netcdf-c/pull/2316

[2022-04-28 22:57] dopplershift commented on #2315
I would suggest that while #2316 addresses the fact that the test suite hangs on this configuration, it would be good to leave this issue open since no root cause has been identified. For all we know this could be due to some nasty bug lurking somewhere. Unless I missed something and we'd expect a test running on a single processor should fail in a parallel configuration.

[2022-04-28 23:17] WardF commented on #2274
I've been thinking about this, and it occurs to me that removing it is probably the most straightforward way to go.

[2022-04-28 23:17] #2230 closed

[2022-04-28 23:19] #2303 closed

[2022-04-28 23:20] WardF commented on #2315
Agreed that this has an underlying issue that will need to be resolved.

[2022-04-29 01:28] DennisHeimbigner commented on #2315
Since this test is allocating a 500mbyte block of virtual memory, my suspicion
is that it is something like the one processor creating the block has to somehow
pass (or copy) it to all the other processors before it can continue.
Thoughts from Ed of Wei-King would be welcome.

[2022-04-29 06:14] matzeri commented on #485
forgot about it. Same of https://github.com/Unidata/netcdf-c/issues/2196 that has been solved

[2022-04-29 13:44] edwardhartnett commented on #2315
I don't think so. This is not a parallel I/O problem - it hangs in sequential mode too.

@DennisHeimbigner does this test work for you on your machine?

[2022-04-29 18:01] DennisHeimbigner commented on #2315
I pass. I have no other ideas about what might be happening.
Perhaps someone can apply a debugger or do some profiling to
find out.

[2022-04-29 19:45] coderodyhpc opened #2317 "Configuration not finding ncmpi_create"
Hello,
I've been trying to compile netcdf-c with pnetcdf support but the configuration (`./configure --prefix=/opt/netcdfP --enable-pnetcdf --disable--static --enable-shared`) keeps producing the error:
[code]
I've tried about a dozen different permutations (building static, shared or both libraries, using the Github repository or the stable version, with or without netcdf4 support) but it's alway

[2022-04-29 22:54] wkliao commented on #2317
try adding the followings to your configure command line
[code]

[2022-04-30 01:02] coderodyhpc commented on #2317
Hi @**wkliao**,
It was a matter of explicitly declaring the path to the PnetCDF libraries and headers (I had already defined CC -even if I didn't mention in my original post- and the paths to HDF5 are pretty standard).
Thanks.

[2022-04-30 01:02] #2317 closed

[2022-04-30 01:06] wkliao commented on #2315
This should be resolved in PR #2319

[2022-04-30 12:57] edwardhartnett opened #2320 "nc-config needs to be updated to include has_zstd and has_benchmarks"
We have two new items from the build summary that need to go into nc-config.

[2022-04-30 13:40] edwardhartnett opened #2322 "in nc_test4/run_par_tests.sh we run tst_parallel_zlib with 1 and 4 processors, but only 4 is correct"
The parallel test nc_test4/tst_parallel_zlib.c should only ever be run with 4 processors (or else there will be a memory problem).

Yet we run it with 1 processor in run_par_tests.sh. This is not correct.

[2022-04-30 14:08] edwardhartnett commented on #2165
Here's some address santizer output:

[code]

[2022-04-30 14:13] edwardhartnett commented on #2165
And if I run this program with the new mode flag: NC_NODIMSCALE_ATTACH, the error does not occur.

@dqwu you may wish to turn off dimscales in files with many variables. See the discussion here: #2128.

Using this mode flag also is a workaround for your original problem, since the trouble seems to be in the dimscale code...

[2022-05-02 14:16] #485 closed

[2022-05-02 14:17] #412 closed

[2022-05-02 14:20] #107 closed

[2022-05-02 14:20] #859 closed

[2022-05-02 15:28] edwardhartnett commented on #1992
Can you try again with current main branch and see if this problem still exists?

[2022-05-02 15:31] edwardhartnett commented on #1941
I believe this issue can be closed...

[2022-05-02 15:33] edwardhartnett commented on #1893
To answer the original question: there is no way to learn the length of a vlen variable in advance from HDF5. You must simply read the dataset and see what you get. So there is no way for netcdf to provide this information without reading the data.

I believe this issue can be closed.

[2022-05-02 15:52] edwardhartnett commented on #1847
OK I know a lot more about spack now, and we are transitioning to spack at NOAA for all our HPC installations. It's a great package installation system and I highly recommend that everyone doing complex software builds, which have many dependencies (perhaps including netCDF), should use spack.

However, distributing netcdf-c on spack is not really a netcdf-c issue.

I don't think that @WardF shoul

[2022-05-02 15:54] edwardhartnett commented on #1844
I believe this issue can be closed.

[2022-05-02 15:56] edwardhartnett commented on #1834
Can this issue be closed?

Currently netcdf-c and netcdf-fortran are building in the CI with GitHub actions. Furthermore on the ParallelIO (PIO) project I also routinely build netcdf-c with the GitHub CI.

[2022-05-02 16:22] edwardhartnett commented on #1831
OK, I have made a test for this, tst_parallel7.c. It passes for me on my machine.

Let's put the test into the build to make sure is passes for everyone else. If it fails somewhere, then we have learned something. If it passes everywhere, then maybe this bug has been fixed...

[2022-05-02 16:25] edwardhartnett commented on #1831
Something that you are doing in the code @dqwu which I did not expect users to do...

How come you don't change the variable mode to NC_COLLECTIVE when defining the metadata? I would have expected to see the nc_var_par_access() up before the nc_enddef(). By doing it this way, the mode is independent on most variables but collective on others.

[2022-05-02 16:29] #2322 closed

[2022-05-02 16:41] edwardhartnett opened #2326 "CMake parallel build does not include tst_parallel6.c"
I noticed this by inspection. The CMake file in nc_test4 needs to build tst_parallel6, or else run_par_tests.sh will fail.

I will put up a PR.

[2022-05-02 16:43] edwardhartnett opened #2328 "CMake parallel build should be tested by CI"
Currently the CI is testing the autotools parallel build, but not the CMake parallel build.

[2022-05-02 16:45] dqwu commented on #1831
You are right, I forgot to call nc_var_par_access() before the nc_enddef() in my example code. However, this hanging issue is still reproducible with that minor change.

[2022-05-02 16:46] edwardhartnett commented on #1831
OK, does the issue occur with the current master and HDF5-1.12.2? Or just with historical versions of HDF5 and/or netcdf-c?

[2022-05-02 16:50] dqwu commented on #1831
I can still reproduce this issue on my laptop with NetCDF 4.7.1 built with HDF5 1.10.5. I will try HDF5 1.12 later.

[2022-05-02 17:39] dqwu commented on #1831
@edwardhartnett This issue is reproducible with NetCDF 4.7.1 built with HDF5 1.10.6 but not reproducible with NetCDF 4.7.1 built with HDF5 1.10.7. So it is likely a bug of HDF5 1.10.6 or older, which has been fixed in HDF5 1.10.7 or newer.

[2022-05-02 17:52] dqwu commented on #1831
FYI, not sure if it is related to this bug fix in HDF5-1.0.7 release:
[code]

[2022-05-02 18:52] RobertPincus commented on #1834
@edwardhartnett Yes, the issue can be closed. I don't remember how I resolved this issue but my current [continuous integration](https://github.com/earth-system-radiation/rte-rrtmgp/blob/main/.github/workflows/continuous-integration.yml) does build netcdf-c v 4.7.4 and netcdf-fortran v4.5.3 on top of `libhdf5-dev`

[2022-05-02 19:01] edwardhartnett commented on #1831
@dqwu could you please close this issue?

[2022-05-02 19:02] edwardhartnett commented on #1834
@RobertPincus can you close this issue please?

[2022-05-02 19:09] #1834 closed

[2022-05-02 21:04] dqwu commented on #1831
Close this issue since it has been fixed by HDF5 1.10.7.

[2022-05-02 21:04] #1831 closed

[2022-05-02 22:28] ethanrd commented on #1756
@edwardhartnett - The reorganization of the NUG is currently in PR #[47](https://github.com/Unidata/netcdf/pull/47) of the Unidata/netcdf repo, off a branch in my fork. The goal of the reorg is to extract any library/language specific content from the more abstract, leaving mainly the data models, file formats, CDL, conventions, and best practices.

The [existing netCDF-3 BNF documentation](https:

[2022-05-03 01:27] geoffmatt commented on #1893
Thanks for the response. Closing the issue.

[2022-05-03 01:27] #1893 closed

[2022-05-03 13:11] edwardhartnett commented on #1756
I was responding to a user who pointed out that nowhere in the documentation do we explain the CDF5 format, and it's limits.

So that needs to be in the documenation in the same place we describe the other binary formats.

[2022-05-03 13:45] ethanrd commented on #1756
OK. Yup, we'll get it in there. Thanks Ed!

[2022-05-03 13:48] edwardhartnett commented on #1756
Are you planning to release the documentation at the same time as the next netcdf-c release?

[2022-05-03 14:45] edwardhartnett opened #2329 "doxygen warnings"
There are doxygen warnings:

[code]

[2022-05-03 14:57] edwardhartnett commented on #2186
OK, turns out that nc4cache.c was not in the list of input files in Doxyfile.in. I will submit a PR shortly.

@DennisHeimbigner any other functions other than the cache functions?

[2022-05-03 15:17] edwardhartnett commented on #2329
OK, one big problem is that the object_name was in the NUG, which has now been removed. So I need to add that back in, and that will make most of the warnings disappear. The section is here: https://docs.unidata.ucar.edu/nug/current/netcdf_data_set_components.html#object_name

[2022-05-03 16:42] ethanrd commented on #1756
In the longer run, the goal is to separate the release schedule of the NUG from that of the libraries. I expect the first release will need to be synchronized with netCDF-C in some way. Our planning hasn't gotten quite that far. @WardF any thoughts?

[2022-05-03 16:47] edwardhartnett commented on #1756
I would strongly advise that netcdf-c-4.9.0 be released without waiting for the NUG.

The most critical information is that in the C function descriptions. The NUG is more explanatory and will change less with each release. I will open an issue for this in the NUG repo, and close this issue.

[2022-05-03 16:47] #1756 closed

[2022-05-03 18:20] Dave-Allured commented on #1941
Ed, let's keep this proposal going.  Sorry for my delayed response.  Repeating with emphasis, I believe that the benefits greatly outweigh the downside.

Break code compatibility:  Technically yes, but highly manageable.  No API or ABI signature or public symbol will change.  No normal user work flows will change.  I speculate that this change will be invisible to most existing code.  Such user co

[2022-05-03 18:31] edwardhartnett commented on #1941
I strongly disagree with the goal.

Also there is more to classic mode than just enddef/redef.

The point of classic mode is to ensure that a large code base (such as an atmospheric model) can very easily switch between netCDF classic and netCDF/HDF5. This is still very useful. The classic flag ensures that no code will be added to the model which is not possible to express in classic format. This

[2022-05-03 18:47] DennisHeimbigner commented on #1941
As an aside; what about other formats (now and in the future) that uphold the netcdf-4 data model, but do not use HDF5: NCZarr, for example. There,both enddef and redef have some onsequences
with respect to pushing metadata to the cloud store.

[2022-05-03 18:52] edwardhartnett commented on #1941
I would suggest that those other formats should behave like netCDF-4 without classic. That is, enddef/redef should be called automatically when needed. You may also feel the need to implement the CLASSIC_MODEL flag, which would then require that the user call enddef/redef appropriately.

[2022-05-03 18:53] edwardhartnett commented on #2329
OK, I've got a further PR that takes this down to:

[code]

[2022-05-03 19:32] Dave-Allured commented on #1941
Other formats:  Yes, avoid enddef/redef as much as possible.  I think the **only** reason these were part of the original netCDF API was for performance improvement when managing the relatively rigid structure of netCDF-3 on disk.  This was specifically to minimize the amount of whole-file rewrites.  In my view, enddef/redef should only be used when critical for serious performance gains.

Look at

[2022-05-03 19:39] Dave-Allured commented on #1941
CLASSIC_MODEL flag:  Opinion:  No, unnecessary complexity.  I think most developers know by now how to design for the desired compatibility level.  The community has been fumbling and solving similar issues since the introduction of netCDF-4, most commonly by writing string attributes instead of character by accident.

[2022-05-04 13:48] edwardhartnett opened #2333 "zstandard functions do not appear in the documentation (nor do any of the filter functions in dfilter.c)"
zstandard functions do not appear in the documentation.

I will submit PR shortly...

[2022-05-04 14:58] edwardhartnett commented on #2010
I believe I have updated all the necessary URLs in #2334

[2022-05-04 15:06] edwardhartnett commented on #1826
Seems like this has been fixed, and this issue can be closed.

[2022-05-04 15:08] edwardhartnett commented on #1687
I believe this issue can be closed.

[2022-05-04 15:09] edwardhartnett commented on #1329
I believe this issue can be closed.

[2022-05-04 15:13] edwardhartnett commented on #1014
@DennisHeimbigner I have a bunch of documentation PRs up.

If you can explain how the semantics are misleading I will correct the docs...

[2022-05-04 15:14] edwardhartnett commented on #936
I agree. It was funny but now it's just confusing.

@oxelson can we remove the blog post in question? I'm sure John Caron will not mind... ;-)

[2022-05-04 15:23] edwardhartnett commented on #1818
If this cannot be reproduced, this issue should be closed.

szip is well-tested in current main branch.

[2022-05-04 15:50] #1693 closed

[2022-05-04 15:59] edwardhartnett commented on #891
I believe we should remove all-error-codes.md, and in nc_strerror() we should simply refer to netcdf.h.

In netcdf.h we should (as we already have) document each error code with a doxygen comment.

If we do all this, doxygen will display the error codes just fine:

![image](https://user-images.githubusercontent.com/38856240/166722149-721a994b-62ab-4f23-8901-3eff2ba47cf4.png)

I will submit a PR wi

[2022-05-04 16:09] edwardhartnett commented on #307
Can this issue be closed? It is very old...

[2022-05-04 16:11] edwardhartnett commented on #1590
This was an interesting discussion, but is not really a netcdf-c issue. I recommend this issue be closed, or moved to the discussion section of GitHub.

[2022-05-04 16:17] dopplershift commented on #1590
The issue *could* be transferred to Unidata/netcdf if @WardF agrees.

[2022-05-04 16:20] edwardhartnett commented on #1685
Is this only happening on 32-bit builds?

I have just tried with HDF5-1.12.2 and szip-2.1.1 and everything works. I will try with HDF5-1.10.7 next...

[2022-05-04 16:48] WardF commented on #1590
Agreed.

[2022-05-04 17:57] DennisHeimbigner commented on #1704
These are defined in include/netcdf_filter.h, but have different names, probably
the names defined by hdf5 headers.

[2022-05-04 18:03] DennisHeimbigner commented on #2333
Please examine PR https://github.com/Unidata/netcdf-c/pull/2249

[2022-05-04 18:54] edwardhartnett commented on #2333
@DennisHeimbigner I've looked at #2249 - what am I looking for?

Unless I'm mistaken I don't think it includes the doxygen documentation for the zstandard functions.

[2022-05-04 18:56] edwardhartnett commented on #1704
I believe that in the case of szip, they should be defined in netcdf.h, just as the zlib constants are.

Alternatively, can we include netcdf_filters.h in netcdf.h?

[2022-05-04 19:11] DennisHeimbigner commented on #1704
I have left the deflate constants in netcdf.h because it is always there when netcdf-4
is enabled. Szip is optional, so I am not sure that it should be in netcdf.h.
As for including netcdf_filters.h in netcdf.h, we have had this conversation
before with no agreement, so I am willing to have it again.
My argument is that the user includes netcdf.h and then includes secondary netcdf_xxx.h
headers fo

[2022-05-04 19:13] DennisHeimbigner commented on #2333
No, but some of the text there might be useful.

[2022-05-04 19:15] edwardhartnett commented on #2333
It's OK, I've got complete documentation already in the CCR project, I just stole it. ;-)

I added documentation for filter functions that didn't have any.

I have also just added netcdf_filter.h to the doxygen build - previously it was not there.

Once all these PRs are merged I can do another pass to get rid of new doxygen warnings.

[2022-05-04 19:19] edwardhartnett commented on #1704
One difference with netcdf_parallel.h, and the reason it is in a separate file, is that it includes mpi.h, which will not be present for sequential builds.

Anyway, let's leave it as it is for the 4.9.0 release, and worry about it next time around. ;-)

For most of my NOAA users, it doesn't matter - they do everything in Fortran and never do anything in C. So netcdf-fortran will have to have an ex

[2022-05-04 19:40] DennisHeimbigner commented on #2333
ok, sounds good.

[2022-05-05 00:39] dopplershift commented on #936
It says at the top (now at least):

This article was published back in 2012 as an April Fool's Day joke. Six years later, folks searching for information about netCDF see the part about version 5 and assume that the article is real, without reading to the end of the post where it says "P.S. April Fools." So here's your warning — this is a joke!

I think we can leave it with just that.

[2022-05-05 00:39] #936 closed

[2022-05-05 11:27] edwardhartnett commented on #936
@dopplershift this is not the first time I've encountered this confusion. Does Unidata gain anything from having this article up on the web?

@oxelson it was funny at the time, but not any more. Unidata is not a comedy club and people are not expecting Unidata web documentation to try and be funny.

I'm all for a laugh, but not when it causes confusion and extra work for our users.

[2022-05-05 12:31] Alexander-Barth opened #2337 "OPeNDAP+HTTPS: certificates not found"
With the new NetCDF 4.8.1 updated in Julia, we have an issue to accessing OPeNDAP resources over HTTPs. It seems that no certificate authority is loaded by default. In the new version of NetCDF 4.8.1 we also link against a new version of libCURL (now 7.81.0 previously 7.73.0).

* the version of the software with which you are encountering an issue
NetCDF 4.8.1

* environmental information (i.e. Op

[2022-05-05 13:10] edwardhartnett opened #2338 "make distcheck fails on master..."
[code]

I will take a look...

[2022-05-05 13:17] edwardhartnett commented on #2338
OK, I've fixed that problem, but here's the next one:

[code]

[2022-05-05 13:41] edwardhartnett commented on #2338
OK, I've got it working. PR shortly...

[2022-05-05 13:50] edwardhartnett commented on #2338
Also:

[code]

[2022-05-05 13:59] edwardhartnett opened #2341 "Turn on make distcheck in CI"
Currently the CI is not doing a make distcheck, but it should.

[2022-05-05 14:05] edwardhartnett commented on #2338
OK, I have fixed all the missing file problems in the Makefile.am files. However, now I'm left with this more difficult issue:

[code]

I am going to put up a PR with all the Makefile.am changes, while I work on this issue...

[2022-05-05 14:14] edwardhartnett commented on #2338
@DennisHeimbigner I think the issue here is the way you are installing the plugins with your own script.

In the CCR project, I install them without a script with some automake magic. Here's the example from the zstd plugin:

[code]

This builds and installs the plugin in the HDF5_PLUGIN_DIR, which is set by configure, but defaults to the HDF5 default. No install script needed.

[2022-05-05 20:08] #891 closed

[2022-05-05 20:08] #2186 closed

[2022-05-05 20:08] #2333 closed

[2022-05-05 20:59] DennisHeimbigner commented on #2338
I am surprised; I thought we did a distcheck under our github actions. Guess not.

[2022-05-05 21:01] DennisHeimbigner commented on #2338
Now you have my back up. I refuse to to an auto-install in HDF5_PLUGIN_DIR.
So I strongly recommend this PR not be accepted.

[2022-05-05 21:04] edwardhartnett commented on #2338
Hmmm? Why the reluctance to install the HDF5 plugins?

It doesn't auto-install - the user has to do a "make install".

Without that, zstandard will not work. ;-)

[2022-05-05 21:09] DennisHeimbigner commented on #2337
I can't see anything in the libcurl change log: https://curl.se/changes.html
Perhaps this is an OPENSSL change?

[2022-05-05 21:20] edwardhartnett commented on #2338
For example, I just tried adding this test code, and it fails with current master:

[code]

It fails with ` Filter error: undefined filter encountered`, because the zstandard filter has been built but not installed.

It does not benefit netCDF users if they can't turn on the feature. Have `make install` do all the installing that is needed to make everything work. That is what users expect.

If we

[2022-05-05 21:25] visr commented on #2337
I'm not sure, but I suspect this change might be on the julia side since other libraries that use curl also need to set this path on Linux.

I should've looked better but it seems this already exists; [`ocset_curlopt`](https://github.com/Unidata/netcdf-c/blob/2404731793253c3356fbe91b54993e9d7d7df8c1/oc2/occurlfunctions.c#L24-L36). And if I'm not mistaken [`ocopen`](https://github.com/Unidata/netcd

[2022-05-05 22:36] DennisHeimbigner commented on #2337
You should not be using any oc function; they were made internal long ago
and can only be used in the context of libncdap.
Why is your use of .ncrc not acceptable?

[2022-05-06 03:00] opoplawski commented on #1685
I've only seen it on 32-bit.  Still seems to be happening with recent Fedora builds with HDF5-1.12.1.

[2022-05-06 04:49] DennisHeimbigner commented on #2338
I took your PR https://github.com/Unidata/netcdf-c/pull/2342 and did some corrections on it.
You exposed some naming problems in nczarr_test and in plugins directories that I fixed.
I also took your suggestion for an alternate plugin install mechanism and applied it;
stdinstall.sh is no longer needed. Thanks.
Anyway, I will post my PR tomorrow; you can either merge it back to yours
or use mine.

[2022-05-06 07:15] Alexander-Barth commented on #2337
For me (as a user of netcdf in my research work), it is certainly acceptable to manually define this configuration file `.ncrc`.

But as a developer of a julia wrapper, I am a bit worry about all the users hitting this error and not knowing what to do. Some of them will use NetCDF as an indirect dependencies and are not aware that a library down the software stack requires some configuration.  The

[2022-05-06 19:27] DennisHeimbigner commented on #2337
Good point. As a developer, I sometimes forget to take the naive user into account.
In include/ncrc.h there is a technically internal operation to insert a new key/value pair
into the internal copy of .ncrc,

You might try it as an experiment to see if it works for your problem. You can set the last two
parameters to NULL. You will also need to declare the function signature in your code.
I will t

[2022-05-06 19:32] DennisHeimbigner commented on #2338
I had not planned to default to HDF5_PLUGIN_PATH, but since it seems important to you,
I will do it. It will require me to parse HDF5_PLUGIN_PATH, so I need a decision by you.
Suppose HDF5_PLUGIN_PATH looks like this:

Do I install into dir1, dir2, or dir3?

[2022-05-06 19:47] edwardhartnett commented on #2338
dir1.

Here is how I check for it in configure.ac:

[code]

In addition to using HDF5_PLUGIN_PATH, you need to default to /usr/local/hdf5/lib/plugin if it is not set. (I don't know what the Windows equivalent is).

Most users will not have HDF5_PLUGIN_PATH set. So we need to use HDF5's default location, because that will allow zstandard to work for netcdf-c out of the box.

Most people will not

[2022-05-06 19:56] DennisHeimbigner commented on #2338
This won't work if NCZarr is enabled but HDF5 is not.

[2022-05-06 20:00] edwardhartnett commented on #2338
Yes, the HDF5_PLUGIN_PATH can be completely ignored in that case.

[2022-05-06 20:04] DennisHeimbigner commented on #2338
Why? NCZarr uses it too.

[2022-05-06 20:15] edwardhartnett commented on #2338
OK, sorry I didn't know. In any case, when HDF5 is not built, then no need to worry about the HDF5 default path for plugins.

When asking you to support the HDF5 default, I am thinking of NOAA or other HPC systems, where they are going to be producing large netCDF/HDF5 datasets, and will want to use zstandard (as they want to do at NOAA).

Having zstandard and HDF5 work together out of the box is

[2022-05-06 20:20] DennisHeimbigner commented on #2338
Side note. Apparently in HDF5 version 1.13, it will be possible to programmatically
modify the value of HDF5_PLUGIN_PATH.
See here: https://docs.hdfgroup.org/hdf5/develop/group___h5_p_l.html#title3
and look at the list on the left side.

[2022-05-06 20:29] visr commented on #2337
Thanks for the tip! I tried `NC_rcfile_insert`, but have not yet been successful. The certificates are not found, but that seems not too surprising, given that when I try to check the value with `NC_rclookup`, I get a NULL string back.

The code is here:
https://github.com/Alexander-Barth/NCDatasets.jl/blob/9817458ebd95cd90606181846b1fd76b2ab76f18/src/NCDatasets.jl#L40-L52

Which prints
[code]

Am

[2022-05-06 20:36] edwardhartnett commented on #2338
That will be handy. For testing, what we will have to do is run tests in a script, which sets the HDF5_PLUGIN_PATH and then runs the test. That way, the test can be run before make install.

Here's an example:
[code]

[2022-05-06 20:43] DennisHeimbigner commented on #2338
Yes, although some filter tests are a bit more complex. There is already code
to locate the plugins before installation.

[2022-05-09 14:57] Alexander-Barth commented on #2337
Thanks @visr, for your test with `NC_rcfile_insert` and `NC_rclookup`.

I had look with the gdb debugger while running `NC_rcfile_insert` from a julia session.
When reaching this line https://github.com/Unidata/netcdf-c/blob/v4.8.1/libdispatch/drc.c#L532, just before returning,  `globalstate->rcinfo.triples` was surprisingly still a null pointer.

[code]

However, when I force `globalstate->rcinfo

[2022-05-10 17:18] WardF opened #2344 "NetCDF-C v4.9.0 Release"
Playing with 'new' GitHub tools, workflows for managing the `v4.9.0` release.  New `Project` here: https://github.com/orgs/Unidata/projects/4

[2022-05-12 02:51] #858 closed

[2022-05-12 02:51] #1137 closed

[2022-05-15 05:55] edwardhartnett commented on #2341
@WardF I suggest this be fixed before release...

[2022-05-17 22:45] #2320 closed

[2022-05-17 22:45] #1704 closed

[2022-05-17 23:21] WardF opened #2349 "4.9.0 Blocking: Failure in ncdap_test/tst_ncdap3 and ncdap_test/tst_remote3 on MacOS"
Blocking issue for 4.9.0 release:  Failure in tests `tst_ncdap3.sh` and `tst_remote3.sh` on MacOS. This appears to be reflected in the one-off CI tests on Github Actions, now; not sure how this crept in, unless it was a change on the remote server.  However, the tests run correctly on Linux VMs on the same machine.

Log files here:

* [tst_ncdap3.log.zip](https://github.com/Unidata/netcdf-c/files/

[2022-05-18 10:05] edwardhartnett commented on #1818
I believe this issue can be closed.

[2022-05-18 11:03] deeplycloudy commented on #1696
Thanks, @edwardhartnett!

[2022-05-18 11:03] #1696 closed

[2022-05-18 19:14] WardF commented on #2349
Ran `git bisect`, looking at this now.

* First known failure in `tst_ncdap3.sh`: 375e5adfe46e63a7b7e1811431878daf9d560f7e

[2022-05-19 13:28] edwardhartnett opened #2350 "make install not working on main branch..."
Hopefully some variant of #2348 can be merged soon.

The current main branch does not install:

[code]

[2022-05-19 13:29] edwardhartnett opened #2351 "make install not working on main branch..."
Hopefully some variant of #2348 can be merged soon.

The current main branch does not install:

[code]

[2022-05-19 13:29] edwardhartnett commented on #2351
Somehow this issue got entered twice. I will close this one and leave the other open...

[2022-05-19 13:29] #2351 closed

[2022-05-19 16:58] WardF commented on #2350
I'll take a look after I get #2349 sorted.

[2022-05-19 18:13] WardF commented on #2349
Issue located and tentatively fixed. Testing fix PR now.

[2022-05-19 19:44] #2349 closed

[2022-05-22 16:18] edwardhartnett opened #2353 "add new enable/disable-plugin-install to configure.ac"
This issue assumes #2348 is merged.

The current state of play is that --with-plugin-dir is used both to determine whether plugins are installed, and, optionally, where they are installed. This is overloading the option in a way that will be confusing for most autoconf users.

Instead, I suggest add a new option --enable-plugin-install. If --enable-plugin-install is used, plugins will be installed

[2022-05-22 16:22] edwardhartnett opened #2354 "Add new --enable/disable-zstandard configure option"
This assumes #2348 is merged, and #2353 is also adopted.

Currently the configure looks for the zstandard library and decides whether or not to install zstandard based on whether or not it is found. This is somewhat random for the installer (it might be installed, it might not, from system to system).

To make this more reliable we can add an option --enable/disable-zstandard. If --enable-zstandar

[2022-05-22 16:34] edwardhartnett opened #2355 "Zstandard should be enabled by default"
This assumes #2348 is merged, and #2354 is adopted.

The current state of play is that zstandard will be not working by default (because plugins will not be installed by default).

The original idea here was to prevent data producers from releasing netCDF data that cannot be understood by all users. But while we have now made changes which will allow NOAA and other large data producers to use zsta

[2022-05-23 21:57] DennisHeimbigner commented on #1941
It is worth remembering the nc_endef internally is necessary as a specific point
at which certain decisions are made about values used to write variables and attributes.
In some cases, these cannot be undone even if redef is called. This is why there
are some error codes such as NC_ELATEDEF.

[2022-05-23 23:18] dopplershift commented on #2355
Well, to be fair I'm pretty sure "most users" install pre-built binaries from linux package managers, Homebrew, conda-forge, underpants gnomes on Windows (ok, probably not, but you get the idea). But I wouldn't expect those maintainers to necessarily catch that the new features were added and require new flags to enable. This could impact the speed of deployment of the new stuff, since you've then

[2022-05-24 19:32] jswhit opened #2357 "nc_inq_dimlen reports incorrect length of unlimited dimension after variable data modified"
See https://github.com/Unidata/netcdf4-python/issues/1166 which includes a simple test program reproduced here

[code]

with netcdf-c 4.8.1 the dimension length printed is 1, but with netcdf-c 4.7.4 the correct value of 2 is reported.  Note that if the last `nc_put_vara` is commented out (the variable data is not modified), the correct value of 2 is printed.

[2022-05-24 20:28] #2326 closed

[2022-05-25 06:47] edwardhartnett commented on #2338
make distcheck is still failing on the current main branch:

[code]

[2022-05-25 12:29] edwardhartnett commented on #2338
It's because of this section in Makefile.am:

[code]

@DennisHeimbigner what is being attempted here? Removing the BZIP2_LICENSE file is causing trouble.

[2022-05-25 14:14] gsjaardema opened #2358 "Documentation -- Users Guide has some incorrect links"
In the users guide at https://docs.unidata.ucar.edu/nug/current/index.html:
* The link for `Appendix A` points to https://docs.unidata.ucar.edu/netcdf-c/current.4-pre/attribute_conventions.html
* The link for `Appendix B` points to https://docs.unidata.ucar.edu/netcdf-c/current.4-pre/file_format_specifications.html

These are the links in the sidebar at the left of the page.

[2022-05-25 14:24] edwardhartnett opened #2359 "add support for 16-bit floating point?"
I am attending the EGU this week and watching some presentations on exascale computing.

One trend has been to stop using NC_DOUBLE (which is very typical in models), and use NC_FLOAT instead. (This is being done with the UFS at NOAA with great results.)

However, the trend can be carried even further, and I just saw a presentation about the speed of 16-bit floating point numbers. They are at leas

[2022-05-25 18:23] edwardhartnett commented on #2355
I just gave my talk at the EGU where there was a great deal of interest in zstandard. Safe to say that many data producers are going to start using it. Will end users be able to read these files without re-installing netCDF? Only if plugins are installed in the correct place by default.

Otherwise, expect to get support emails: "Reading NOAA/ECMWF/NASA/ESA netCDF file returns an  NC_EFILTER error

[2022-05-25 20:15] DennisHeimbigner commented on #2338
The comment preceding this block says:

So you should never be invoking this code; it is only to record how bzip2 was built.
How is this getting called?

[2022-05-25 20:19] DennisHeimbigner commented on #2338
Also, BZIP2_LICENSE is part of the EXTRA_DIST. Did you accidentally delete it?

[2022-05-25 21:31] edwardhartnett commented on #2338
I did a make check then a make distcheck.

[2022-05-25 21:59] DennisHeimbigner commented on #2338
Is BZIP2_LICENSE anywhere in your build directory?

[2022-05-25 23:01] edwardhartnett commented on #2338
OK everything works with a clean clone. I will close this issue.

[2022-05-25 23:01] #2338 closed

[2022-05-25 23:09] edwardhartnett commented on #2350
This now works. I will close this issue.

[2022-05-25 23:09] #2350 closed

[2022-05-28 10:49] edwardhartnett opened #2361 "add documentation for the quantize feature"
More documentation of the quantize feature is needed.

[2022-05-28 15:58] edwardhartnett commented on #2329
There are many warnings for filters.md, but I must wait until #2348 is merged before fixing them...

[2022-05-29 05:54] edwardhartnett opened #2365 "add documentation check to CI run, ensure no documentation warnings with WARN_AS_ERROR"
Doxygen has a WARN_AS_ERROR setting.

This setting, when turned on, cause the documentation build to error out of there are any warnings.

Once existing warnings are cleared, this can be turned on, and a doxygen build added to the CI. After that, no PR will pass if it generates doxygen warnings. This is a great way to keep documentation working and the quality of doxygen good. Of course, it does n

[2022-05-29 08:22] magnusuMET opened #2367 "Out of tree builds modifies in tree files"
* Version: v4.8.1, master
* Platform: Ubuntu 18.04, most likely other platforms

Description of the issue with the steps needed to reproduce it
* Have a platform with all build tools (including m4) included
* Build out of tree using CMake
* Running `make` modifies in-tree files (`libsrc/{attr.c,ncx.c,putget.c}`)
* Running `make clean` removes in-tree files above and `nc_test/{test_get.c,test_put.c

[2022-05-29 12:14] edwardhartnett commented on #2357
OK, I have found the problem here, and there are two.

Firstly, in hdf5var.c we have:
[code]

This is incorrect because dim->len is always 0 for unlimited dimensions. Not until nc4_find_dim_len() is called can we know the length of an unlimited dimension. So instead of dim->len we need to use fdims[d2] which is the actual length of the variable's extent in the unlimited dimension.

Secondly we hav

[2022-05-30 06:59] rkouznetsov opened #2369 "Overcomplicated and rigid interface to Quantization"
This is just a follow-up for my question at EGU (to https://meetingorganizer.copernicus.org/EGU22/EGU22-13259.html) Unfortunately, the slides only available for participants, so you might wish to consider sharing the slides elsewhere.

According to the presentation , the current implementation has three modes of trimming precision and a control for number of significant digits, i.e relative precis

[2022-05-30 07:23] edwardhartnett commented on #2369
What would the desired API look like?

[2022-05-30 10:24] rkouznetsov commented on #2369
I would suggest to use e.g. `float abs_error_margin` and `float rel_error_margin` parameters, with zero defaults and get some attributes for them into a CF conventions.

[2022-05-30 10:29] edwardhartnett commented on #2369
@czender your thoughts on this?

[2022-05-30 10:38] rkouznetsov commented on #2369
BTW, it would be great to avoid using `_underscore` attributes. They seem to cause a lot of trouble when each software has to decide (sometimes correctly) if it has to keep them, discard them, or reset them. I guess @czender can tell more about it...

[2022-05-30 10:40] edwardhartnett commented on #2369
Underscore attributes should never be removed or changed. That seems like a fairly straightforward rule and is laid down in the NetCDF Users Guide.

[2022-05-30 10:52] rkouznetsov commented on #2369
You still might wish to trim the precision further later if your application is less demanding than the original precision.  Then, if we accept that "never", these attributes should not be underscored..

[2022-05-30 20:01] DennisHeimbigner commented on #2369
Let me clarify a bit. The NUG (at least the attribute conventions document) says:

The point is to reserve part of the attribute namespace for our use to avoid potential conflicts
with user defined attributes. That is why it would inadvisable to remove those leading
underscores.

[2022-05-31 01:59] czender commented on #2369
@rkouznetsov Thank you for your input. The metadata attributes planned for the netCDF library ensure complete provenance and reproducibility, because they identify the algorithms and inputs to the algorithms. Moreover, participants in the 2021 netCDF-CF workshop concurred that unique identification of the algorithms and their inputs was essentially. That does not preclude adding other algorithms o

[2022-05-31 06:02] edwardhartnett commented on #2369
Well good commentary from @DennisHeimbigner and @czender!

I would like to address the question of why the three algorithms are provided.
* Bit Groom is not as compressive as Granular Bit Round, but is fastest.
* Granular Bit Round is the most compressive, and is what most users new to quantization should use.
* Bit Round takes number of bits instead of decimal digits, and is for users currently d

[2022-05-31 06:12] rkouznetsov commented on #2369
@czender, thank you for the correction. I'd be happy to participate to the workshop.

I hope we agree that all lossy compressions are about trading some precision for compression ratio.
My main point was that NSD is a very vague measure of precision, unlike the error margin (or e.g. RMSE).  I never denied, and hereby  fully acknowledge that that GranularBitRound obtains significantly better compre

[2022-05-31 06:41] rkouznetsov commented on #2369
@edwardhartnett Thank you!

This is a good statement.  I just draw your attention to the fact that BitGroom has been shown sub-optimal, and has no longer been used in nco by default, and  GranularBitRound has been enabled in nco by default only few months ago and immediately caused problems in our operational applications. Non-default options are rarely used. They definitely can be considered "dem

[2022-05-31 06:54] rkouznetsov commented on #2369
As a suggestion. Would just adding a helper function that translates a number of decimals to _approximate_ number of bits for BitRound help? Also a function that translates a relative error margin to the number of bits.
Then the parameter for the algorithm will no longer be needed, and a user will have an option to use _decimals_ or an error margin if they wish.   `int nsd` then can be replaced wi

[2022-05-31 07:20] edwardhartnett commented on #2369
One thing that would be helpful would be some C code that accepts the two floating point parameters you suggest, and applies them to some data, so we can see exactly how that would work.

[2022-05-31 07:28] rkouznetsov commented on #2369
It has been done already. Fortran and Python implementations, and the code that  actually applies them (including generation of data and plotting statistics) can be found in my GMD paper https://doi.org/10.5194/gmd-14-377-2021  and its supplement. C implementation of the code can be found from nco. If you have any specific wrapper, that you used to test all the algorithms I could copy-paste the im

[2022-05-31 07:41] rkouznetsov commented on #2369
I could try to implement the things directly into netcdf-c, but that would break the backward compatibility with the currently-implemented interface.

[2022-05-31 07:54] edwardhartnett commented on #2369
I will take a look at this code.

However, even if we add more quantize modes, including based on percent error, that does not obviate the need for the existing API. For example, NOAA is planning on immediately using the Bit Round algorithm in the Unified Forecast System, as soon as it becomes available. I suspect other large data producers, currently using a bit-oriented approach, will do the sam

[2022-05-31 08:13] rkouznetsov commented on #2369
BitRound makes a full sense to me, except for naming the formal parameter `nsd`. The latter should be `nsb` or `keepbits` or something like that. Just check if it includes the implicit bit or not.  My reservations are about two other algorithms and the argument to pass the algorithm indicator. If we can postpone those for now, it would be great.

For the future releases, probably, it would be good

[2022-05-31 10:50] rkouznetsov commented on #2369
Thank you! It is not _my_ way, and it is not a belief, but rather something I can prove, and anyone is free to disprove if they can.
A single example would be sufficient to disprove it, but I have not seen any so far.

Could you at least avoid passing two different parameters under the same name `nsd`, and explicitly mark no promise for backward compatibility for BitGroom and GranularBitGroom, sin

[2022-05-31 12:01] edwardhartnett commented on #2369
WRT the parameter name, nsd stands for number of significant digits. Digits may be decimal digits or binary digits. Obviously we cannot add a new function merely to make that distinction more clear. So we will keep the parameter named as it is.

Nor will there be any plan of deprecating the nsd quantization. All engineers and scientists understand what number of significant digits means. Many quan

[2022-05-31 14:07] czender commented on #2369
@rkouznetsov It may be easier to prototype the kind of metadata functionality you want in NCO than in the netCDF-C library.  I invite you to submit a patch or open a suggestion there.

[2022-06-01 03:45] edwardhartnett opened #2371 "autoreconf warnings"
I upgraded to the recently-released ubuntu-22, and now I get these warnings from autoreconf:

[code]

My version:

[code]

However, these do not prevent the build from working. make check works fine. ;-)

[2022-06-01 04:13] DennisHeimbigner commented on #2371
Removing it as I recall causes other problems with other versions.

[2022-06-01 04:19] DennisHeimbigner commented on #2371
I am trying to remember what caused the problem. I think it has to do with the
autoconf running on ubuntu 18

[2022-06-01 04:26] edwardhartnett commented on #2371
It apparently requires a more recent version of autoconf as well. I notice that it changed the version of autoconf required at the top of the configure.ac.

Since only developers ever have to run autoreconf, this should be fine. However, as I recommended in the PR, no need to merge this before the 4.9.0 release, so that there's plenty of time to make sure it works everywhere we need it to...

[2022-06-01 06:09] rkouznetsov commented on #2369
@edwardhartnett  Sorry. I was wrong about 50%. The error margin for GranularBitRound in nco is 15% for NSD=1, 2% for NSD=2, 0.22% for nsd=3 etc. I am, probably, not too experienced with decimals, but I would expect the relative error specified in decimals to be less than the relative value of 1 at the last decimal place for the worst-case scenario, so it should be at most 5%, 0.5%, and 0.05% for N

[2022-06-01 11:19] edwardhartnett commented on #2353
@DennisHeimbigner any objection to adding --enable/disable-plugin-install? I can put up a PR shortly...

[2022-06-01 18:35] DennisHeimbigner commented on #2353
What is wrong with --without-plugin-dir or --with-plugin-dir=no ?

[2022-06-01 18:56] #2353 closed

[2022-06-06 20:35] #2361 closed

[2022-06-06 20:35] #2369 closed

[2022-06-07 12:00] edwardhartnett opened #2376 "Doxyfile.in needs to be updated"
The Doxyfile.in is old and does not include all the options now supported by doxygen.

This is necessary before #2365 can be accomplished.

The Doxyfile.in can be updated with doxygen -u Doxyfile.in. We want to use the same version of doxygen as is being used in the CI.

[2022-06-07 12:21] edwardhartnett commented on #2329
OK, with the recent merges, there are no more warnings. Once #2377 and #2365 are done, only warning-free doxygen source will be merged.

[2022-06-07 12:21] #2329 closed

[2022-06-07 12:36] edwardhartnett opened #2378 "Configure does not handle well the case of doxygen not found, but --enable-docs is used"
If --enable-doxygen is used with configure, but doxygen is not found, instead of erroring out in configure, the build gives this warning:

[code]
And then fails in the docs directory with this confusing message:

[code]
Instead, configure should error out and tell the user to install doxygen, or build without --enable-doxygen.

I will fix.

[2022-06-07 12:41] Alexander-Barth commented on #2302
Thanks for merging the PR.

[2022-06-07 12:41] #2302 closed

[2022-06-07 12:46] Alexander-Barth commented on #2124
As far as I know, this is fixed by https://github.com/DennisHeimbigner/netcdf-c/commit/55a2643cac438cb0815242f48137114b99d36185
Thanks a lot!

[2022-06-07 12:46] #2124 closed

[2022-06-07 12:49] Alexander-Barth commented on #2337
With this PR https://github.com/Unidata/netcdf-c/pull/2352/commits/defa1533705650ba5910caa1fd890a868f37d795 we can now use the private API `NC_rcfile_insert` to set HTTP.SSL.CAINFO. I am wondering if there is any change to have a public API for this option?

[2022-06-07 13:28] MTG-Formats commented on #982
My team at EUMETSAT have started to encounter this issue with some of the products we're working on - the default _FillVlaue having no equivalent enum value assigned causing ncdump to crash. This ticket is still open but hasn't seen much action for a few years now. Are there any plans to implement the suggested fix ? Cheers!

[2022-06-07 14:23] jmbeckers opened #2380 "unable to use thredds access on Windows, problem with cookies"
I try accessing a netcdf file using NCDatasets under Julia, with libraries compiled with mingw compiler (x86_64-w64-mingw32-gcc (GCC) 4.8.5 and NetCDF 4.7.4 (for windows).

It seems there is a problem with a cookiejar that cannot be created (see error messages below).

A look at the function ocinternal.c seems to suggest the directory or file cannot be created

Maybe it is due to a hard coded "/"

[2022-06-07 15:56] gsjaardema opened #2381 "Make install cannot write to plugin directory"
Using `main`

When running `make install`, I get the following:
[code]

This is using an HDF5 that I build and install in a non `/usr/local/hdf5` area.  However, in my HDF5 installs, I do not install any plugins, so I don't change the plugin directory from the default (Not sure why HDF5 build does not put the plugin directory path in my install path...)

Now, when I use that HDF5 library, netCDF t

[2022-06-07 18:04] edwardhartnett commented on #2381
This is the same as the case with the default install directory which is /use/local. If you are not using sudo you must specify both prefix and plugin dirs.

However most installs will use sudo.

This issue can be closed.

[2022-06-07 18:48] gsjaardema commented on #2381
The difference is that I am doing a complete build of both hdf5 and netcdf and specifying the install directories for both and out of the blue once I move up to the next version my builds break because there is now this default plugin directory.

I would think that if there is no HDF5 plugin directory specified, then the default plugin directory would be relative to the install location, not in a

[2022-06-07 18:51] gsjaardema commented on #2381
I'm also a little confused as to why netCDF is installing files in my HDF5 plugin directory when my HDF5 library isn't using plugins...   Are you expecting HDF5 to recognize this plugin at runtime when it didn't know about it at build time?

[2022-06-07 18:54] DennisHeimbigner commented on #2381
Yes, it will actually recognize them at run-time because if you attempt to read a file with compression, and no HDF5_PLUGIN_PATH is explicitly set, then it will search all the shared libraries in the default directory.

[2022-06-07 18:58] edwardhartnett commented on #2381
Installing plugins there is necessary for zstandard compression to work out of the box. Installing them elsewhere would mean most users could not read zstandard compresses data but would get a filter not found error when trying to.

It's not ideal but is the least worst default.

[2022-06-07 18:59] DennisHeimbigner commented on #2381
Frankly we forgot this case. You can of course disable it by using --without-plugin-dir,
but as you say, your users (the same naive ones Ed talks about) will not know to do this
and will get a failure.
Ward -- is it too late for me to make a fix for this?

[2022-06-07 19:02] edwardhartnett commented on #2381
We did not forget this case, it is the very default case that we are primarily concerned about...

[2022-06-07 19:03] DennisHeimbigner commented on #2381
As is clear from this thread, there is no perfect solution.
If you users are installing without sudo then does that mean they do not use compression
at all? Or do you tell them what HDF5_PLUGIN_PATH to use?

[2022-06-07 19:04] DennisHeimbigner commented on #2381
Sorry, but we did; we have been implicitly assuming that all installs occur using sudo.

[2022-06-07 19:18] DennisHeimbigner commented on #2380
In any case, one workaround should be this:
1. create a file called .dodsrc in you home directory
2. Insert this line in that .dodsrc file. ````HTTP>COOKIEJAR=<abs path to some temp file>````

So e.g

[2022-06-07 19:23] DennisHeimbigner commented on #982
This slipped thru the cracks, sorry.

[2022-06-07 19:26] DennisHeimbigner commented on #2337
Thanks for the reminder. I plan to expand that API to a little better
access to the rc file: e.. insert, find, remove

[2022-06-07 19:44] gsjaardema commented on #2381
They use zlib (or zlib-ng) and sometimes szip; neither of which require the plugin directory.  I am looking at supporting zstandard and zfp which will require plugin directories, but I then also need to make sure that the downstream application clients also support those plugins (e.g. commercial visualization codes...)

I guess I don't understand why you can't use compression if you don't use sudo

[2022-06-07 19:47] DennisHeimbigner commented on #2381
IF you define the same HDF5_PLUGIN_PATH at both build time
and run-time, then the install will install into the directory
specified by HDF5_PLUGIN_PATH and everything works ok,
even without sudo (assuming that the installer has write access
to the HDF5_PLUGIN_PATH).

[2022-06-07 20:07] WardF commented on #2381
@DennisHeimbigner it is not too late, do you think you can have it in today or tomorrow at the latest?  This is the sort of situation I was worried about cropping up; while I understand the technical reasons for the decisions, it is going to lead to confusion insofar as the 'default' `configure && make && make install` command chain isn't going to work out of the box for people anymore.  This does

[2022-06-07 20:09] WardF commented on #2381
(I'm also working to recover the Windows deployment environment VM I've been using; there's an issue I'm slogging through on my dev machine.  So that gives us a day or so of breathing room to take a look at this.)

[2022-06-07 20:23] WardF commented on #2381
I think the number of users who install w/out `sudo` will be higher than we think.  Since we are adding new functionality that users will not be expecting by default (until we educate them that it is there), and the group of folk who know it's coming will be able to find the correct option, I think we should go with #2 for now, and update this behavior in `v4.9.1`.  I think that's the easiest path

[2022-06-07 20:25] WardF commented on #2381
I will draft something to highlight the addition of compressors, and how to turn them on, to accompany the release notes and announcement.  That should be enough to pique folks interest and give the people who want to play with this (which, the early adopters will be, I suspect, folk who build by hand).  It just occurs to me that going with #1 would break any automated workflow that doesn't use `s

[2022-06-07 21:42] jmbeckers commented on #2380
Thanks, I tried to translate that into Windows jargon and put a file .dodsrc into
c:\Users\jmbeckers

with content
HTTP.COOKIEJAR=C:\Users\jmbeckers\AppData\Local\Temp\netcdf-cookies

no joy. Same when using / instead of \ in the path to the file, including or not an empty file netcdf-cookies

As for pulling your new version and compiling myself, I would be far out of my comfort zone, as you might

[2022-06-07 21:51] DennisHeimbigner commented on #2380
ok. try putting the .dodsrc in the same directory in which you are working.

[2022-06-07 21:54] jmbeckers commented on #2380
yep, that worked !

[2022-06-07 22:17] DennisHeimbigner commented on #2380
It is probably that you do not have the environment variable HOME set on windows.

[2022-06-07 22:34] DennisHeimbigner commented on #2381
Ward- the fix should this:

In  configure.ac about line 1897 change
[code]
Similarly, in top level CMakeLists.txt, about line 1122 change
[code]

[2022-06-08 03:01] DennisHeimbigner commented on #2381
Forgot one other change in CMakeLists.txt
change line 1123 from
[code]

[2022-06-08 04:36] jmbeckers commented on #2380
That does not seem to be the case; at least when I search for environmental variable in "Settings", the panel which defines the variables contains no HOME. BTW I tried to include HTTP.COOKIEJAR=C:\Users\jmbeckers\AppData\Local\Temp\netcdf-cookies
as an environmental variable there, but that did not work out either.
The secrets of Windows ...

[2022-06-08 09:18] Alexander-Barth commented on #2380
Maybe this is helpful to get the home directory on Windows:
https://stackoverflow.com/a/42700844

[2022-06-08 09:51] shuyingchen1010 opened #2385 "probelm on compressing "64-bit offset" nc"
Hi all,

I am not sure is here the right place to ask problem about "nccopy", but,
I am running climate model with large output data, the default output of this model is "64-bit offset" nc. But the output is way too large so I want to compress them with the command "nccopy". But I got a problem when I tried to compress my model_output file. Here is part of the head of this output file, output from

[2022-06-08 09:57] edwardhartnett commented on #2385
64-bit offset format files cannot use compression. Only netcdf/HDF5 files can use compression. So first convert the file to netCDF-4, then you will be able to compress it.

[2022-06-08 11:41] shuyingchen1010 commented on #2385
Hello edwardhartnett, thanks for your reply. Actually, the problem comes from the nc type conversion line "nccopy -7 model_output.nc tmp.nc". I was tring to convert "64-bit offset" to "netCDF-4 classic  model". I have also tried with  "nccopy -4 model_output.nc tmp.nc", so to convert "64-bit offset" to "netCDF-4", it is also doesn't work with the same error:
NetCDF: Bad chunk sizes.
Location: file

[2022-06-08 13:52] edwardhartnett commented on #2385
I believe nccopy allows you to specify chunk sizes from the command line. Have you tried that?

Select chunk sizes the same as dimension sizes, as a first attempt.

[2022-06-08 14:27] shuyingchen1010 commented on #2385
No, even I added speicific chunk size when I did the file convertion to no matter "netCDF-4" or "netCDF-4 classic model", same error as before.
[c9@login06 real_tmp]$ nccopy -4 -c ncells/649392,vertices/3,height/26,bnds/2,time/96 model_output.nc test.nc
NetCDF: Bad chunk sizes.
Location: file ; line 1027

[c9@login06 real_tmp]$ nccopy -7 -c ncells/649392,vertices/3,height/26,bnds/2,time/96 model_o

[2022-06-08 14:58] edwardhartnett commented on #2385
Ok try an ncells chunk size on 1024

[2022-06-08 15:43] shuyingchen1010 commented on #2385
this idea works in my case, thank you. But the conversion procedure takes almost 10 minute, I guess if I increase the chunk size the costed time will reduce, right? Any rules on choosing the chunk size?

[2022-06-08 17:34] DennisHeimbigner commented on #2380
Netcdf-c uses "HOME" not "HOMEPATH",
But apparently, I should be using the environment variable USERPROFILE instead of HOME.

[2022-06-09 09:18] Alexander-Barth commented on #2344
I am wondering if it would be possible to make a release candidate first (when ready)?

[2022-06-09 09:59] Alexander-Barth commented on #2344
OK, I understand. Thank you for your feed-back.

[2022-06-09 20:03] DennisHeimbigner commented on #2344
Also, we used to do release candidates, but never got any feedback. Apparently
no one ever looked at them.

[2022-06-09 20:10] gsjaardema commented on #2344
Yes, I was guilty of that...   Trying to do better.

[2022-06-09 20:16] WardF commented on #2344
Agreed that we need to get v4.9.0 out, but releasing RC's for public consumption is a best practice.  We will try to shorten the release loop and publish release candidates for 4.9.1 :).

[2022-06-09 20:41] #2357 closed

[2022-06-10 07:57] rkouznetsov opened #2389 "Meaning of the number of significant digits"
I believe, it is an important topic that should be openly discussed. Please let me know if there is a better place for it, it could be moved there then.

@edhartnett  in his comment https://github.com/Unidata/netcdf-c/issues/2369#issuecomment-1142042166 wrote

I am afraid that this point of view shared by many in this community.  I see two issues here, that have been causing problems and will cont

[2022-06-10 11:29] rkouznetsov commented on #2389
Adding attributes and calculating them is not a big deal.  Formulating them is a bigger challenge.

My proposal for now is to think and share opinions, views and concerns. Then we might come to some weighted solution to deliver the uncertainty, that would be understandable, unambiguous and not too destructive for users. At the moment we have a bunch of terms and concepts that have too vague or eve

[2022-06-11 04:59] thesamesam commented on #1896
@DennisHeimbigner Could this be considered for merging? Or is it not relevant anymore (fixed somehow elsewhere)?

[2022-06-11 07:51] sebastic opened #2390 "Incorrect library version and filename in 4.9.0"
The CMake build for NetCDF 4.9.0 uses the wrong library version which causes the wrong filename to be used:
[code]

This patch fixes the issue:
[code]

[2022-06-11 08:08] edwardhartnett commented on #2390
Oh oh!

[2022-06-11 14:28] edwardhartnett opened #2391 "Add info about quantize, zstandard, and parallel I/O logging to RELEASE_NOTES"
This last release, I forgot to add anything to the RELEASE_NOTES!

So, unfortunately the release notes for the 4.9.0 release fail to mention three very important new features:
* quantize for lossy compression
* support for zstandard
* logging in one file per processor for parallel I/O cases when --enable-logging is used

Whoops!

[2022-06-11 16:22] WardF commented on #2391
The announcement has yet to be made, and the updates you've mentioned can be incorporated there and on the GitHub page easily enough :). No problem.

[2022-06-11 16:24] WardF commented on #2390
This is a problem, I will see what we can do.

[2022-06-11 16:36] WardF commented on #2390
I've added a note, and will add the fix.  It's not as disastrous as my initial impression since we still have the symbolic links, so it's also not great.  But a very good catch, thank you!

[2022-06-11 19:17] DennisHeimbigner commented on #2359
A partial solution to this is to create a float32 <-> float16 filter so that the data is stored
on disk as float16.

[2022-06-12 06:27] edwardhartnett opened #2393 "4.9.0 parallel build fails with hdf5-1.12.0 with nczarr filter errors"
Configure failed on a linux machine:

`CC=mpicc CPPFLAGS=-I/usr/local/hdf5-1.12.1_mpich/include LDFLAGS=-L/usr/local/hdf5-1.12.1_mpich/lib ./configure --with-plugin-dir=/usr/local/hdf5/lib --prefix=/usr/local/netcdf-c-4.9.0_hdf5-1.12.1_mpich && make -j clean && make -j check
`

Looking in config.log I see it's trying to use DLL. Why?

[code]

[2022-06-12 06:32] edwardhartnett commented on #2393
OK, the problem is that configure is not finding the HDF5 library:

[code]

Funny thing is, where is the -lhdf5?

[2022-06-12 06:34] edwardhartnett commented on #2393
I don't understand what is going on here...

[2022-06-12 06:49] WardF commented on #2393
I'm not seeing an error building on Linux in general. I do see this error in config.log, as part of the process of configure running through the list of potential HDF5 library names. But that's not new behavior.

[2022-06-12 06:49] WardF commented on #2393
Ah. Weird. Let me check something.

[2022-06-12 06:57] WardF commented on #2393
I'm not certain what's going on either, and it's pretty late, but attached are the config.log and libnetcdf.settings files I generated just now using v4.9.0 and parallel hdf5 on Ubuntu 22.04.  Perhaps that will reveal some useful difference? We'll get this sorted out.

* [config_log_and_settings.tar.gz](https://github.com/Unidata/netcdf-c/files/8885355/config_log_and_settings.tar.gz)

[2022-06-12 06:59] WardF commented on #2393
(This is also using `HDF5-1.12.1` built with mpich-based `mpicc`)

[2022-06-12 07:27] edwardhartnett commented on #2393
It must be something about my machine, because the same thing is happening with the main branch of the repo.

Yet, I believe this is being tested in CI so it must work.

I will keep looking...

[2022-06-12 14:07] edwardhartnett commented on #2393
OK, I tried this with netcdf-c-4.7.4 and it also failed in the same way. This must be a problem with my mpich installation. I will close this issue and reinstall mpich...

[2022-06-12 14:22] edwardhartnett commented on #2393
I did this:
sudo apt remove mpich
sudo apt install mpich

Now everything works! ;-)

Since the last time I did any parallel compiles I updated from ubuntu 20 to ubuntu 22. This should not have broken mpich, but apparently it did.

So now the parallel tests all pass but some of the nczarr tests fail:

[code]

[2022-06-12 14:25] edwardhartnett commented on #2393
Here's one of the failing tests. @DennisHeimbigner any idea what is going wrong here?

I will try this with a different version of HDF5 and see what I get...

[code]

[2022-06-12 14:36] edwardhartnett commented on #2393
Hmmm. The nczarr errors occur with hdf5-1.12.0 but not with hdf5-1.12.1.

I will continue to investigate.

It may also be that due to whatever weirdness caused my mpich problems, I need to recompile HDF5 with my newly installed mpich. I will try this next...

[2022-06-12 18:56] tbeu opened #2394 "Changelog of v4.9.0"
Changelog of [v4.9.0](https://github.com/Unidata/netcdf-c/releases/tag/v4.9.0) was created w.r.t. v4.3,1-rc.1 and thus contains far too many contributions.

![image](https://user-images.githubusercontent.com/5444067/173248909-c961bf7e-372d-4478-ae48-00a6bfeb319a.png)

[2022-06-12 18:59] tbeu commented on #2393
Setting environment variable HDF5_USE_FILE_LOCKING=FALSE should likely avoid the issue.

[2022-06-12 19:54] edwardhartnett opened #2395 "parallel make issue in ncdump tests"
As discussed in #2392 there is a parallel make issue (i.e. make -j issue) in the ncdump testing. This causes the following failures:

[code]

The problem is probably test file tst_output_c0.nc and some other files which are created by tst_output.sh and used by tst_nccopy3.sh.

The answer is to make the running of tst_nccopy3.sh dependent on tst_output.sh having completed.

And yet in the Makefile.

[2022-06-12 20:36] DennisHeimbigner commented on #2393
I ran with 1.12.0 on netcdf master and it all worked except for
run_nczarr_fill.sh where I get this error:

nczarr_test:

[2022-06-13 07:05] Alexander-Barth opened #2396 "NetCDF 4.9.0: undefined reference to `ncp_win32_api' on MinGW (libncpoco)"
I tried to update the NetCDF version available to julia users.
However, netCDF 4.9.0 fails to build during cross-compilation for  x86_64-w64-mingw32 with the error "undefined reference to `ncp_win32_api'" .

* the version of the software with which you are encountering an issue

NetCDF 4.9.0

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

ta

[2022-06-13 07:40] Alexander-Barth commented on #2396
Maybe `--disable-plugins` is necessary for Windows?
https://github.com/Unidata/netcdf-c/blob/5df5539576c5b2aa8f31d4b50c4f8258925589dd/.github/workflows/run_tests_win_mingw.yml#L38

(the compilation succeeds with this option)

[2022-06-13 07:46] edwardhartnett opened #2397 "nczarr_tests fail for hdf5-1.12.0 for 4.9.0 release and main branch"
For hdf5-1.12.0 nczarr_tests always fails for me:

[code]

For example, this happens with:

`autoreconf -i && CPPFLAGS=-I/usr/local/hdf5-1.12.0/include LDFLAGS=-L/usr/local/hdf5-1.12.0/lib ./configure --disable-dap-remote-tests && make -j clean && make -j && make check
`
This is not a parallel make issue, since it happens without the -j in make check.

Running one of the tests with bash -x:

[code

[2022-06-13 08:15] edwardhartnett commented on #2393
OK, I put up a PR with the HDF5 version changed to 1.12.0 in the CI, and caught the error there:
https://github.com/Unidata/netcdf-c/runs/6857408643?check_suite_focus=true

And on my machine it happens every time with 1.12.0.

So maybe try again on your machine?

This is with serial or parallel builds, so I will close this issue and continue discussion in #2397. I don't think this is a parallel I/

[2022-06-13 08:15] #2393 closed

[2022-06-13 08:25] edwardhartnett opened #2399 "nczarr_test run_specific_filters.sh fails for all versions of hdf5-1.10.x and hdf5-1.12.x when szip is included"
When HDF5 is built with szip, the nczarr_test test run_specific_filters.sh always fails.

For example, when I build like this:

`autoreconf -i && CPPFLAGS=-I/usr/local/hdf5-1.12.2_szip/include LDFLAGS=-L/usr/local/hdf5-1.12.2_szip/lib ./configure && make -j clean && make -j check`

I get this error:

[code]

This is a separate bug from #2397

@DennisHeimbigner let me know if you can reproduce this

[2022-06-13 08:29] edwardhartnett commented on #2399
And yet the CI builds with szip and seems to work. So I don't know what is happening...

[2022-06-13 08:40] Alexander-Barth commented on #2337
Unfortunately, I see this failure now when trying this on NetCDF 4.9.0.

[code]

It seems that `ncg->home` is still NULL after calling `NC_getglobalstate()`:

[code]

Maybe I need to call now `NCDISPATCH_initialize` to ensure that the global state is fully initialized?

[2022-06-13 08:46] edwardhartnett commented on #2395
OK, the problem is in tst_nccopy4.sh, which contains this:

[code]

This appears to be an attempt to ensure these tests have been run first. However, this is not the way to achieve this. If this runs at the same time as tst_nccopy3.sh is running, one of these files might be in the process of being (re-)created when it is needed.

Instead, the way to ensure that these files all exist is to add a de

[2022-06-13 09:57] Alexander-Barth opened #2401 "NetCDF 4.9.0: nc_def_var_fletcher32(ncid, varid, NC_NOCHECKSUM) activates check sums"
On Linux, when I call `nc_def_var_fletcher32(ncid, varid, NC_NOCHECKSUM)`, a subsequent call to  `nc_inq_var_fletcher32` returns  `NC_FLETCHER32` . Apparently check summing is activated. Under NetCDF 4.8.1, `nc_inq_var_fletcher32` returns `NC_NOCHECKSUM` as expected. This causes some test failures in my Julia package.

* the version of the software with which you are encountering an issue

NetCDF

[2022-06-13 12:25] MTDAl opened #2402 "Chinese char in path"
version: netcdf-c 4.9.0
original use by C#lib SDSLite, investigation made on netcdf-c lib

hello, with last update of netcdf-c ( and previous 4.8.0 ) I got error on reading path with Chinese char in it.

[code]
Output status is 2
[code]

On MINGW64
[code]

Folder has been created manually on windows

Is it an windows encoding limitation? any workaround?
Thanks

[2022-06-13 15:42] DennisHeimbigner commented on #2402
You will probably have to turn on windows utf-8 support.

[2022-06-13 15:49] DennisHeimbigner commented on #2396
It looks like the file libncpoco/cp_win32.c is not being compiled.
Can you check your build to see if it compiles that file?

[2022-06-13 15:53] DennisHeimbigner commented on #2395
Good. This kind of hidden dependency might occur in other test programs in the same directory.

[2022-06-13 16:08] DennisHeimbigner commented on #2399
The issue is this:

Filter id=4; filter not available

Where did you install szip (e.g. /usr/local/lib?)

[2022-06-13 16:23] DennisHeimbigner commented on #2401
It was a typo. I will put up a fix shortly, but you can test it by:
1. edit libhdf5/hdf5var.c
2. At about line 545 change:
[code]

[2022-06-13 16:43] DennisHeimbigner commented on #2337
This is windows/mingw, correct?

[2022-06-13 16:49] WardF commented on #2394
Oops.  I'll keep an eye on that for the next release.

[2022-06-13 16:49] #2394 closed

[2022-06-13 16:56] DennisHeimbigner commented on #2399
Your example command does not specify --enable-parallel. Is that an oversight?

[2022-06-13 17:12] edwardhartnett commented on #2399
--enable-parallel is not needed for netcdf, only HDF5.

This problem occurs with both serial and parallel builds.

I will reinstall 1.12.0 from scratch tomorrow and see whether that helps.

Also I will try deleting all the filters in my /usr/local/hdf5/lib and see if that matters.

[2022-06-13 17:15] edwardhartnett commented on #2395
I have to work on this PR a bit longer so I have turned it into a draft PR. Once I get it fully sorted out I will mark this PR as ready for review...

[2022-06-13 18:49] Alexander-Barth commented on #2401
Thanks, indeed! Now it works.

[code]

[2022-06-13 18:55] Alexander-Barth commented on #2337
This issue is now on Linux (Ubuntu 20.04), also reproduced on CI:

https://github.com/Alexander-Barth/NCDatasets.jl/runs/6857358120?check_suite_focus=true

It might be also present on other platforms, but I did not reached the same point on Windows or Mac OS (all 3 fail, but they fail earlier).

[2022-06-13 19:04] Alexander-Barth commented on #2396
Indeed, this file is not compiled:

[code]

Maybe the build system is confused since we do a cross-compiliation (as `cp_unix.o` is present).

[2022-06-13 19:09] DennisHeimbigner commented on #2396
Ok, the problem is probably the conditional code in libncpoco/Makefile.am.
It currently read as follows:
[code]
Btw, the value of ISMSVC and ISMINGW comes from this code in configure.ac
[code]
For some reason, this is not working. Does anything stand out to you?

[2022-06-13 19:17] DennisHeimbigner commented on #2396
I believe you are correct that the cross compile is the problem. Not sure how to
fix the above tests to get this correct.

[2022-06-13 19:22] DennisHeimbigner commented on #2337
Thanks. The fact that it fails on linux is odd. I can see why it might fail on windows.
Did you try with an older version of libcurl?

[2022-06-13 19:30] tbeu commented on #2394
You still can edit/fix the changelog of the released v4.9.0.

[2022-06-13 22:42] WardF commented on #2396
@Alexander-Barth Out of curiosity, is the Docker container you mentioned one that could be run/used outside of the `Julia` packaging system?  I'm digging into the README.md and want to make sure I don't dive too deep into this without knowing if it's leading anywhere.  But the idea of a Docker image can generate cross-platform netCDF packages is interesting to me, and I'd love to take a look at wh

[2022-06-14 07:18] Alexander-Barth commented on #2337
Julia also depends on libcurl, so the libcurl version is kind of fixed. Calling the private `NC_rcfile_insert` to set `HTTP.SSL.CAINFO` as you suggested [here](https://github.com/Unidata/netcdf-c/issues/2337#issuecomment-1119947013) is indeed a good approach (even better of course would be a public API :-)) . This worked well in NetCDF 4.8.1 but in NetCDF 4.9.0 there is an additional assert which

[2022-06-14 08:10] Alexander-Barth commented on #2396
@WardF  The build environment (https://binarybuilder.org/) is in fact a julia package which setups the container and the  compiler toolchain and it uses the docker image from alpine linux as a base. While on Windows and Mac OS, the docker engine is also used, it seem that on Linux a more lightweight and custom [sandbox](https://github.com/JuliaPackaging/Yggdrasil/blob/master/0_RootFS/Rootfs/bundle

[2022-06-15 08:18] edwardhartnett commented on #2395
Btw I am also testing with hdf5 1.13.1 and everything seems to be working...

[2022-06-15 14:09] edwardhartnett commented on #2397
I have rebuilt everything and tried again, without using make -j, and get errors.

[code]

Output of run_unknown.sh:

[code]

[code]

[2022-06-15 14:17] edwardhartnett commented on #2397
Address sanitizer finds a problem:

[code]

[2022-06-15 16:55] WardF commented on #2389
I'm going to convert this over to a discussion, as that feels more appropriate for the (anticipated) long-form discussion we'll be having around this.  Thanks!

[2022-06-15 17:42] DennisHeimbigner commented on #2397
What ./configure options are you using?

[2022-06-15 18:42] edwardhartnett commented on #2397
Just prefix. No other configure option

[2022-06-15 18:45] DennisHeimbigner commented on #2397
I ran on ubuntu 21 with:

1. HDF5 build:

2. netcdf-c master build:

export LDFLAGS=-L/usr/local/lib
./configure --disable-dap-remote-tests
make clean all check

All tests passed. So what am I doing that is different from what you are doing?

[2022-06-15 20:10] DennisHeimbigner commented on #2397
So I reran with 1.12.0 built as you describe and it still works.
Some questions:
1. Do have szip installed?
2.  Does this fail as a github action?

[2022-06-15 22:28] WardF commented on #2396
Interesting, thank you! That is worth reading through and educating myself; I am not super familiar with Julia, but I see the opportunity to extract chunks of technologies I am much more familiar with.  If nothing else, it is a really interesting toolchain to parse, and I quite like the idea of being able to mint cross-platform libraries using docker.  Thanks for the comprehensive introduction!

[2022-06-16 03:19] DennisHeimbigner commented on #2337
Here is the proposed API for managing the .rc table:

Add two functions to netcdf.h to allow programs to walk and
modify the internal .rc tables. This should fix the above issue
by allowing HTTP.CAINFO to be set to the certificates directory.
Note that the changes should be performed as early as possible
in the program because some of the .rc table entries may get
cached internally and changing th

[2022-06-16 05:01] edwardhartnett commented on #2397
No szip.

Failed in ci here https://github.com/Unidata/netcdf-c/runs/6857408643?check_suite_focus=true

[2022-06-16 19:14] Alexander-Barth commented on #2337
Yes, handling the memory as you propose makes the most sense to me too!

[2022-06-16 19:15] Alexander-Barth commented on #2401
Thanks a lot for implementing this fix!

[2022-06-16 19:15] #2401 closed

[2022-06-17 10:35] Alexander-Barth opened #2407 "test_byterange.sh fails with BADCERT_NOT_TRUSTED"
* the version of the software with which you are encountering an issue

NetCDF 4.9.0

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

Linux, x86_64-linux-gnu-gcc (GCC) 4.8.5 (no cross-compilation this time)

* a description of the issue with the steps needed to reproduce it

Build steps:

[code]

When activating byte range support the `./test

[2022-06-17 17:41] DennisHeimbigner commented on #2407
The byterange driver I use is home-made because HDF5 does not
directly support it (AFAIK, I should recheck). So I will modify
our local code to explicitly set CAINFO from .rc tables.
I will post the modified code here for you to test.

[2022-06-17 20:37] DennisHeimbigner commented on #2407
PR https://github.com/Unidata/netcdf-c/pull/2408 should fix this,
assuming you set HTTP.CAINFO

[2022-06-17 20:39] DennisHeimbigner commented on #2337
I changed the API to significantly simplify it and to cover the most
common cases.

[2022-06-17 22:20] DennisHeimbigner commented on #2407
This PR may fix this problem: https://github.com/Unidata/netcdf-c/pull/2408

[2022-06-17 23:59] DennisHeimbigner commented on #982
The solution I propose is this: any enum that does not have the default_fill_value for its base type as one of its elements will be extended with

[2022-06-18 21:36] DennisHeimbigner commented on #982
I have a fix PR.
Using a variant of Ed's test case (where the variable data is all zero
except the first element). ncdump now produces this:
[code]

[2022-06-19 07:44] edwardhartnett opened #2409 "Windows command systeminfo being run for non-windows systems"
I notice this in the configure output:

`./configure: line 5893: systeminfo: command not found
`

In configure.ac I see:
[code]

So it seems like first we should look for program systeminfo, and only run this code if it is found?

[2022-06-19 08:11] edwardhartnett opened #2410 "need to check for libxml2 in configure"
Some time ago (I'm not sure when), the handling of szip was changed.

It used to be that if szip was detected in the HDF5 library, szip was turned on.

But now, configure checks for the szip library presence as well as checking for its use in HDF5. So none of my builds in CI were really including szip. ;-)

When I finally fixed this, I get an immediate compile error. ;-)

[code]

Here's more info:

[2022-06-19 08:14] edwardhartnett commented on #2410
This problem went away when I did:

`sudo apt install libxml2-dev
`
So we need to check for that library in configure.

[2022-06-19 08:15] edwardhartnett opened #2411 "code warning in ncxml_xml2.c: pointer type mismatch in conditional expression"
[code]

[2022-06-19 09:57] edwardhartnett commented on #2399
OK, now that I am adding szip directories to the iinlcude/load flags, all the szip builds are working.

I will close this issue...

[2022-06-19 09:57] #2399 closed

[2022-06-19 14:06] edwardhartnett commented on #2397
OK, I do a complete rebuild of everything and the build fails with hdf5-1.12.0, but with no other version I've tested.

[2022-06-19 15:00] edwardhartnett commented on #2397
I think the answer here may simply be to accept that hdf5-1.12.0 has some memory bug that we hit and so we should make the user upgrade to 1.12.1 or 1.12.2...

[2022-06-19 18:51] DennisHeimbigner commented on #2397
Sounds definitive to me.

[2022-06-19 18:54] DennisHeimbigner commented on #2410
The reason we have to test for libsz specifically is because nczarr can use it
even if hdf5 is disabled.

[2022-06-20 08:12] Alexander-Barth commented on #2337
Unfortunately, I also see this failed assertion when I call `nc_rc_set` from Julia (first call to the NetCDF library after loading the library) using the PR https://github.com/Unidata/netcdf-c/pull/2408.

https://github.com/Unidata/netcdf-c/issues/2337#issuecomment-1153640947

[code]

(OS: Linux and $HOME defined)

[2022-06-21 07:56] edwardhartnett opened #2413 "test failures for older versoons of netcdf-c with ncdump/test_rcmerge.sh"
I am setting up testing for netcdf-fortran and trying to build some older versions of netcdf-c.

When doing so I frequently get a failure with ncdump/test_rcmerge.sh.

@DennisHeimbigner any idea what is going on here?

[code]

tmp_remerge1.txt

[code]

tmpoutput.txt:

[code]

[2022-06-21 14:22] jswhit opened #2414 "configure fails on older versions of Linux for netcdf-c-4.9.0"
This is on NOAA's HPC system (hera), which I  believe is CentOS.

In config.log I see:

[code]
and then

[code]

So the sizeof (off_t) test is failing because of an error loading the libzstd shared lib?

I'm also seeing this in  some of the github actions runners for netcdf4-python.

[2022-06-21 16:32] WardF commented on #2410
Agreed we should catch this in the configure script instead of as a compilation error.  I can put a PR up fence posting nczarr with the presence of this header, although I don't want to get derailed from netcdf-fortran *too* badly.

[2022-06-21 17:05] WardF commented on #2410
Ok, taking a look, I think the actual solution is that we need this file `ncxml_xml2.c` to work (if possible) with the bundled `tinyxml` that is used when `libxml2` is either disabled or unavailable.

[2022-06-21 17:23] WardF commented on #2410
Adding an `AC_COMPILE_IFELSE` block to check to see if we can actually compile `libxml2`-based test code; in some situations, it appears that detecting the library isn't sufficient.  Also, testing the `mermaid`-based flowchart syntax, ignore below XD.

[code]

[2022-06-21 18:13] WardF commented on #2410
@DennisHeimbigner No problem, szip is incidental to this, the issue is when the `libxml2` library is available to link against, but the header file is not installed, resulting in the related `#include` causing a compile failure in `ncxml_xml2.c`

[2022-06-21 18:15] DennisHeimbigner commented on #2410
I do not understand this comment. When the external libxml2 is chosen, then we need to build with ncxml_xml2.c, but when we choose tinyxml2,then we need
to build with ncxml_tinyxml2.cpp (Not that one is C and one is C++)

[2022-06-21 18:15] WardF commented on #2410
@DennisHeimbigner That comment can be ignored; it was mistaken.  I'll go cross it out.

[2022-06-21 18:26] DennisHeimbigner commented on #2410
How does that situation occur?

[2022-06-21 18:32] WardF commented on #2410
For example, consider the following in the Ubuntu package manager I'm working with:

[code]

If you just need the runtime, you install the former.  If you need to develop against it,  you install the latter (which then installs the former).  But in regards to how you can have the runtime but not header files, this is how.

[2022-06-21 19:12] jswhit commented on #2414
could be, but the mystery then is why the test for zstd passed

[code]

[2022-06-21 19:35] DennisHeimbigner commented on #2414
No idea what is going on.

[2022-06-22 12:39] ArchangeGabriel opened #2418 "nc_test_run_diskless2 timeouts on 4.9.0"
While trying to build the 4.9 release on Arch, I’ve seen one unexpected test failure:
[code]
Not sure what fails actually, it just timeouts.

[2022-06-22 12:47] boegel opened #2419 ""multiple definition" linking error when compiling netCDF v4.9.0 with GCC 11.3.0"
When trying to compile netCDF v4.9.0 with GCC 11.3.0 + binutils 2.38 + CMake 3.23.1 on RHEL 8.4, we're hitting the following linker error:

[code]

To reproduce:

[code]

We are not seeing this problem with netCDF v4.8.1 using the exact same compiler toolchain (GCC 11.3.0 + binutils 2.38) and CMake (3.23.1) on RHEL 8.4...

[2022-06-22 17:01] #2410 closed

[2022-06-22 17:32] zao commented on #2419
There seems to be two distinct implementations of the JSON bits in the codebase, one in pair of separate `libdispatch/ncjson.c` and `include/ncjson.h`; and one mechanically combined into a header with definitions directly in the header without any inlining at all in `include/netcdf_json.h`.

The purpose of `netcdf_json.h` seems to be to have a decoupled implementation of the JSON functionality for

[2022-06-22 19:04] DennisHeimbigner commented on #2410
Thanks for resolving this.

[2022-06-22 19:21] DennisHeimbigner commented on #2419
Your json analysis is correct. I wanted it to be possible to build
the nczarr adjunct wrapper code so that it did not need access to
libnetcdf. Also, I wanted to keep only one core json code base
so I would not have to apply fixes twice.
Not surprisingly, I tried to be too clever by half, and it does not work right.
Using "static" works, but make the construction of the netcdf_json.h file
more dif

[2022-06-22 19:31] #2365 closed

[2022-06-22 19:31] #2378 closed

[2022-06-22 19:51] WardF opened #2420 "Testings imple szip filter setup Unexpected Result"
Running on MacOS, with HDF5 built w/out szlib support, is seeing a failure in `nc_test4/tst_vars3.c, line: 443`.  The message being reported is:

This occurs even if `ENABLE_FILTER_TESTING=OFF` is specified when running cmake.  I'm uncertain what the solution is, but it seems that we should be able to selectively toggle which filter libraries to use, even when detected, perhaps?

[2022-06-22 19:54] WardF commented on #2420
Note: This only occurs using `cmake`.

[2022-06-22 20:01] edwardhartnett commented on #2420
Make sure that HAVE_H5Z_SZIP is undefined if szip is not present in HDF5.

[2022-06-22 20:03] edwardhartnett commented on #2418
Merging #2319 might fix this.

[2022-06-22 20:16] WardF commented on #2420
I'm wondering if this block of `nc_test4/tsts_vars3.c` should be split off into a new test file that can be fenceposted via `ENABLE_FILTER_TESTING`; it feels like szip should not be part of the equation in this case.  Or, perhaps change the current `#ifdef HAVE_SZ` to `#ifdef HAVE_H5Z_SZIP`; that feels more apt, for this file, but as always I'll benefit from considering it a few moments before ass

[2022-06-22 20:17] WardF commented on #2420
Rather, as always, I'll wish I had considered it before asserting an answer, if I don't.

[2022-06-22 21:35] WardF commented on #2420
@DennisHeimbigner sure thing:

* [libnetcdf.settings.txt](https://github.com/Unidata/netcdf-c/files/8961501/libnetcdf.settings.txt)

[2022-06-23 04:31] edwardhartnett opened #2422 "RELEASE_NOTES include extra items"
There is a bunch of extra text in the RELEASE_NOTES.md file that was apparently inserted by mistake. In addition to the usual bullet list, there is a list of all commit message since 4.3.1.

This is what is causing #2421 to fail. Between the time that @DennisHeimbigner took his branch and submitted his PR, the automatic checking of doxygen documentation in the CI had been turned on in #2377.

In t

[2022-06-23 04:39] edwardhartnett commented on #2422
Also looking at the release notes on-line I see the bullet list becomes a little unhinged after the forth bullet point... Not sure what is happening there...

[2022-06-23 04:47] edwardhartnett commented on #2422
OK it was a stray quote that didn't have a matching quote.

[2022-06-23 05:08] edwardhartnett opened #2424 "nczarr_test_run_newformat fails in CI (sometimes?)"
[code]

I got this failure while changing the release notes. So nothing that could have caused it to fail. CI output here: https://github.com/Unidata/netcdf-c/runs/7017147583?check_suite_focus=true

[2022-06-23 07:53] edwardhartnett opened #2425 "move discussion of quantize errors from filters.md to quantize.md"
We have a summary of quantize errors, but it is with the filter documentation. Quantize is not a filter and has its own documentation. I will move the discussion of errors to the quantize docs and take discussion of quantization out of filters.md.

[2022-06-23 15:05] boegel commented on #2419
We puzzled together a patch that allows us to bypass this problem, by adding `static` in `netcdf_json.h`; see https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/n/netCDF/netCDF-4.9.0_fix-linking-errors.patch

[2022-06-23 18:46] DennisHeimbigner commented on #2419
Yes,I am following a similar  path by using a macro that gets
redefined depending on  the context.
Hope to have a PR up soon.

[2022-06-25 13:41] opoplawski opened #2428 "Why not use H5_DEFAULT_PLUGINDIR to set the plugin directory?"
hdf5 defines H5_DEFAULT_PLUGINDIR in H5pubconf.h, why not use it to set the plugin path by default?

[2022-06-25 14:33] edwardhartnett commented on #2428
Because you are the first to suggest it! ;-)

I did not even know it existed. Are you suggesting we take whatever value of H5_DEFAULT_PLUGINDIR is in h5pubconf.h and install plugins there?

[2022-06-25 14:56] sebastic opened #2429 "PLUGIN_INSTALL_DIR issues"
[netcdf4-python test failures](https://github.com/Unidata/netcdf4-python/issues/1170) revealed some issues with the CMake build.

The default value doesn't match the documentation:
[code]

It suggest being a boolean (for which YES/ON is equivalent), but treating it as such, by using `-DPLUGIN_INSTALL_DIR:BOOL=ON`, causes the build to fail:
[code]

The default path (`/usr/local/hdf5/lib/plugin`) is

[2022-06-25 15:55] opoplawski commented on #2428
That would be my suggestion for a default value.  That is where hdf5 will look in the absence of HDF5_PLUGIN_PATH.

[2022-06-25 19:53] DennisHeimbigner commented on #2429
Odd. I must be testing for the exact value "YES" instead of doing a boolean test.
I will check.

[2022-06-25 21:53] DennisHeimbigner commented on #2428
I looked at the code. The flag H5_DEFAULT_PLUGINDIR is intended as an HDF5 CMake build option of the form:
[code]
It does not to be ever used as an environment variable.

[2022-06-25 22:50] DennisHeimbigner commented on #2429
I hope https://github.com/Unidata/netcdf-c/pull/2430 fixes this.

[2022-06-26 03:32] opoplawski commented on #2428
I never said it was an environment variable.

[2022-06-26 04:35] opoplawski opened #2432 "Should the soname have been updated for 4.9.0?"
abipkgdiff reports a number of differences.  Are we sure that none of these should have prompted a soname bump?
[code]

[2022-06-26 04:48] sebastic commented on #2428
The `H5_DEFAULT_PLUGINDIR` value in `/usr/include/hdf5/serial/H5pubconf.h` is also exposed through `pkg-config`:
[code]
Although this is a customization in the hdf5 Debian package.

Extracting the value from the include file is most reliable, e.g.:
[code]

[2022-06-26 18:27] DennisHeimbigner commented on #2428
I do not understand your point. Even if exported as an environment variable,
it is never used in the code at run-time. It is only used when hdf5 is built.

[2022-06-26 18:40] DennisHeimbigner commented on #2432
There are new functions available such as the quantize functions. Do we bump
the number when that happens?
As far as I can tell, the bulk of the other changes are to internal functions.
On a quick look, the only externally visible semantic change I can see is the change to the dispatch table, which is visible only thru the UDF functions.
Personally I do not believe that one thing is sufficient to

[2022-06-26 18:49] sebastic commented on #2428
As mentioned in #2429:

`/usr/local/hdf5/lib/plugin` is a bad default value:
[code]
[code]
These parts of the CMake and Autotools build systems should be updated to use the value of `H5_DEFAULT_PLUGINDIR` and only if that is not set/available fall back to hardcode `/usr/local/hdf5/lib/plugin`.

Using the value of `H5_DEFAULT_PLUGINDIR` will make it work for most cases, instead of requiring `HDF5_P

[2022-06-26 18:59] opoplawski commented on #2432
New functions are fine and do not affect the ABI.  It would be helpful if only the public API symbols were exported so you would only see the changes that would affect the ABI.

[2022-06-26 19:05] DennisHeimbigner commented on #2432
Mostly agree. The problem is that we do what amounts to unit tests that require access to internal functions. At one time, Ward and I discussed using a
variant of the strip command before installing the library. This would have
removed all internal symbols. So I am curious, when you do your analysis,
do you use the installed library or the one in the build tree?

[2022-06-26 19:23] opoplawski commented on #2432
I wonder if you could leverage a noinst convenience library for that?  You'd think that this would be a common issue...

This test is run on the installed library.

[2022-06-26 19:26] DennisHeimbigner commented on #2428
I see my confusion. When you said:

I interpreted that to mean that it was another environment variable.
I now see that you you are saying that instead of hard-coding
e.g. /usr/local/hdf5/lib/plugin, we should get the value from the HDF5 build.

I note the following:
1. It looks like this was added in the 1.10.x version of HDF5.
2. that path (and the windows equivalent) are hard-wired into the hdf

[2022-06-26 19:29] DennisHeimbigner commented on #2432
At least with the version of autoconf I am using, one you use an install library name
other than "lib", then noinst fails to work (it just does not build the noinst
tagged libraries at all). Probably a bug in autoconf, but that is why I originally
had the tmp library name.

[2022-06-26 19:35] DennisHeimbigner commented on #2432
I see that modern "strip" program has a -K flag that allows one to keep
selected symbols. So it might be possible to use strip to keep
only accessible symbols before installation.

[2022-06-26 20:32] WardF commented on #2432
I did run through the checklist and updated the so numbers, according to the best practice recommended by the relevant documentation, based on the report I generated from abidiff.  I will take another look but the conclusion at the time was that the so numbers were updated but no public interface changes had been made which resulted in an increment of the so numbers.

[2022-06-26 21:12] opoplawski commented on #2432
Thanks for the confirmation.  I will close this then.

[2022-06-26 21:12] #2432 closed

[2022-06-26 22:30] opoplawski opened #2433 "netcdf 4.9.0 tst_netcdf4_4 fails on i686"
[code]
This happens on serial, mpich, and openmpi builds, but only on i686.

[2022-06-27 14:00] ArchangeGabriel commented on #2418
I can confirm, cherry-picked on top of 4.9.0 and…
[code]

[2022-06-27 14:51] ArchangeGabriel opened #2435 "nc_test_run_pnetcdf_test fails in 4.9.0"
[code]
The file was changed for autotools in https://github.com/Unidata/netcdf-c/pull/2284, but not CMake.

[2022-06-28 15:08] abhibaruah opened #2436 "SegV with corrupt netCDF files"
netCDF version: 4.8.1
HDF5 version: 1.10.8
OS: Windows 10 & Debian 11 (details below)

I have 2 corrupt netCDF files (file1.nc and file2.nc) which can be accessed in the link [here](https://mathworks-my.sharepoint.com/:f:/p/abaruah/EjpwEmImv51DtQSkJ618DvkBcUl3io6ues8k0x6VMZLXMw?e=pgM8VE).

I tried to open the files using 'nc_open'. Here is the behavior that I see:

**file1.nc**
Windows: The proces

[2022-06-28 15:52] jswhit commented on #2159
4.9.0 segfaults when trying to read an hdf5 file with fixed length string arrays (test file available at https://github.com/Unidata/netcdf4-python/issues/1172).

[2022-06-28 16:39] WardF commented on #2436
I'll take a look at the code; it is possible that, with logging enabled, it might provide additional information.  If not, it seems like there should be a way to get an error instead of a failed assert.  In terms of diagnosing what's gone wrong with a netCDF file that has become corrupted, however, there's only so much netCDF will be able to do (beyond adopt friendly failure states) with a file we

[2022-06-28 19:54] DennisHeimbigner commented on #2159
I have a fix that I am testing now. Your identification of

as the source of the problem appears to be correct, although the fix
is a bit complicated.

[2022-06-28 20:54] WardF commented on #2435
Adding a fix for this now, both in our code and in our testing.

[2022-06-28 22:15] #2422 closed

[2022-06-28 22:15] #2425 closed

[2022-06-29 00:52] #2435 closed

[2022-06-29 22:31] WardF commented on #2328
Parallel test support has been added.

[2022-06-29 22:31] #2328 closed

[2022-07-01 06:59] MTDAl commented on #2402
Hello, I test 4.9.0 with an Chinese OS, no issue with nc_open or ncdump. THanks for feedback

[2022-07-01 06:59] #2402 closed

[2022-07-01 23:16] czender opened #2441 "Quantization not working with NC_FORMAT_NETCDF4_CLASSIC"
Though the glass is not empty! Quantization succeeds with NETCDF4 and Zarr.
Program nc_test4/tst_quantize.c tests quantization on a NETCDF4-format file.
That test succeeds. There is no problem with that one format. Unfortunately,
NC_FORMAT_NETCDF4 appears to be the only POSIX format that succeeds with the test.
tst_quantize fails with NC_FORMAT_NETCDF4_CLASSIC and with NC_FORMAT_CLASSIC.
I have no

[2022-07-01 23:27] edwardhartnett commented on #2441
Quantization is not expected to work on classic formats (at this time). The problem is that classic formats use a totally different code base than netCDF-4, and I personally am not at all familiar with that code. (Glenn Davis wrote it, Russ maintained it, and I think @DennisHeimbigner has the greatest familiarity with it now, but it's code that is pretty rarely changed.

And quantization with clas

[2022-07-01 23:33] edwardhartnett opened #2442 "nccopy not working to change chunksizes?"
Here's something that I've just learned about from the UFS team:

[2022-07-01 23:38] czender commented on #2441
Done. I agree there is no real world use-case for quantization in CLASSIC format. NC_FORMAT_NETCDF4_CLASSIC is very commonly used for compression (CMIP6 requires it), so we were a bit careless in not testing quantization with that format.

[2022-07-01 23:50] edwardhartnett commented on #2441
![image](https://user-images.githubusercontent.com/38856240/176978230-568e388c-a8d2-40dd-b770-1ec586924b08.png)

[2022-07-02 00:41] DWesl commented on #2396
This seems to be the kind of thing the `--host` option to `./configure` is used for; [using `AC_CANONICAL_HOST`](https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Canonicalizing.html#Canonicalizing) gets a standard value, there are suggestions for using that value [here](https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Using-System-Type.html#Using-System-Type

[2022-07-02 10:09] edwardhartnett opened #2443 "nc_test4/tst_vars4.c is failing for me on main branch, with filter not found error due to not finding zstandard filter"
In tst_vars4.c we have:

[code]

This is failing because the zstandard filter is not found.

What should be happening is that the test needs to add the build directory to the HDF5_PLUGIN_PATH before running the test, but it isn't.

I will take a look at fixing this...

[2022-07-02 10:15] edwardhartnett opened #2444 "good question in hdf5file.c about marking vars in root group as written to in NC4_enddef()"
In hdf5file.c we have:

[code]

Note the question in the comments. Why is this part of the code here?

My suspicion is that it fixes a problem, and should indeed be recursive. What I need to do is take it out and see what test fails, then  construct a test which does the same thing in a group and see if that fails...

[2022-07-02 10:32] edwardhartnett commented on #2441
OK, the problem is in hdf5attr.c:

[code]

This happens when we are writing the quantization attribute. I'm pondering how best to fix this...

[2022-07-02 12:51] edwardhartnett commented on #2441
As I tried various things and reviewed this code, I saw that I had faced a similar problem some time ago when optimizing the storage of dimids to speed opening of files (and avoid the dreaded performance problems with dimension scale searches).

The answer is not to attempt to use netCDF functions to write the attributes, but to use HDF5 directly. This avoids all the complicated checks for enddef

[2022-07-02 14:43] edwardhartnett commented on #2443
And then this went away. I will close this issue and keep an eye on this...

[2022-07-02 14:43] #2443 closed

[2022-07-03 01:36] matzeri opened #2446 "netcdf-4.9.0 on Cygwin undefined reference to `nc_inq_libvers"
Cygwin 64 bit with  GCC 11.3.0

[code]
the code is in the library but it is NOT exported

[code]
It was on previous

[code]

[2022-07-04 07:12] mrsalo opened #2447 "Improve error message when trying to do nc_def_var_deflate() on vlen type variable"
Using netcdf 4.9.0 the following snippet of code produces an error message that is hard to understand:

[code]

The error message is:
[code]

Could this error message be improved to say something like:
[code]
?

See https://github.com/Unidata/netcdf4-python/issues/1175

[2022-07-04 19:57] DennisHeimbigner commented on #2447
No, because thata error message is the generic one for NC_EFILTER, which is used
in several places to signal a number of different errors. We could however
ensure that a log message is generated to give more detailed info. This requires
figuring out where in the code, the error is signalled.

[2022-07-04 20:10] edwardhartnett commented on #2447
I think that def_var_deflate() should check for legal types and return a NC_EINVAL.

[2022-07-05 22:37] WardF commented on #2446
Thanks, I'll take a look!

[2022-07-06 15:56] christine-e-smit opened #2449 "data values not right when opening Xarray-generated zarr with ncdump"
ncdump version: 4.8.1 of Apr 25 2022 (this is what came with netCDF4-python 1.6.0 when I installed that)
xarray version: 2022.3.0
operating system: Mac OS Monterey
python version: 3.10.5

I found this issue using the netCDF4-python library, but I think it must be at the netcdf-c level because I'm seeing the same weird data values with ncdump. That's why I'm submitting the ticket here rather than i

[2022-07-06 16:00] WardF commented on #2449
Thanks; I'm working on the `Fortran` release right now but we will take a look!

[2022-07-06 21:13] DennisHeimbigner commented on #2449
Can you send us a list of the expected values of lat?

[2022-07-06 22:28] DennisHeimbigner commented on #2449
Since I was not in a position to use python xarray directly, I tried the following instead. Note that I was using the current netcdf-c master, not 4.8.1
1. I used nccopy to create a zarr format file from the original .nc4.
2. I then used ncdump to dump the lat variable values and compared them to a dump of the lat values from the original .nc4. They appear to be the same.

So, I am attaching my za

[2022-07-06 23:15] DennisHeimbigner commented on #2419
See PR https://github.com/Unidata/netcdf-c/pull/2448

[2022-07-06 23:18] DennisHeimbigner commented on #2447
Actually the check is currently made for nc_def_var_filter, but apparently nc_def_var_deflate bypasses that code.

[2022-07-07 02:35] jswhit opened #2452 "feature request - longdouble float type"
When dealing with times using [cftime](https://github.com/jswhit/cftime), it is often a requirement to be able to convert a time value to a date and back again with microsecond accuracy.  This is not a problem when the discretization of the time variable is an integer multiple of the netcdf units, but if not then it is virtually impossible to achieve this if the times are represented as 64-bit flo

[2022-07-07 06:19] Plantain opened #2453 "pnetcdf build broken"
Building netcdf-c with pnetcdf looks to have been broken by: https://github.com/Unidata/netcdf-c/pull/2310/commits/60a0f07ccc46a8c6719c78573d2e14532ee728e7

The build error presents as:
hdf5internal.c(178): error: struct "NC_FILE_INFO" has no field "comm"
  						  grp->nc4_info->comm)))

nc4_info->comm is gated behind an #ifdef USE_PARALLEL4 at https://github.com/Unidata/netcdf-c/blob/cf1a0b8bb7c

[2022-07-07 14:00] christine-e-smit commented on #2449
This is the zarr store I generated with xarray:
[generated.tar.gz](https://github.com/Unidata/netcdf-c/files/9064372/generated.tar.gz)
e

[2022-07-07 14:03] christine-e-smit commented on #2449
Strangely, when I open your dataset with xarray, the latitude values look fine:

![image](https://user-images.githubusercontent.com/14983768/177792734-1850c7df-5453-47ae-ac19-ba05fbfae4f0.png)

[2022-07-07 19:04] DennisHeimbigner commented on #2449
Ok, I can think of two reasons for this.
1.  netcdf-c is not finding the filter (libz aka deflate) used in the file.
2. the python code is writing information that I did not expect or I am mis-interpreting.

\#1 is the most likely cause. If you can send me the zarr file created by your python code, I can see if it is readable by netcdf-c version 4.9.0.

[2022-07-07 19:17] DennisHeimbigner commented on #2449
Assuming that filters are the problem, can you tell me where you are storing them?
Perhaps you are setting HDF5_PLUGIN_PATH, and if so, what is its value?

[2022-07-07 19:25] christine-e-smit commented on #2449
Awesome!

The tricky thing is that I didn't install any NetCDF or HDF stuff directly. I'm using anaconda python. So I used anaconda's package manager, conda, to install the NetCDF python package. Because NetCDF python needs NetCDF-C, conda installed that stuff too.

The good news is that anaconda isolates the stuff it installs for packages pretty well. So if you can give me some specific filenames

[2022-07-07 19:41] christine-e-smit commented on #2449
% uname -a
Darwin gs6102dscmc1csm 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64 x86_64

[2022-07-07 20:02] dopplershift commented on #2449
@DennisHeimbigner @WardF Getting netCDF-C 4.9.0 for conda will require solving the build issues encountered on the update PR: https://github.com/conda-forge/libnetcdf-feedstock/pull/140  We'd love any help you all can give on that.

[2022-07-07 20:22] christine-e-smit commented on #2449
Am I understanding correctly that filters are somehow related to the compression? Can I somehow pick a different compression scheme that would work? Or is it that just reading the zarr chunks won't work regardless of compression?

[2022-07-07 20:38] DennisHeimbigner commented on #2449
Also, in the file you sent, the compressor was libz (aka zlib) (aka deflate).
You can read about it here: https://www.zlib.net/

[2022-07-07 20:46] christine-e-smit commented on #2449
I was more thinking about the fact that I am currently the one creating these zarr stores. So I can pick which compression algorithm is used. Can I pick one that should work when I read it back out?

[2022-07-07 21:27] DennisHeimbigner commented on #2449
I think I see. So yes, you can use whatever is supported by python zarr.
See here: https://numcodecs.readthedocs.io/en/stable/.

[2022-07-07 21:29] #2441 closed

[2022-07-08 12:16] edwardhartnett opened #2454 "more quantize testing"
In light of @czender recent discovery of issue #2441, I think I need to beef up quantize testing.

[2022-07-08 12:25] edwardhartnett opened #2455 "We need a larger NC_MAX_NAME for cases of URLs in file names"
I just noticed this change that @DennisHeimbigner made to tst_quantize.c to add nczarr testing:

[code]

What is happening here is that I am using NC_MAX_NAME (from netcdf.h), but that is set at:

`#define NC_MAX_NAME     256
`

So this is apparently not long enough if URLs can be involved?

In that case I recommend we define, in nc_tests.h (not netcdf.h) NC_MAX_FILENAME to 4096, and then we can u

[2022-07-08 17:04] czender opened #2458 "Blosc HDF5 codec sometimes fails via nc_def_var_blosc() and nccopy"
All of this was done with today's main trunk of netcdf-c on the latest MacOS. The input file `in.nc` and successful output `foo.nc` files are attached as CDL text (because I could not figure out how to attach .nc files directly) [in.txt](https://github.com/Unidata/netcdf-c/files/9073870/in.txt) and [foo.txt](https://github.com/Unidata/netcdf-c/files/9073871/foo.txt), respectively.

I get mixed res

[2022-07-08 20:04] DennisHeimbigner commented on #2458
It would be better if you attached the .nc files (if they are not too large).
You can do it either by renaming them to e.g. in.nc.txt,
or you can zip or gzip them.

[2022-07-08 20:06] DennisHeimbigner commented on #2458
Also, there should be an alternative blosc filter in the plugins directory.
You might try that one, although it depends on the filter parameters being
the same.

[2022-07-08 20:44] czender commented on #2458
Yes, Dennis, all of this is done with netCDF 4.9.X, not with CCR. The files are both quite small...[in.nc](https://github.com/Unidata/netcdf-c/files/9074918/in.nc.txt) and [foo.nc](https://github.com/Unidata/netcdf-c/files/9074923/foo.nc.txt). It would be great to hear what you think about all this.

[2022-07-08 20:57] christine-e-smit commented on #2449
Okay! I created a zarr store where none of the variables have compression and I can run ncdump on everything just fine.

Note: This is  different data. I didn't use xarray. I used zarr and then I hand-crafted the additional metadata, so there may be mistakes.

[zarr_no_compression.tar.gz](https://github.com/Unidata/netcdf-c/files/9074972/zarr_no_compression.tar.gz)

This should get me through my E

[2022-07-08 21:01] edwardhartnett commented on #2454
OK, so with PR #2457 all the existing quantize tests were extended to test:
* With and without NC_CLASSIC_MODEL
* All three quantize algoritms.

@DennisHeimbigner I don't think this will impact the way you are using tst_quantize to test nczarr. And all my tests pass, so please let me know if there is a problem.

[2022-07-08 21:50] DennisHeimbigner commented on #2458
This very odd. Apparently the chunksize values are being passed in an
inconsistent way. I thought it might be the unlimited dimension so
I converted it to a fixed size dimension, but it still fails in the same way.
Will continue to look at it.

[2022-07-08 22:24] DennisHeimbigner commented on #2458
I figured out the problem, but fixing that produced this error, which I have
never before seen:

[2022-07-09 21:22] jswhit commented on #2452
Unfortunately, reading this [discussion](https://forum.hdfgroup.org/t/a-problem-when-saving-native-ldouble-variables/9504/15) it seems that `H5T_NATIVE_LDOUBLE` is a memory datatype not a file datatype, so you may not actually be able to save a long double to an HDF5 file without losing precision.

[2022-07-09 22:27] DennisHeimbigner commented on #2458
Ok, this is weird.
After fixing some things, It turns out that it fails depending
on the choice of sub-compressor. For some reason, the LZ compressors
claim the data is incompressible. Other sub-compressors such as zlib or
zstandard appear to work. I suspect that either there is something wrong
with the c-blosc LZ implemenations or we are passing bad parameters for them.

[2022-07-11 03:30] DennisHeimbigner commented on #2458
Further notes:

I tried it using libblosc directly and it report that the data is in-compressible
The parameters were:
* compressor any LZ compressor (LZ4,BLOSCLC, etc)
* shuffle off
* level = 1
* data: 1.0...80.0

I could get it to compress if I turned on shuffle.
So this is apparently a limitation in the LZ compressors.

[2022-07-11 13:39] czender commented on #2458
Thanks much for looking into this, Dennis. Always turning on Blosc-shuffle when any Blosc is required is an easy change to make in NCO (though ideally it would not be necessary). Above you mention "fixing some things". Have you made or do you foresee making any changes to netCDF to get Blosc codecs working better? I'm still not sure whether the problems I'm having with Blosc are due to NCO, netCDF