[2017-06-29 19:56] ArchangeGabriel commented on #432
@WardF Thanks, interesting. I’m also seeing another issue related to OpenMPI (2.1 vs 1.10.6) and NetCDF with parallel enabled, see https://github.com/Unidata/netcdf4-python/issues/669. I’ll redo my above tests with both OpenMPI version to double check my results (when doing the tests for python, I’ve seen that in some cases my setup was ending with both versions) to ensure it’s not something new i

[2017-06-29 23:49] t-b commented on #396
@WardF I could reproduce with the 4.5.0 release candidate.

To be more correc the fix is `ncgen\ncgen.exe -4 -o ncdump\c0.nc ncgen\c0.cdl` executed in the build directory.

With that I get

[code]

[2017-06-29 23:50] t-b commented on #397
I could reproduce with the 4.5.0 release candidate.

[2017-06-30 00:29] t-b commented on #397
@DennisHeimbigner
Line 1155 writes `data` into the D1_Target (3) and D2_Target (2) index. But the zeroth dimension of data_in, which gets written into in line 1158 with `nc_get_var_int` only has D1_Target (3) rows. And this can not work.

[2017-07-03 08:05] djkirkham opened #435 "Attempting to open DAP dataset creates a temporary file which is not removed"
### Environment Information
  * Linux
  * 64-bit
  * cmake

### Summary of Issue

Attempting to open a remote dataset via a URL creates a folder in `/tmp` with a name of the form `oc.*` and a single empty file inside. This happens whether or not the URL refers to an actual dataset. I see the behaviour in version 4.4.1 but not 4.3.1.

In our system, which is opening a large number of Datasets, this

[2017-07-03 16:29] WardF commented on #435
@DennisHeimbigner Is this behavior explained by the C library?  Or is this something we should tag the python devs on?

[2017-07-03 18:26] DennisHeimbigner commented on #435
Depends on what version of netcdf-c is being used. Before we added diskless support,
the opendap code did create a temporary file. After diskless was added, that temporary
file was created using that mechanism and so no file appeared in the file system.
I do not recall off hand, but it may be the case that if diskless is not supported/enabled
when netcdf-c is built, then the library reverts to the

[2017-07-04 08:42] djkirkham commented on #435
@DennisHeimbigner I'm pretty certain the file is being created by the call to netcdf. It only appears after the call to either ncdump, or netCDF4.Dataset in Python. I don't use libnetcdf directly so I can't make a more direct call, but since it's created by ncdump, I assume it's the C code creating it and not the Python module.

I am able to create a diskless Dataset using the Python module, so it

[2017-07-04 19:47] DennisHeimbigner commented on #435
The situation is described tersely in netcdf-c/docs/auth.html#REDIR
Basically, when a url is used that requires redirection, a physical
cookiejar drectoryis required to exist in the file system in order for this to work.
Since it was difficult to figure out when redirection was
being used (it was internal to libcurl) I needed to be prepared for that
eventuality. The result was that I always create

[2017-07-05 07:49] djkirkham commented on #435
Removing the directory should resolve the issue on our system so I'm in favour of that change going in at least.

[2017-07-05 07:56] djkirkham commented on #435
was not specified in the rc file.

So I can prevent the the temp file being created by specfying a file via HTTP.COOKIEJAR in the rc file?

[2017-07-05 15:51] DennisHeimbigner commented on #435
Yes, that should work.

[2017-07-05 22:39] DennisHeimbigner commented on #435
Fixed by pull request https://github.com/Unidata/netcdf-c/pull/436

[2017-07-05 22:39] #435 closed

[2017-07-06 19:24] WardF opened #437 "OpenMPI/MPICH documentation for 4.5.0 release"
During the 4.5.0 release cycle we have encountered some issues/circumstances where openmpi fails and mpich works.  The details of these failures and the causes thereof need to be codified in the documentation for 4.5.0.  See  [this](https://github.com/Unidata/netcdf-c/issues/432#issuecomment-311579917) for an example.

Also review/update MPI-related sections of installation documentation (parallel

[2017-07-06 19:51] WardF opened #438 "libcurl distributed with Windows installers is very old."
I need to investigate if later versions work with cmake.  The current version being distributed is `7.35`.  This is extremely old.  At the time this was built/packaged, the curl development team said that their cmake build infrastructure was unmaintained; 7.35 was the latest version (at the time) that we could get to build.

It has been years since this was evaluated, so we need to see what the la

[2017-07-13 23:17] WardF commented on #385
Thank you @t-b that pointed me in the right direction. I've got this fixed and in the branch `gh385`, and it will make its way back into `master`.  This was the primary roadblock to the next release candidate, so I will try to have that out tomorrow or Monday.

[2017-07-14 16:43] #385 closed

[2017-07-14 16:45] WardF commented on #349
@DennisHeimbigner Is this issue ready to be closed out? I think it is but I thought I'd double check before closing it.

[2017-07-14 16:45] WardF commented on #349
Actually, the fix was merged so closing this out, I'll reopen if I hear I need to.

[2017-07-14 16:45] #349 closed

[2017-07-14 16:46] #310 closed

[2017-07-14 18:13] edhartnett opened #440 "netcdf-c-4.5.0-rc1 parallel build on 64-bit linux - make -j not working (but make check is)"
### Environment Information

Build of 4.5.0-rc1 with MPICH 3.2, 64-bit linux system with GNU toolchain, using autotools build system.

### Summary of Issue

make -j check fails

### Steps to reproduce the behavior

<pre>
CPPFLAGS='-I/usr/local/zlib-1.2.11_mpich-3.2 -I/usr/local/szip-2.1_mpich-3.2/include -I/usr/local/hdf5-1.10.1_mpich-3.2/include' LDFLAGS='-L/usr/local/zlib-1.2.11_mpich-3.2/lib -L

[2017-07-14 19:03] edhartnett opened #441 "Parallel build of netcdf-fortran-4.4.0 fails with netcdf-c-4.5.0-rc1"
### Environment Information

64-bit linux with mpich 3.2 and gnu tool chain, using autotools build.

### Summary of Issue
Building fortran with parallel fails with netcdf-c-4.5.0-rc1.
make[5]: Entering directory '/home/ed/Downloads/netcdf-fortran-4.4.4/examples/F90'
PASS: simple_xy_wr
PASS: simple_xy_rd
PASS: sfc_pres_temp_wr
PASS: sfc_pres_temp_rd
PASS: pres_temp_4D_wr
PASS: pres_temp_4D_rd
FAIL:

[2017-07-14 19:11] WardF commented on #441
Thanks Ed.  Our parallel tests on our end haven't reported an error, so I'm taking a closer look at this!

[2017-07-14 19:14] WardF commented on #440
I'll take a look at this as well; I use `make -j` all over the place in our continuous integration and regression tests, and haven't encountered an error.  That doesn't mean much though, so will investigate this much more closely.

[2017-07-14 19:16] WardF commented on #440
Correction due to delayed reading comprehension.  I was told early on that our tests do not run in parallel, and must be run serially. Was I misinformed? I would not expect `make -j check` to work, as a number of tests take the output from other tests as input.  I don't know if that's the case for the tests you are seeing failures in, but I had never expected `make check -j` to work.

[2017-07-14 19:22] DennisHeimbigner commented on #440
I think that is correct. We have, unfortunately, significant dependencies between
tests that are not explicitly recorded in the Makefile. So make -j should not
be expected to work.

[2017-07-14 19:23] WardF commented on #440
Closing out, will reopen if I learn there's a reason we should expect these to work.  :)

[2017-07-14 19:23] #440 closed

[2017-07-15 12:30] t-b commented on #385
@WardF Thanks, I've just verified that the fix in v4.5.0-release-branch works. Now all tests pass with cmake.

[2017-07-18 20:18] edhartnett opened #442 "Memory leak in nc_open if file is not found"
Using address sanitizer shows this error.

The problem is in dfile.c. On line 1834, the path is copied (or converted, for windows) and this creates new storage for "path".

If the file is later successfully opened, the path is freed. But if the file does not exist, then the path is not freed.

I have a (one-line) fix, and I am going through your contribution process now to submit a PR...

[2017-07-18 20:21] DennisHeimbigner commented on #442
I think this is fixed in a branch that has not yet been integrated into the 4.5 release.
I will recheck once the next release candidate is built.

[2017-07-18 20:47] edhartnett commented on #442
OK, so should I hold off on the PR?

[2017-07-18 20:53] DennisHeimbigner commented on #442
Yes.

[2017-07-23 20:01] DennisHeimbigner commented on #359
Gave up on using the NCO calandar code because it is too intertwined with the
rest of NCO. Will just have to try to fix the nctime.c we have.

[2017-07-24 14:19] simoccc commented on #343
Hi, I'm writing just to tell you that the official stable release download is still with this bug.

[2017-07-25 18:03] DennisHeimbigner commented on #359
Ok, I have a fix for this. Unfortunately, it will have to wait until after the existing pull requests
are all merged.

[2017-07-25 18:34] DennisHeimbigner commented on #359
resolved by pull request https://github.com/Unidata/netcdf-c/pull/444

[2017-07-25 18:34] #359 closed

[2017-07-27 15:24] mathomp4 commented on #416
@DennisHeimbigner I tried your patch and it does seem to help! I can get through the ncgen3 tests. I'm doing a full clean-and-rebuild now because trying to run a complete make check when hilariously bad, but I'm hoping that's due to me putting it in a bad state, make-wise.

But, so far, good news!

[2017-07-27 16:29] mathomp4 commented on #416
Hmm. Well, this isn't good in that I can't seem to run any of the "useful" parallel tests in nc_test4:

[code]
and then it just pegs four processors and never lets go.

[2017-07-27 16:39] mathomp4 commented on #416
More info. netcdf-fortran seems to point to HDF:

[code]
But maybe that's a generic netcdf error? I then tried a parallel test in HDF5 and that had an issue so...

I'm going to try a different MPI stack to see what that does. Is this endemic, or an HDF5/Netcdf/MPT issue...

[2017-07-28 19:59] WardF opened #445 "Parallel Failures for netcdf 4.5.0 release branch"
Creating this issue to capture parallel test failures in netCDF 4.5.0-release candidate branch, in preparation for rc2.  The issue is becoming rather complicated, so I am creating this issue to keep track of failure matrix.

[2017-07-28 20:01] WardF commented on #445
The attached script will show roughly what I'm doing, although I am playing around with various options to try to nail down the various failure state/conditions.

* [mytest.sh.zip](https://github.com/Unidata/netcdf-c/files/1184141/mytest.sh.zip)

[2017-07-28 20:08] WardF commented on #445
Ok! In the branch `v4.5.0-release-branch`, we see one failure (`nc_test4/run_par_test`) when pnetcdf is **disabled**. If pnetcdf is **enabled** we see the following failures:

* nc_test/run_pnetcdf_test
* nc_test/t_nc
* nc_test/tst_small
* nc_test/tst_norm
* nc_test/tst_nofill
* nc_test/tst_atts
* nc_test/nc_test
* nc_test4/run_par_tst

So, it looks like it is the inclusion of **pnetcdf** that tri

[2017-07-28 20:28] edhartnett commented on #445
What version of pnetcdf are you using?

On Fri, Jul 28, 2017 at 2:08 PM, Ward Fisher <notifications@github.com>
wrote:

[2017-07-28 20:37] WardF commented on #445
1.8.1, but it appears to be something on our side not theirs. I've reverted #405 locally and will be pushing once I'm positive that something in there caused this issue, but I'm 99% right now.

[2017-07-28 21:25] WardF commented on #445
This is fixed so closing.  We reverted and pushed back to github so that we are before `magic.dmh` was merged in.  This will make it easier to merge once the branch is fixed.

[2017-07-28 21:25] #445 closed

[2017-08-01 16:46] gsjaardema opened #447 "nc_put_vars_double fails in parallel if using netcdf-4 collective"
Version 4.5.1-devel.

If I call nc_put_vars_double with stride=1 in parallel with some processors having no data to write, then the `H5Dwrite` call will fail.

The problem is due to the
[code]
at line 244 of libdispatch/dvarput.c.   If I remove that early return and if stride == 1, then the code will complete correctly.  If that line is left as is, then some processors return early and the code ha

[2017-08-01 16:54] gsjaardema opened #448 "nc_put_vars_double (or float) fails in parallel"
### Environment Information
* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
  * [ ] Windows
  * [x] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [x] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Yes

[2017-08-01 16:56] gsjaardema commented on #447
The related issue when `stride != 1` is #448

[2017-08-02 02:33] jyucsiro commented on #412
@lesserwhirls @WardF as part of the ncld WG, we've started to explore this in as a Linked Data register of known conventions. Currently here for testing purposes, but the idea is to mint an identifier for a convention and provide useful links from it to documentation and related resources. See https://github.com/binary-array-ld/bald/issues/41 for more details.

Would appreciate feedback about whet

[2017-08-07 20:07] czender opened #452 "Current snapshot version string is "4.5.1-development""
The current snapshot version string returned by nc_inq_libvers() on 20170804 is "4.5.1-development". AFAICT this should say "4.5.0-development".

[2017-08-08 10:23] pastewka opened #453 "Garbled data when reading large cdf-5 files"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux - BlueGene/Q and CentOS 7
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [ ] autotools (`configure`)
  * [x] cmake - `CFLAGS: -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64 -g

[2017-08-08 14:07] mathomp4 commented on #416
Back from moving days, and I can verify that there seems to be some interaction between NetCDF and MPT. If I build with Intel MPI 17.0.4, I can get NetCDF to pass the tests (save ones that need internet).

[2017-08-08 15:20] edhartnett opened #454 "Documentation issue on Unidata web site in netCDF docs"
There are some problems with the documentation here:
http://www.unidata.ucar.edu/software/netcdf/docs/file_structure_and_performance.html#large_file_support

The table at the bottom of the section has lost formatting.

Also where it says "See Which Format" the hyperlink of "Which Format" is missing.

[2017-08-08 16:37] WardF commented on #454
Thanks! Lots of work left to do to get the documentation squared away, this sort of catch is very helpful!  Also, thanks for your recent blog post, it was *very* informative. :).

[2017-08-08 16:55] WardF commented on #453
This looks vaguely familiar; thanks for the bug report, we definitely want to correct this.  Does this issue work if the file is generate serially?  Or is that impractical?  Perhaps it is impractical and it *shouldn't* matter, but I need to start narrowing things down.  The fact that ncmpidump works is reassuring; the issue is in ncdump reading the data, and not how netcdf writes the data (a worst

[2017-08-08 17:14] WardF commented on #452
Hi Charlie, we're trying a different way or organizing the release work this time.  The 4.5.0 work is all going on the `v4.5.0-release-branch` branch.  From this branch, we create new `rc` and (on one golden day) the "final release" branch.  Any bug fixes and whatnot that go into the v4.5.0-release-branch can be merged back into `master`, but it also means that features and such merged into `maste

[2017-08-08 17:14] #452 closed

[2017-08-08 17:18] czender commented on #452
Makes sense. Thanks for ncexplaining.

[2017-08-09 06:55] pastewka commented on #453
4.5.0-rc2 has the same problem. I'll upload the file and will post a link to it here later today.

[2017-08-09 16:48] winash12 opened #456 "Unable to download netCDF files using nccopy and OPeNDAP"
I had scripts that ran using python3.5 and OPeNDAP and nccopy that downloaded reanalysis files and now suddenly with netcdf-4.5-rc1 they have stopped working. This is on Ubuntu 16.04 LTS.

### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [ ] Linux
  *
* 32 and/or 64 bit?
  *
  * [ ] 64-bit
* What build system are you using?

[2017-08-09 19:50] pastewka commented on #453
I fixed it myself, was an easy one. A check for NC_64BIT_DATA was missing in v1hpg.c. Just issues pull request #457 that fixes this.

[2017-08-09 20:00] WardF commented on #453
Thank you, that is a fantastic help, I will get it worked into the 4.5.0 release branch.  If possible, can we still get the file? Or perhaps it would be easy to capture the output form 'ncdump -h [filename]' and attach it here? I'd like to characterize the file so that I can add a test to ensure this doesn't regress in the future.

[2017-08-09 23:31] czender opened #458 "_FillValue attribute creation error for NC_GLOBAL with netCDF 4.5.x?"
netCDF library behavior of _FillValue seems to have changed in a backwardly incompatible way. With the 20170804 netCDF snapshot this command fails to create a global _FillValue attribute in a netCDF3 file, whereas the same command succeeds with netCDF 4.4.x and earlier versions. Is this new behavior intended?
[code]

[2017-08-09 23:36] WardF commented on #458
Thanks I will track this down!

[2017-08-10 00:09] czender commented on #458
Thank you. FYI 4.5.x also causes a less clear regression with ncpdq, which now fails to pack variables that have a _FillValue attribute. This is a major regression, since people do this all the time. I will try to narrow down what it happening further when I have time.

[2017-08-10 03:00] DennisHeimbigner commented on #458
Do I have this right? If in.nc was an empty netcdf file, the ncatted command
would be equivalent to this?
    ncgen -3 in.cdl
where in.cdl would be:
netcdf test {
// global attributes:
		int64 :_Fillvalue = 222LL ;
}

[2017-08-10 06:51] pastewka commented on #453
Let me try to generate a file with a minimal size that shows this error, will get that one to you.

[2017-08-10 13:16] #456 closed

[2017-08-10 15:57] czender commented on #458
Yes, except the _FillValue would be a plain int not int64.

[2017-08-10 16:42] WardF commented on #453
Thank you @pastewka ; I appreciate that, and certainly take your time.

[2017-08-10 20:29] WardF commented on #454
Merging into 4.5.0 release branch, will propagate to `master` after checks have finished.

[2017-08-10 20:29] #454 closed

[2017-08-11 17:11] czender commented on #458
I now understand that this error is due to #388. FWIW it has always been (or seemed) legal to have a _FillValue defined for a NC_GLOBAL, and NCO supported this. A consequence is that there may be files in the wild with _FillValue defined for root and groups. #388 may make copying/manipulating such files difficult, since an error code will be returned. Does this backwards incompatibility merit revi

[2017-08-11 17:19] WardF commented on #458
@czender Absolutely worth revisiting and a discussion; the files can still be read correctly?  We need to avoid breaking the backwards compatibility, and depending on the actual harm done we may just revert #388 and instead update the documentation.  @DennisHeimbigner any thoughts? We can discuss this at our meeting if not here.

[2017-08-11 17:25] WardF commented on #388
This may need to be revisited in light of comments by @czender in #458

[2017-08-11 17:54] czender commented on #458
I patched the latest NCO snapshot to emit a warning when it receives an NC_EGLOBAL error from nc_put_att(NC_GLOBAL,"_FilllValue"), but otherwise proceed normally. This helps to mitigate the issue.

[2017-08-11 18:51] DennisHeimbigner commented on #458
In order to  keep https://github.com/Unidata/netcdf-c/issues/388
and to usably support back-compatibilty, I think we need to
change from reporting an error to reporting a warning somehow.
If the file is being generated with ncgen, then ncgen can report the
warning. If it is via the library, then our only option is to use logging
to report the warning. Unfortunately, logging is netcdf-4 only.
In an

[2017-08-11 19:17] WardF commented on #458
I don't think silently ignoring is a good idea; if data isn't written it should be reported somehow, or else we set ourselves up for future problems when people think they are doing one thing but are really doing another.  Maybe we could have a hidden attribute in the file that is used to store warning messages, etc?  There's probably a problem with that, I haven't really thought it through yet.

[2017-08-11 19:35] DennisHeimbigner commented on #458
It occurs to me to ask: did a global _FillValue actually get used in defining
the fillvalue for any variable? If so, then I think we have to keep that behavior.
If it was effectively unused, then we can "ignore" in some sense that global
fillvalue.

[2017-08-11 22:22] DennisHeimbigner commented on #453
Given the fix, it should be possible to reengineer a
minimal test case.

[2017-08-11 22:39] pastewka commented on #453
Could write a cdf-5 file of appropriate size and then read. That should break. Is cdf-5 included in large file tests and if so, what is largest record size that is written?

________________________________
Von: DennisHeimbigner <notifications@github.com>
Gesendet: 12.08.2017 12:22 vorm.
An: Unidata/netcdf-c
Cc: Lars Pastewka; Mention
Betreff: Re: [Unidata/netcdf-c] Garbled data when reading large

[2017-08-14 21:49] WardF commented on #453
The fix has been merged into master, thank you!

[2017-08-14 21:49] #453 closed

[2017-08-14 22:23] edhartnett opened #460 "More bad references in guide.dox"
There are some other bad cross references in guide.dox. For example:

[code]
I will fix and submit a PR.

[2017-08-15 15:51] czender commented on #458
I'm not sure if Dennis' question was for me so let me clarify that currently/formerly people could have groups with a _FillValue with no error. Some of them may have workflows that cause their variables to "inherit" the _FillValue of the group they are in. I don't know of any specific examples.

[2017-08-15 18:19] DennisHeimbigner commented on #458
I guess I was trying to figure out what behavior needs to be preserved.
If we allow setting a global _FillValue, but otherwise ignore it, does that
preserve back compatibility?

[2017-08-15 19:14] czender commented on #458
NCO exposes the full attribute API, i.e., creating, deleting, copying, renaming attributes. If the full attribute API is allowed to continue to work with _FillValue on NC_GLOBAL then nothing changes from the user's point of view, so that would be back-compatible. Eliminating any of those could potentially cause grief to some users.

[2017-08-15 19:23] WardF commented on #458
NCO is a vital suite of tools; I'm convinced that we need to find a solution (such as Dennis suggests) that does not break the tools or user workflows which adhere to what has become a de-facto standard.  As far as I can tell, the global `_FillValue` attribute isn't used for anything internally, and as such can be ignored by the library.  My approach for the next rc3/full release would be (absent

[2017-08-15 19:44] DennisHeimbigner commented on #458
Sounds right to me.

[2017-08-15 20:21] WardF commented on #458
I've created a temporary branch, `reverse-388`.  Does this fix the issue you're seeing re: `ncpdq` @czender ?  I need to do more to understand the underlying issue but I want to make sure I'm looking in the right place to start dissecting the code.

[2017-08-15 21:01] DennisHeimbigner commented on #426
It appears we will never be able to fix this because we
no longer have any big-endian machines on which to test.
So I am closing this issue

[2017-08-15 21:01] #426 closed

[2017-08-15 22:32] czender commented on #458
There is another, though possibly related, issue caused by changed treatment of _FillValue in 4.5.x that is, IMHO, both less straightforward and a bigger deal than the NC_GLOBAL issue discussed here (in #458) and in #388. I'm uncertain precisely what netCDF change caused this (possibly #383 and/or #384 ???). As background, NCO allows the _FillValue type to be other than the variable type, and ncpd

[2017-08-15 22:55] WardF commented on #458
My first thought off the top of my head is to back out the change implemented re: different types and instead phase it in slowly while flagging the behavior as deprecated, and work together towards not locking this behavior out altogether until NCO has been updated. Although depending on the scope of the problems it could cause, I am hesitant to do something that breaks widespread workflows built

[2017-08-16 00:56] DennisHeimbigner commented on #458
Can you elaborate on what you mean by the term "packed"?

[2017-08-16 01:06] czender commented on #458
scale_factor and/or add_offset used to convert floating point to smaller type.

[2017-08-16 01:35] DennisHeimbigner commented on #458
I was afraid of that. The whole scale+offset thing is a nightmare because
the spec did not type the variable to be float or double, which its true type.
At the moment, I have no idea how to address this.

[2017-08-16 16:47] WardF commented on #458
I think for the short term we need to revert the pull request which has caused this issue, and then proceed more slowly once we have identified a potential fix/approach.  Clearly this behavior is too widespread to simply change without causing problems.

Good news, the issue is not #383 as that has not been merged in yet.  I will evaluate the changes in #384.  @czender is there an easy way to test

[2017-08-16 17:13] czender commented on #458
Sounds good. I'll release NCO 4.6.8 as is, and can alter ncpdq in a later version coordinated to work with new behavior in netCDF 4.5.x.
Both the regressions discussed on this page were identified with the NCO regression tests, which are invoked by "make test" (not "make check", which tests something else). There are a few expected failures in some operators due to known bugs, but ncpdq has no reg

[2017-08-16 17:16] WardF commented on #458
Thanks @czender I recall there is another regression related to netcdf that is in `make test`; since no error code is returned our automated testing doesn't report an error, but I will take a look at both of those, starting with this one.

[2017-08-16 19:44] DennisHeimbigner commented on #458
I have a question about the type(fillvalue) != type(variable) for packed variables.
I hypothesize two kinds of fillvalue.
1. define a fillvalue for the packed variable (of type e.g. short)  in defined.
    so type(fillvalue) == short
2. Interpret that the packed variable is actually representing an e.g. float and
    specifying type(fillvalue) == float
There is an obvious relationship if the float

[2017-08-16 19:58] DennisHeimbigner commented on #458
In thinking about all this, I realize I am working from the following
assumption: The netcdf-c library is not expected to have any knowledge about the
semantics of packing. That is, from the library's point of view,
it sees the following:
           short fll_val(lon) ;
               fll_val:add_offset = 73.f ;
That is, a variable of type short with a float valued attribute.
the name "add_offset"

[2017-08-16 20:34] dqwu opened #461 "nc_check_for_hdf is called with incorrect flags"
Currently, nc_check_for_hdf is only called by NC4_open:
[code]
Here, use_parallel (possible values are 0 or 1) is passed to nc_check_for_hdf as the 2nd parameter.

Note that the 2nd parameter of nc_check_for_hdf should be a variable containing some bit flags.
[code]
In this case, the 2nd argument flags has an integer value of 0 or 1, the two local variables (use_parallel and inmemory) will always

[2017-08-16 20:54] DennisHeimbigner commented on #461
nc_check_for_hdf has been eliminated as part of a yet to be merged
branch (magic.dmh). It was eliminated to help centralize the file format
detection code into libdispatc/dfile.c#NC_check_file_type.

[2017-08-16 20:54] #461 closed

[2017-08-16 21:57] czender commented on #458
Um, not sure exactly what you want to know. It may be easier to speak by phone. 949 891 2429. NCO never uses nc_def_var_fill(), as I was unaware such a function existed :)
Remember, ncpdq was written in 2004, and with "missing_value" in mind, and the library had no semantic knowledge of "missing_value", though missing_value was far more common than _FillValue at the time. When packing a float into

[2017-08-16 22:10] DennisHeimbigner commented on #458
No phone nearby.  Looks like I need to investigate how _FillValue is handled in the library
when doing copy etc. It should be case that one should not be able to define an attribute
named _FillValue at all because it has a leading underscore. This is beginning to look like
a problem of major proportions.

[2017-08-16 22:21] WardF commented on #458
@DennisHeimbigner The documentation here: http://www.unidata.ucar.edu/software/netcdf/docs/fill_values.html says that _FillValue can be created directly, so I don't think it's a mistake.  It was never my understanding that you *couldn't* create an attribute with a leading underscore, but rather that that was used to denote a special attribute.  The page also says that we need to use a fill value o

[2017-08-16 23:04] DennisHeimbigner commented on #458
You are correct, Ward. I did some further digging into the code.
What a mass of contradictions is netcdf.
It turns out nc_def_var_fill is netcdf-4 only, it fails for a netcdf-3 file.
No obvious rationale, no idea why. Completely contradictory IMO.
So apparently, for netdf-3, the only way to set the fillvalue is to set the _FillValue attribute.
For netcdf-4, nc_def_var_fill overrides and replaces t

[2017-08-17 15:27] WardF commented on #458
Dennis,

For the time being we'll back out to a known working state for the 4.5.0 release, and we will map out how to proceed at our next meeting.  Part of me wants to assume there is a good reason for this divergent behavior.  Personally I think we should continue with what netcdf3 does, i.e. allow for _FillValue to be set directly.  Of course, at this point, we have `nc_def_var_fill()` as well a

[2017-08-17 20:42] WardF commented on #458
I've created a docker image to help debug this issue.  When invoking docker it takes a local netcdf-c git folder as input and then runs the test script provided by @czender above.

## Building/Using

This docker image depends on the `unidata/nctests:base` image.  If you do not have it locally, that is not a problem. Docker will download it automatically.

To build the docker image from the same di

[2017-08-17 20:43] WardF commented on #458
The nice thing with this docker container is it will make running `git bisect` pretty straightforward, as well as just a general, sandboxed environment for testing incremental changes in libnetcdf against NCO.

[2017-08-17 21:06] WardF commented on #458
# Git Bisect

## Running

Running git bisect as follows:

    $ git bisect start HEAD v4.4.1.1 --
    $ git bisect run docker run --rm -it -v $(pwd):/netcdf-c unidata/nctests:nco

## Results

Yields the following:

## Conclusion

This suggests that the issue is related to one of the pull requests, as suspected.   I will investigate further *and* confirm that `git bisect` is correct.  There is a sl

[2017-08-17 21:28] DennisHeimbigner commented on #458
I was just looking at the ERANGE_FILL pr. I did not realize
that he did it at the macro level.
Not good.
If we remove it, does that have any consequences for pnetcdf?

[2017-08-17 21:34] DennisHeimbigner commented on #458
In any case, if the NCO code is not activating an ERANGE error, then
the ERANGE_FILL code should have no effect.

[2017-08-18 02:55] WardF commented on #458
It appears this was misleading, as a later commit caacf4d3 is working.  I need to re-run the git bisect from this later commit.

[2017-08-18 19:00] czender opened #463 "CDF5 documentation lacking and a question"
A user applying NCO arithmetic to large data files in the "new" CDF5 format is encountering issues that result (silently) in bad answers. I'm trying to track down the problem. I have not found the netCDF documentation on CDF5 format limitations on this [page](http://www.unidata.ucar.edu/software/netcdf/docs/file_structure_and_performance.html) and so one purpose of this issue to request the additi

[2017-08-18 19:29] DennisHeimbigner commented on #463
Need to clarify a bit. Is a CDF5 file being accessed using NC_PNETCDF or by using
NC_CDF5 mode flag?

[2017-08-18 19:46] czender commented on #463
Via NC_CDF5 flag--Charlie Zender, Earth System Sci. & Computer Sci.University of California, Irvine 949-891-2429 )'(On Aug 18, 2017 12:29 PM, DennisHeimbigner <notifications@github.com> wrote:Need to clarify a bit. Is a CDF5 file being accessed using NC_PNETCDF or by using
NC_CDF5 mode flag?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, o

[2017-08-18 20:10] WardF commented on #416
Just making a note to show this hasn't fallen off the radar.

[2017-08-18 21:30] WardF commented on #458
Tagging in @wkliao in case he has any insight into this.

[2017-08-18 22:28] wkliao commented on #458
I probably have more questions than "insights" :(

Regarding the global _FillValue attribute, I wonder how it is used in NCO or other NetCDF applications. According to the NetCDF documents, this attribute is intended to fill missing values of a variable. Without associated with a variable, what is the intent of having a global _FillValue?

Regarding the type matching of the variable and its _FillV

[2017-08-18 23:03] czender commented on #458
@wkliao please comment on #463 if you know the answer.

Regarding your first question: One purpose of putting a _FillValue at the group level might be to indicate that is the intended _FillValue for all variables in the group.  I don't do or recommend this.

Regarding your comment: the attribute conventions did not, IIRC, say this in 2004 when I wrote ncpdq. And the immediate issue is backwards co

[2017-08-19 00:21] wkliao commented on #463
Do you mean "silent" the unexpected values appear in files for write and vise versa for read?
And no error codes were returned...?

My understanding of NetCDF is it first finds the number of contiguous requests (in file layout) from arguments start and count, and then runs a loop to write one request at a time. I assume your case is to write a contiguous chunk of size > 2GB. I have never tried thi

[2017-08-19 00:34] czender commented on #463
Yes, it would explain the problem my users are experiencing if requests for more than 2 GB from a CDF5 file do return the requested amount. There is no problem doing this from a netCDF4 file. Again, this is just a hypothesis, I'm trying to track down a mysterious bug, and this could be it. Need confirmation.

[2017-08-19 07:07] wkliao commented on #458
Hi, @czender

I wrote a test program below to check if NC_EBADTYPE is thrown when the data types are mismatched. As you can see, a variable is defined of type NC_FLOAT and its _FillValue attribute is NC_SHORT. When I compiled and ran against NetCDF 4.3.2, NC_EBADTYPE was returned at nc_enddef and nc_close. I am seeing from the source codes that nc_enddef() calls fill_NC_var() which checks the data

[2017-08-19 18:16] czender commented on #458
@wkliao I'm sure your program will give me the same result. I don't see the point of this particular exercise. As explained above, NCO uses a different code path (i.e., nc_copy_att()) than your program tests. Perhaps if you write a test with that codepath we can find which exact commit causes netCDF 4.5.x to change its behavior. We are trying to mitigate the shock to users if/when they link NCO to

[2017-08-19 18:32] wkliao commented on #458
Below is the code path that uses nc_copy_att.
Is this what NCO does?
[code]

[2017-08-19 18:53] czender commented on #458
Yes, I think that captures the essence of what ncpdq does. But ncpdq throws the error in an nc_put_var() call that writes the (packed) data after nc_copy_att() and nc_enddef().

[2017-08-19 20:14] wkliao commented on #458
When I ran that test program using v.4.3.2, I got NC_EBADTYPE at nc_enddef.
If you nc_set_fill() to set the fill mode to NC_NOFILL before nc_enddef, then there will be no error returned at nc_enddef. Can you check whether ncpdq disables fill mode?

[2017-08-19 20:27] wkliao commented on #458
I found [line 763 of ncpdq.c](https://github.com/nco/nco/blob/master/src/nco/ncpdq.c#L763) turns off the fill mode.
[code]
I assume if this line is removed, ncpdq will fail when compiled against earlier NetCDF versions ... ?

[2017-08-20 07:27] wkliao commented on #458
Just created a pull request #464
It may silence the NC_EBADTYPE error for ncpdq.

[2017-08-20 14:33] czender commented on #458
Yes, apparently the NC_NOFILL on line 763 prevents ncpdq packing mismatched _FillValue from failing with netCDF < 4.5.x. When I remove that line it fails with NC_EBADTYPE. Thanks for digging-in to this. I have not tested your patch, though it seems promising.

[2017-08-21 15:49] WardF commented on #458
Thank you very much @wkliao for providing your insight and the patch; thank you also @czender for working with us to figure this out, and reporting it in the first place!  I've just tested #464 with the provided test, and so long as ERANGE_FILL is not enabled (default behavior), the test passes.  @czender, will this work for you? I suppose there is a possibility of issues being reported if somebod

[2017-08-21 17:41] czender commented on #458
Please ping me when @wkliao 's patch is in master and I'll test. Assuming it passes, then this is a fine solution for ncpdq users.  Thank you Wei-Keng, for producing this so quickly.

[2017-08-21 20:31] czender commented on #463
I have now replicated workflows that strongly suggest there are undocumented differences between put/get results for large (4-8 GB) variables between CDF5 and NETCDF4 files. I don't have proof that this is a netCDF issue rather than an NCO issue, though @wkliao suggests that CDF5 get/put in the netCDF library was never tested for requests > 2 GB (and PnetCDF explicitly does not support single requ

[2017-08-21 20:45] czender opened #468 "nc_rename_dim() silently produces corrupt .nc4 file"
The test file is [here](http://dust.ess.uci.edu/tmp/merra.nc4). This command

`ncrename -O -d record,mth ~/merra.nc4 ~/foo.nc`

exits without error yet produces an output file unreadable by ncks or ncdump:

[code]

It is unclear whether this is related to #381, or any of the other rename issues documented [here](http://nco.sf.net/nco.html#ncrename_crd), but superficially it looks different to me (

[2017-08-21 20:49] DennisHeimbigner commented on #463
Since the CDF5 code in libsrc came from pnetcdf originally,
it would not be surprising if the 2gb limit snuck in.
We are going to need a simple C program to test this.
I tried but ran out of memory.

[2017-08-21 20:51] DennisHeimbigner commented on #468
can h5dump read it?

[2017-08-21 21:02] czender commented on #468
Yes, output is too long to post so I put it [here](http://dust.ess.uci.edu/tmp/foo.h5dump).

[2017-08-21 21:04] WardF commented on #468
Does it fail with previous versions of hdf5, or is that difficult to test? This will be fixed before our next release.

[2017-08-21 21:10] WardF commented on #468
Hmm. I'll set up something to test previous versions, but I missed the part where h5dump can read it.  I'll also take a look.

[2017-08-21 21:17] czender commented on #468
Yes it fails with older HDF too.

[2017-08-21 21:25] czender opened #469 "ncgen fails to produce CDF5 file from netCDF4 atomic types CDL file"
Now that I'm seeing more CDF5 files "in the wild" I've started adding more tests/support for CDF5. However it is tougher than I expected because my understanding of CDF5 is limited, and some of what I expect to "just work" does not do so. Apologies in advance for misunderstandings rooted in  my ignorance, but here goes: My impression is that the netCDF4 atomic types (strings, unsigned, int64) shou

[2017-08-21 21:47] wkliao commented on #463
I tested a short netcdf program to mimic the I/O @czender described (the codes are shown below). It creates 3 variables, namely var, one, and two. var is a 1D array of type double of 2^9 elements. Variables one and two are scalars. The 3 variables are first written to a new file and then read back to calculate the average. However, I could not reproduce the problem with this program.

@czender cou

[2017-08-21 21:53] wkliao commented on #469
NC_STRING is not supported in CDF5, due to the limitations of CDF file format specifications.

[2017-08-21 22:01] czender commented on #469
Ahh. My understanding was based on the documentation on this [page](http://www.unidata.ucar.edu/software/netcdf/docs/data_type.html) that says CDF5 _does_ support NC_STRING. So I guess the issue now becomes to fix the documentation...

[2017-08-21 23:06] DennisHeimbigner commented on #468
Can you also send us the h5dump of merra.nc (or send merra.nc) so we can
diff it with the above h5dump output?

[2017-08-21 23:15] czender commented on #468
See the "test file" link in the OP

[2017-08-22 00:01] czender commented on #463
Thanks @wkliao. This is a good starting point. I made a few changes to more closely follow the NCO code path. However, I still get the same results you do. Will keep trying...

[2017-08-23 22:40] WardF commented on #458
@czender This is in `master`, let me know if it works for you and if so I'll close this out and move on to the other cdf5-related issues.

[2017-08-24 10:17] simoccc opened #471 "h5_test run_par_tests.sh set -e problem"
sorry you can close

[2017-08-24 13:31] #471 closed

[2017-08-24 17:36] czender commented on #458
This thread discusses two distinct changes in _FillValue behavior in 4.5.x, each of which broke one NCO regression test that passed with 4.4.x and earlier libraries. Today's master still causes an error when attempting to create a _FillValue for NC_GLOBAL. I mentioned that I patched NCO to continue (not abort) despite this error:
[code]
Personally I can live with the current behavior because I don

[2017-08-24 19:29] WardF commented on #458
I think we are going to allow it; it has been allowed this long and has become permissible, so I think the documentation needs to be updated.  I thought I had reverted this behavior already but apparently not.  I will look into it.

Actually, yes I've reverted it in a branch but have not met with @DennisHeimbigner yet to discuss/confirm.  And yes, thank you @wkliao for the patch with ncpdq.

@czen

[2017-08-24 19:47] wkliao commented on #458
Please note that as early as version 3.3 released in 1997, checking type mismatch has already appeared in libsrc/putget.m4. This checking happens during nc_enddef and when fill mode is on.

[code]

[2017-08-24 21:12] DennisHeimbigner commented on #458
I agree that we should continue to allow _FillValue with NC_GLOBAL.
We just need to note that it is (for now) ignored by the netcdf library.

[2017-08-24 21:43] wkliao commented on #458
FYI. I found the following statement from netcdf man page of v 3.3, libsrc/netcdf.3

[code]

[2017-08-25 07:31] pastewka commented on #453
Perfect, thank you!

[2017-08-25 17:31] WardF commented on #468
Ok, from gdb I've traced the failure (so far) to nc4file.c:2161.  The call to `H5Literate()` is returning an error (not currently captured, but I'll make the appropriate change to see what the return code is).

[2017-08-25 17:49] WardF commented on #468
The diff from h5dump (for merra.nc4 and foo.nc)  is attached for reference.

* [diff.txt](https://github.com/Unidata/netcdf-c/files/1252591/diff.txt)

[2017-08-25 18:05] WardF commented on #468
Ok @czender, I've taken a look at this and here's what I've found.

I wrote a C program that called `nc_rename_dim()` (attached below) and ran it against merra.nc4.  The program is pretty straight-forward, and changes the file in-place, but `ncdump` is able to read it and it looks as I would expect it to.  I ran h5dump against it and compared the output from *that* to the h5dump of the original un

[2017-08-28 18:40] WardF commented on #468
I'm going to close out this issue for the time being, with the understanding that it may/will be reopened pending further information from @czender.

[2017-08-28 18:40] #468 closed

[2017-08-28 18:55] WardF commented on #469
I've corrected the documentation for the next release, thanks!

[2017-08-28 18:55] #469 closed

[2017-08-30 09:57] cofinoa opened #474 "Add some documentation about dap2 and dap4 architecture"
It would be useful, for netcdf-c library developers/contributors, to have some documentation about the architecture of the library to support DAP2 and DAP4 endpoints.

For example, this doc coul explain what is the role of libdispatch, libdap2, libdap4 and oc2  source directories and the funcionality and inter-relations among them.

Also it's quite confusing why RC file read/parsing it's implement

[2017-08-30 16:38] DennisHeimbigner commented on #474
1. Add internal documentation. Good idea. But it may take a while.

2. Multiple rc parsers. Purely historical. I have slowly been trying
   to centralize a number of such pieces of functionality. I will add
   this one to the list.

[2017-08-31 18:42] czender commented on #463
@wkliao I notice something I do not understand about CDF5: I have a netCDF4 file with two variables whose on-disk sizes compute as 9 GB and 3 GB, respectively. By "computes as" I mean multiplying the dimension sizes times the size of NC_DOUBLE. And the netCDF4 (uncompressed) filesize is, indeed, 12 GB, as I expect. Yet when I convert that netCDF4 file to CDF5, the total size changes from 12 GB to

[2017-08-31 18:48] wkliao commented on #463
The file size should be 12GB. Do you have a test program that can reproduce this?

[2017-08-31 19:04] czender commented on #463
Uh oh. It's hard to wrap my head around all this. The mysterious issues only appear with huge files that are hard to manipulated. The issues when processing with NCO may be due to NCO, but in order to verify I have to use another toolkit. CDO does not yet support CDF5. And nccopy either fails (with -V) to extract the variables I want, or (with -v) extracts all the variables so I can't mimic the NC

[2017-08-31 19:42] WardF commented on #463
I will take a look at -v/-V and see what's going on.  The original files are obviously quite large, I'll see if I can recreate this locally with a file on hand.

[2017-08-31 19:51] czender commented on #463
The [in.nc](http://dust.ess.uci.edu/tmp/in.nc) file on which the above commands were performed to demonstrate nccopy -v/-V weirdness, is tiny. Same behavior should occur with any file you like.

[2017-08-31 20:54] WardF commented on #463
@DennisHeimbigner This feels like an issue we've seen and (I thought) addressed, recently.  Does this ring any bells for you? Maybe the fix is on a branch that I neglected to merge. Going to look now.

[2017-08-31 20:57] WardF commented on #463
Ok. Similar issue, although the issue claims it is 64-bit offset only and this is not the case. I'll update the original issue.

* https://github.com/Unidata/netcdf-c/issues/425

I can copy `in.nc` (via nccopy) from **classic** to **netcdf-4 classic**; the commands Charlie outline above work on this new file, but fail on the old one.

[2017-08-31 21:30] WardF commented on #463
Found a code stanza in nccopy.c starting at line 1451.  The comment seems of interest here.

[code]

[2017-08-31 21:32] DennisHeimbigner commented on #463
Have you tried to disable this optimization to see if it then starts working ok?

[2017-08-31 21:49] czender commented on #463
@wkliao This 9 GB CDF5 [file](http://dust.ess.uci.edu/tmp/mpas_in.nc) contains two variables whose uncompressed sizes are 9 GB and 3 GB and so should require 12 GB of disk space to store. Inspection with ncdump/ncks shows there are data in both variables. When I convert it to netCDF4, the resulting file is, indeed, 12 GB. Can you tell me anything about whether the CDF5 file is legal, or corrupt, o

[2017-08-31 22:04] WardF commented on #463
@DennisHeimbigner Yes I found the issue, it is unrelated to optimization (in terms of the nccopy issue, not what @czender has observed with file sizes).  I'm working on a fix right now.

[2017-08-31 22:15] WardF commented on #463
Ok, I think I have a fix for the `nccopy -V/-v` issue @czender references above.  It is in the branch `gh425`. I have not run any regression tests yet so I can't say it's *the* fix, but I will pick it up tomorrow and continue.  I can say that `nccopy -V/-v` is working as expected for this specific test case, however.  Pushing out to github, will see what travis says.

[2017-08-31 22:41] wkliao commented on #463
Regarding to file size issue, firstly all classical formats, including CDF-5, do no compression.
One possibility for what you encountered is when this CDF-5 was created, not all variable elements were written and the fill mode was turned off (If the created is a PnetCDF program, please note the fill mode is off by default in PnetCDF). In this case, because the second variable was not fully written

[2017-09-04 23:00] czender commented on #463
@WardF please let me know when the nccopy fixes are in master so I can check whether nccopy and NCO give the same answers when subsetting huge CDF5 files.

[2017-09-05 21:45] WardF commented on #463
@czender It is checked into master; I added a test based on the information you provided that failed before my fix and is passing now. Please let me know if you still encounter the issue!

[2017-09-05 21:45] #425 closed

[2017-09-06 00:05] czender commented on #463
@WardF thank you for fixing nccopy. It works for me. And it behaves identically to NCO when subsetting large CDF5 files.  Both NCO (all operators) and nccopy silently truncate CDF5 data. There are, to my knowledge, no other command-line subsetting utilities to test (since CDO does not yet support CDF5), though my prediction is that they too would truncate CDF5 files while subsetting. It sure seems

[2017-09-06 16:49] WardF commented on #463
No problem, thanks @czender.  I will investigate the cdf5/nccopy issue but in the meantime I need to get the rc3 out. There's a chance this issue may not be fixed for the final release, but we will document it if need be.  I'm encouraged that a straight C program isn't causing an error.  @wkliao have you tried to see if this behavior persists when copying CDF5 files generated by pnetcdf instead of

[2017-09-06 16:50] WardF commented on #463
*really needs to go out, although of course not with show-stopping bugs.  It is a harder balancing act than I expected, I'm finding, between "I need to fix all the bugs before there's a release" and "Known bugs don't matter".

[2017-09-06 16:52] WardF commented on #463
@czender

I will be in the office tomorrow and would love to say hi; we are having our netcdf meeting tomorrow if you'd care to switch gears from CF2, briefly.

[2017-09-06 17:12] czender commented on #463
FWIW, the 57 GB test file was generated by PnetCDF (as its global metadata makes clear). Pinging @wkliao. The test file appears to be of the correct size to match the variables/dimensions it contains (I added a feature in the latest NCO snapshot that prints the expected RAM/disk size of uncompressed data in a file, accounting for subsets and hyperslabs). Anyway, the test file is the correct size,

[2017-09-06 17:55] WardF commented on #463
The time is TBD; it is usually scheduled at 1 but it is unclear if I can make it. We are trying to reschedule for 10 but waiting to hear from upstream dependencies.  It is in the small meeting room at Unidata. I'll keep you in the loop when it is hammered out.

[2017-09-07 00:58] wkliao commented on #463
PR #478 should fix the problem.
The PnetCDF utility [ncoffsets](http://cucis.ece.northwestern.edu/projects/PnetCDF/doc/pnetcdf-c/ncoffsets.html) detects the wrong variable sizes and offsets which helps me find the bug.
This PR passed the nccopy commands from @czender and file size appears correct now.
I also ran make check and all tests passed.

[2017-09-07 02:17] czender commented on #463
Thank you for fixing the bug @wkliao. Please characterize the datasets which it affects, and whether reading, writing, or both are affected. When can users expect silently truncated subsetted CDF5 files? Variables of what size? Record variables? All variables? Is there a workaround? Until netCDF 4.5.x is released with this patch, what do we recommend with respect to generating or using CDF5 files?

[2017-09-08 15:16] jswhit opened #481 "ncdump crashes on this file"
A netcdf4-python user reported that opening this file crashes the python interpreter.  Simply running ncdump on it causes a crash.  On my mac:

[code]

[2017-09-08 15:17] jswhit commented on #481
[ncFile.zip](https://github.com/Unidata/netcdf-c/files/1288296/ncFile.zip)

[2017-09-08 19:55] DennisHeimbigner commented on #481
This is a known problem and there is a fix for it. But unfortunately,
we are backed up in merging pull requests, so it has not made it
into master or the 4.5 rc. I am attaching the file that needs to change.
(actually a zip containing that file)
[d4rc.zip](https://github.com/Unidata/netcdf-c/files/1288850/d4rc.zip)
It should be compatible with master branch and all the v4.5 rc branches.

[2017-09-08 19:57] WardF commented on #481
Oh! I take back what I said about the issue.  Dennis, was there an open
issue (or closed) related to this I can reference?

On Fri, Sep 8, 2017 at 1:55 PM, DennisHeimbigner <notifications@github.com>
wrote:

[2017-09-08 19:59] WardF commented on #463
@wkliao I'm interested in this information as well, so that we can include it in the 4.5.0 release documentation.

[2017-09-09 00:41] DennisHeimbigner commented on #481
Fixed by pr https://github.com/Unidata/netcdf-c/pull/482
and now merged into branch v4.5-release-candidate

[2017-09-09 01:08] wkliao commented on #463
Hi, Charlie,

I have been thinking about your questions these days. I am not sure I am in the right position to answer the questions. Let me describe the cause of this bug first and maybe NetCDF folks have good suggestions.

The bug is caused by re-using the codes checking for variable's size against the max allowed for CDF-1 and 2 formats on CDF-5 files. For CDF-1 and 2, there can only be at most

[2017-09-09 16:24] czender commented on #463
Thanks for the info @wkliao. I hope you continue to audit the CDF5 code because I have seen behavior that seems consistent with reads being affected (as well as writes). In particular, I have used NCO to create MD5 hashes of the same data in a valid CDF5 file (created by PnetCDF), and in an invalid CDF5 file (truncated as above). The MD5 hashes are the same. I can't explain how this could be true,

[2017-09-09 20:24] wkliao commented on #463
FYI. I wrote a short program to extract variable timeMonthly_avg_normalVelocity from a file to a new file. Command "diff" on the two new files (extracted from valid and invalid CDF5) reports they are different.

[2017-09-09 20:30] wkliao commented on #463
My short program was built with the latest v4.5.0-release-branch. commit 15263f7

[2017-09-09 20:51] czender commented on #463
Here is a test program which is simple to modify to output in any netCDF format. CDF5 fails and netCDF4 succeeds. Note that the first CDF5 variable fails, while the second succeeds. One should probably also test that record variables work with any patch...
[code]

File cdf5.c:
[code]

[2017-09-09 21:49] DennisHeimbigner commented on #463
Charlie- did you post somewhere the original -- and failing-- subsetting command of the 57gig
pnetcdf file?

[2017-09-09 21:53] czender commented on #463
Yes, as per above:

[code]

[2017-09-09 23:11] wkliao commented on #463
I just found out branch v4.5.0-release-branch does not include my fixes in #478.
After merging #478 to the master, the test program ran fine with expected results.

[2017-09-11 18:42] WardF commented on #463
@wkliao The main issue now is testing that your fix works across multiple platforms and formats (32/64/Windows/ARM, etc) and (64bit offset, etc). I'm looking at that now, thanks all for your help with this!

[2017-09-11 22:21] czender commented on #463
@wkliao need to know if you think intercepting nc_put_var?_*() to split single CDF5 write requests for data buffers larger than N into multiple write requests of buffers smaller than N will avoid this bug. And, if so, what is N? And do you still think that CDF5 reads are not affected?

[2017-09-11 22:22] WardF commented on #463
When running python tests against libnetcdf built the patch from @wkliao, I see the following (on 64-bit systems only).

This will need to be sorted out before merging this fix in or saying that it 'fixes' the problem.

[code]

[2017-09-11 22:48] WardF commented on #463
I've determined the python test which is failing is `tst_cdf5.py`.

[2017-09-11 22:49] WardF commented on #463
The test is as follows; does anything leap out?

[code]

[2017-09-12 05:31] wkliao commented on #463
@czender

The bug appears when defining more than one large variables in a new file. So split a large put request to smaller ones will not fix the bug.

If you are developing a workaround in NCO, then I suggest to check the number of large variables and create a new file that contains only one large variable and make sure the large variable is defined the last.

I still believe the bug affects wri

[2017-09-12 16:27] czender commented on #463
@wklian does "large" in your message above mean 2 GiB or 4 GiB or ...?

[2017-09-12 16:31] wkliao commented on #463
It is mentioned on one of my previous posts. Here it is copy and pasted.

Large variables here means their size each is > 2^31-3 bytes for CDF-1 and 2^32-3 bytes for CDF-2. See [NetCDF Format Limitations](http://www.unidata.ucar.edu/software/netcdf/docs/file_structure_and_performance.html#offset_format_limitations)

[2017-09-12 16:43] czender commented on #463
I don't understand. I'm talking about writing a CDF5 file with netCDF 4.4.x. Not CDF1 or CDF2. What is the largest variable I can safely write as the last variable in a CDF5 file?

[2017-09-12 17:02] wkliao commented on #463
Sorry. Let me re-phrase, when using netCDF 4.4.x to create a new CDF-5 file, the file can only contain one large variable at most and it must be defined last. The large variable is of size > 2^32-3 bytes.

To be honest, I really do not recommend a workaround for netCDF 4.4.x, because the above suggestion has never fully been tested. This suggestion is based on my understanding to the root of the b

[2017-09-12 17:12] czender commented on #463
That's OK. I'm not writing a workaround. I'm writing a diagnostic WARNING message for those who, in the future, with NCO 4.6.9+, attempt to write a CDF5 file with netCDF 4.4.x that may trigger the bug.

[2017-09-12 18:36] DennisHeimbigner commented on #463
Ward- you should be able to create a c program equivalent to that python program
to see if it fails also.

[2017-09-13 12:51] marqh opened #483 "Referencing variables within a file"
# Feature Request: Referencing variables within a file

I would like to raise a feature request for discussion.  I am keen to discuss on this ticket the principle of this request and how such a feature would impact on the netCDF data model, CDL representations and other such aspects.

It would be great to get a sense of whether this is plausible in principal first.  If there is buy in and perceive

[2017-09-13 12:52] marqh commented on #483
@ethanrd I have raised this request for comment and interest, as discussed

[2017-09-13 16:31] DennisHeimbigner commented on #483
Right now, one can define a string valued attribute that stores the full path name
for a variable.
So the issue is, I think, the degree to which that variable path is automatically
decoded to a group+varid value.

[2017-09-13 20:38] WardF opened #484 "Make CDF5 support a configure time option."
Due to some issues centered around CDF5, it would be convenient to have a way to disallow cdf5 support altogether while these are being resolved.

[2017-09-13 20:53] WardF commented on #484
* [ ] Create `cdf5-optional` branch from `4.5.0-release-branch`
* [ ] Make cdf5 optional at configure time.
    * [ ] autoconf
    * [ ] cmake
* [ ] Update tests so that cdf5 tests run only if CDF is enabled.
* [ ] Merge `cdf5-optional` into `4.5.0-release-branch`
* [ ] Propagate changes into `gh478`

[2017-09-16 21:44] matzeri opened #485 "netcdf-c-4.5.0-rc2 build on cygwin broken"
I noticed that on current release candidate the NOUNDEFINED that is set in configure
for cygwin and other platform was removed from the Makefile.am.
This break the build on cygwin, and it was there on 4.4.1.1-1.
Reinstating it, the build is fine and pass all tests.

[code]

[2017-09-18 14:41] Alexander-Barth opened #486 "nc_inq_var returns NC_FIRSTUSERTYPEID instead of NC_VLEN for a variable created with nc_def_vlen"
I try to write a generic software which detects the type of a NetCDF variable. I would have expected that when I create a variable-length NetCDF variable, the call to nc_inq_var would return NC_VLEN as a type.
Attached is a sample code (adapted from your tst_vl.c).

### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x ] Linux

[2017-09-18 17:27] WardF commented on #484
Mostly finished, just need to figure out why netcdf4-classic `nc_test` is failing on `nc_set_default_format()`.

[2017-09-18 17:37] DennisHeimbigner commented on #486
Returning NC_FIRSTUSERTYPEID is in fact the correct behavior.
Let's examine the equivalent CDL file for the first part (see below).
Notice that the type of the variable var is in fact name1.
The  type name1 is what is called a constructed type. NC_VLEN
is what is called a type constructor. Thus, NC_VLEN is used
to construct a specific type with, in this case, name "name1".
The typeid is then the t

[2017-09-18 19:45] Alexander-Barth commented on #486
Thank you very much! This helps a lot!

[2017-09-18 20:18] czender commented on #483
The CF2 Group Hierarchy draft [proposal](https://docs.google.com/document/d/1KK6IZ2ZmpaUTVgrw-GlFd6almppjvGz6D7nxVTO3BtI/edit), which is still evolving, discusses and makes a recommendation on how to reference and later locate out-of-group variables. The proposal recommends that variables be identified by their short names and searched for using scoping and inheritance rules chosen from existing n

[2017-09-18 20:57] jwpeterson opened #487 "CURLOPT_KEYPASSWD, others not properly guarded in occurlflags.c"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [ ] Ye

[2017-09-18 21:03] DennisHeimbigner commented on #487
oops! Will fix.

[2017-09-19 17:51] DennisHeimbigner commented on #487
Should be fixed with pull request https://github.com/Unidata/netcdf-c/pull/488

[2017-09-19 17:51] #487 closed

[2017-09-20 15:26] mathomp4 opened #489 "Help with slow open performance with netCDF4 Files"
### Environment Information
* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
  * [ ] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [ ] cmake
* Can you provide a sample netCDF file or `C` code to recreate the issue?
  * [x] Yes

[2017-09-20 17:59] edhartnett commented on #489
Can you do an ncdump -s -h of the netCDF-4 file, and show the metadata?

[2017-09-20 18:51] mathomp4 commented on #489
I can. Here is the file that is the one I uncompressed (MERR.nc4 in the above script).

[MERR.nc4.ncdumphs.txt](https://github.com/Unidata/netcdf-c/files/1318872/MERR.nc4.ncdumphs.txt)

[2017-09-20 19:50] DennisHeimbigner commented on #489
Since I do not have the necessary authorization. Can you public post an actual
problematic .nc4 file somewhere temporarily?

[2017-09-20 19:52] WardF commented on #489
I'm currently working on a different issue, but I can easily believe that there is an inefficiency somewhere.  Using the `testCNetcdf.exe` above I will, as soon as I can, generate a usage profile and will post the results here for discussion and to see where the overhead is occuring.

[2017-09-20 20:14] wkliao commented on #489
Interesting evaluation!
I can confirm the slow open timing when using the files produced from test program "nc_test" which contain a long list of variables and attributes.

% ./read1000 test.nc4
Open test.nc4 1000 times costs 18.308271 seconds
% ./read1000 test.nc5
Open test.nc5 1000 times costs 0.146202 seconds

[2017-09-20 20:49] DennisHeimbigner commented on #489
Opening a file with a large metadata is a known problem because, unlike HDF5,
netcdf-4 reads in all the metadata at once, rather than lazily.
However, looking at the file above (MERR.nc4.ncdumphs.txt)
It does not seem to have all that much metadata (~900 lines).
It has about 60 variables and about 800 attributes. I wonder
if our attribute handling code is the problem;  without
looking, I would sus

[2017-09-20 21:24] DennisHeimbigner commented on #489
After a quick look, it appears that attributes are stored in a singly linked list.
And as each attribute is read, it is stored at the end of the list => linear.
This is the case for all netcdf-4 metadata storage. Looks like it is time
for a comprehensive rebuild of the libsrc4 code to refactor this to use
at least arrays rather than lists. Hash tables would be better.
If memory serves someone did

[2017-09-20 21:41] WardF commented on #489
I agree. 4.5.1 would be better, 4.5.0 is overdue.

[2017-09-20 22:36] mathomp4 commented on #489
Well, it sounds I'm a little late to the party, but I've put a [compressed version of the file on Dropbox](https://www.dropbox.com/s/cu5qimfb43kpnqg/MERR.compL2.nc4?dl=0).

Ah. This makes sense. Although for a bit there, HDF5 opened really fast because I forgot to check the error status (in Fortran). Turns out it'll open very fast if it's just erroring out. But I've confirmed it works. If only I c

[2017-09-21 12:14] mathomp4 commented on #489
Wrote a quick and dirty tester and...yup:
![netcdf open test](https://user-images.githubusercontent.com/2982494/30694878-f6a12fee-9ea3-11e7-9b4e-ff079d43abcc.png)

The _R<sup>2</sup>_  of the fit didn't export with the image, but it was 0.9871. (https://plot.ly/~Fortran/333)

[2017-09-21 17:29] DennisHeimbigner commented on #489
Thanks for the verification.

[2017-09-21 17:33] #486 closed

[2017-09-21 17:33] #484 closed

[2017-09-21 17:36] WardF commented on #463
I've added a couple of configure-time options for disabling cdf5 support.  Eventually this will be set automatically for 32-bit platforms.  I may turn it off by default for the next release candidate just for the sake of expediency, but I don't want to cause any problems for dependent packages.  @czender does NCO assume cdf5 support? Or does it query the netcdf library for it?

[2017-09-21 17:49] czender commented on #463
Thanks for asking. NCO assumes CDF5 when linked to 4.4.x or greater, i.e.,

if(NC_LIB_VERSION >= 440){ CDF5 stuff }else{ WARN no CDF5 support}

We could shift to, e.g., an #ifdef HAVE_CDF5 method if given a heads-up.

[2017-09-21 20:46] WardF commented on #463
@czender `nc-config` has a new flag `--has-cdf5`, would querying that work?

[2017-09-21 20:48] WardF commented on #463
By the time we're done, having CDF5 support would be the case in 99% of installations.  However, being able to toggle it lets us craft a release while still working to sort out the issues outlined above.   I'm going to refresh my memory on the above and also go review the @wkliao pull requests so that we can move forward.

[2017-09-21 21:41] czender commented on #463
Umm, sort of. We can cue from nc-config --has-cdf5 with v. 4.5.x. Earlier versions will not have this and nc-config will crash if asked about CDF5. So NCO would need to implement a multi-staged rule where autoconf/cmake first finds the version, makes that machine-parseable, then sets HAVE_CDF5 to No for < 4.4.x, to Yes for 4.4.x, and query nc-config for >= 4.5.x. Or something like that. Or NCO cou

[2017-09-22 00:39] Dave-Allured commented on #489
The virtual attribute _IsNetcdf4 was added in 4.4.1.  I wondered if this was the performance problem, because it requires scanning all the file top metadata.

I compared Netcdf-C 4.4.0/HDF5 1.8.16 to current versions, 4.4.1.1 with 1.10.1.  These timing results were actually run interleaved between versions, to compensate for possible network biases.  I grouped by version and copy/pasted into this

[2017-09-22 01:13] DennisHeimbigner commented on #489
If memory serves, _IsNetcdf4. is computed only when asked for.
So it should not be accessed as part of the above tests.

[2017-09-22 01:18] Dave-Allured commented on #489
That makes sense.  Not knowing the internals, I thought it was possible that nc_open might be pre-staging _IsNetcdf4 for some reason.

[2017-09-22 19:08] Dave-Allured commented on #489
@mathomp4, your experiment focused on only nc_open.  How much of your model I/O time is consumed in nc_open vs. other file I/O?  There are some known serious inefficiencies when the netcdf-4 chunk layout conflicts with read and write access patterns, or when chunk caches are too small.

My general experience with netcdf-4 is that performance rivals netcdf-3 when the file structure is reasonably ma

[2017-09-22 22:44] mathomp4 commented on #489
@Dave-Allured Well, this was sort of an odd test. We were looking at I/O and noticed this, so we sort of focused on the open. Now, in most cases, the open probably isn't as important as the read, so we are looking at that too. But we were wondering about open/read speeds when NC4 files were unlimited time v. fixed time, compressed v. uncompressed, etc. But the open was dominating!

We've also enco

[2017-09-25 21:01] Dave-Allured commented on #489
@mathomp4, all things considered, it seems that NC3 format would be a good fit to improve I/O for this particular model.  File opens will be much faster as demonstrated here.  I think data reads and writes will be similar to NC4, possibly faster for some access patterns.  The main thing you give up with NC3 is NC4 data compression.  It seems like speed is your main issue, not storage space.

Watch

[2017-09-27 16:33] edhartnett opened #493 "Improve documentation for dispatch layer"
docs/internal.dox needs to be converted to markdown, and referenced from the programming notes section. There is also a document dispatch.dox that needs to be folded in.

[2017-09-27 16:41] WardF commented on #493
`pandoc` is great for converting html to markdown; I've used it to convert the rendered version of .dox files to markdown.  I can handle that.  I've been slowly reorganizing the documentation (and it has slowed further since Russ retired), so feel free to fold in the PIO stuff and we'll get it slotted in in the right place :)

[2017-09-27 17:11] edhartnett commented on #493
Actually there is great documentation if I build with --enable-internal-docs, so I am happy. ;-)

I will let you know if I find anything wrong as I go through the PIO process. Meanwhile I will close this ticket.

[2017-09-27 17:11] #493 closed

[2017-09-27 17:18] WardF commented on #493
Sounds good! FWIW there's also a doxygen file, `docs/Doxyfile.developer`, that generates **robust** documentation.  It is built by running doxygen against it directly, e.g.

    $ doxygen docs/Doxyfile.developer && open html/index.html

[2017-09-27 17:31] DennisHeimbigner commented on #493
The dispatch documentation has a number of errors/misstatements. I will
undertake to update it.

[2017-09-28 14:27] edhartnett opened #494 "configure should error out if --enable-pnetcdf/parallel4 is specified by user, but can't be built"
There are at least some cases (--enable-pnetcdf) in which the user request for pnetcdf is overridden by the configure file. If the user requests pnetcdf, and pnetcdf is not found, then the configure issues a warning and builds without pnetcdf.

This is incorrect behavior. If the user passes an unknown --enable-something, it should be ignored. but if a known --enable is passed, and cannot be satisf

[2017-09-28 15:51] wkliao commented on #494
I echo that.
A similar suggestion was made in #431

[2017-09-28 16:13] DennisHeimbigner commented on #494
Is there not a similar issue with default flags?
If a sysadmin does, say, a default configure but some
default --enable items must be disabled because of e.g.
missing capabilities: what should happen?
If the sysadmin does not look at the settings that
are output at the end of ./configure, then the sysadmin
may be mislead into thinking that a complete default
build succeeded.

[2017-09-28 16:54] edhartnett commented on #494
If I type --enable-pnetcdf, then I expect to get pnetcdf or an error in configure (because most likely I need to fix something and try again.)

With default behavior the user has not explicitly told us that he or she wants some specific feature. So we make our best guess. That is not the same as assuming we know better than the user. In other words, we are not overriding anything.

In addition, fa

[2017-09-28 17:40] wkliao commented on #494
This is not limited to --enable-pnetcdf. Here is another example.
When --enable-parallel4 is explicitly used and the underneath HDF5 was not configured with parallel I/O feature, only warning message is generated.
https://github.com/Unidata/netcdf-c/blob/fde8720fd332f7b06d15e07460d060ebe893a406/configure.ac#L1047-L1051

[2017-09-28 20:35] DennisHeimbigner commented on #494
There are a number of similar situations in configure.ac.
I think that the dap code, for example will only warn if curl
is not available.

[2017-09-28 20:41] edhartnett commented on #494
If we agree that configure should error out, then I can make those changes for pnetcdf, parallel4.

Do we agree on that?

[2017-09-28 20:42] WardF commented on #494
The current state of warnings vs hard exits is largely a matter of how things were configured previous to my involvement, and mirrored in CMakeLists.txt.  Barring a counter argument, I'm happy to have these warnings converted into errors; it makes perfect sense to me.

[2017-09-29 00:30] DennisHeimbigner commented on #494
I an ok with it. Remember in looking at configure.ac, that this
can be more complicated than it first looks. This is because in
some cases the dependency library that is required for a --enable-XXX
may not be tested for until later in the configure.ac.

[2017-09-29 12:45] edhartnett commented on #494
OK, I will take a stab at this, *after* I get my first PIO integration merged. So it will be a while...

[2017-09-30 01:08] ckhroulev commented on #448
I think I reported this bug to back in 2012; please see [the first message](http://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2012/msg00015.html) and [the follow-up](http://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2012/msg00016.html).

(I had to use the Wayback Machine to dig up the corresponding ticket (NCF-152)...)

A fix would have to use the method described in the

[2017-10-01 22:37] czender opened #495 "latest master and v4.5.0-release-branch fail to build from source (FTBFS)"
Both these branches now fail to build on my Linux Fedora Core 26 64-bit system with autoconf build system, as of 20171001. Master built successfully a month ago. Build fails to link ncgen. Problem appears to be unresolved symbols that, if I understand correctly, might be found in libdispatch. Configure command is

`CPPFLAGS='-I/usr/local/include -I/usr/include/hdf' LDFLAGS='-L/usr/local/lib -L/usr

[2017-10-01 23:07] WardF commented on #495
This is odd. Autoconf is a part of our usual tests, so  I’m surprised to see this. I will work on duplicating and fixing it.

[2017-10-01 23:32] czender commented on #495
Never mind. My fault. Didn't 'make distclean' first. Closing. Sorry for the false alarm!

[2017-10-01 23:32] #495 closed

[2017-10-02 14:39] jeroen opened #496 "Allow cmake to build both static and shared libraries"
I was wondering to make it possible to fix the cmake config so that it builds both static and shared libraries. Currently it builds only shared or static based on the setting `BUILD_SHARED_LIBS=ON`.

As a result many distributions only ship shared libraries, but I would like the static ones.

I think this is [relatively easy](https://stackoverflow.com/questions/2152077/is-it-possible-to-get-cmake-

[2017-10-02 17:06] WardF commented on #496
I will take a look at this; when I last reviewed this, it was not so straight forward.  The other consideration will be what the cmake recommended best practices are; assuming I don't see anything to counter-indicate this, it should be pretty straight-forward to add a `BUILD_STATIC_LIBS` option for non-windows platforms.

[2017-10-02 17:20] jeroen commented on #496
Well there already is an option `BUILD_SHARED_LIBS=OFF` which will produce (only) static builds, but it would be great to produce both the shared and static builds in one run, similar to `--enable-static --enable-shared` in autoconf.

[2017-10-02 22:11] edhartnett commented on #460
These were fixed and merged.

[2017-10-02 22:11] #460 closed

[2017-10-04 02:55] czender commented on #458
FYI, this command fails with 4.5.0-rc3 and succeeds in 4.4.x. I thought Unidata intended to continue to let users write _FillValue as group metadata in 4.5.0. The current release candidate does not allow that.

[code]

[code]

[2017-10-04 16:06] WardF commented on #458
That as the intent, and I thought I had reversed the pull request disallowing this.  I even thought I had added a test for this. Let me go double-check.  This should be allowed.

[2017-10-04 17:18] DennisHeimbigner commented on #458
This may also require a change to ncgen; I will investigate separately.

[2017-10-04 17:21] czender commented on #458
Please re-read my message of August 24. Nothing seems to have changed since then.

[2017-10-04 19:47] DennisHeimbigner commented on #493
Pull request https://github.com/Unidata/netcdf-c/pull/497
updates the dispatch table documentation to make it more
accurate.

[2017-10-04 19:48] DennisHeimbigner commented on #474
Pull request https://github.com/Unidata/netcdf-c/pull/497
updates the dispatch table documentation to make it more
accurate. You need to use the ./configure option --enable-internal-docs
in order to see it. The DAP2 and DAP4 documentation still needs to be
defined.

[2017-10-05 21:48] WardF commented on #458
Thanks @czender we will get this in!

[2017-10-05 22:16] WardF commented on #458
Ok, looking at this we had corrected the initial behavior using an ncpdq-based test.  Looking at this ncatted issue to see what's going on.

[2017-10-05 22:25] DennisHeimbigner commented on #458
It looks like there is a check in libdispatch/dattput.c
in (at least) each of the nc_put_att_XXX routines,
where XXX is some type (e.g. int or float or...).
You should be able to find all of them by looking for
occurrences of NC_EGLOBAL.

[2017-10-06 17:33] WardF commented on #458
I've got this taken care of and am adjusting a test.  I'll roll this in soon today and get ball rolling on the 4.5.0 full release.

[2017-10-06 20:17] WardF commented on #458
The fix is merged into v4.5.0-release-branch. Once travis-ci completes, I
will merge into master.

On Thu, Oct 5, 2017 at 4:25 PM, Dennis Heimbigner <notifications@github.com>
wrote:

[2017-10-12 09:12] jeroen opened #498 "make install should not uninstall"
In order to work around https://github.com/Unidata/netcdf-c/issues/496 we tried making a build script like this:

[code]
However it looks like the second run of `make install` (installing the static libs) actually wipes out the first run with the shared libs. After running this script we only had static libs.

I think there may be a bug in `make install` that triggers `make uninstall`?

[2017-10-12 18:45] WardF commented on #498
I'll take a look at this, although we depend on the inherent functionality for cmake for 'make install', so if there is a bug I would expect it to be upstream in the core cmake utility.  I'll investigate and report back.

[2017-10-12 18:47] jeroen commented on #498
I don't think the bug is in cmake, we use this for many other cmake packages where it works fine.

[2017-10-13 17:55] jswhit opened #499 "nc_inq_var_fill does not work NETCDF3 (64BIT or CLASSIC)"
Although filling can be turned on and off using `nc_set_fill`, `nc_inq_var_fill` always returns `no_fill=1` for NETCDF3 formatted files.  There needs to be a way to determining whether filling is enabled for NETCDF3 files.

[2017-10-13 23:42] WardF commented on #499
Just to clarify, does nc_inq_var_fill() still return no_fill=1 for you after turning it off via nc_set_fill()? I’ll look at this.

[2017-10-14 02:02] jswhit commented on #499
Yes, that's right @WardF

[2017-10-14 19:39] WardF commented on #499
Interesting historical artifact. Not sure why it is the way it is but there must be a reason? I will investigate.

[2017-10-14 22:03] DennisHeimbigner commented on #499
Try asking Ed Hartnett

[2017-10-15 20:43] wkliao commented on #499
Per variable  fill mode setting and inquiring APIs were originally added for NetCDF-4 files only.
Pull request #383 was created to extend these APIs for classic formats.

[2017-10-15 21:23] edhartnett commented on #499
From The Tao of Programming

5.4

Does a good farmer neglect a crop he has planted?
Does a good teacher overlook even the most humble student?
Does a good father allow a single child to starve?
Does a good programmer refuse to maintain his code?

On Sun, Oct 15, 2017 at 2:43 PM, Wei-keng Liao <notifications@github.com>
wrote:

[2017-10-16 00:21] edhartnett commented on #499
To answer more seriously, I don't remember any good reason why
nc_inq_var_fill() and nc_set_fill() only worked for netCDF-4.

It seems obvious to me now (as a heavy user of netCDF) that these functions
should work for all binary formats, and I am very happy to see that there
is a PR to achieve that. Thanks to Wei-keng Liao for this fix.

Even the great Homer nods.

Thanks,
Ed Hartnett

On Sun, Oct

[2017-10-16 15:08] WardF commented on #499
#383 will be reviewed pretty quickly once the 4.5.0 release is out.  Recognizing I won't get every feature and issue addressed, 4.5.0 has languished long enough. I'm working on getting it out now!

[2017-10-16 17:00] WardF commented on #458
I believe we have this addressed for 4.5.0.  Tagging to revisit for 4.5.1.

[2017-10-20 20:24] ArchangeGabriel opened #500 "nc_test fail in 4.5.0 with CMake"
[code]

It works without -DCMAKE_BUILD_TYPE=Release (i.e. DEBUG build), but not with it.

[2017-10-20 20:27] ArchangeGabriel opened #501 "Some warnings building 4.5.0 with CMake"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [ ] autotools (`configure`)
  * [x] cmake

Warnings in build log:
[code]
[code]

[2017-10-20 20:28] ArchangeGabriel commented on #500
Sorry for entering too fast, edited. Likely related to the warning in https://github.com/Unidata/netcdf-c/issues/501.

[2017-10-20 20:32] ArchangeGabriel opened #502 "Some warnings building 4.5.0 with autotools"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [x] Linux
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [x] autotools (`configure`)
  * [ ] cmake

Warnings in build log:
[code]
[code]
[code]
[code]

I’m wondering if the last one could be linked with https://github.com/Unidata/netcdf

[2017-10-20 20:34] ArchangeGabriel commented on #363
Just for the record, I confirm the issue is still present with 4.5.0 final but that switching to CMake makes it work.

[2017-10-20 20:35] ArchangeGabriel commented on #363
Shouldn’t we close this in favour of #244?

[2017-10-20 21:52] WardF commented on #500
Interesting; what platform are you on? I'm unable to recreate this but will keep trying.

[2017-10-20 21:53] WardF commented on #500
Specifically, which distribution of 64-bit linux, sorry :)

[2017-10-20 21:53] WardF commented on #501
@DennisHeimbigner Since this is in dap4, any thoughts if this could be related to #500 as @ArchangeGabriel suggests?

[2017-10-20 21:57] WardF commented on #502
Interesting. I'll take a look at that. Good catch.

[2017-10-20 22:25] DennisHeimbigner commented on #501
I will have to check to see what is going on both here and for https://github.com/Unidata/netcdf-c/issues/500

[2017-10-20 22:43] WardF commented on #502
So correcting this warning doesn't appear to have an impact on the failure we are observing.  What version gcc are you working with?

[2017-10-20 22:45] DennisHeimbigner commented on #501
The second of these (inRange) is a typo, but should otherwise be ok.
The first (d4meta.c) is a size/type mismatch between dap4 dimensions (size_t)
and netcdf dimensions. On 64bit machine, |size_t| != |int| so there will be a problem.

[2017-10-21 01:35] DennisHeimbigner commented on #501
I cannot duplicate the nc_test fail, even on a 64bit machine.
Can you see if you can locate Testing/Temporary/LastTest.log
within the cmake build tree and post it.

[2017-10-21 08:00] ArchangeGabriel commented on #502
7.2.0

[2017-10-21 08:02] ArchangeGabriel commented on #500
ArchLinux as usual, sorry to have not mentioned it. I’ll add the log requested by @DennisHeimbigner shortly.

[2017-10-21 08:12] ArchangeGabriel commented on #500
https://paste.xinu.at/xrLi/

Relevant section starts at https://paste.xinu.at/xrLi/#n2211

[2017-10-21 08:12] ArchangeGabriel commented on #501
When I said related to #500, I was thinking the lastest warning in the test itself. ;)

@DennisHeimbigner I’ve posted the log in the #500.

[2017-10-21 08:43] ArchangeGabriel commented on #244
For the record, I’m switching ArchLinux builds to CMake, but as said in #363 the issue is still present in 4.5.0 with autotools and with CMake I’m havin a new issue: #500.

[2017-10-21 08:53] ArchangeGabriel commented on #432
I still need to do some testing with OpenMPI versions (there is even 3.0 now). Will try do so asap.

[2017-10-21 18:09] ArchangeGabriel commented on #432
https://github.com/Unidata/netcdf4-python/issues/669 is also likely related to an issue with netCDF and OpenMPI.

[2017-10-21 18:40] DennisHeimbigner commented on #501
Ok, we need to duplicate the error locally. Ward, have you been able to do that?

[2017-10-21 19:04] czender commented on #463
It appears that netCDF 4.5.0 has been released without a fix for this CDF5 issue. My collaborators want netCDF with dependable CDF5 on 64-bit machines and do not care about 32-bit environments. Is it likely their issues will be addressed in 4.5.1? Or is future netCDF support for CDF5 uncertain? Or...?

[2017-10-21 19:13] WardF commented on #501
Not as of yet.

[2017-10-21 19:15] WardF commented on #463
It will be addressed in 4.5.1 insofar as we will enforce no cdf5 writing on 32-bit. You can enable cdf5 in 4.5.0 at configure time with —enable-cdf5. The release had languished enough that disabling it (by default) and getting 4.5.0 out the door was necessary.

[2017-10-21 19:41] czender commented on #463
To be clear, 4.5.0 does not seem to address the problem I reported in this issue. Will some version of #478, that appears to solve the problem I reported, and that fixes the test I wrote, be in 4.5.1?

[2017-10-23 14:41] edhartnett opened #504 "memory leaks in ncdump - make all fails for address sanitizer build"
Cloned the repo this morning on to my Ubuntu system (GNU toolchain) and built like this:

`autoreconf -i && CPPFLAGS='-I/usr/local/zlib-1.2.11/include -I/usr/local/szip-2.1/include -I/usr/local/hdf5-1.10.1_memchecker/include' CFLAGS='-g -Wall -fsanitize=address -fno-omit-frame-pointer' LDFLAGS='-L/usr/local/zlib-1.2.11/lib -L/usr/local/szip-2.1/lib -L/usr/local/hdf5-1.10.1_memchecker/lib' ./config

[2017-10-23 14:46] edhartnett opened #505 "memory overflow reported in tst_h_dimscales"
I built the HEAD with gcc address/memory checking turned on. Turns out there are some memory leaks/overflows.

See #504 for build info.

[code]

[2017-10-23 14:54] edhartnett opened #506 "memory leak in nc_open/nc_create (as seen in run of tests nc_test, tst_files, nctest)"
Build as described in #504.

Looks like a memory leak in nc_open() which show up in a number of test failures in nc_test. One is provided below.

[code]

The tst_files test in nc_test4 reports the following issues:

[code]

These errors are also reported by nctest/nctest.c:
[code]

[2017-10-23 14:59] edhartnett commented on #363
Howdy all!

Note that this may be related to https://github.com/Unidata/netcdf-c/issues/505.

The tst_h_* tests are not part of netCDF, I wrote them as I learned HDF5 and implemented netCDF-4. They proved useful as they test HDF5 in the way that netCDF-4 expects it to work. So I would go ahead and ignore tst_h_dimscales failures until we can find the memory problem.

[2017-10-23 15:04] edhartnett commented on #244
I believe now that this is caused by a memory problem in tst_h_dimscales. See #504, #505 for more info.

A memory overflow problem could easily appear and disappear based on compiler optimization. But using the gcc address sanitizer allows the problem to be shown.

[2017-10-23 15:06] edhartnett opened #507 "heap use after free in test tst_h_refs"
See #504 for build info.

[code]

[2017-10-23 15:10] edhartnett opened #508 "memory overflow reported in nc_test4/tst_vars.c"
See #504 for build info.

Memory overflow reported by tst_vars.c.
[code]

[2017-10-23 15:13] edhartnett opened #509 "memory leak in tst_fills2.c"
See #504 for build info.

[code]

[2017-10-23 15:14] edhartnett opened #510 "memory leak in run_empty_vlen_test.sh"
See #504 for build info.

[code]

[2017-10-23 15:29] WardF commented on #505
The tests generally don’t seem to clean up after themselves, and since they’re tests I haven’t prioritized cleaning them up at this point. Any memory issues in the main library or utilities are of course a much different matter. I may or may not close these out after tagging them to revisit in the future tho. And I’ll takr a look at all the other ones you’ve opened, but for the time being they’re

[2017-10-23 15:31] WardF commented on #504
Thanks for the comprehensive build info; I’ll take a look shortly :)

[2017-10-23 15:35] edhartnett commented on #505
Keep them open and I will take care of them.

I've got a fix for tst_h_dimscales, I will prepare a PR.

I disagree about your priorities. Getting the tests to run without memory errors is very important, because otherwise you cannot be running these memory checks on all code changes.

I need a clean memory build for PIO to work well. In HPC memory leaks are much to be feared. A small leak becomes

[2017-10-23 15:47] WardF commented on #505
I agree with their importance, but running static analysis with tests turns on shows an abundance of issues (many related to memory allocated but not explicitly freed); addressing all of those are important, but we don't have the resources to chase them and address other more explicit/obvious bugs.  I appreciate your PR, and opening these issues.  I'll leave them open, and now that I've scanned th

[2017-10-23 16:23] edhartnett commented on #505
By all means add me as a collaborator.

I will take a look at some of the other memory issues. The
tst_h_dimscales.c one was actually my own code so fair enough that I should
be the one to fix it. ;-)

On Mon, Oct 23, 2017 at 9:47 AM, Ward Fisher <notifications@github.com>
wrote:

[2017-10-23 22:50] #244 closed

[2017-10-23 22:50] #363 closed

[2017-10-23 22:50] #505 closed

[2017-10-23 22:51] WardF commented on #363
Fixed by #511.

[2017-10-24 15:26] edhartnett opened #514 "missing files in .gitignore"
.gitignore is missing a bunch of files, mostly from autotools (list below).

It's a minor matter, but I am going to fix so that git status works better for me as I work on these memory issues.

[code]

[2017-10-24 17:27] edhartnett opened #517 "memory leak in tst_enums is real library leak, and somewhat challenging"
There is a memory leak revealed by tst_enums. This turns out not to be just a test artifact, but reveals a possible memory leak in the library. Analysis below...

[code]

What is happening here is the following test code, which creates an enum, and then closes the file without saving the type. As expected, the test gets an NC_EINVAL on the nc_close(), but some memory is left unfreed:

[code]

 The

[2017-10-24 17:33] edhartnett opened #518 "warning in test code compile of h5_test/tst_h_files.c"
I am seeing this warning in the h5_test directory make check build:
[code]

Fix is easy. PR will be up shortly.

[2017-10-24 18:18] edhartnett opened #520 "compile warnings in nc_test4"
There are a number of compile warnings in nc_test4.

I will have a PR up shortly with fixes.

[code]

[2017-10-24 19:02] edhartnett opened #523 "memory leak in nc_open for non-existant file (as seen in run of tst_names, nc_test)"
nctest is showing a memory leak. Seems that what is happening is the path is not freed in nc_open when the file does not exist.

I will fix tomorrow, but first let my outstanding PR be merged, since it contains some changes in nc_open in dfile.c, and I don't want to get too confused. ;-)

[code]

[2017-10-24 21:10] WardF commented on #501
Fixed by pull request #503

[2017-10-24 21:10] #501 closed

[2017-10-24 21:11] WardF commented on #502
Thanks.  It looks like we got #244 fixed via a pull request, yesterday; I'll take a look at the other warnings that persist once we've cleared the backlog of pull requests.

[2017-10-24 21:11] #502 closed

[2017-10-24 22:33] WardF commented on #523
The warning messages on travis are not fatal; the issue appears to be pulling the docker image from dockerhub.  I'm trying to track it down but for now I can restart the failed ones by hand and they should work.  It will just take a little bit longer to work through. Going through them all now, thanks for all the help, Ed! :).

[2017-10-24 23:51] edhartnett commented on #523
Awesome. Once you get all those ones merged, I will see if I can clear up the other memory problems in the tests.

For the PIO work I depend on the address sanitizer to keep me honest, so I really need all of netCDF and its tests to be memory clean.

[2017-10-25 04:35] #518 closed

[2017-10-25 10:18] edhartnett opened #524 "compile warnings for libsrc4/nc4file.c"
There are some compile warnings for nc4file.c:

[code]

[2017-10-25 10:27] edhartnett opened #526 "compile warnings for libsrc4/nc4hdf.c"
Some compile warnings for nc4hdf.c. I will have a PR up shortly with fixes.
[code]

[2017-10-25 10:30] edhartnett opened #528 "compile warnings for libsrc4/nc4info.c"
nc4info.c: In function ‘NC4_get_propattr’:
nc4info.c:107:12: warning: variable ‘herr’ set but not used [-Wunused-but-set-variable]
     herr_t herr = 0;
            ^~~~
nc4info.c: In function ‘NC4_put_propattr’:
nc4info.c:151:12: warning: variable ‘herr’ set but not used [-Wunused-but-set-variable]
     herr_t herr = 0;
            ^~~~

[2017-10-25 10:50] edhartnett opened #530 "compile warning in libsrc4/nc4var.c"
Compile warning for nc4var.c:

[code]

[2017-10-25 12:00] edhartnett opened #531 "compile warning in nc_test/tst_atts3.c"
[code]

[2017-10-25 12:12] edhartnett opened #532 "compile warnings and memory issues in nc_test/tst_utf8_validate.c and tst_utf8_phrases.c"
[code]

Also:

[code]

[2017-10-25 12:18] edhartnett opened #534 "compile warnings for nc_test/tst_utf8_phrases.c"
[code]

[2017-10-25 12:21] edhartnett opened #535 "compile warnings for nc_test/tst_elatefill.c"
[code]

[2017-10-25 12:27] edhartnett opened #537 "compile warnings for libsrc/posixio.c"
[code]

[2017-10-25 12:33] edhartnett opened #539 "compile warning in libdispatch"
[code]

[code]

[code]

[code]

[code]

[2017-10-25 12:36] WardF commented on #539
Hey Ed just shot you an email but we probably need to make the pull requests fixing these warnings  a bit more monolithic to avoid blocking the Travis pipeline for the rest of Unidata, as well as to make it easier to run the non-automated (Windows, 32-bit) tests against. :)

[2017-10-25 14:24] edhartnett opened #541 "vlen memory leak in tst_xplatform2.c seems to be in library code"
There are some memory leaks reported for nc_test4/tst_xplatform2.c. When I look at the code I see that some nc_free_vlen() statements have been commented out:

[code]

When uncommented (as they should be, by looking at the code), the memory leaks go away, but a memory use after free error occurs in test function check_file_3(). Presumably it was this memory problem which lead to the nc_free_vlen c

[2017-10-25 14:41] edhartnett opened #542 "tst_h_atts2.c depends on output from tst_xplatform2.c"
The test tst_h_atts2.c uses pure HDF5 to confirm the contents of tst_xplatform2.c.

Instead, it would be better to just run these (few) tests at the end of tst_xplatform2.c, eliminating the dependency between these two files.

Ward, are you OK with that? I have the new tst_xplatform2.c working fine with the tests from tst_h_atts2.c, the next step is to remove tst_h_atts2.c and also remove it from

[2017-10-25 16:04] lwh1990 opened #543 ""Not a valid data type or _FillValue type mismatch" when using NC_BYTE"
Hi, when I used ncmpi_def_var(..,NC_BYTE,...) and ncmpi_put_vara_all(...,MPI_BYTE), it will throw a error "NetCDF: Not a valid data type or _FillValue type mismatch". And when I change the datatype "BYTE" to other datatype like "INT", the error is gone. How can I fix it if i want to use "BYTE" datatype? Thanks.

[2017-10-25 16:16] edhartnett commented on #543
I think you want to take this to the parallel-netcdf team. The ncmpi_ functions are not from netCDF, they are from parallel-netcdf. (https://trac.mcs.anl.gov/projects/parallel-netcdf)

And I also have noticed that the 1-byte types don't work in pnetcdf. So please do report that bug and I hope they get it fixed.

[2017-10-25 16:28] #543 closed

[2017-10-25 16:44] lwh1990 commented on #543
Thanks for the reply. I have figure it out that starting from PnetCDF 1.7.0, MPI_BYTE does not correspond to any internal data type used in NetCDF/PnetCDF APIs. And changing MPI_BYTE to MPI_SIGNED_CHAR or just use ncmpi_put_vara_schar() can fix this problem.

[2017-10-25 16:56] WardF commented on #514
This is fine, we have a process with .gitignore; while a bit mess, it's easy enough to ignore this.  Otherwise it becomes a needed unnecessary step when creating a release, to ensure that everything listed above is included.

[2017-10-25 16:56] #514 closed

[2017-10-25 17:12] WardF commented on #542
On paper it sounds good, give me a few to go review the file first. Also, any thoughts @DennisHeimbigner

[2017-10-25 19:03] DennisHeimbigner commented on #542
Sounds like a good idea to me.

[2017-10-25 19:07] edhartnett commented on #542
OK, after current backlog has gone through the pipeline, I will submit a PR...

[2017-10-25 19:08] WardF commented on #542
Testing the current multi-merge right now; it passed Travis.  Hoping/assuming that that will be good enough and that the individual PR's won't need to pass as well.  We will see.

[2017-10-25 20:37] #508 closed

[2017-10-25 20:37] #510 closed

[2017-10-25 20:37] #520 closed

[2017-10-25 20:37] #526 closed

[2017-10-25 20:37] #528 closed

[2017-10-25 20:37] #531 closed

[2017-10-25 20:37] #534 closed

[2017-10-25 20:37] #535 closed

[2017-10-26 00:16] edhartnett commented on #530
Fixed and merged. Thanks Ward!

[2017-10-26 00:16] #530 closed

[2017-10-26 11:37] edhartnett commented on #494
OK, while waiting for my other PRs to merge, I am trying to close this ticket.

I now have --enable-pnetcdf behaving as it should. If the user specifies --enable-pnetcdf, and no pnetcdf is found, the configure dies:

[code]

Building with pnetcdf yields some odd-looking configure output:

[code]
This was because we were using AC_MSG_NOTICE instead of AC_MSG_RESULT in two places, which I have fixed

[2017-10-26 11:45] edhartnett commented on #494
The --enable-parallel4 issue is a little more complex and I want to make sure I understand what is going on.

The configure.ac currently contains:

[code]

One problem here is that we are going to show a warning when there is no problem for every non-parallel build. There is no need to warn that HDF5 is not parallel when the user has not specified any parallel options.

So I think the behavior we

[2017-10-26 11:47] edhartnett commented on #542
Thanks Ward! I have a PR up now which will close this ticket...

[2017-10-26 11:50] edhartnett commented on #303
I am going to go ahead and close this ticket that I opened. The current HEAD is building well with the latest HDF5 with parallel IO, and that's good enough for me. ;-)

[2017-10-26 11:50] #303 closed

[2017-10-26 11:53] edhartnett commented on #360
Ward any objection if I close this ticket? Seems like Denis has answered my question and byte has a different way of displaying in ncdump for historical reasons.

[2017-10-26 12:40] edhartnett commented on #441
I just checked this with netcdf-c 4.5.0 and netcdf-fortran-4.4.4 and unfortunately got the same issue.

When I run the test on its own I get this output:

[code]

[2017-10-26 12:48] edhartnett commented on #442
OK, looking at the current code, I don't think the fix made it in.

The code I am looking at is:

[code]
I believe that every return statement needs to be preceded with  nullfree(path); Otherwise the path leaks.

I have a PR up now with one fix (for the case of MPIIO and MPIPOSIX flags), but I believe the rest of the returns also have to be modified.

Denis, I am working on this code now (for PIO)

[2017-10-26 14:01] edhartnett commented on #494
I have decided that there is no good way to improve the

[2017-10-26 14:33] WardF commented on #360
Go for it, or reopen and close if you’d like to but I’ll handle it :).

[2017-10-26 14:33] #360 closed

[2017-10-26 17:17] WardF commented on #303
Sounds good! When you say latest version, do you mean the 1.8.x or 1.10.x branch?

[2017-10-26 17:33] edhartnett commented on #303
I mean 1.10.1.

[2017-10-26 18:41] edhartnett commented on #494
I have made modifications to the code so that:
* if --enable-parallel4 is specified, and HDF5 does not provide parallel IO, there is an error in configure.
* if nothing is specified, enable-parallel4 is set based on whether HDF5 has parallel I/O (same as current behavior).
* if --disable-parallel4 is used, no warning is issued if HDF5 does not support parallel IO.

Here's the relevant section of c

[2017-10-26 20:48] edhartnett opened #546 "memory problem in nc_test/tst_diskless.c"
Memory problem in test. I've got an easy fix - will be part of my next PR.

[code]

[2017-10-27 11:37] edhartnett opened #549 "memory issues in ncgen"
Some memory issues in ncgen, as can be seen with address sanitizer.

Build on linux like this:

`make distclean && autoreconf -i && CPPFLAGS='-I/usr/local/zlib-1.2.11/include -I/usr/local/szip-2.1/include -I/usr/local/hdf5-1.10.1_memchecker/include' CFLAGS='-g -Wall -fsanitize=address -fno-omit-frame-pointer' LDFLAGS='-L/usr/local/zlib-1.2.11/lib -L/usr/local/szip-2.1/lib -L/usr/local/hdf5-1.10.1_

[2017-10-27 12:06] edhartnett commented on #507
OK, this was a pretty easy one, and it is in the library.

Basically, when an attribute is read in the HDF5 file, it will be added to the internal list of atts. But if the type is invalid, it will be immediately deleted again. This is so netCDF-4 can ignore reference types.

The following code from nc4file.c (around line 100) has the memory problem. If nc4_att_list_del() is called on the att, then

[2017-10-27 13:36] edhartnett commented on #549
I am looking at the code and starting to come to the horrific conclusion that it was just written to not free memory. That is, the code does not even seem to try to free any of the memory it allocates. Could that be correct?

[2017-10-27 16:58] DennisHeimbigner commented on #549
Sure, After all, the memory it allocates is needed almost to the end of execution. Since it is a standalone
program, why bother trying to reclaim it.

[2017-10-27 17:51] edhartnett commented on #549
OK I will close this ticket. For my memory checking builds I can --disable-utilities and avoid this problem.

[2017-10-27 17:51] #549 closed

[2017-10-29 21:13] marcosgsilva1995 opened #553 "Problems with DAP support"
Hello,

While using the "ncdump" command I get the following error message:

marcos@marcosVB:~$ ncdump -h http://oceandata.sci.gsfc.nasa.gov/MODIS-Terra/L3SMI/2013/001/T2013001.L3m_DAY_SST_sst_4km.nc
curl error details:
ncdump: http://oceandata.sci.gsfc.nasa.gov/MODIS-Terra/L3SMI/2013/001/T2013001.L3m_DAY_SST_sst_4km.nc: NetCDF: I/O failure

Additionally, curl spawns the following message:

marcos

[2017-10-29 21:36] DennisHeimbigner commented on #553
It looks like the server http://oceandata.sci.gsfc.nasa.gov is down.
I think you will have to talk to them.

[2017-10-29 21:43] DennisHeimbigner commented on #553
Do you know what kind of server oceandata.sci.gsfc.nasa.gov is?
It does not appear to be a thredds server; is it hyrax?

[2017-10-29 22:06] DennisHeimbigner commented on #553
I used my browser to walk to the file T2013001.L3m_DAY_SST_sst_4km.nc.
It is in fact a real netcdf-4 file and can be downloaded as such. Why did you think
you were accessing it using DAP?

[2017-10-30 00:53] letmaik opened #554 "Incomplete library exports on Windows"
### Environment Information

* What platform are you using? (please provide specific distribution/version in summary)
  * [ ] Linux
  * [x] Windows
  * [ ] OSX
  * [ ] Other
  * [ ] NA
* 32 and/or 64 bit?
  * [ ] 32-bit
  * [x] 64-bit
* What build system are you using?
  * [ ] autotools (`configure`)
  * [x] cmake

### Summary of Issue

The pre-built netcdf-c libraries at http://www.unidata.ucar.e

[2017-10-30 01:15] WardF commented on #554
Thank you for reporting; I will get this fixed!

[2017-10-30 06:23] #537 closed

[2017-10-30 06:23] #542 closed

[2017-10-30 11:50] zerothi commented on #500
This also fails for me:
[code]
With gcc 7.2, zlib 1.2.11, szip 2.1.1, hdf5 1.8.18. Debian (latest).

[2017-10-30 12:12] zerothi commented on #500
I can confirm that the test passes if the netcdf-c library is build with debugging flags (all dependent libraries compiled with high optimization).

[2017-10-30 12:55] ArchangeGabriel commented on #500
zerothi: So you’re having the same failure with autotools? That’s very interesting, because I don’t (I’ve reverted to autotools since #244 was fixed meaning every test pass this way while this fails with CMake).

Maybe something with GCC 7.2 then. @zerothi What are your compile flags?

[2017-10-30 12:57] zerothi commented on #500
`-m64 -fPIC -O3 -ftree-vectorize -fexpensive-optimizations -funroll-loops -fprefetch-loop-arrays -march=native`

I agree, they are pretty aggressive, but hdf5 etc. completes tests without problems.

[2017-10-30 13:12] ArchangeGabriel commented on #500
[code]

The `-O2` is system default, the `-O3` is a `RELEASE` addition apparently. So I expect `-O3` (+ gcc 7.2?) to be the culprit.

[2017-10-30 13:24] ArchangeGabriel commented on #500
I can confirm that a debug build with `-O3` fails this test. And likely with autotools too, but I’ve just realized that building with autotools does not provide DEBUG or RELEASE builds, and no flags are added, so it’s only `O2`.

[2017-10-30 13:25] zerothi commented on #500
I can confirm that if I *only* change `-O3` to `-O2` in my above flags, then tests does not fail.

[2017-10-30 13:41] edhartnett commented on #523
FYI this issue can also be seen in nc_test/tst_names.c.

Looking forward to seeing the PR merged so these errors will go away.

[code]

[2017-10-30 17:33] edhartnett commented on #554
Those functions are only used for parallel I/O builds of netCDF. Did you intend to use parallel IO on Windows? That is not typical, as far as I know.

So it seems like the windows DLL should not include those functions.

[2017-10-30 18:30] edhartnett opened #555 "Add multi-level parallelism, async writes, and other HPC features from PIO library"
# Introduction

This ticket described a plan to include the functions of the PIO library into the netCDF library, so that it may be (optionally) available to all netCDF HPC (High Performance Computing) users. The HPC community is a core component of the Unidata community, and better support of modern supercomputers will allow netCDF to better server these users.

The Parallel I/O library (https://

[2017-10-30 18:50] edhartnett commented on #504
Denis is this another case where the code does not attempt to free memory (like ncgen)?

If so, I will just close this ticket.

[2017-10-30 18:57] edhartnett opened #556 "cut time of nc_test runs by ~ 50%?"
While working on nc_test I notice that it is running the tests for netCDF-4 classic model twice. Since this is by far the slowest part of the test, running it twice almost doubles overall test time, from ~12s to ~23s on my machine.

In light of Ward's recent comments about the length of time that a single CI cycle is taking, would you like me to submit a PR with this simple fix? I already have it

[2017-10-30 19:02] letmaik commented on #554
Thanks for looking at it.

No I didn't want to use parallel IO but it seems that netcdf-fortran has a hard dependency on those functions, see https://github.com/Unidata/netcdf-fortran/blob/78a9839366cf8cdc929da450ebba9fad941c3341/fortran/nf_nc4.f90#L61. This file is included whenever USE_NETCDF4 is enabled, see https://github.com/Unidata/netcdf-fortran/blob/78a9839366cf8cdc929da450ebba9fad941c3341

[2017-10-30 19:18] DennisHeimbigner commented on #500
You might be able to get some additional information as follows:

1. For CMake, look in the build directory for the file: Testing/Temporary/LastTest.log
    Search (I think) for the string "Test Fail"

2. For Automake, look for a file named nc_test.log

[2017-10-30 19:38] DennisHeimbigner commented on #504
its a mix. The first one is a global constant used for error reporting, hence
needed til the end of execution. The other two are local computed values
that have non-global scope hence could be reclaimed.
My rule is that ideally, only global-scope should be left unclaimed.
Anything with a scope local to a single procedure should (ideally) be
reclaimed. It is not stricly necessary to reclaim then, b

[2017-10-30 19:48] DennisHeimbigner commented on #555
A question: is e.g.  PIOc_read_nc_decomp intended to be called by the user or will it
be wrapped by some existing netcdf-API function(s).

[2017-10-30 21:15] edhartnett commented on #555
The read/write decomp functions read/write a special netCDF file that contains the decomposition information for PIO. So you can create a decomposition, and save it to file, and use it over and over.

These functions will be wrapped in functions to make them look more netCDF-like.
 (like nc_put_decomp()?)

[2017-10-30 21:18] edhartnett commented on #504
I think it would be very desirable for ncgen/ncdump to execute without any memory leaks at all.

If that were the case, I could run all the ncdump/ncgen tests and check for more memory leaks in the library. The ncdump tests in particular test some complex behavior in the library, and running them with memory checking turned on would be useful, IMO.

[2017-10-30 21:58] DennisHeimbigner commented on #504
I can fix some of these. But I have a question about your memory checker.
Valgrind only complains about memory that is truly lost.
memory that is reachable but unreclaimed at the end of execution is noted
but otherwise does not generate an error per-se.
Does you memory checker operate in a similar fashion?

[2017-10-30 22:04] edhartnett commented on #504
I am now using the built in "address sanitizer" of gcc. You can activate it with options -fsanitize=address -fno-omit-frame-pointer.

It is more strict than valgrind, but offers excellent diagnostic capability. And it's built right into gcc, you you gotta love that.

[2017-10-30 22:08] DennisHeimbigner commented on #555
Would this work?
The decomposition information can be passed to create and open methods in the
dispatch table using the "parameters" argument and then stored in the
NC.dispatchdata field.
Then when the vara/vars methods in the dispatch table are called for PIO,
that code can extract the decomp info and do the proper thing with it.
to invoke as needed  PIOc_read/write_nc_decomp.

[2017-10-30 22:19] edhartnett commented on #555
What I would like to do is come in and brief you and Ward on PIO and how it works. There are some details, but it is fitting into the netCDF API very well.

In terms of decompositions, it would not be unusual to have several in use at one time. The user initializes them in an init_decomp() call. The read/write decomp need never be called, they are just convenience functions to allow easy recording

[2017-10-30 22:32] DennisHeimbigner commented on #555
Well, as you know, you can create an NC_PIO_INFO structure per-open/created-file
and stash whatever you need into it, including decompositions and iosystemids and
other pio specific objects.

When you say

what do you mean by directly controlled by the user? Given sufficient info at file open/create time
can the proper decomp to use be automatically determined when later needed?

[2017-10-30 22:43] edhartnett commented on #555
Unfortunately, the decomps cannot be automatically determined. They are how PIO is able to be tuned to the specific hardware for optimum performance.

[2017-10-30 22:52] DennisHeimbigner commented on #555
Sorry, I was not clear. I am not asking to automatically determine the decomps, but rather
to ask if which decomp(s) to use can be determined from information such as the
complete set of available decomps + specific variable to write plus slab information.
In order words, given the usual argument to vara, can I determine which decomp to use?

[2017-10-30 23:08] edhartnett commented on #555
It certainly would be possible to associate a default decomp for each var read and write.

[2017-10-31 05:21] zerothi commented on #500
Here it is:
[code]

[2017-10-31 09:26] ArchangeGabriel commented on #500
@DennisHeimbigner Mine is attached here: https://github.com/Unidata/netcdf-c/issues/500#issuecomment-338374512

[2017-10-31 09:31] edhartnett commented on #500
@ArchangeGabriel when I try that link I get an error message that there is no such file.

[2017-10-31 09:55] ArchangeGabriel commented on #500
Hum indeed. Maybe the file expired, though that’s not normal. Re-uploaded here: https://gist.github.com/ArchangeGabriel/a5d0abb6363b31f71ce4ad44736c60da

[2017-10-31 11:11] marcosgsilva1995 commented on #553
My initial ideal was to retrieve data from this file without downloading it manually. To be clear, I'm actually using R-interface's packages (RNetCDF, especifically) to retrieve data from this database in order to model a 5-years time series. So I had this idea of accessing them using cURL, inside RNetCDF. I don't really know if it is possible, to be honest, but I see cURL is having a hard time ac

[2017-10-31 16:16] cofinoa commented on #553
@marcosgsilva1995

You are having a `NetCDF: I/O failure` because the server it's not supporting DAP access.

For DAP access the URL

[code]

[2017-10-31 16:44] WardF commented on #504
Interesting, and good to know; I wasn't aware they had added that to gcc.  Once I get this backlog worked through, I'm going to update our test suites to offer that, either by default or optionally.

[2017-10-31 16:44] WardF commented on #554
We currently don't officially support Fortran on Windows, which is why this hasn't received as much attention.  But I should be able to address that.

[2017-10-31 16:45] WardF commented on #554
I assume you are using mingw64/fortran equivalent and not Visual Studio or some such via the MSYS shell?

[2017-10-31 16:46] #546 closed

[2017-10-31 16:46] #442 closed

[2017-10-31 16:46] #506 closed

[2017-10-31 16:46] #523 closed

[2017-10-31 16:46] #532 closed

[2017-10-31 17:10] WardF commented on #556
I'll wrap it in to the current ball of pull requests I'm handling by hand. Thanks!

[2017-10-31 17:29] edhartnett commented on #506
Well I got the leaks in nc_open, but missed one in nc_create. I will have a PR up shortly with the fix.

Looks like I can't reopen this ticket, but the leak is in tst_files.c:

[code]

[2017-10-31 17:40] edhartnett commented on #506
OK I have just put up a PR with this fix. #557

[2017-10-31 18:02] edhartnett commented on #431
I have a PR up now that does this for the autotools build (PR #548).

[2017-10-31 18:20] DennisHeimbigner commented on #500
Looking at the log, it appears the problem is in nc_put_att and nc_rename att.

[2017-10-31 18:41] #507 closed

[2017-10-31 18:41] #509 closed

[2017-10-31 18:41] marcosgsilva1995 commented on #553
I've tried different commands and the best I could get is the following message. As for the <code>https</code> issue, my cURL version says it's not supported or it's disabled in <code>libcurl</code>. What NetCDF and cURL built version are you using?

<pre><code>marcos@marcosVB:~$ ncdump -h "http://oceandata.sci.gsfc.nasa.gov:443/opendap/MODIST/L3SMI/2003/001/T2003001.L3m_DAY_SST_sst_4km.nc"
syntax

[2017-10-31 19:02] DennisHeimbigner commented on #553
Plug this url into your browser and see if you get back something readable.
https://oceandata.sci.gsfc.nasa.gov/opendap/MODIST/L3SMI/2003/001/T2003001.L3m_DAY_SST_sst_4km.nc.dds

[2017-10-31 19:04] DennisHeimbigner commented on #553
You can find out what protocols your version of curl supports by doing this command:
    curl --version
See if https is included.

[2017-10-31 19:11] marcosgsilva1995 commented on #553
In my browser I got something readable, but in my curl version https is not included. How do I proceed?

[2017-10-31 19:43] letmaik commented on #554
I use the mingw64 shell from the MSYS2 package. Note that the person from the [linked issue](https://github.com/Unidata/netcdf-fortran/issues/48#issuecomment-277710507) used the Intel Fortran compiler on Windows and had the same problem. Make sure to build netcdf-fortran as shared library, otherwise you may not notice the undefined symbols.

[2017-10-31 20:04] WardF commented on #504
Closing this as the linked issues appear to be addressed.

[2017-10-31 20:04] #504 closed

[2017-10-31 20:06] #494 closed

[2017-10-31 20:08] WardF commented on #556
Merged!

[2017-10-31 20:08] #556 closed

[2017-10-31 20:10] DennisHeimbigner commented on #553
Either you or your system administrator will have to rebuild libcurl
with https support.
The flags I use for building libcurl are as follows.
./configure --enable-http --enable-file --enable-proxy --enable-ipv6 --enable-cookies --with-zlib --with-ssl
You can see all the available flags using the command
./configure --help
The tricky part is seeing what ssl package you have installed. You might try

[2017-10-31 21:49] letmaik commented on #554
OK great, I didn't know that about the PGI compiler. On their [feature comparison page](https://www.pgroup.com/products/feature-compare.htm) it says that the free version doesn't have Visual Studio integration.
Feel free to contact me via email if I can be of any help with reproducing it or setting up mingw64. I'm currently a bit blocked by this issue and would really like to get this solved. Once

[2017-10-31 22:25] marcosgsilva1995 commented on #553
Yes, you were right. I rebuilt libcurl and now it works just fine. For future reference I used the following commands.

Thanks for the valuable help, @DennisHeimbigner

## Commands

Download openssl-1.10f (at least for me other versions didn't work)
Untar it and enter the directory

<pre>
<code>
$  ./confi -fPIC shared --prefix=/usr/local
$  make && make test
$  sudo make install
</code>
</pre>

D

[2017-10-31 22:25] #553 closed

[2017-11-01 10:31] edhartnett commented on #517
OK, I have a fix for this, which causes the library to not delete anything if the close fails. So then I can add on the extra code above to finish off the enum and properly close the file. Now there are no leaks. I will put the PR up shortly.

[2017-11-01 10:51] edhartnett opened #560 "many memory issues in ncdap_test directory"
With recent merges, and after the merge of one more PR, the nc_test4 directory will pass make check with memory checking (i.e. address sanitizer) turned on. (There is still one memory issue which is currently commented out in the test: #541).

Now we get to ncdap_test and unfortunately everything fails. :-(

[code]

Trying one at random, I see these memory problems:

[code]

I believe @DennisHeimb

[2017-11-01 10:53] edhartnett commented on #560
BTW I took a quick look. What is happening is that there are loops in the code which loop over a string, and detect it's end by encounting the null byte.

However, the address sanitizer does not like you to access the null byte. It considers that you should only access up to the null byte.

Easy to fix: have your loops use strlen() to determine the length of the string, instead of encountering the

[2017-11-01 11:55] edhartnett commented on #392
OK, I have a PR which will cause netCDF to return NC_EINVAL if nc_create uses NC_NETCDF4 on a library where netCDF-4 was not built. I added a test in nc_test/tst_misc.c.

Also had to make a bunch of changes to nc_test/tst_global_fillval.c. This test was calling nc_create with NC_NETCDF4 even on non-netCDF-4 builds. I've changed the code so it no longer does that. Also updated it's use of ERR macro

[2017-11-01 12:32] edhartnett commented on #431
My PR fixing this issue in the autotools build has been merged (thanks @WardF!).

CMake does not seem to deal with pnetcdf at all, so doesn't suffer from this issue.

The CMake build already errors out of you request netCDF-4 but HDF5 cannot be found.

So I suggest that this issue be closed.

[2017-11-01 14:05] #431 closed

[2017-11-01 15:55] DennisHeimbigner commented on #560
Can you point to one of the tests that is doing this. It may be because I need to verify
length info or that there are no embedded nulls.

[2017-11-01 19:35] DennisHeimbigner commented on #560
Ok, I think the real issue here is that when I do int c = *q++, then q points
to a potentially illegal address. This is IMO a flaw in the google analyzer.
It should only complain about actual attempts to read an illegal address.
I think I can fix this by using snprint instead of my home-grown occopycat
(no longer remember I avoided using snprintf in the first place, probably a
misplaced efficiency

[2017-11-01 19:52] gsjaardema commented on #560
I don't think the pointer incrementing/dereferencing is the issue.  That is a fairly standard C idiom and I have similar snippets in some of my code and it has never raised an issue with gcc or clang sanitizers.

Here is a quick "proof-of-concept":
[code]

There are no issues from the sanitizer.  My guess is that there is a real error here.

[2017-11-01 20:22] DennisHeimbigner commented on #560
ok. Then I guess I cannot figure out what is is complaining about.

[2017-11-01 20:52] gsjaardema commented on #560
I think that the NULL-termination code in occopycat should be after the "done:" label:
[code]
If the space is too short to hold the string, then the code jumps out to the `done:` label, but never adds on the null terminator.  The `avail` is correctly saving 1 location to permit this, but it is never used.

I think there are other errors in the calling of the code.  In the comment for `occopycat`,

[2017-11-01 21:45] gsjaardema commented on #560
Note that `occoncat` should have a similar fix.

[2017-11-01 21:53] DennisHeimbigner commented on #560
I decided to make occoncat and occopycat moot by
replacing them with snprintf and strcat.
Also am in the process of cleaning up some other
minor memory leaks in the dap2 and dap4 code.

I should note that their is an undocumented function
name nc_finalize that is intended to cleanup various
pieces of global state such as the .dodsrc file contents.
If you really want to see a leak-free run, then al

[2017-11-01 22:04] Dave-Allured opened #563 "More functions should return NC_ENOTNC4"
**Platforms:** All
**Sample C program:** Included

**Summary of Issue:**

More API functions should return error code NC_ENOTNC4 when attempting netcdf-4 operations on netcdf-3 format files, to improve self-diagnosis.  This request is inspired by today's help request posted by Dan Hitt:

http://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2017/msg00215.html

Dan's original program accid

[2017-11-01 22:47] edhartnett commented on #560
What I find with the address sanitizer is that if it is just a minor test
issue, then it is also a very easy fix. If it is more of a real problem,
then the fix might be harder. So it is worthwhile working through the easy
fixes to get to the real issues.

We are close to a memory-clean test cycle now. Your current efforts will
take use much of the rest of the way. I will be happy to step in and he

[2017-11-02 10:47] edhartnett opened #565 "missing error message for NC_EMPI"
I notice that the following error code in netcdf.h does not have an error message in derror.c:

[code]

[2017-11-02 11:28] edhartnett commented on #330
@WardF this ticket can be closed.

The suggested line of code was added to the test at some point. Valgrind and the address santizer are both happy with tst_small.c.

[2017-11-02 11:35] edhartnett commented on #132
I agree with Denis that there should be no fixed length ascii type in netCDF.

Also it is not clear to me why the user cannot use a fixed array of NC_CHAR for this.

[2017-11-02 11:36] edhartnett commented on #163
With PIO, parallel configuration is going to get even more complicated. ;-)

Seems like this ticket can be closed as it describes the current state of the autoconf built - if HDF5 has parallel features, they will be turned on in netCDF unless specifically indicated by the user.

[2017-11-02 11:40] edhartnett commented on #170
I am deep in the dispatch code right now. I think it works well but of course welcome improvement.

With PIO, there will not be any way to tell from the file alone that PIO should be used. The dispatch must always look at the mode flag for open and create for NC_PIO. PIO can open files of any netCDF binary format, so it needs to be explicitly invoked when used. For this reason, I have to check for

[2017-11-02 11:46] edhartnett commented on #565
I have a PR up for this: #566.

[2017-11-02 11:52] edhartnett commented on #563
I must respectfully disagree in the general case.

While it's true that in this particular case, an error of NOTNC4 would make sense, that is not always (or even usually) true when the type parameter is wrong. There are many reasons the typeid might not be valid (for example, if it is uninitialized), which would not be clear from NC_ENOTNC4.

However, I do agree that the nc_put/get functions for t

[2017-11-02 12:08] edhartnett opened #567 "remove archaic num_spaces/num_plist checking in libsrc4 code"
When I wrote netCDF-4, I didn't know about valgrind, and of course the address sanitizer was not even a gleam in a gcc programmer's eye.

So I built in some pretty primitive checking to ensure I release all HDF5 objects. I kept track of the number of HDF5 property lists and spaces that I had open. Then when the file was closed, I checked that these numbers were both zero, meaning I had properly fr

[2017-11-02 12:24] jswhit commented on #132
Of course you can, but it's a convenience thing.   I think this ticket can be closed.

[2017-11-02 12:54] edhartnett opened #568 "modify git process to speed PR merges? - Using the develop/master workflow"
On the PIO project we use a git procedure which might help the netCDF project. On PIO we are also constrained by slow testing. Since we test on various HPC systems, we can't launch tests on demand. We have daily testing.

We have a development branch, which is a copy of master branch. Programmers merge proposed PRs into the development branch (while the PR is up for review), and we run the develop

[2017-11-02 13:44] edhartnett commented on #541
OK, the problem is in nc4attr.c, around line 499.

[code]

This will not copy vlens within vlens. In fact, this will only copy vlens of atomic type.

Holy crap, I am thinking about the code that will be needed to write vlens of compounds that include vlens. I guess there needs to be some general recursive way to do this for all user-defined types, arbitrarily nested. Well that will be a fun challe

[2017-11-02 14:19] edhartnett commented on #253
Running doxygen with the warning enabled turns up some surprising undocumented functions. Here the relevant warnings for public functions:

[code]

There are also hundreds of warnings for internal functions. I will see if I can knock some off documentation for some of the public functions over the next few weeks as I work on the code.

[2017-11-02 14:34] #330 closed

[2017-11-02 14:47] WardF commented on #567
No objections here.

[2017-11-02 15:00] rsignell-usgs opened #569 "NCEI opendap endpoint works in NJ 4.6.10, fails in NetCDF 4.5,"
This NCEI opendap endpoint on the new NCEI THREDDS server works in NJ ToolsUI 4.6.10, but fails in NetCDF 4.5 ncdump:

Dataset:
https://www.ncei.noaa.gov/thredds/dodsC/namanl/201609/20160929/namanl_218_20160929_1800_006.grb.html

OPeNDAP URL:
https://www.ncei.noaa.gov/thredds/dodsC/namanl/201609/20160929/namanl_218_20160929_1800_006.grb

Working in `ToolsUI`:
![2017-11-02_10-48-51](https://user-im

[2017-11-02 16:30] WardF commented on #569
@DennisHeimbigner Any thoughts on this Dennis?  This seems very high priority.

[2017-11-02 16:32] #132 closed

[2017-11-02 16:37] DennisHeimbigner commented on #541
I suspect that this is such a major undertaking that you should instead
just fix the mem leak and force some kind of error if the vlen is not
vlen of an atomic type. Since we have the issue here, we can revisit it later.

[2017-11-02 16:42] edhartnett commented on #541
Makes sense. I will do so and put up a PR.

[2017-11-02 17:03] #565 closed

[2017-11-02 17:23] DennisHeimbigner commented on #563
This is part of a larger problem. The use of simple integer error codes makes it difficult
(as we see here) to properly report the detailed problem back to the user.
We have available a logging mechanism (separate from the nc_logging one used only
in libsrc4) that could be used to provide a more detailed explanation of the failure.
Or we could consider implementing something like the HDF5 error st

[2017-11-02 17:33] DennisHeimbigner commented on #569
Serious bad on my part. For some reason, I changed the set of characters allowed
n a DAP name. In particular, characters that are legal according to the DAP spec
were removed. So when one of this removed characters was encountered, it produced
a parse error.
In this case, the offending character was a single quote character in the name:
    Blackadar's_mixing_length_scale_hybrid

The reason it wor

[2017-11-02 17:40] edhartnett commented on #567
I will have a PR up shortly.

[2017-11-02 18:35] rsignell-usgs commented on #569
@DennisHeimbigner, in which version of netcdf was this bug introduced?

[2017-11-02 18:54] rsignell-usgs commented on #569
@DennisHeimbigner , okay.   Can you at least provide the URL of the code fix you describe?
I did not see a branch called `dapescape.cmh` here and did not see a fork on your account.

[2017-11-02 19:07] DennisHeimbigner commented on #569
Oops forgot to push the branch.
I am attaching the changed file: oc2/daplex.c
(in zipped form)
[daplex.zip](https://github.com/Unidata/netcdf-c/files/1439020/daplex.zip)

[2017-11-02 19:12] DennisHeimbigner commented on #569
Fixed by pull request https://github.com/Unidata/netcdf-c/pull/573

[2017-11-02 20:18] WardF commented on #569
I'm getting #573 merged into master now, travis is the bottleneck. @rsignell-usgs we are hoping to get a 4.5.1 maintenance release out within the next week. This fix will be included.

Reopening this issue so that it doesn't fall by the wayside if something happens with merging #573

[2017-11-02 20:23] Dave-Allured commented on #563
Thanks for your thoughtful replies.  Ed, I fully agree that existing error codes are more appropriate than ENOTNC4 in many cases.  However, my intention was that error handlers would make a smart decision when to return ENOTNC4 in place of a conventional error code like EBADTYPE.  Similar logic would also apply in your other scenario, ENOTBUILT.

In the appropriate cases, I would expect that all t

[2017-11-02 20:49] Dave-Allured commented on #563
@DennisHeimbigner, I agree detailed reporting is desirable and also constrained by simple integer codes.  The available logging mechanism is good, and I hope that detailed reporting can be expanded in the future.

However, single integer codes work well in the majority debugging situations, and the user world is used to them.  So let me recharacterize this as a suggestion to incrementally improve

[2017-11-02 20:51] #371 closed

[2017-11-02 23:05] #569 closed

[2017-11-02 23:46] Dave-Allured commented on #392
Perspectives from user land:

1.  Always deal with the requested create mode bits.  To avoid surprises, nc_create should not default to an alternate format, when a specific file mode is requested.  This behavior should include NC_NETCDF4, NC_DISKLESS, and any other format variations.  "I would rather the program crash then silently ignore my format request."

2.  When a requested component was dis

[2017-11-03 00:58] DennisHeimbigner commented on #392
NC_DISKLESS is a statement about the storage of a file not about its format.
I would have said that if NC_DISKLESS is not available, the file should still be created
but in the File system.
Also, we need a statement about under what conditions nc_set_default_format()
is nonored. In order to do this, we need to divide the mode flags into
file format flags vs other kinds of flags.

[2017-11-03 02:15] Dave-Allured commented on #392
@DennisHeimbigner, I see your point that NC_DISKLESS is not exactly a file format.  However, nc_create carries the expectation of a particular kind of storage, based on the various mode flags.  In my mind I expect NC_DISKLESS to be stored a particular way, in memory only.  Likewise with NC_MMAP, and both of these are optionable in configure.

So from a naive user viewpoint, a new disk file would b

[2017-11-03 11:02] ocefpaf commented on #569
Thanks @DennisHeimbigner for the fix. I backported that PR to the conda-forge package and everything is working as expected. (Looking forward a 4.5.1 release :wink:)

[2017-11-03 12:26] edhartnett commented on #392
I agree with @Dave-Allured. If the user asks for something like NC_DISKLESS, and it is not available, the user should get an error. It is up to the user to then decide whether they want to create the file on disk, or re-build netCDF to include NC_DISKLESS (which is actually what they should do in most cases, if they really want NC_DISKLESS.)

In the open PR (#562) this is dealt with for NC_NETCDF4

[2017-11-03 13:28] edhartnett opened #575 "Commented out tests in tst_vars2.c"
Some test code is commented out in tst_vars2.c.

The code should be uncommented, to run the tests, fixed if the tests are broken, or removed if the tests are not longer relevant.

[code]

[2017-11-03 13:56] edhartnett opened #577 "unexpected error messages in nc_test4/tst_vars2.c NC_ELATEFILL not being returned as expected!"
Looking out the output of tst_vars2.c I see that there are some errors reported.

Additionally there is the serious question of why there were apparently errors, but the test still returns a successful exit code.

[code]

[2017-11-03 14:19] edhartnett commented on #577
Well, this is a bit of a sticky wicket. Here's the code:

[code]

There are two problems here:

1 - According to this code, the NC_ELATEFILL should be returned, but is not being returned.

2 - We have a test that depends on human scanning of the test output. Well that is not going to work! ;-)

I can easily change this to fix problem 2, but then the test will break. So I need to get a better under

[2017-11-03 14:21] edhartnett commented on #575
I have PR #578 up with a fix for this now.

[2017-11-03 14:57] edhartnett commented on #563
OK, we have had an interesting discussion but I would like to try and close this ticket. ;-)

Widening the netCDF error reporting infrastructure is beyond the scope of this ticket, IMHO. Also, though flawed, the C system of returning a single integer error code is very robust and works pretty well most of the time. After all, there is only so much the library can do to tell a user where they have

[2017-11-03 15:07] edhartnett commented on #541
I released netCDF-4 9 years ago, and no one has found this bug except me. ;-)

So maybe it would be OK to just document that netCDF-4 handles attributes of VLEN type only one level deep, return an error code as @DennisHeimbigner suggests, and save the trouble of writing a bunch of code that apparently will be unlikely to ever get run.

As I understand this issue, reading a deeply nested vlen would

[2017-11-03 15:08] edhartnett commented on #517
This is now up as PR #559.

[2017-11-03 18:29] edhartnett commented on #253
I believe that when all current PRs are merged, this ticket can be re-evaluated to see what public functions are still undocumented.

[2017-11-03 18:45] DennisHeimbigner commented on #392
Ok, so the specification of mode handling would be something like this for nc_create
and nc_open.
1. The incoming mode is or'd with the value of nc_set_default_format
2. If there are conflicting format flags (e.g. CDF5 and NC4) then an error is reported.
    Question: what error?
3. If any flag is set that requires a library capability that is not enabled,
   then the error NC_ENOTBUILT is returne

[2017-11-03 18:56] edhartnett commented on #392
In answer to your question in 2, NC_EINVAL. Because the user has passed in invalid parameter information.

[2017-11-03 19:15] edhartnett commented on #392
I believe we have reached consensus that if NC_DISKLESS is asked for, and diskless was not built, then instead of silently turning NC_DISKLESS off, nc_create() should return NC_ENOTBUILT. I am going to make that change to my outstanding PR on this #562.

Moving on to other mode flag issues:

What is the difference between NC_INMEMORY and NC_DISKLESS?

Other than netCDF-4 and DISKLESS, what other c

[2017-11-03 19:27] DennisHeimbigner commented on #392
NC_INMEMORY refers to the nc_open function in netcdf_mem.h
It allows the content of a file to be read from memory rather than from
a file system file.
NC_DISKLESS causes the library to create a file internally in memory
rather than creating a file.

[2017-11-03 19:41] DennisHeimbigner commented on #392
Other combinations to check:
- (netcdf3 | cdf5|64bitoffset) can support NC_DISKLESS if NC_DISKLESS was built.
NC_PNETCDF (alias for NC_MPIIO) requires mpi support is enabled.

I note that there is a --enable-cdf5 in configure.ac, but that is a holdover
and needs to be removed. CDF5 support is always built into libsrc (netcdf-3).
This flag was for early testing and is no longer need.

[2017-11-03 20:08] edhartnett commented on #392
OK, I have taken down my PR while I work out these additional issues.

This work is taking place on the World Domination fork of netCDF: https://github.com/NetCDF-World-Domination-Council/netcdf-c

on branch ejh_no_netcdf4_create

[2017-11-03 20:13] edhartnett opened #580 "Remove --disable-cdf5 from configure?"
In configure.ac we have:

[code]

Denis believes that CDF5 is always built into the library and this option should be removed.

I have encountered USE_CDF5 several places in the code, and if it can be removed, I think that would be a GOOD THING.

@WardF any thoughts?

I will look at the code to see...

[2017-11-03 20:21] edhartnett commented on #392
@DennisHeimbigner when built with --disable-diskless is NC_INMEMORY still valid?

[2017-11-03 20:21] DennisHeimbigner commented on #580
I just did a search for it and found no instances of either USE_CDF5 or ENABLE_CDF5
(except in config.h)
Where did you see it?

[2017-11-03 20:25] DennisHeimbigner commented on #392
So no, inmemory requires diskless.

[2017-11-03 20:27] WardF commented on #580
It was added as part of the 4.5.0 release. There have been a number of CDF5-related issues which have arisen and are outstanding, including issues on 32-bit platforms for which the solution appears to be either disable CDF5 support on these platforms under some circumstances, or re-implement 64-bit offset in CDF5.  Neither is a good solution.  Adding it allowed us to disable support for CDF5 by de

[2017-11-03 20:27] #580 closed

[2017-11-03 20:27] DennisHeimbigner commented on #392
I also note that if diskless is not enabled, nc_open_mem return NC_EDISKLESS.
Perhaps it should return NC_ENOTBUILT.

[2017-11-03 20:30] DennisHeimbigner commented on #580
I thought those issues had to do with pnetcdf, not cdf5 per-se.

[2017-11-03 20:34] WardF commented on #580
No, those were for the issues related to the 'native' CDF5 support added to libnetcdf.  Charlie Zender has an issue open for it, I don't recall which one at the moment but will go look.

[2017-11-03 20:34] WardF commented on #580
As it stands, unless we can guarantee that CDF5 works across all platforms, which we cannot, we need to have a way to enforce disabling it on those platforms where it won't work.

[2017-11-03 20:41] DennisHeimbigner commented on #580
I stand corrected. But why is the control option not
used in any of the Makefile.am files in the current master branch?
Is this change still waiting to be merged?

[2017-11-03 20:50] DennisHeimbigner commented on #392
One more conflict: diskless and parallel are mutually exclusive.

[2017-11-03 21:22] edhartnett commented on #392
OK, let us consider create and open modes separately.

Here's a function I have added on my branch for create mode checking.

I check for invalid combinations first. Then for NOTBUILT errors.

Did I get everything for create mode?

[code]

[2017-11-03 21:29] edhartnett commented on #580
@DennisHeimbigner to answer your question, I encountered USE_CDF5 in a test in nc_test.

[2017-11-03 21:37] DennisHeimbigner commented on #392
Note that NC_PNETCDF is an alias for NC_MPIIO
because the libpnetcdf will handle all of the classic formats.

[2017-11-03 21:39] DennisHeimbigner commented on #392
ok, otherwise I think this ok. You should make sure that this test
covers the similar tests currently in NC3_create and NC4_create
and NCP_create

[2017-11-03 21:39] WardF commented on #580
It went into config.h because there are no libraries to be linked against. There are conditional blocks in the code.

[2017-11-03 21:40] edhartnett opened #581 "Use of author tags at per-function level..."
Back in the day, netCDF programmers didn't use author tags in our functions because we all knew each other and there were few of us. And users rarely contributed code changes.

Now, see how netCDF has grown! It's amazing, and wonderful. In addition to @DennisHeimbigner and @WardF we also have @gdsjaar, @wkliao, @rouault, and other regular contributors.

But I find myself wondering who wrote what.

[2017-11-03 21:42] edhartnett commented on #563
BTW I should also add that I'm doing an overhaul of the error messages for both create and mode flags, including full use of the NOTBUILT code when a requested feature is not built into the library. Follow that work on issue #392.

[2017-11-03 21:46] edhartnett commented on #392
I will remove the (partial) checking in those other places, to the extent possible, and centralize all mode flag checking in dfile.c if I can.

This is already passing all existing tests, and I have added tests that ensure the correct error code is returned for INVAL combinations or NOTBUILT.

I will do the open mode checking next...

[2017-11-03 21:52] DennisHeimbigner commented on #392
Some notes about nc_open and dap2 and dap4.

1. Checking for DAP2 or DAP4 requires detailed looks at the passed url,
    This will be encoded as a specific model.
    so some checking need to be delayed until you know if dap2/dap4 is to be used.
2. DAP2/DAP4 require NC_DISKLESS, so it must be forcibly set before
    doing mode flag checking.
3. DAP2 always implies simple netcdf classic.
4. DAP4 al

[2017-11-03 21:54] DennisHeimbigner commented on #392
Some notes about nc_open and dap2 and dap4.

1. Checking for DAP2 or DAP4 requires detailed looks at the passed url,
    This will be encoded as a specific model.
    so some checking need to be delayed until you know if dap2/dap4 is to be used.
2. DAP2/DAP4 require NC_DISKLESS, so it must be forcibly set before
    doing mode flag checking.
3. DAP2 always implies simple netcdf classic.
4. DAP4 al

[2017-11-03 21:54] edhartnett opened #582 "Need extra = in assert in d4swap.c"
Just noticed this (I think new) warning:

[code]
Probably meant to have another = there. @DennisHeimbigner is this in some of the code you just had merged?

[2017-11-03 21:57] DennisHeimbigner commented on #582
All of the dap4 code is mine, but I do not recall any recent changes to d4swap.
The warning was probably lost in the compile output and has neen there for a while.
Shall I fix or you?

[2017-11-03 22:45] edhartnett commented on #582
I'll take care of it...

[2017-11-04 11:40] edhartnett commented on #582
I have a PR up now. I cleared a couple more warnings as well in the same directory.

Here's some I don't know what to do about:

[code]

[2017-11-04 12:13] edhartnett commented on #392
BTW @DennisHeimbigner  diskless works with netCDF-4, correct? I thought you said that it did not, but when I disallowed it some test failed (tst_diskless.c). Looking briefly at the test it does seem to be creating a netCDF-4 diskless file (though I didn't study the code long).

So just to confirm - we can have  a diskless netCDF-4/HDF5 file, correct?

[2017-11-04 12:38] edhartnett commented on #392
OK moving on to open mode. Here's a question.

Do we wish to error if any format flag is set in open? It should not be allowed, correct?

(This will be different with PIO. User will be able to specify NC_PIO|NC_SHARE|NC_NETCDF4 to use PIO and open a file with parallel netCDF4. But wihtout PIO the user has no choice of what code is used to read the file after an nc_open call.)

[2017-11-04 12:57] edhartnett commented on #392
Also I actually am not checking anything dap related, because I am just checking the mode flag. I am not looking at the path and attempting to determine whether it is dap.

In this work, I will just check the mode flags for basic sanity and any attempt to use parts of the library that were not built (the original goal of this issue). So the individual opens/create will get a mode that has had some

[2017-11-04 13:00] edhartnett commented on #392
In answer to my own question above, I have decided NOT to return an error when a format flag is used in nc_open(). It breaks a number of tests and probably a lot of user code.

Instead, I will have nc_open return an error when you specify the wrong format. For example, an nc_open call that uses NC_NETCDF4 will fail on a CDF5 file, but pass on a netCDF-4/HDF5 file. This will require some checking i

[2017-11-04 13:08] edhartnett commented on #392
@DennisHeimbigner:

Not any more. Because my mode checking is called in the dispatch NC_open(), your nc_open_mem() will never be called if NC_DISKLESS or NC_INMEMORY are used, and USE_DISKLESS is not defined.

[2017-11-04 14:11] edhartnett opened #585 "--disable-utilities is broken and I don't know for how long it has been"
In simple linux build of today's master with --diable-utilities, make check fails:

[code]

There are also failures in the dap4_test directory:

[code]
I just added my --disable-utilities build to my Jenkins server, so I don't have much of a record going, but I believe I was able to build --disable-uttilites manually last week. I might be incorrect. Anyway, doesn't matter.

--disable-utilities is

[2017-11-04 18:11] DennisHeimbigner commented on #392
Do not understand. Your checker will still have to return some kind of error
when the user calls nc_open_mem and diskless was not enabled at configure time.

[2017-11-04 18:23] DennisHeimbigner commented on #392
PIO will be similar to pnetcdf in that it can
read/write multiple kinds of formats.

[2017-11-05 13:25] edhartnett opened #588 "Test nc_test/tst_cdf5format.c is not being built or run"
There is a test called tst_cdf5format.c which is in nc_test, but not in the Makefile.am.

Looking at the code, it will clearly not compile right now.

So this test should be fixed.

[2017-11-05 13:41] edhartnett opened #589 "Is CDF5 supposed to be disabled by default in configure?"
While working on the nc_open() mode flags for issue #392, I noticed that CDF5 is disabled by default:

When I build like this:

`make distclean && autoreconf -i && CPPFLAGS='-I/usr/local/zlib-1.2.11/include -I/usr/local/szip-2.1/include -I/usr/local/hdf5-1.10.1/include' CFLAGS='-g -Wall' LDFLAGS='-L/usr/local/zlib-1.2.11/lib -L/usr/local/szip-2.1/lib -L/usr/local/hdf5-1.10.1/lib' ./configure --ena

[2017-11-05 13:44] edhartnett opened #590 "Several tests use NC_CDF5 but test code does not check USE_CDF5 macro"
Some tests create an NC_CDF5 file, but the code is not guarded by ifndef USE_CDF5.
nc_test/tst_inq_type.c
nc_test4/tst_converts.c
nc_test4/tst_files.c

[2017-11-05 14:07] edhartnett commented on #589
Another interesting facet of this is that you can create (but not open) CDF5 files, even with --disable-cdf5. ;-)

And the tests are doing this. This is happening in nc_test/tst_inq_type.c, which creates CDF5 files but never re-opens to check them.

[2017-11-05 15:19] WardF commented on #589
Yes, off by default is intended. Thanks for the catch, I’ll fix the tests when I have a chance.

[2017-11-05 16:11] edhartnett commented on #589
I am about to put up the test fixes in a PR.

I need these to be fixed to proceed on #392.

In general, tests will have to get a little more sophisticated in handling formats. I have added a function to nc_test4/tst_converts.c:

[code]

Possibly there are other tests that need this kind of logic (not of the other tests in thie PR needed it, they accomplish this in a different way).

So if I encoun

[2017-11-05 16:15] edhartnett commented on #589
BTW I also noticed some cases of NC_NETCDF4 being used outside of ifdefs. This will break once #392 is complete (right now, these are silently creating classic files instead of netCDF-4 files.)

I will take care of those on a different issue and PR, once I encounter them. ;-)

[2017-11-05 16:17] #589 closed

[2017-11-05 17:06] edhartnett commented on #392
OK, I have a PR pending to deal with #590. After that is merged I will proceed on this issue.

[2017-11-05 17:23] DennisHeimbigner commented on #588
Check to see if this test actually is needed. It might be holdover from the original
cdf5 code insertion.

[2017-11-05 18:27] edhartnett commented on #588
Well that brings up the interesting question of test code coverage, which I don't think you are measuring right now.

I will see what I can set up in my own jenkins build to measure test coverage.

[2017-11-05 19:04] DennisHeimbigner commented on #588
If we do it, it is probably being done using CDash.
Ward?

[2017-11-05 19:17] edhartnett commented on #588
Well it just took 10 minutes to get a cobertura coverage report on my
jenkins server for netcdf. Very interesting!

Here's a screenshot:

​

On Sun, Nov 5, 2017 at 12:04 PM, Dennis Heimbigner <notifications@github.com

[2017-11-05 20:12] WardF commented on #588
We generate test coverage on an on-demand basis. Some areas could be better but without more resources there isn’t much we can do at the moment to retrofit old code for testing outside of reported bugs. It’s interesting to find out though.

You can turn this on by using -DENABLE_COVERAGE_TESTS=TRUE (I think, on my phone so can’t double check) when configuring with CMake, and then run ‘make experim

[2017-11-05 20:22] DennisHeimbigner opened #592 "Proposed new version of _NCProperties"
Here is the proposed format(s) for the_NCProperties provenance attribute. Version 1 is as before,
but version=2 is new. One thing missing is to allow the insertion of non-library related attributes:
things such as e.g. ./configure flags.

Proposed Format for _NCProperties Attribute:

This attribute is persistent in the file, but hidden. IT can be used using, for example, "ncdump -h".

This attribu

[2017-11-05 21:33] edhartnett commented on #588
No need to close the ticket. I will apply a little TLC and get
tst_cdf5format.c running again. Probably tomorrow morning.

My sense from recent work is that NC_CDF5 is not super well tested in the
enhanced data area. (nctest and nc_test of course deliver great testing for
the classic layer.) There are a bunch of tests in nc_test4 that could now
easily be used for CDF5, in the same way that nc_test

[2017-11-05 21:38] DennisHeimbigner commented on #588
We have previously only used jenkins for java. Can you point me to your jenkins build
for C?

[2017-11-05 21:44] edhartnett commented on #588
It's the same jenkins. Just create a jenkins job which downloads the repo you want and there's a build section where you put the commands. For example, here's my build section for the build that does the coverage report:

[code]

It's easy to copy and existing job and make a modification to the configure. So now I have more than 15 jobs that run whenever I commit to a branch starting with ejh_ in

[2017-11-05 21:50] WardF commented on #588
Didn’t mean to close it, but things are stacking up. Will try to get to them the first part of next week :)

[2017-11-05 21:51] DennisHeimbigner commented on #588
I assume that somewhere you have jenkins config page like this one:
https://jenkins-aws.unidata.ucar.edu/job/threddsMaster/configure

[2017-11-05 21:52] WardF commented on #588
FWIW I think we’re ok leaving Jenkins for java internally.

[2017-11-05 23:01] edhartnett commented on #588
Agile processes have developed over time.

It's pretty normal these days for each programmer to have their own local
jenkins and their own local CI. For example, Dennis, you could install
jenkins on your machine, and then open it with localhost:8080. It's super
easy for you to set up and maintain your own jenkins.

It is very convenient and ensures that you never or very, very rarely
submit a PR w

[2017-11-06 10:15] edhartnett opened #593 "Compile warnings in tst_interops5.c"
Some compile warnings that will be easy to fix:

[code]

[2017-11-06 13:42] edhartnett opened #596 "Some tests in nc_test not being run: nc_enddef.c, nc_sync.c, nc_sync_child.c"
These three look like good tests that got lost somewhere. A little TLC and they can be refurbished and give us some more testing.

Ward, just leave this open and I will take a stab after my current batch of PRs is done.

[2017-11-06 16:12] dmey commented on #554
Hi @WardF, I have encountered the same issue with the installation of `netcdf-fortran` as reported above.
Could you please let me know if this issue is currently being actively looked at?
If not, is this something that you may be able to shed some light on? -- Perhaps we can try to address the issue collaboratively? Thank you.

[2017-11-06 17:17] WardF commented on #554
Thanks, I have mingw64 set up and will gladly take a look at this as soon as I can; it is definitely being looked at, but there are a number of issues and pull requests currently being reviewed as well.  My assumption is that the functions just need to be exported as other functions have needed to be on (on Windows).  @letmaik just for the sake of completion, can you share how you are building net

[2017-11-06 18:29] dmey commented on #554
Thanks @WardF, if it is of any help, these are the installation steps I followed:

**1. Open the `MSYS2 MSYS` command prompt and install dependencies using the `pacman` package manager**
[code]

**2. Open the the `MSYS2 MinGW 64-bit` command promp to configure `netcdf-fortran` with CMake**

[code]

which produces the following output:

[code]

**3. Install**

[code]
which fails with the folloing o

[2017-11-06 19:51] Dave-Allured commented on #592
I support this proposal.  I particularly like the shortened canonical names, and your consideration of alternative libraries.

Here are a few suggestions.  Please add these only if you like my reasoning.

1.  Version numbering is important for some things, but not for the _NCProperties attribute itself.  I don't think there are any automatons that care.  The name/value pair for _NCProperties versi

[2017-11-06 21:35] shoyer commented on #592
Yes, this would be valuable for alternative libraries that write netCDF files (e.g., scipy and h5netcdf).

I am concerned about separately indicating:
1. The version of the main library writing the file.
2. The version of the netCDF-C library that can read this file, or equivalently the exact version of the netCDF file format itself.

For netCDF-C, these versions will always coincide. But another

[2017-11-06 21:48] letmaik commented on #554
Here are my steps:
- Download/Install 64bit MSYS2 from http://repo.msys2.org/distrib/x86_64/msys2-x86_64-20161025.exe
- Inside the MSYS shell:
  - `pacman -Syu` (system upgrade)
  - Forcefully close and reopen MSYS shell
  - `pacman -Syu` (again, to update packages)
  - `pacman -S mingw-w64-x86_64-toolchain mingw-w64-x86_64-cmake mingw-w64-x86_64-libtool make tar mingw-w64-x86_64-hdf5`
- Inside th

[2017-11-06 22:14] WardF commented on #582
Doing a few more of these while some other stuff wraps up :).

[2017-11-07 03:52] czender opened #597 "Current issues renaming dimensions and coordinates"
Old issues with renaming dimensions and coordinates in netCDF4 files are beginning to affect CMIP6 processing so here's a reminder. All recent library versions are affected. See [here](http://nco.sf.net/nco.html#bug_nc4_rename) for a chronology. Create a netCDF4 file with a coordinate:

[code]
Remember to re-create the file after each of the three tests below. Renaming both dimension and coordinat

[2017-11-07 10:08] #568 closed

[2017-11-07 10:09] edhartnett commented on #581
Since I don't hear any objections, I will start using author tags in the code I modify.

[2017-11-07 10:09] #581 closed

[2017-11-07 18:12] WardF commented on #597
Thanks @czender we were flooded with other PR's and I'm trying to manage
those combined with the other open issues, we want to get the next bugfix
release out shortly, so trying to address the issues you have open right
now (in addition to working on some of the PR's Dennis has for compression,
etc).

On Mon, Nov 6, 2017 at 8:52 PM, Charlie Zender <notifications@github.com>
wrote:

[2017-11-07 21:59] edhartnett commented on #597
Howdy Charlie!

I found a test written by Quincey that deals with renaming, nc_test4/tst_rename.c.

I have reproduced your error in C code. Here's the test:

[code]

This fails like this:

[code]

I will take a look and see what is going on here...

[2017-11-07 22:15] edhartnett commented on #597
OK, the problem can be seen from the h5dump:

[code]

When the code hits this line in NC4_rename_var() it fails:

[code]

So the code is trying to rename the dataset with H5Gmove, but can't because there is already a dataset with the new name. It was created to support the dimension name change - its one of those dreaded secret datasets to support HDF5 dimension scales.

I guess the way to proceed

[2017-11-07 23:54] #524 closed

[2017-11-07 23:54] #567 closed

[2017-11-07 23:54] #582 closed

[2017-11-07 23:54] #588 closed

[2017-11-07 23:54] #590 closed

[2017-11-07 23:54] #593 closed

[2017-11-08 01:32] edhartnett opened #598 "make -j check does not seem to work in h5_test"
I think there is some problem preventing make -j check working in h5_test. Not sure why, but it never works for me. I get this error:

[code]

Not obvious why tst_h_dimscales1 is failing. The code does not seem to depend on other tests. So WTF?

Because of this I am avoiding make -j, which is probably costing me a lot of time.

[2017-11-08 11:34] edhartnett opened #602 "Restore history section to documentation"
The documentation of netCDF history was removed in the recent re-write. As discussed with with Ward, Dennis, and others via email, it will be restored to the documentation.

I will put it in the users guide at the end of the section "Introduction to NetCDF".

[2017-11-08 11:55] edhartnett opened #603 "CMake build instructions have very annoying typo"
The CMake build instructions are here: http://www.unidata.ucar.edu/software/netcdf/docs/getting_and_building_netcdf.html#netCDF-CMake

They tell me I should set -D"CMAKE\_PREFIX\_PATH=/usr/custom_libs/"

I have been trying this, with the '\' marks. And of course it does not work. ;-)

The slash marks were probably added when the documentation was written for CMake, but should not have appeared in

[2017-11-08 16:36] czender commented on #597
Thanks, @edhartnett. It sounds like an intricate fix, so I hope you #persist.

[2017-11-08 17:25] #598 closed

[2017-11-08 17:33] edhartnett commented on #598
I have a PR up to fix this. It was a mistake in the name of the test file. By reusing the name of the test file from another test, make -j was confused.

[2017-11-08 17:40] WardF commented on #598
Excellent! Does it result in any issues outside of the h5_test directory? I closed this issue since it was something we're aware of and weren't going to address, but fixing it via PR is great.  I'm catching up on esupport and cloud projects today but will take a look at this for the next clump of PR's.

[2017-11-08 19:31] edhartnett opened #606 "Improper handling of BUILT_SOURCES in ncdump/Makefile.am"
I have been having troubles getting distcheck builds working on my Jenkins server, because of this issue.

In ncdump we have:
`BUILT_SOURCES = ctest.c ctest64.c
`

These are two tests either copied from another directory or generated with ncgen, depending on the value of EXTRA_TESTS.

As documented here https://www.gnu.org/software/automake/manual/html_node/Built-Sources-Example.html#Built-Sources

[2017-11-08 20:09] edhartnett opened #608 "Some problems with EXTRA_TESTS"
There is a configure option called extra_tests:

[code]
This was intended (when I added it) to default to disabled. Extra tests were tests that didn't currently pass, (plus a way to indicate to the ncdump Makefile.am that ctest.c and ctest64,c could not be generated in distcheck builds).

But somewhere along the way, extra_tests got turned on by default. All of the extra tests now pass, due to bug

[2017-11-08 20:14] edhartnett commented on #606
There is one more important use of EXTRA_TESTS I forgot to mention above. It is used to determine how HDF5 files are closed by the netCDF-4 code:

[code]

If extra tests is enabled (the current default), then H5F_CLOSE_SEMI is used. This will cause an error if there is any HDF5 object left open in the file.

If extra_tests is not enabled, H5F_CLOSE_STRONG is used, which just closes the file and re

[2017-11-08 20:15] DennisHeimbigner commented on #608
It is possible that extra_tests was at some point reinterpreted
to cover tests that take a long time to run (not quite the same
as large_tests, which IMO referred to file sizes.

[2017-11-08 20:30] edhartnett commented on #608
There is one more important use of EXTRA_TESTS I forgot to mention above. It is used to determine how HDF5 files are closed by the netCDF-4 code:

[code]

If extra tests is enabled (the current default), then H5F_CLOSE_SEMI is used. This will cause an error if there is any HDF5 object left open in the file.

If extra_tests is not enabled, H5F_CLOSE_STRONG is used, which just closes the file and re

[2017-11-09 12:55] edhartnett opened #610 "Easy to fix warnings in dfile.c, other files..."
Some warnings, easily fixed. PR up shortly.

[code]

Some other warnings:

[code]

[2017-11-09 13:35] edhartnett opened #612 "Function NC_mktmp returning result of incorrect type in libdispatch if file is read-only"
Here's one of the few remaining warnngs. @DennisHeimbigner I believe you will be interested in this one.

[code]

The problem function is:

[code]

This function is supposed to return a pointer to an array of char, but if the file is read-only the function returns NC_EPERM, which is what is generating the warning.

This function is used in only a few places:

[code]

When I look at some of the use

[2017-11-09 13:43] edhartnett opened #613 "Warnings in ncdump look ominous - snprintf over writes of memory"
Here's some remaining warnings in the ncdump directory that look ominous to me. @DennisHeimbigner do you think these point to a real issue?

[code]

[2017-11-09 14:03] edhartnett opened #614 "nctest fails make -j check due to unrecorded dependency between tests"
The nctest directory fails a make -j check:

[code]
The reason is that compare_test_files.sh compares the test files produced with nctest with some reference files. So nctest has to run first.

This can be communicated to the autotools system by adding this to the Makefile.am (documented here https://www.gnu.org/software/automake/manual/html_node/Parallel-Test-Harness.html):

[code]

Once added, m

[2017-11-09 14:16] edhartnett opened #616 "Code commented out of nc_test4/tst_h_files3.c"
This whole file is commented out. Not much point in having a test if it is just commented out.

I will uncomment this code and see if it runs, and if there is any reason it should not run every time tests are run.

[2017-11-09 14:23] edhartnett opened #617 "nc_test4 make -j check fails because test files sometimes have incorrect names"
All the test files create sample data files, and it's important that all the data files have different names. If two tests use the same file name, that breaks parallel builds because the two tests will try to write/read the same file, and one or both tests will fail.

Mostly we accomplish this by naming the data file the same as the test (ex. tst_files.c produces tst_files.nc). Sometimes tests wer

[2017-11-09 16:53] DennisHeimbigner commented on #614
IMO trying to get  make -j working is a rabbit hole. I believe
that there are too many inter-test dependencies.

[2017-11-09 16:54] DennisHeimbigner commented on #613
Apparently we can't count the size of strings :-)
Should be an easy fix.

[2017-11-09 16:55] DennisHeimbigner commented on #612
I think that there is an as yet unmerged pr that fixes this as a side effect.

[2017-11-09 16:57] DennisHeimbigner commented on #610
It is better IMO to leave the e.g. %lld and instead cast the argument
because not all compilers have % markers for the type.

[2017-11-09 16:58] WardF commented on #612
Which one? I'm doing them piecemeal as I can, but also staying on top of the cloud stuff and AMS/AGU as well.  If I know which PR I'll make sure it goes in in the next bundle.

[2017-11-09 16:59] DennisHeimbigner commented on #612
It is the one that pulls out common dap4/dap2 common code.

[2017-11-09 17:03] WardF commented on #612
I thought I had merged that one, or was that the one with the OSX issue... yes I think it was maybe? I'll go look.

[2017-11-09 17:04] WardF commented on #610
I agree, we have to support a broad enough range of platforms/compilers I could see this being a potential issue.

[2017-11-09 17:09] edhartnett commented on #610
OK, stand by I will fix.

On Thu, Nov 9, 2017 at 10:05 AM, Ward Fisher <notifications@github.com>
wrote:

[2017-11-09 17:11] DennisHeimbigner commented on #612
I stand corrected, the relevant pr https://github.com/Unidata/netcdf-c/pull/477
was merged. So it is a legitimate error. It should return NULL instead of EPERM.,

[2017-11-09 17:19] edhartnett commented on #614
I think it is easier than you suspect. In fact, I am nearly there.

With this fix and the nc_test4 one, make -j check should work for
--disable-dap --disable-utilities. (Haven't tried DAP at all yet.)

I have taken a look at the ncdump directory (where all the dependencies
are) and actually it looks like it will just take a few minutes to fix, and
then make -j will work for the utilities too.

Two

[2017-11-09 17:30] edhartnett commented on #612
FYI My code coverage indicates this execution path is not run during testing.

[2017-11-09 18:07] edhartnett commented on #585
When I first saw this I thought it was due to recent merges. But since then my evidence for that has evaporated. I don't know how long the problem has been present.

[2017-11-10 00:39] #418 closed

[2017-11-10 00:39] #517 closed

[2017-11-10 00:39] #585 closed

[2017-11-10 00:39] #608 closed

[2017-11-10 10:22] edhartnett opened #621 "tst_large.c and tst_large_cdf5.c are mostly the same and should be combined..."
tst_large.c and tst_large_cdf5.c are mostly the same and should be combined...

I wll put the CDF5 tests from tst_large_cdf5.c into tst_large.c, protected by #ifdef ENABLE_CDF5. Then I will remove tst_large_cdf5.c.

[2017-11-10 10:46] edhartnett commented on #392
This work requires some changes in library behavior.

1 What happens if you ask for a format that has not been built?
2 What happens if you use an incorrect format in nc_open()?

In this issue we decided that the answer to 1 is that the user should get NC_ENOTBUILT. (Current behavior is to ignore the troublesome flag).

I am going to elevate 2 to it's own issue so it can get a proper discussion.

[2017-11-10 10:53] edhartnett opened #622 "Should nc_open() return error if incorrect binary flag is used?"
This is related to #392.

Consider the following code:

[code]

The first two lines create and close a CDF5 file.

The third line opens it, specifying NC_NETCDF4. Currently, the (incorrect) NC_NETCDF4 flag is ignored.

Should the nc_open() instead return error?

Note that it is not necessary for the user to specify any binary format anyway. But if the user does specify a format, what should the li

[2017-11-10 10:59] edhartnett opened #623 "Significant test code commented out in nc_test4/test_large.c"
A very significant part of nc_test4/tst_large.c is commented out.

If the test is broken I will fix.

[2017-11-10 11:56] edhartnett commented on #621
I have a PR up for this now. #625.

[2017-11-10 12:36] edhartnett opened #627 "nctest should test CDF5 as well as classic, 64-bit offset, and netCDF-4/classic model"
No reason why nctest should not also test CDF5. I will take a stab at this.

[2017-11-10 15:33] WardF commented on #622
Breaking user code is a pretty good reason to consider avoiding changes. Is there a demonstrated problem with the historic behavior?

[2017-11-10 16:42] edhartnett opened #628 "Test ncdump/tst_bug324.c should be moved to nc_test4 directory"
This test has nothing to do with ncdump, but somehow ended up in the ncdump directory.

It's a straight-up netCDF-4 test related to an old bug. It's a good test though.

I will move it in a future PR.

[2017-11-10 16:45] edhartnett commented on #622
Nope. Not really. That's why I elevated this to it's own issue. (BTW returning NC_ENOTBUILT when part of the library is not built will also change behavior of user code.)

But if the user does:

`nc_open(FILE, NC_CDF5, &ncid);
`
And we silently open a netCDF-4 file (because that is what FILE is), is that a problem? The user could be excused for thinking he or she is specifically opening a CDF5 fil

[2017-11-10 17:35] WardF commented on #622
Since the flag seems to be ignored in the first place, does it serve a purpose at all? I mean, we can't realistically remove it at this point but it doesn't seem to do anything.  It opens the file properly even if the specified type is incorrect.  Perhaps the better thing to do would be to document and emphasize that the file type flag for `nc_open()` is deprecated?  As well as officially deprecat

[2017-11-10 17:50] WardF commented on #628
I think it was originally tied into a shell script and was never migrated.  Similar to tst_bug321.  But I don't recall exactly.

[2017-11-10 17:54] edhartnett commented on #622
I am open to just ignoring it. That's why I opened the ticket.

Anyone else want to offer an opinion?

[2017-11-10 17:59] gsjaardema commented on #622
Note that there is a place where the flag is currently used in `NC_open()`.  If `NC_PNETCDF` is passed, then we have the following:
[code]
If `NC_PNETCDF` or `NC_MPIIO` is not passed in parallel for a `non-netcdf4` file, then the file uses the `NC3_dispatch_table` and parallel doesn't work correctly.

I think this is an error and needs to be fixed before the flag can be ignored.  This is the only

[2017-11-10 18:39] DennisHeimbigner commented on #622
One thing to remember is that after opening a file, the user can
invoke nc_inq_format &/or nc_inq_format_extended to see
what the file really is.

As noted by Greg, remember that there are several mode flags like MMAP and MPIIO/PNETCDF
and MEMORY that still needed to be specified in the mode flag.

Bottom line for me. I say we document which flags are ignored on nc_open() and then
continue to igno

[2017-11-10 18:43] cameronsmith1 commented on #597
Thanks, All!

[2017-11-10 20:11] WardF opened #629 "Large File Tests failing on ARM"
Possibly related to the recent spate of merges, so that will be put on hold until this is tracked down.  The tests are running but so far the following tests are failing on ARM:

* nc_test/tst_big_var2
* nc_test/tst_big_rvar
* nc_test/tst_big_var

I will update this list when the tests finish (they take around an hour on ARM) and post a link to the cdash entry with the failure information.  Once w

[2017-11-10 20:12] WardF commented on #629
It is pure supposition that it's related to the recent spate of merges; that was simply my first thought since I haven't been doing LFS tests each time.

[2017-11-10 21:22] edhartnett commented on #622
OK, what I am hearing is that the answer is to just document and ignore.

That's cool.

There is going to be some unavoidable confusion from the fact that some mode flags are format-related, some are not. Some can be used for both open and create, and some just for create.

The new flag NC_PIO will be like NC_PNETCDF in that multiple binary formats can be read by PIO. (All of them, eventually). So

[2017-11-10 21:22] #622 closed

[2017-11-10 21:25] edhartnett commented on #629
As for me, I just noticed large file tests and added them to some CI builds today.

I am still hunting for my rasberry pi so I can set up some ARM builds myself...

[2017-11-10 23:59] WardF commented on #629
Fortunately, the issue appears to be environmental. Fixed.

[2017-11-12 13:51] edhartnett opened #634 "Remove enable-extra-tests completely from the build"
With PR #633, --enable-extra-tests loses it's last valid use.

When added it was a way to leave broken tests on the build without breaking CI. This was from the era when the code was on a private Unidata subversion system, not available to users, except through distributions.

Now we have other way to do that, for example on github branches, which are public.

Therefore I propose to remove --enabl

[2017-11-12 14:41] edhartnett opened #635 "make -j check not working in ncdump directory"
Test dependencies in ncdump directory are incompletely recorded in Makefile.am. As a result, `make check` works but `make -j check` does not.

Using `make -j check` is a powerful tool for finding unintentional dependencies, and passing is harder than passing `make check` because it checks more. Checking more is good.

With pending PRs `make -j check` will work for the build with `--disable-dap and

[2017-11-12 16:41] edhartnett commented on #628
I will do this after PR #633 gets merged.

[2017-11-12 20:13] edhartnett commented on #612
Dennis, do you want me to submit a fix for this? I can knock it off in 15 now that it's figured out...

[2017-11-12 20:37] edhartnett commented on #597
This is happening on this branch: https://github.com/NetCDF-World-Domination-Council/netcdf-c/tree/ejh_zender_coordinate_var_rename

So far I have just added the new test that demonstrates the problem.

[2017-11-12 23:46] edhartnett commented on #541
I was wrong about no one finding this bug. See #107.

[2017-11-12 23:50] edhartnett commented on #163
@WardF or @DennisHeimbigner I believe you should close this ticket.

[2017-11-12 23:59] edhartnett commented on #267
I suspect that the problem is that I wrote the enum code for integer types only. Who knew that you could use a binary type in an enum!?!

For example, in nc4type.c we have this function, which assumes that only integer types are involved:

[code]

I can take a look at this - I will put it on the list. ;-)

But @shoyer I am not familiar with a dtype. What's that all about?

[2017-11-13 00:13] edhartnett commented on #327
We cannot limit users to type double. This function needs to work for user-defined types as well as atomic types, so we don't know a maximum type size.

We cannot limit users to use buffer of same size because we have no way of know what size the buffer is, we just get a pointer. It us up to the user to have a buffer of the correct size for the type.

@WardF I suggest this ticket be closed.

[2017-11-13 00:21] edhartnett commented on #334
There is no specification of error precedence. Nor even the idea of one, as far as I am aware. But Ward and Dennis may know differently.

Some thoughts:
* It's asking kind of a lot from the programmers to find all errors of a certain type. The idiom in netCDF programming (and C in general) is that an internal function call can return an error code. So how do we know what error code it will report?

[2017-11-13 01:21] DennisHeimbigner commented on #334
The reported error is determined by the order in which checks are made in the code.
There are sometimes dependencies within the code, but sometimes it is arbitrary.
To be completely true to a precedence, I think we would have to collect all the errors
in a function and then choose the one with the highest precedence.  So, we have to
approximate the precedence.
In your put example, EINVAL might be

[2017-11-13 02:56] shoyer commented on #267
@edhartnett thanks for you interest!

My guess was that the issue is netCDF4 always expects data types to be defined at the group level, but h5py only defines data types on dataset objects.

I'm not quite what you mean by a binary type in an enum. `"TRUE"`/`"FALSE"` are just names for enum level, which themselves have `H5T_STD_I8LE` (aka `H5T_NATIVE_CHAR`) values.

"dtype" is Python shorthand for

[2017-11-13 03:45] DennisHeimbigner commented on #267
The assumption that enum basetypes are integers is not only in the netcdf-c library
but also in the netcdf-Java library. I am very reluctant to change that. Sometimes we have
to make sure that users understand that legal netcdf-4 files are a subset of the set of legal
HDF5 files.

[2017-11-13 03:51] DennisHeimbigner commented on #541
I had forgotten this issue, but knew about. API functions like nc_free_vlen in
the netcdf API need to be recursive in general. The ideal solution is a function
that given an ncid+typeid and a pointer to a memory instance of that type
will recursively walk the instance freeing all the memory. This function,
call it nc_free_type(), say, can be implemented on top of the netcdf-c library
in an auxilia

[2017-11-13 04:42] shoyer commented on #267
@edhartnett @DennisHeimbigner I'm pretty sure h5py is still using integer enum codes -- where did you get the impression that they are something else? Both my examples in my first post, created with netCDF4-Python and h5py, report the underlying `H5T_STD_I8LE` data type (i.e., 8-bit integer).

Looking at the [HDF5 docs](https://support.hdfgroup.org/HDF5/doc/H5.user/Datatypes.html), it seems that t

[2017-11-13 06:30] wkliao commented on #334
This issue was created almost a year ago. I need to recollect my thought.
The precedence I proposed was for NetCDF developers as a consistent way to check errors. For a NetCDF API, there can only be one error code returned, no matter how many errors found internally. My suggestion is to regulate the returned codes based on the degree of error seriousness.

For example, when an invalid varid is pas

[2017-11-13 06:44] wkliao commented on #327
I understand there is no way to tell whether the memory space pointed to the user buffer argument is sufficiently large for the variable's external data type. My concern is when the user buffer is too small, calling nc_inq_var_fill can corrupt the memory space following the user buffer, according to the way function nc4_get_default_fill_value assigns the fill value to the user buffer.

At least, t

[2017-11-13 07:54] WardF commented on #163
@dennisheimbigner as the issue creator I’ll leave it to your judgement.

[2017-11-13 10:53] edhartnett commented on #267
Ok sorry got that wrong. I will take another look...

[2017-11-13 11:05] edhartnett commented on #539
This fix has been merged.

[2017-11-13 11:05] #539 closed

[2017-11-13 11:21] edhartnett commented on #327
I have added the documentation as you suggest. PR up now.

[2017-11-13 12:30] edhartnett opened #638 "Configuration variable @DOXYGEN_SERVER_BASED_SEARCH@ is set in CMake, but not autotools build"
There is a doxygen warning:

`warning: argument `@DOXYGEN_SERVER_BASED_SEARCH@' for option SERVER_BASED_SEARCH is not a valid boolean value
`

This value is defined in the CMake file:

[code]

But not in configure.ac:

[code]

[2017-11-13 12:34] edhartnett opened #639 "Functions in libdispatch/dattget.c lack return code documentation"
All the public API functions in dattget.c which have documentation, lack description of the possible return codes.

[2017-11-13 15:14] edhartnett commented on #392
I just put up PR #642 with changes for this ticket.

[2017-11-13 16:42] DennisHeimbigner commented on #327
The memory overwrite problem is common in the netcdf-c API because it relies on the user
passing in the memory for such things as nc_get_var or get_attr. It might be nice to have a function
that given a typeid allocates enough memory to hold 1 or more instances of that type.

[2017-11-13 16:44] DennisHeimbigner commented on #334
As I said, I am not opposed to this in principle, but I think it is
a lot harder to implement consistently than one might think.

[2017-11-13 16:53] DennisHeimbigner commented on #327
As you know, the C library API has changed over time to provide
alternate functions that are safer against memory overflow.
Perhaps it is time to do the same for the netcdf-C API.
We could provide alternates for things like nc_inq_var_fill
and nc_get_varX where the netcdf-c library allocates the memory
and returns it to the user instead of having the user pass in the memory.

[2017-11-13 17:22] WardF commented on #334
It would be a good idea maybe, but I don't feel that the current system is necessarily broken.  I agree with @DennisHeimbigner that they're tough to be consistent with (possibly), not just with existing code but then maintaining that moving forward.  Given the current backlog, plus my own work (I need to do some things besides managing/merging pull requests) I'd say this is a very low priority, if

[2017-11-13 17:46] #563 closed

[2017-11-14 01:24] edhartnett opened #643 "Spread netCDF-4 logging to rest of code base?"
NetCDF-4 provides logging. See nc_set_log_level() for some details.

In PIO I also have logging. It's very similar. So it would be nice to combine them.

How about the rest of the library? Any logging? It's quite useful. Users that cannot isolate problems can easily turn on logging, and sometimes that is all you need to solve the problem. Meanwhile, logging is not built by default and so does not

[2017-11-14 01:28] gsjaardema commented on #643
I would like to see this.

[2017-11-14 02:48] DennisHeimbigner commented on #643
There is a third system of logging: libdispatch/nclog.c used by the DAP2
and DAP4 code.

[2017-11-14 02:53] DennisHeimbigner commented on #643
I think the difference between the dap logging and the libsrc4 logging is the
use of unamed levels (0-N) vs loggind kinds: NOTE,WARN,ERR,DEBUG.

[2017-11-14 13:34] edhartnett opened #644 "Documentation warnings..."
Here are some documentation warnings that need to be addressed:

[code]

I have a PR up now that fixes the dattget.c warnings. I will work on the others this morning as a warm-up...

[2017-11-14 13:58] edhartnett opened #645 "Memory error in new test nc_test4/tst_filterparser"
There is a memory error identified by the address sanitizer in nc_test4/tst_filterparser. @DennisHeimbigner I believe this is a test just added by you.

I will take a look and see if this is an easy fix.

This is a real bummer because I just got the address sanitizer working for --disable-dap and --disable-utilities. Not it breaks again in my CI.

@Ward it would be great if you could add a travis

[2017-11-14 14:13] edhartnett commented on #643
But the names of levels are just integers ultimately, right? Can you show me an example of using your DAP logging in the code so I can take a look?

The PIO logging has some super useful additional features for HPC:
* It shows rank of processor at the beginning of log entry.
* It automatically saves log output to log files, one for each processor.

The files in particular are really useful, becaus

[2017-11-14 14:17] edhartnett commented on #643
@gsjaardema can you expand on why you would like this feature? What uses to you foresee?

HPC applications are (ironically) often written and debugged without debuggers. (I use gdb, but it's certainly more challenging in multi-processor situations.)

So logging can have a greater than expected usefulness to HPC users.

[2017-11-14 14:22] edhartnett opened #647 "After recent merge, pnetcdf build no longer working"
In my CI, the pnetcdf build just broke:

[code]

When I look at the code, it seems like it could never have compiled. options_maskp is not declared, but is used in the code.

@WardF do you think you have a travis pnetcdf build? If so, can you check to see why it didn't catch this?

[2017-11-14 14:40] edhartnett commented on #647
I took a lot at travis and I see no pnetcdf build. Also no HDF4 build, unless I am mistaken.

My I suggest that you guys take advantage of jenkins to add a local CI in addition to the travis one? (Or you can each set up jenkins on your desktop and have your own.)

I'm happy to share my jenkins xml file with 30 different autotools and cmake builds (and that number goes up almost daily as I add new

[2017-11-14 16:03] edhartnett commented on #645
The funny thing is, this happens in my Jenkins build, but not from the command line. Not sure why yet.

Here's the error message from address sanitizer:

[code]

When I look at the code, I see this:

EXTERNL int
[code]

Looking at the code, I suspect the problem is ` ulist = NULL; /* avoid duplicate free */`. Looks like this line should be included in the if statement above, but is not.

However,

[2017-11-14 16:10] edhartnett opened #648 "Memory leak in tst_interops5.c"
Also seeing this new leak:

[code]

I will take a look.

[2017-11-14 16:17] edhartnett commented on #648
OK, this one was more serious - a leak in the library, not just the test.

The problem is that the var->params pointer, allocated on nc4file.c:1573 is never freed.

I have updated the function nc4internal.c nc4_del_var() to include the following:

[code]
I will include this in my PR with the memory fix for tst_filterparser.c.

[2017-11-14 16:32] edhartnett commented on #648
PR #649 now up with fix.

[2017-11-14 16:33] edhartnett commented on #645
I have PR #649 up with a fix.

@DennisHeimbigner calling this function with a NULL paramsp parameter will cause a leak as well. Should I fix that too? I guess I better...

[2017-11-14 17:39] gsjaardema commented on #643
It would be useful to me primarily for HPC/parallel debugging or tracing.  On large numbers of procesosrs it is not always easy to use a debugger. Being able to look at the logging output from multiple processors makes it easier to see that they are all doing what is expected.

Also useful for serial runs just to make sure everything is following the correct path -- netcdf, pnetcdf, netcdf4, ...

[2017-11-14 17:50] WardF commented on #500
With some of the recent memory issues being addressed via PR's, does this issue persist? I'm unable to recreate it on my end.

[2017-11-14 18:13] edhartnett commented on #500
@ArchangeGabriel I have looked at your logs.

@WardF was there some change merged recently relating to the unsigned/sign char issues somewhere?

Also, @ArchangeGabriel, can you try:
[code]

The challenge with nc_test is that it's a heck of a program to debug. If we can find a simpler test that is failing, that could make it a lot easier to find the problem.

Also have you tried this with the autot

[2017-11-14 18:16] edhartnett commented on #643
@gsjaardema can I ask in general how you do I/O now from 100K+ cores?

You use pnetcdf of course, but do you write directly from each core?

Or do you gather your data on a subset of cores are do all disk I/O from there?

[2017-11-14 18:31] #645 closed

[2017-11-14 18:31] #648 closed

[2017-11-14 18:51] DennisHeimbigner commented on #645
You are correct, this is wrong:

[2017-11-14 18:53] edhartnett commented on #645
I fixed it in the PR.

[2017-11-14 18:56] DennisHeimbigner commented on #647
I believe that Ward's cdash testing does this.

[2017-11-14 19:00] edhartnett commented on #647
Then perhaps you need to add pnetcdf builds to CDash?

[2017-11-14 19:01] DennisHeimbigner commented on #643
1. Look at libdap2/ncd2dispatch.c for instances of nclog().
2.  But these are only of limited use in general.
    I* t shows rank of processor at the beginning of log entry.
    * It automatically saves log output to log files, one for each processor.
3. > But the names of levels are just integers ultimately, right?
    True, but the meanings are entirely different. You log integers are all
    le

[2017-11-14 19:06] edhartnett commented on #643
Extra HPC featues would only be on for parallel processing systems.

I'm confident I can map the other loggers to your system of warn, info, etc.

When the time comes I will see if I can come up with a good combined logger and you can see what you think. The goal would be to keep compatibility with all existing logging calls, so I don't have to go through and change them everywhere.

Anyway, let's

[2017-11-15 14:28] ArchangeGabriel commented on #500
Still failing with CMake and O3. Confirmed failing on

Unrelated, but I’ve noticed a compilation warning:
[code]

One more in `ncgen3`:
[code]

One in a test:
[code]

Now running the check in `nc_test4`.

[2017-11-15 14:31] ArchangeGabriel commented on #500
One warning in this folder:
[code]

`make check` worked in `nc_test4`.

[2017-11-15 14:38] WardF commented on #500
Thanks for confirming the issue is still there. I’ll take a look shortly or we will see if Ed has an idea/contribution (given the rate of recent contributions!)

[2017-11-15 14:52] edhartnett commented on #500
Howdy @ArchangeGabriel! Thanks for the detailed info! ;-)

No need to tell us about warnings. There are lots of warnings in the code that are going to go away shortly (when outstanding PRs get merged). But we still won't be warning-free, yet.

Did you try the autotools build? Did it work or not work?

[2017-11-15 15:41] edhartnett commented on #500
OK, I am reproducing your problems. There are some new warnings, as well as a lot of warnings that are old-frenimies. So I will wait until @WardF merges my outstanding PRs, which clear up a lot of warnings.

[2017-11-15 19:05] ArchangeGabriel commented on #500
Yes, we already have determined above that -O3 was the culprit. You can try with CMake or autotools, as long as you’re just -O2 you’re fine. But with -O3 both fail.

The reason why CMake revealed it is that its `Release` mode includes -O3, while autotools has no such mode and never adds -O3. But if you specify it yourself, it then fails.

[2017-11-15 19:11] #603 closed

[2017-11-15 19:11] #327 closed

[2017-11-15 19:11] #638 closed

[2017-11-15 19:11] #639 closed

[2017-11-15 23:52] wkliao commented on #500
Try add -fno-inline when using -O3, i.e. CFLAGS="-O3 -fno-inline".

[2017-11-16 09:32] edhartnett opened #655 "--enable-hdf4 --disable-utilities does not work"
Looks like one of the CDF5 tests used the utilities.

I will put up a fix after current PRs have been merged.

[2017-11-16 16:01] #575 closed

[2017-11-16 16:01] #596 closed

[2017-11-16 16:01] #610 closed

[2017-11-16 16:01] #614 closed

[2017-11-16 16:01] #617 closed

[2017-11-16 16:01] #606 closed

[2017-11-16 16:01] #623 closed

[2017-11-16 16:01] #627 closed

[2017-11-16 16:01] #647 closed

[2017-11-16 16:13] ArchangeGabriel commented on #500
A bit late then, but I can confirm that it works with `-O3 -fno-inline`. :)

I can retry with just `-O3` and your patch if you want. ;)

[2017-11-16 18:03] #500 closed

[2017-11-16 19:44] spencerkclark opened #657 "Invalid argument error with libnetcdf 4.5.0 but not 4.4.1"
Per the recommendation of @dopplershift (cc: @spencerahill), I am migrating an issue (Unidata/netcdf4-python#742) initially posted in netcdf4-python over to here.

### Environment Information

- I have reproduced this behavior on my local machine (using Mac OS version 10.13)
- This behavior was first identified with our test suite run using Travis CI (see [here](https://travis-ci.org/spencerahill/

[2017-11-16 19:56] dopplershift commented on #657
I can reproduce with conda-forge libnetcdf 4.5.0 on my osx machine as well.

[2017-11-16 20:11] WardF commented on #657
I believe we have fixed this with a pull to revert to 4.4.1.1 behavior based on a bug report issued by @czender. Let me confirm and follow up with specifics.

[2017-11-16 20:51] WardF commented on #657
It is not corrected, looking at it now.

[2017-11-17 00:12] WardF commented on #657
Ok, the issue relates to how padding is being calculated in v1hpg.c:v1h_get_NC_string().  This code was contributed to us by @wkliao so taking a bit to read it and understand it.

[2017-11-17 02:10] spencerkclark commented on #657
Many thanks for investigating this @dopplershift and @WardF.  We have no issues sticking with version 4.4.1.1 for now, but we just wanted to bring this to your attention (also in case it impacts anyone else).

[2017-11-17 05:02] dopplershift commented on #657
Thanks for the report!

[2017-11-17 06:24] wkliao commented on #657
FYI. @WardF is referring to PR #332, which checks the null-byte padding in file header.

After reading this PR again, I found that returning error code NC_ENOTNC is better than NC_EINVAL in this case, as the error message corresponds to NC_ENOTNC is "NetCDF: Unknown file format", which includes the case when file fails to conform with the classic CDF file format specification. In this case, it is

[2017-11-17 06:40] dopplershift commented on #657
But...the file is a valid, so I'm not clear on why it's an error at all.

[2017-11-17 14:11] WardF commented on #657
@wkliao I can make that change if need be but I need to determine why the file is invalid and, if it is, is it invalid in a way that contradicts the spec but became valid through common usage and the spec not being enforced historically. I will follow up when I get in to the office and can inspect the file more closely.

[2017-11-17 14:34] edhartnett opened #659 "Compile warnings in ncdump directory"
Some compile warnings that I will clean up.

[code]

[2017-11-17 15:55] edhartnett opened #660 "Unneeded dependency in h5_test directory"
A test dependency can be eliminated by combining tst_h_wrt_cmp.c and tst_h_rd_cmp.c.

The wrt program creates a file, the rd program reads it. By moving the test code from the read program to the end of the write program, and eliminating the read program, we remove a dependency and keep all the same tests.

[2017-11-17 16:39] wkliao commented on #657
I guess the nc file in question violates only the null-byte padding requirement by the CDF format specification. The reason it can be read by ncdump of earlier versions is those ncdump programs (and most likely other NetCDF utility programs) fail to check null-byte padding.

I consider this is not a serious bug in NetCDF library and its utilities, but strictly speaking the file does NOT conform wi

[2017-11-17 16:42] wkliao commented on #657
Forgot to mention that there is a PnetCDF utility program named ncmpivalid. It can be used to validate a CDF file and report the exact location that fails to conform with the file specification.
https://trac.mcs.anl.gov/projects/parallel-netcdf/browser/tags/v1-9-0-pre1/src/utils/ncmpivalid

[2017-11-17 16:43] WardF commented on #657
Given that netCDF hasn't enforced this up to this point, and that apparently enforcing this causes some issues with extant workflows, I am wondering if we need to revert this.  I really want to avoid causing disruption to our users, especially when the practical positive impact seems to be limited.  It can be reimplemented once we have an easy way for users to fix otherwise valid files, and will b

[2017-11-17 17:22] WardF commented on #657
Alternatively this could be made an option instead of removed altogether, and have it turned off for now.  I would also add a more specific error message, NC_EHDRPAD or some such, to make it clear what the issue is if the option is turned on.  Just thinking out loud.

[2017-11-17 17:24] wkliao commented on #657
The problem is the fact NetCDF has partially enforced this null-byte padding from 3.3 release as early as I can tell. For example, null-byte padding is enforced when writing strings, say names of dimension, variables, etc. (see ncx_pad_putn_text() called through v1h_put_NC_string() or ncx_put_NC_string() in earlier versions). Similar padding has been done for attributes of type size less than 4 by

[2017-11-17 17:27] WardF commented on #657
In a vacuum, I think it's great to enforce this documented standard, but in practice I think we need to accommodate files generated before this was enforced.  I'm very hesitant to penalize people, especially without being able to suggest an easy/turn-key way to fix the file.

I like the idea of making this a configuration option (for now) that can, when appropriate, be flipped from 'off' by defaul

[2017-11-17 17:30] edhartnett commented on #657
@wkliao may I ask whether there is benefit to enforcing this other than resolving an inconsistency?

Also may I ask how these files are created? How are files with incorrect null padding coming into existence?