[2022-07-11 14:48] DanCodigaMWRA opened #2459 "ncdump error: SSL connect, curl, oc_open could not read url"
I'm in a conda environment on Windows and ncdump is giving me a "could not read url" error (oc_open, SSL connect) when accessing a file on a remote server:
[code]
Others report success with this operation so the trouble seems to be with my own system. These seem relevant:

[code]

The error first occurred for me using xarray,

[code]
but has been shown to occur in netcdf4 and ncdump as well.

At l

[2022-07-11 18:25] DennisHeimbigner commented on #2458
I found and fixed a couple of errors in the HDF5 blosc filter. I will put up a PR
for those changes shortly.
It appears that shuffle is only required for the blosc LZ sub-compressors.
ZLIB and ZSTD seem to work either way.
Also, I suspect the problem is highly data dependent. In the example
you provided, it was trying to compress the sequence of floats 1..80.
It is probably the case that a more ra

[2022-07-11 20:05] WardF commented on #2446
Thank you; I'll add this change as well.

[2022-07-11 20:42] #2446 closed

[2022-07-11 22:24] sb22bs commented on #2414
I bumped into the same issue... - the system zstd is not installed, but the gcc got built with a separate zstd, and somehow
the path to this libzstd "got lost". So adding this directory with the libzstd to LDFLAGS "fixes" this problem (at. least for me)
./configure ......... LDFLAGS="-L<path to gcc>/lib/ -Wl,-rpath,<path to gcc>/lib/" (this is scientific linux 7.7 here - hope it helps as an inspir

[2022-07-11 22:31] DennisHeimbigner commented on #2414
Thanks for the insight.

[2022-07-12 17:40] czender commented on #2458
Great. Looking forward to it. I will re-test for robustness across datasets and sub-compressors when it lands in main branch.

[2022-07-12 18:51] DennisHeimbigner commented on #2458
I ran across this also: https://github.com/Blosc/c-blosc/issues/307

[2022-07-12 18:57] czender commented on #2458
Ahhh. Quite relevant. This suggests that the calling application skip invoking the Blosc codec for block sizes < 4 kb. Sound reasonable?

[2022-07-12 22:20] DennisHeimbigner commented on #2458
Fixed by https://github.com/Unidata/netcdf-c/pull/2461

[2022-07-14 18:56] DanCodigaMWRA commented on #2459
In the meantime, until this can properly be resolved, a couple thoughts for potential workarounds occurred to me:
* pin my version of netcdf4, currently 1.6.0,  to something earlier?
* use the requests package instead? if this might be possible, and someone could suggest syntax using requests to do equivalent of
[code]
which might not lead to the same error, that would be very much appreciated!

[2022-07-15 03:15] DennisHeimbigner commented on #2459
Using the current netcdf-c master, I cannot duplicate the error.
Try changing the URL to this form to get some more information:

[2022-07-15 14:46] DanCodigaMWRA commented on #2459
Update: I am pretty certain now that this issue is related to my local certification chains here.
So I am going to close it for now.
If I sort out the certification trouble and this issue persists, I will reopen it.

And thank you @DennisHeimbigner for the suggestion.
I tried it various ways but didn't seem to get much new information. Here are the results:
*  Using ncdump from console:
[code]
* U

[2022-07-17 20:37] DennisHeimbigner commented on #982
Fixed by PR https://github.com/Unidata/netcdf-c/pull/2462

[2022-07-19 19:43] #2367 closed

[2022-07-21 19:34] DanCodigaMWRA commented on #2459
Reopening this. I got help sorting out some certification issues so those are resolved, but this issue is still a problem. We think it may be related to certificate chains.

How can I check which certificate file/chain is being used by ncdump? What about curl?

It may be that I need to configure ncdump and/or curl to use a certain certificate file (different from the ones currently being used) and

[2022-07-21 19:41] DennisHeimbigner commented on #2459
First review the relevant curl documentation and see if anything
strikes you as relevant to your situation.
* https://curl.se/libcurl/c/CURLOPT_CAINFO.html
* https://curl.se/libcurl/c/CURLOPT_CAPATH.html

[2022-07-21 19:46] DennisHeimbigner commented on #2459
Second, you can force set CAINFO and/or CAPATH
by creating the file ~/.ncrc and putting either or both of these lines in it.
This assumes a non-windows environment.
* HTTP.SSL.CAINFO=\<value\>
* HTTP.SSL,CAPATH=\<value\>

[2022-07-21 19:49] DanCodigaMWRA commented on #2459
Will look in to this. Thanks for the quick reply Dennis. I am on windows though.

[2022-07-21 19:59] DennisHeimbigner commented on #2459
Ok, then you need to put the .ncrc file in %USERPROFILE% instead of $HOME.

[2022-07-25 17:29] d70-t commented on #2459
I suspect it's something related to how netCDF-c is compiled (in particular within the netCDF-python release). I just did three experiments on a freshly started `ubuntu:20.04` docker image:

* using `python3 -m pip install netcdf4==1.6.0` does not work (with `Warning:oc_open: Could not read url`). It comes with `netCDF-c` @ 4.9.0
* using `python3 -m pip install "netcdf4<1.6.0"` resolves to 1.5.8 a

[2022-07-25 20:42] cryptoboxcomics opened #2464 "OSError: [Errno -128] NetCDF: Attempt to use feature that was not turned on when netCDF was built."
Attempting to open zarr file in an S3 bucket using the following python code:

[code]
When I attempt to open this, I get the following traceback:
[code]

[2022-07-25 20:58] DennisHeimbigner commented on #2464
This error is odd:

It indicates that netcdf-c library was not built with (nc)zarr support enabled.
Can you check the library installation, perhaps looking at libnetcdf.settings file?

[2022-07-25 21:59] #2454 closed

[2022-07-25 21:59] #2455 closed

[2022-07-25 23:47] dopplershift commented on #2464
@cryptoboxcomics How did you install netcdf4-python? Conda? Pip?

[2022-07-26 15:59] cryptoboxcomics commented on #2464
netcdf4 was installed using pip3. I was able to run this just fine with a local file store like "file:///directory/to/my/zarr/#mode=nczarr,zarr,file", but it seems like I'm only getting this issue when trying to access S3.

I'm not sure where I can get access to the libnetcdf.settings, but the command `pip3 show netcdf4 `displays the following:

Name: netCDF4
Version: 1.6.0
Summary: Provides an ob

[2022-07-26 19:32] dopplershift commented on #2464
What OS are you using? Do you know if when you installed it built from source or installed using a pre-built wheel (which would be my guess)?

[2022-07-26 19:35] jswhit commented on #2464
I am not explicitly enabling nczarr-s3 support in the netcdf-c build that is used in the wheels.  Should I?

[2022-07-26 19:37] dopplershift commented on #2464
@jswhit That's where I was going to go. It would be nice to have that support baked-in, though that will require having the aws C SDK available IIUC. @DennisHeimbigner ?

[2022-07-26 20:21] dopplershift commented on #2464
@DennisHeimbigner Had you seen this? https://github.com/awslabs/aws-c-s3

It's rough, but maybe vendoring it would be the lesser of two evils (the other "evil" being essentially useless S3 support)?

[2022-07-26 20:36] DennisHeimbigner commented on #2464
I looked at it some time ago. At that point, it had one of the most
complex builds I had ever seen because it was divided into a myriad
of separate modules. I never even got it to build on Linux.
But, it may be worth revisiting to see if it now more build-able.

[2022-07-27 18:07] amberjungminlee opened #2465 "Want an option to ignore variables of unsupported data type when opening zarr files"
Our team is working with earth science zarr data that has some variable metadata stored as a string object type. These variables contain strings such as source URLs that correspond to each chunk. We are aware that in the documentation, string types are not supported as variables. This is fine. Because this field is just additional metadata for internal purposes, they are not necessary for our use

[2022-07-27 18:30] dopplershift commented on #2465
Out of curiosity, why store these URLs (which I assume have no dimensionality) as global attributes instead of variables?

[2022-07-27 19:28] DennisHeimbigner commented on #2465
Any chance you could send me one of those files in either zip format
or as a tar'd directory?
Also, I have been working at a low level on adding fixed size string support to nczarr,
Are you willing to act as a test case for it?

[2022-07-28 14:28] amberjungminlee commented on #2465
These URLs do have dimensionality. They correspond to each time chunk and contain source information from where the individual file was downloaded.

And yes, @DennisHeimbigner , we would be open to being a test case for string support.

Here is the file that has the issue. It has a bogus URL for now, but it has the same dimensions as the time variable.

In case you are interested in replicating th

[2022-07-28 15:02] cryptoboxcomics commented on #2464
@dopplershift , this was built using a pre-built wheel. The OS that I'm using is Centos 7.

[2022-07-28 17:13] dopplershift commented on #2464
Sounds like @jswhit 's comment about not having enabled nczarr-s3 support when building the wheels is the cause here.

[2022-07-28 17:13] dopplershift commented on #2465
@amberjungminlee Ah, that makes sense then.

[2022-08-01 20:27] DennisHeimbigner commented on #2465
This PR (https://github.com/Unidata/netcdf-c/pull/2467) is an experimental
draft PR that attempts to add  Zarr/Numpy fixed size string support to NCZarr.

[2022-08-02 07:36] Alexander-Barth opened #2468 "Link error when compiling NCZhdf5filters.o on MinGW64 with netCDF 4.9.0"
I am still trying to update NetCDF for Julia users on Windows. In this test, I tried native compilation on Windows (using the MinGW64 toolchain from MSYS2).

NetCDF is configured as:

[code]

The MinGW64 compiler version is:

[code]

The full error message is:

[code]

These steps worked when compiling NetCDF 4.8.1 on the same machine.

It might be related to the LDFLAGS passed to make, which is

[2022-08-02 15:34] dzenanz opened #2469 "LINK : fatal error LNK1181: cannot open input file 'Debug.lib'"
I am trying to build the library, after having configured it using CMake. This is an incremental build log:
[code]
I took a look at https://github.com/Unidata/netcdf-c/blob/main/plugins/CMakeLists.txt, and I can't figure out where requirement for `Debug.lib` comes from.

My CMake settings are attached: [CMakeCache.txt](https://github.com/Unidata/netcdf-c/files/9243564/CMakeCache.txt)

This happens

[2022-08-02 20:17] WardF commented on #2468
With the 4.6.0 Fortran release out the door, I am pivoting back to this and other issues we're seeing with the 4.9.0 release. I'll see if I can get this figured out and fixed, I want the release cycle for 4.9.1 to be a very short one.

[2022-08-02 22:41] #2159 closed

[2022-08-02 22:50] WardF commented on #2469
What happens if you try building with Release configuration? It's not immediately obvious to me why this is happening, either, and I'm curious if it goes away if you build without debug info.

[2022-08-03 09:58] visr commented on #2248
Just noting that we still see this on netCDF 4.9.0 built against HDF5 1.12.2, ref https://github.com/Alexander-Barth/NCDatasets.jl/issues/164#issuecomment-1202094798, only when cross compiling netCDF for Windows.

[2022-08-03 13:19] dzenanz commented on #2469
It wanted `Debug.lib` in Release mode too.

But I figured out where this comes from. In the CMake setting `ZLIB_LIBRARY` I initially typed `Debug;C:/Misc/zlib-ng-19/Debug/zlibstaticd.lib;Optimized;C:/Misc/zlib-ng-19/RelWithDebInfo/zlibstatic.lib`. It turns out case matters: this put both `Debug.lib` and `Optimized.lib` on the link line. Changing it to `debug;C:/Misc/zlib-ng-19/Debug/zlibstaticd.li

[2022-08-03 13:19] #2469 closed

[2022-08-03 14:45] WardF commented on #2469
Thank you; that is a great data point that could crop up again in the future.  Thanks for sharing the solution you discovered!

[2022-08-03 14:48] dzenanz opened #2471 "Link issues (unresolved external symbol NCD2_initialize)"
The abbreviated build log:
[code]
The full incremental build log has other, less important errors:
[code]

My CMake settings are attached: [CMakeCache.txt](https://github.com/Unidata/netcdf-c/files/9252509/CMakeCache.txt)

This happens with both `v4.9.0` and `main`. Win10 x64, version 21H2 (build 19044.1865). Visual Studio 2019, v16.11.17.

[2022-08-03 15:02] dzenanz commented on #2471
Disabling CMake option `ENABLE_DAP` fixes these compile errors. This seems like a workaround to a problem in the build system.

[2022-08-03 15:05] dzenanz commented on #2471
As my primary goal is to gain access to a zarr implementation, does `ENABLE_DAP=0` interfere with `NCZarr`?

[2022-08-03 15:49] dzenanz opened #2472 "The library cannot be used from the build directory"
If I set `netCDF_DIR` CMake setting in my project to netCDF's build directory (`C:\Dev\netCDF-19`), I run into the following:
[code]
This is not surprising, given the content of `netCDFConfig.cmake`, which contains:
[code]
This makes me think that this library is not meant to be used from the build directory.

[2022-08-03 15:49] dzenanz commented on #2472
Pointing `netCDF_DIR` to the install directory (`C:/Program Files (x86)/netCDF/lib/cmake/netCDF`) works.

[2022-08-05 05:20] CyprienBosserelle commented on #2380
I had to tweak this workaround to make it work for me. It may not help with isolating the ultimate issue but hopefully that helps other in the same situation as me.

This didn't work form me (with any folder explicitly written)
[code]

I kept getting an error saying i do not have read write access to the folder .

However, somehow, this worked for me

[code]

[2022-08-05 16:52] DanCodigaMWRA commented on #2459
@DennisHeimbigner I made a .ncrc file with HTTP.SSL.CAPATH in it, and put it in to C:\Users\Codiga_D (this is the correct %USERPROFILE% I hope?), but I still get the same error from ncdump. However, I am unsure of the syntax within the .ncrc file (quote/unquote path? forward/backward slashes?)... here is what I used (single quotes and backslashes):

HTTP.SSL.CAPATH='C:\Users\Codiga_D\AppData\Local

[2022-08-05 17:16] DanCodigaMWRA commented on #2459
@d70-t I am in a conda env (not using pip at all) on windows, so I'm not sure if your tests are a close match to my case... but just to try something I pinned my netcdf4 to 1.5.8 (it was 1.6.0) and that did not solve the problem either.

[2022-08-05 18:31] DennisHeimbigner commented on #2459
Backward slash should be ok, but do not quote the value (i.e text after the equal sign).

[2022-08-05 18:36] DanCodigaMWRA commented on #2459
Ok I removed the quotes. Error persists.
Not 100% sure the .ncrc file is being used-- is there any kind of test I could do, to confirm that it is?

[2022-08-05 19:16] DennisHeimbigner commented on #2471
The zarr code should not interact with DAP code except that both use libcurl.
So  there should be no problem.

[2022-08-05 19:37] DennisHeimbigner commented on #2459
I was looking around and found this:

So try changing HTTP.SSL.CAPATH=...
to HTTP.SSL.CAINFO=...
but keeping the same value.

[2022-08-05 19:39] DennisHeimbigner commented on #2459
Also, you may be able to test .ncrc is being used by adding this line:

If you see a bunch of curl debug output, then .ncrc is being read.

[2022-08-05 19:44] DanCodigaMWRA commented on #2459
Thanks Dennis. Tried that too (CAINFO instead of CAPATH), still no joy.
On the bright side, including HTTP.VERBOSE=1 did cause additional messages to appear-- so that confirms the .ncrc file is being used.
Here are the additional messages, in case helpful:
[code]

[2022-08-05 19:50] haampie opened #2473 "Allow explicit disable of optional dependencies"
See https://github.com/spack/spack/pull/31953#issuecomment-1206689056

I'd like to have specify `./configure --without-zstd` or `./configure --disable-zstd`, since the fact that a library is available on the system does not imply that the intention is to link to it.

[2022-08-05 19:52] DennisHeimbigner commented on #2459
This looks suspicious to me. Perhaps, the key in your known-hosts file
for this site is out-of-date?

[2022-08-05 20:12] DennisHeimbigner commented on #2459
If you put this url in your browser, doe it succeed?

[2022-08-05 20:14] DanCodigaMWRA commented on #2459
What it gives me is shown below. I believe that is success?
![image](https://user-images.githubusercontent.com/15674260/183156246-958c4698-45b9-40c7-9661-1b45547e72c5.png)

[2022-08-05 20:20] DennisHeimbigner commented on #2459
Yes, that shows that the cert chain used by your browser is working
for reading from that site.
Just to be sure, retry with HTTP.SSL.CAINFO and/or HTTP.SSL.CAPATH
removed from .ncrc.

[2022-08-05 20:24] WardF commented on #2473
Agreed. '--disable-zstandard-plugin' will be included in the upcoming maintenance release, and is in the current development branch.

[2022-08-05 20:35] DanCodigaMWRA commented on #2459
Okay, I removed the HTTP.SSL.CAINFO from .ncrc file and reran ncdump, the result is same as shown above.

[2022-08-05 21:05] DennisHeimbigner commented on #2459
I guess I am out of ideas. BTW, the above says that certs are being added from

Any idea where those are coming from?

[2022-08-05 21:07] DanCodigaMWRA commented on #2459
That file contains the certs that are used by various other tools including the python package "requests", which is working fine.

[2022-08-05 21:37] haampie commented on #2473
Great, thanks! Feel free to close the issue 🙃

[2022-08-05 21:43] DanCodigaMWRA commented on #2459
So thank you for all the help. At this point is there a way to summarize what we do and don't know about the situation? For example: "cert chain to the target site is working successfully in browser, other python packages such as requests are able to function fine, but something about cert chain(s) used by ncdump and/or curl causes the error". Is that more or less accurate? (I have minimal profici

[2022-08-05 21:47] DennisHeimbigner commented on #2459
The problem is not ncdump or other stand-alone use of the netcdf-c library.
They work fine for me.
The bottom is that the cert chains being used when python invokes netcdf-c
is wrong somehow.

[2022-08-05 23:32] Alexander-Barth commented on #2248
As a test, I added a simple test function to libnetcdf which only creates a HDF5 File Access Properties list:

[code]

Calling this function reproduces this crash:

[code]

[2022-08-08 12:54] skosukhin commented on #2473
If I am not mistaken, there is a similar problem with `curl`: `libnetcdf` gets linked to `libcurl` even if not needed, i.e. configured with `--disable-dap --disable-byterange`.

[2022-08-08 15:15] WardF commented on #2473
@skosukhin thanks for highlighting that; I will take a look and ensure it is only linked if necessary.

[2022-08-08 16:10] DennisHeimbigner commented on #2473
Are you sure? I thought I had libcurl disabled if no one needed it.
But remember that libcurl is used by a number of features.

[2022-08-08 17:32] skosukhin commented on #2473
@DennisHeimbigner please, check the description of [`AC_SEARCH_LIBS`](https://www.gnu.org/software/autoconf/manual/autoconf-2.67/html_node/Libraries.html), which is called [here](https://github.com/Unidata/netcdf-c/blob/b03988e735a2cae1db065681191e4ca62f75a08a/configure.ac#L178):

So, what happens is that if it's possible to link to the library, it will be added to `LIBS`. Regardless of whether it

[2022-08-08 17:57] DennisHeimbigner commented on #2473
That is a lot of code to add.

[2022-08-08 18:04] skosukhin commented on #2473
The first short snippet is enough to fix the problem with the overlinking. The rest is to implement a less confusing solution.

[2022-08-08 18:10] DennisHeimbigner commented on #2473
Refresh my memory. What bad things happen if the loader has a -l for some
library that it turns out not use? Does it show up in ldd?

[2022-08-08 18:16] skosukhin commented on #2473
The short answer is yes, it shows up in `ldd`.

[2022-08-08 18:47] dzenanz opened #2474 "NCZarr does not support reading of many zarr files"
I am trying to read sample zarr files provided here: https://github.com/ome/ome-ngff-prototypes#data-availability

[code]

Am I doing something wrong? I was under impression that NCZarr would read most zarr files. What are the offending features in these examples which break NCZarr?

Ubuntu 22.04.1 LTS, GCC 11.2.0, libnetcdf-dev Version: 1:4.8.1-1.

[2022-08-09 13:09] haampie commented on #2473
Expanded version is in `man ld` and search for `--as-needed`.

Overlinking is however not the issue of this thread.

The real problem is: certain package managers like Spack allow non-privileged users to install packages that are independent from the system/distro packages. These type of package managers need to be able to opt out of auto-discovery of dependencies on the system, so `--disable-x` m

[2022-08-09 13:39] skosukhin commented on #2473
This means one has to configure with `LDFLAGS='-Wl,--as-needed'`, which itself depends on the compiler in use (i.e. the `-Wl,` prefix), then you expect the underlying linker to understand the `--as-needed` argument (i.e. it's not always `GNU ld`) and so on. A bit of a challenge to make it really portable.

I agree, however, that this is a different topic. I mentioned `curl` only because we have to

[2022-08-09 15:26] WardF commented on #2248
Updated issue title to reflect it is still observed in latest version.

[2022-08-09 15:32] WardF commented on #2248
This adds an interesting wrinkle, insofar as this is an HDF5 function being called absent any netCDF function calls.  Because it's not completely separated from `libnetcdf` I can't say with absolute certainty that it's an HDF5 issue, but given the simple nature of the test program and the reliance on pure HDF5 code (the single `HDF5` function call), it would suggest to me that this is an issue in

[2022-08-09 17:11] edwardhartnett opened #2475 "nc_def_var_zstandard() does not appear in the function documentation"
When I look at the documentation here:
https://docs.unidata.ucar.edu/netcdf-c/current/

Under netcdf functions -> variables I see all the variable functions, including nc_def_var_quantize() but not nc_def_var_zstandard().

[2022-08-09 18:13] WardF commented on #2475
Interesting, let me see why/what happened. It should be straightforward, and I can update the documentation. Thanks!

[2022-08-09 19:19] WardF commented on #2475
Not sure why that happened, but it's also not relevant; it's fixed now. Thanks @edwardhartnett!

[2022-08-09 19:19] #2475 closed

[2022-08-09 20:22] edwardhartnett commented on #2475
How did you fix without a PR?

I assumed that the problem was the documentation for zstandard didn't have an ingroup variables for doxygen. Was that it?

[2022-08-09 20:59] WardF commented on #2475
The docs were generated on a system without libzstd installed, and thus didn't process the relevant source.  I regenerated the source, double-checked the documentation was there, and uploaded it. No change to the code base was necessary.

[2022-08-10 07:28] Alexander-Barth commented on #2248
Indeed, I was wondering the same thing:

https://github.com/JuliaPackaging/Yggdrasil/issues/4511#issuecomment-1207107732

The small example program using just HDF5 also failed when using the gcc compiler from the julia build environment (x86_64-w64-mingw32-gcc  4.8.5). Surprisingly, I can cross-compile the example program using the cross-compiler from Ubuntu 20.04 (with a more up-to-date version "

[2022-08-10 13:39] dzenanz commented on #2474
@DennisHeimbigner do you have some insight?

[2022-08-10 16:00] dzenanz opened #2476 "NCZarr does not read images produced by multiscale-spatial-image"
I used the following Python code to convert an image into Zarr format:
[code]
`multiscale-spatial-image` is available on GitHub: https://github.com/spatial-image/multiscale-spatial-image.

[Images.zip](https://github.com/Unidata/netcdf-c/files/9301817/Images.zip)

NCZarr has trouble opening it:

[code]
Interestingly, if I zip up the resulting directory using 7-zip, NCZarr seems to open it:
[code]

[2022-08-10 17:33] DennisHeimbigner commented on #2474
Sorry for the delay. It appears to be related to the use of '/' as the
dimension separator. I was trying to track down exactly what i happening.

[2022-08-10 17:38] DennisHeimbigner commented on #2476
This may be the same problem I am encountering at https://github.com/Unidata/netcdf-c/issues/2474
I think the problem has to do with using '/' as dimension separator.

[2022-08-10 19:11] DennisHeimbigner commented on #2474
I was wrong. The problem is this (its complicated).
1. array "s0" meta-data specifies this:
    - shape is [4,930,1024]
    - _ARRAY_DIMENSIONS are ["c","y","x"]
 2. array "s1" meta-data specifies this:
    - shape is [4,465,512]
    - _ARRAY_DIMENSIONS are ["c","y","x"]

Since both are in the same group (the root group), this is an inconsistency
because one variable says y=930 and the other says

[2022-08-10 19:26] dzenanz commented on #2474
OME NGFF [specifies](https://ngff.openmicroscopy.org/latest/#multiscale-md) that "Metadata about an image can be found under the "multiscales" key in the group-level metadata." As far as I can tell, multiple arrays are designed to have different dimensions to represent different levels of the image pyramid. @joshmoore Am I interpreting this correctly?

This might be contrary to NCZarr's constraint

[2022-08-10 19:36] DennisHeimbigner commented on #2476
The problem is that you have an attribute of the form below.
I have no idea about how to interpret it and I do not even think it is
technically a legal Zarr attribute. I have a fix of sorts for this, but
it is in the master branch only, and is not in the 4.9.0 release.

[code]

[2022-08-10 19:42] DennisHeimbigner commented on #2474
I do not know anything about the OME standard, but why do you think
it is generating legal Zarr Version 2 files, never mind NCZarr.

[2022-08-10 19:42] joshmoore commented on #2474
@DennisHeimbigner: but that should only be the case for `mode=nczarr`, no? There's no such restriction in Zarr itself.

As a side note, @dzenanz, https://github.com/ome/ngff/pull/114 is intended to play nicely with xarray and nczarr.

[2022-08-10 19:47] DennisHeimbigner commented on #2474
It is actually an XArray problem since the _ARRAY_DIMENSIONS attribute
is not recognized in Zarr V2 (or has that changed?).
But it should be the case that the names assigned to shapes
should be consistent across all uses of those dimensions names, correct?

[2022-08-10 19:53] joshmoore commented on #2474
It's definitely true that Zarr v2 is agnostic to `_ARRAY_DIMENIONS`, but why should that impact `mode=zarr` filesets?

Not in Zarr.

[2022-08-10 20:00] DennisHeimbigner commented on #2474
I was speaking more about nczarr and Xarray, than Zarr, because Zarr
has no dimension names at all.
Perhaps the interesting question is: what happens when that file
is read by  the Xarray package? What values does Xarray assign to
the dimension names?

[2022-08-10 20:02] dzenanz commented on #2474
I assume that the highest resolution is used by default in Xarray.

[2022-08-10 20:03] DennisHeimbigner commented on #2474
In any case,  try changing the access url to include the following:
".......#mode=zarr,noxarray,ZZZ"
where ZZZ is either file or zip or s3 depending on what storage format
you are reading.

[2022-08-10 20:04] DennisHeimbigner commented on #2474
I would be surprised if that was so. It would be seen as violating shape constraints,
I would think.

[2022-08-10 20:06] dzenanz commented on #2474
[code]

[2022-08-10 20:17] dzenanz commented on #2474
@DennisHeimbigner you are right. `xarray.open_zarr()` yields:
[code]

[2022-08-10 20:34] DennisHeimbigner commented on #2474
I would suggest two changes to the OME format:
1. make the dimension-name <-> shape mapping be consistent
2. Change the "direction" attribute from this:
    ````"direction": [ [ 1.0, 0.0, 0.0 ], [ 0.0, 1.0, 0.0 ], [ 0.0, 0.0, 1.0 ] ] ````
to something like this.
    ````"direction": {"x": [1.0,0.0,0.0], "y": [0.0, 1.0, 0.0], "z": [0.0, 0.0, 1.0]}````

There may be other attributes that also should

[2022-08-11 00:50] DennisHeimbigner commented on #2476
THis issue appears to be essentially the same as https://github.com/Unidata/netcdf-c/issues/2474, so comments there will generally apply here.

[2022-08-11 01:19] joshmoore commented on #2474
Suggestion noted, thanks, @DennisHeimbigner, but I don't think we should open that conversation here.

Leaving nczarr, s3, and http out of the picture for a moment, I'm still struggling to understand whether you think these file-based pure-zarr examples from the original description should be covered by netcdf-c, @DennisHeimbigner:

[code]

In my mind, they _should_ especially if we are pointing t

[2022-08-11 02:27] DennisHeimbigner commented on #2474
Speaking for myself, I say no. The fact that they cannot be read by Xarray
makes it clear that having an inconsistent _ARRAY_DIMENSION <-> shape
mapping is just wrong, and needs to be fixed.

As for the case of

that is more a matter of opinion and I would really think that using a dictionary
instead of an array of arrays provides for more meaningful metadata.
GDAL, for instance, has non-standard

[2022-08-11 13:57] dzenanz commented on #2476
Closing in favor of #2474.

[2022-08-11 13:57] #2476 closed

[2022-08-11 23:07] dqwu opened #2477 "Unexpected _Netcdf4Dimid attribute created for _nc4_non_coord_* dataset"
In the simple NetCDF4 file below:
* lev is a dimension, which has a coordinate variable with the same name.
* len is a dimension, which has a non-coordinate variable with the same name.

[code]

There are 3 datasets in the HDF5 format file.
* lev: used as both a variable and a dimension scale
* len: used as a dimension scale only
* _nc4_non_coord_len: used as a variable only

h5dump shows that _nc

[2022-08-12 12:45] edwardhartnett commented on #2477
What are you trying to do with the sample code?

You have dims "lev" and "len" and you create variables "lev" and "len" - but you don't expect them to be coord variables because they have number of dimensions > 1? Is that correct?

[2022-08-12 14:31] dqwu commented on #2477
The original example is used by the following article on NetCDF-4 Dimensions and HDF5 Dimension Scales:
https://www.unidata.ucar.edu/blogs/developer/en/entry/netcdf4_shared_dimensions
[code]
sample is a dimension and a data variable. It's not a coordinate variable.

ship is a dimension and a 2D char coordinate variable.

Data variable sample has a name that conflicts with a dimension name. The net

[2022-08-12 20:59] WardF commented on #2472
You are correct that, typically, libraries are not meant to be used from their build directories, but instead from their 'install' directories, as specified by the `--prefix` argument when using the `configure` script, or the `-DCMAKE_INSTALL_PREFIX` argument when using `cmake`.

[2022-08-12 21:10] #1700 closed

[2022-08-13 01:15] dqwu commented on #2477
It seems that this issue is also reproducible for a regular dataset without _nc4_non_coord prefix.

[code]
sample is not a dimension, nor it is a coordinate variable. However, unexpected/unnecessary _Netcdf4Dimid attribute is created for its dataset.

[h5dump result]
[code]
Test program
[code]
Note, if we change the order of nc_def_var calls in the above test code, this issue is not reproducible:

[2022-08-13 01:33] dqwu commented on #2477
@edwardhartnett Could you please try the updated test case when you have time? Thanks.

[2022-08-16 20:24] Alexander-Barth commented on #2248
I am closing this issue since the problem did not show up again after upgrading the GCC version. Thanks to all who contributed to the discussion!

[2022-08-16 20:24] #2248 closed

[2022-08-17 16:15] mkitti commented on #2294
I'm coming from the outside, but it seems you are considering setting `HDF5_PLUGIN_PATH`. Environment variables can quite problematic, especially on Windows where mutiple copies of the C runtime library often exist. I would like to discourage that and instead encourage the use of the H5PL family of functions, which allows you to add a list of paths via a API.

https://docs.hdfgroup.org/hdf5/develo

[2022-08-17 19:08] DennisHeimbigner commented on #2294
One problem for us is that until HDF5 version 1.13 is in very general use,
we are stuck with HDF5_PLUGIN_PATH.
But in the end, the client has to specify the search path for finding plugins.
And that spec must be potentially different for every use of the library.
The new 1.13 API would give us the freedom to get the path from places
other than an environment variable. What do you propose we use to

[2022-08-17 19:17] mkitti commented on #2294
`H5PLappend` was introduced in 1.10.1:
https://portal.hdfgroup.org/display/HDF5/H5PL_APPEND

1.13 is not required for this functionality.

[2022-08-17 19:18] mkitti commented on #2294
The plugin interface might even be available in HDF5 1.8 series:
https://portal.hdfgroup.org/display/HDF5/Software+Changes+from+Release+to+Release+for+HDF5-1.8

[2022-08-17 19:59] DennisHeimbigner commented on #2294
I stand corrected about the append operation.
Still, the question remains about what alternative do we use.
As I see it, we have the following options:
1. HDF5_PLUGIN_PATH
2. The .netrc/.dodsrc file

Remember that the issue is being able to pass the path info
to the netcdf-c library at run-time independent of the program
that is using the library.

[2022-08-17 20:19] WardF commented on #2294
I think retaining the first option is a good idea, as we've already started down that route. Adding additional options (to the extent it remains practical) is a great idea, but I'm hesitant to remove ones we have introduced.

[2022-08-18 06:39] Alexander-Barth opened #2478 "File extension issue for filters when cross-compiling for Mac OS from Linux"
With NetCDF 4.9.0 and gcc 12.0.1 on a Linux host, cross-compiling for  aarch64-apple-darwin, most plugins have the extension `.dylib` as expected, but some have the extension `.so`:

[code]

As a result, the julia build system does not recognize the plugins as shared libraries. It seems that for
`lib__nczhdf5filters.so` and `lib__nczstdfilters.so` the extension for the build host is used instead t

[2022-08-18 09:39] Alexander-Barth commented on #2468
Would it be possible to enable plugins in the MinGW CI tests? And possibly also byte range support?

https://github.com/Unidata/netcdf-c/blob/main/.github/workflows/run_tests_win_mingw.yml#L38

[2022-08-18 20:44] edwardhartnett commented on #2477
Yes, but I am right in the middle of major surgery on the NOAA GRIB2 libraries, so give me some time...

[2022-08-18 21:08] WardF commented on #2468
I don't recall why they are disabled to begin with, so let's start by taking a look at what happens if we turn them on.

[2022-08-19 07:24] Alexander-Barth opened #2480 "NetCDF 4.9.0: nc_def_var_deflate fails with string variables: Filter error: bad id or parameters or duplicate filter"
I got a bug report from a julia user that deflate does no longer work with strings in NetCDF 4.9.0:
https://github.com/Alexander-Barth/NCDatasets.jl/issues/186

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

Linux 5.15.0, gcc  5.2.0

* a description of the issue with the steps needed to reproduce it

The following C code (adapted from your t

[2022-08-19 17:03] czender opened #2481 ""coordinates" attribute spelling should be lowercase in NUG"
Not to be too pedantic, but....the NUG [documentation](https://docs.unidata.ucar.edu/netcdf-c/current/attribute_conventions.html) in Appendix A spells the `coordinates` attribute name with an uppercase `C` where it is defined. The CF conventions, on which this attribute is based, always uses (AFAICT) lowercase for this attribute. I think the attribute case is non-negotiable so I suggest this one-c

[2022-08-19 19:06] DennisHeimbigner commented on #2480
See PR https://github.com/Unidata/netcdf-c/pull/2231 .
Actually compression of vlens or string never worked correctly,
even if it did not complain. The problem is that a chunk of variable length
items is actually a chunk of pointers to the actual data.  So unless a filter
handles this case specifically, it will end up compressing the pointers
rather than the data.
The PR mentioned makes it illegal

[2022-08-19 19:26] WardF commented on #2481
That is a win I will take; thanks for pointing it out! I'll get a fix in, it is a nice change of pace from trying to sort out a MinGW issue (between reading chapters of a Modern Fortran textbook).

[2022-08-19 21:02] #2472 closed

[2022-08-19 21:05] WardF commented on #2468
@Alexander-Barth I'm curious, do you run into issues when trying to enable plugins or byterange? I am struggling to get things working, even just with the byterange, in a fresh MSYS2/MinGW64 environment.  Starting with byterange, I've been able to eventually get things to compile using `pkg-config libcurl --libs` and `pkg-config libcurl --cflags`, but I then observe really odd crashes when I try t

[2022-08-19 22:55] DennisHeimbigner commented on #2478
Is this being built with cmake or automake?

[2022-08-19 23:57] WardF opened #2483 "Re-add error code table in documentation."
Due to popular demand, will be putting the table of error codes back into the generated documentation, instead of relying on the list found in the `netcdf.h`-derived documentation.

[2022-08-20 00:45] DennisHeimbigner commented on #2483
Might be a good time to check that the error codes in netcdf.h
match the messages in libdispatch/derror.c.

[2022-08-20 09:15] Alexander-Barth commented on #2478
This is with automake, autoconf tools.

[2022-08-20 16:41] DWesl commented on #2468
I have [plugins building with Autotools here](https://github.com/DWesl/netcdf-c/blob/cygwin-plugin-build/.github/workflows/run_tests_win_mingw.yml), but hadn't tried byterange.  I'm waiting on test results to see what happens.

I think the big thing with MinGW plugins is that `LDADD` only works for `PROGRAMS` targets, not `LTLIBRARIES` targets; you need to add `libnetcdf.la` to each program's `_LI

[2022-08-21 12:59] JamiePringle opened #2484 "reproducible Zarr reading error"
This is my first attempt reading zarr from netCDF, and I have found this simple, reproducible error on both my Apple Silicon and Ubuntu 20.04 machines. It exists in both 4.9.0 and 4.8.1 in different ways. I create a simple little pure zarr data set as follows with zarr 2.11.3 or zarr 2.8.1:
[code]

When I read this back in with zarr in python, as expected I get an array filled with 42.0.   When I

[2022-08-21 19:29] DennisHeimbigner commented on #2484
Can you tar/zip simple.zarr and post it here?

[2022-08-22 00:39] czender opened #2485 "ncdump failed assert() when reading NCZarr file"
Hola Unidata,

Zarr'ification of NCO is proceeding in fits and starts. When I throw a non-trivial file (below) at the `file://` scheme, I get the same breakage that I do not understand in both Unidata tools (`ncdump`) and NCO (`ncks)`. I wonder if this might be an NCZarr library issue. The following demonstrates behavior with today's main tree of netcdf-c development on up-to-date MacOS 12.4, and

[2022-08-22 07:47] Alexander-Barth commented on #2480
OK, thank you confirming. I added a note to the documentation of my julia package that strings a vlen arrays cannot be compressed.

[2022-08-22 07:47] #2480 closed

[2022-08-22 11:40] JamiePringle commented on #2484
Yes; see attached. Thanks, Jami
[simple.zarr.zip](https://github.com/Unidata/netcdf-c/files/9393933/simple.zarr.zip)
e

[2022-08-22 12:11] JamiePringle commented on #2484
I have just confirmed that I get the same bad result when creating the zarr file with xarray.  ncdump returns bad data for 4.8.1, and hangs for 4.9.0. Using xarray 0.20.1, zarr 2.8.1, and the following code which fills the array with 42.,
[code]

running `ncdump 'file://simple_xarray.zarr#mode=nczarr,zarr'` produces the entirely incorrect (note also the coordinates)
[code]

The zarr file is attach

[2022-08-22 15:51] Alexander-Barth opened #2486 "NetCDF 4.9.0: segmentation fault after repeatedly opening a NetCDF 4 file, reading a vector and closing the file"
The julia user @sjdaines  reported this  segmentation fault (https://github.com/Alexander-Barth/NCDatasets.jl/issues/187 ), when repeatedly open a NetCDF 4 file, reading a vector and closing the file. After doing this ~1 000 000 times we have a segmentation fault. For the original use-case, the error occurs much earlier.

* the version of the software with which you are encountering an issue

NetC

[2022-08-22 16:28] WardF commented on #2486
Interesting, and thank you for the comprehensive information! I'll set up to replicate this, thanks!

[2022-08-22 20:43] WardF commented on #2486
Notes to self:  v4.9.0 w/ HDF5 1.12.2 does not manifest this issue on MacOS M1.  Setting up a 1.12.1 environment.  @Alexander-Barth would it be possible to get the corresponding `libnetcdf.settings` and `libhdf5.settings` files from the environment where the issue is being observed?

[2022-08-22 20:59] WardF commented on #2486
Also, @Alexander-Barth, on the system that's failing, what happens if you compile and run the program as follows:

    $ gcc -g test_segfault6.c $(nc-config --cflags --libs) -fsanitize=address -fno-omit-frame-pointer

This makes some assumptions about the capabilities of the underlying compiler/system, and it's possible it will simply fail to compile due to unrecognized arguments.  But *if* it com

[2022-08-22 22:24] WardF commented on #2485
I'm able to duplicate this on MacOS 12.5.1; any immediate idea, @DennisHeimbigner ? I'll keep digging in as well.

[2022-08-22 22:31] DennisHeimbigner commented on #2485
The problem appears to be the handling of scalars. Pure Zarr does not
support scalar values, but NCZarr does. So I have code to treat a scalar
as of shape "[1]" and then having hacks in various places to recognize
the situation.
Anyway, there is a bug in the handling of scalars.
A temporary work around is defining dimension named "scalar"
and convert the scalar variables such as lat_times_lon_nb
t

[2022-08-22 23:30] czender commented on #2485
Thanks for looking into this. I hadn't realized there was anything special about scalars in Zarr vs. NCZarr. I'll continue the Zarr-ification and just test it without scalars until a patch for scalars is merged.

[2022-08-23 00:27] DennisHeimbigner commented on #2485
I had better make sure that is mentioned in the documentation.

[2022-08-23 07:36] Alexander-Barth commented on #2486
This is libhdf5.settings (HDF5 is taken from https://anaconda.org/conda-forge/hdf5/1.12.1/download/linux-64/hdf5-1.12.1-nompi_h2750804_103.tar.bz2)

[code]

This is libnetcdf.settings

[code]

Interestingly with `-fsanitize=address -fno-omit-frame-pointer` the code fails right-away:

[code]

[2022-08-23 08:00] Alexander-Barth commented on #2486
I am rerunning this test case with gcc 12.1 and NetCDF compiled with -g which gives a more complete stack trace and line numbers:

[code]

The failure in `strdup` starts to resemble another issue (possibly related) reported here:

* https://github.com/JuliaPackaging/Yggdrasil/pull/5319#issuecomment-1221042734
* in particular https://github.com/JuliaPackaging/Yggdrasil/pull/5319#issuecomment-122114

[2022-08-23 08:13] Alexander-Barth commented on #2486
@sjdaines also reported an error with classical NetCDF files:
https://github.com/Alexander-Barth/NCDatasets.jl/issues/187

[2022-08-23 13:34] WardF commented on #2486
Interesting, thank you.  I will continue working on duplicating this; I am unable thus far to replicate the error on MacOS or Linux, using the .nc and C code provided, with or without memory sanitizing.  I'll take a closer look at the `.settings` files provided when I get in to the office.

[2022-08-23 13:49] JamiePringle commented on #2484
These are both stock Conda installs; the Blosc filter is what ships with them. There is not HDF5_PLUGIN_PATH specified. I think the Blosc filter comes from the numcodecs python package, which is version 0.10.2.   If you use Conda to create an environment with numpy, xarray, and zarr, you should be able to replicate my test setup. If you have Conda installed, you can do `conda create -n numpy xarra

[2022-08-23 15:53] czender commented on #2485
I can confirm that adding a degenerate (size=1) dimension to all the scalars in that test file results in the expected/desired behavior. Also that I do not see the special treatment of scalars mentioned in the NCZarr documentation.

[2022-08-23 16:07] Alexander-Barth commented on #2486
Surprisingly, if netcdf is compiled without `-std=c99` (add in the past because of variable declaration within a function body, but no longer necessary in NetCDF 4.9.0), we do no longer have this failure right at the beginning:

[code]
I am making the long test now.

[2022-08-23 16:15] WardF commented on #2486
No problem looking into this; we have a long list of things to address but it comes down more to resource management than anything else; we will get to everything in time XD.  One hopes.

The Sanitizer is great (I was aware of it, but thanks to @edwardhartnett for bringing it into our regular toolbox), it helps flag memory management issues the moment they occur, not when they eventually become pr

[2022-08-23 17:07] WardF commented on #2486
Frustratingly, adding `-std=c99` to my local `netcdf-c` build doesn't trigger the error in my environment, either. But, continuing to try to track this down.

[2022-08-23 19:56] DennisHeimbigner commented on #2484
In order to read that file, you will need to find out where the C version
of blosc is installed. The python version in numcodec will not work with C code.
You might try searching for a file whose name begins with the string "lib__nch5blosc"

[2022-08-23 20:22] Alexander-Barth commented on #2486
If it is helpful, setting up a sandbox with gcc 12.0.1 (or other version) and all necessary libraries (HDF5, zlib and libcurl) can be achieved with the following commands on a Linux system. You only need to have git pre-installed (which is likely :-))
Assuming your current directory is empty and writable and that you have about 5 GB in your home partition, one can use:

[code]

The warning `Warnin

[2022-08-23 22:06] WardF commented on #2486
@Alexander-Barth This is great, actually; it will help a lot to be able to replicate the environment.  I will take a look at this tomorrow; my day-to-day machine is ARM, so I will move over to an x86-64 machine to test this out.  I will also try under emulation if it comes down to it.  Thanks!

[2022-08-24 02:09] DennisHeimbigner commented on #2484
I should note that NCZarr is intended to be compatible with the Zarr Version 2 Specification. It is possible that the python zarr implementation differs
from that spec in some details, but I have not observed it.

There is a description of NCZarr compressor (aka filter) support here: https://raw.githubusercontent.com/Unidata/netcdf-c/main/docs/filters.md

Look at the section entitled "# NCZarr Fil

[2022-08-24 02:31] DennisHeimbigner commented on #2484
Is there a contact in the R community with whom I can discuss
the use of compressors in NCZarr in the context of R?

[2022-08-24 11:56] JamiePringle commented on #2484
The standard in R is ncdf4 package, the contact information in the R community is given in: https://cran.r-project.org/web/packages/ncdf4/index.html

The zarr that I am producing is the standard Zarr 2 specification as produced by the python zarr package -- see https://zarr.readthedocs.io/en/stable/release.html

I just want to re-iterate that the programs I have given you, and the files I have upl

[2022-08-24 15:35] WardF commented on #2486
@Alexander-Barth So, I'm running the scripts you provided above.  First, this is great, I will definitely spend some time unpicking the actual Julia scripts.  Julia is one of those languages that's been on my radar/to-do list, but I haven't had the chance to explore.  But this containerized build system is a big help.

I'm running the provided scripts on my x86_64 dev system, under WSL (if that ma

[2022-08-24 15:50] WardF commented on #2486
Ok, I am able to recreate this now, and I have a couple of leads on it.  Thanks!

[2022-08-24 16:06] WardF opened #2487 "Potential jump-misses-init issue in ncgenl.c"
While investigating #2486 I had cause to look into the details of `-std=c99`.  I was able to detecting a potential issue in `ncgenl.c` when compiling with `-Werror=jump-misses-init`.  I am curious to see if correcting this potentially corrects the error observed by the Julia build team in #2486, which was resolved by removing "-std=c99" from their `CFLAGS`.  It's a shot in the dark, but worth fixi

[2022-08-24 16:53] #2487 closed

[2022-08-24 16:58] WardF commented on #2486
With some testing, I'm now observing the following:

(where v8.8.8 is a temporary tag I've created in `WardF/netcdf-c` to test fixes w/ the Julia build system).

[code]

Running through gdb, I'm observing the following:

[code]
It appears something unexpected is happening with `strdup()`; whatever is happening, it does not occur in the WSL-based code.  Investigating further.

[2022-08-24 17:00] WardF commented on #2486
Note to self: I've confirmed that removing the `-std=c99` corrects the issue observed above.

[2022-08-24 17:11] WardF commented on #2486
@Alexander-Barth So, this has been a valuable and interesting exercise.  I believe that the fix you have adopted here, the removal of `-std=c99` from `CFLAGS`, is the correct one, and this issue can be closed.  However, I'll be bookmarking it for reference to the scripts you provided above; thank you once again, very much.

A cursory Google search for `"-std=c99" strdup` turns up a *lot* of simila

[2022-08-24 17:54] dopplershift commented on #2484
The intention is for netCDF to support generic Zarr output, so this should readily be fixable.

@DennisHeimbigner It's already been shown here that the Zarr data in question works fine through Python but fails with `ncdump`, so there's nothing R-specific at play here. My guess is there is a build-time or run-time issue getting the right copy of the blosc filter library linked. We need robust docum

[2022-08-24 18:38] DennisHeimbigner commented on #2484
We seem to be talking at cross purposes. I can read that file perfectly well with ncdump and with the C-language plugins properly installed.

I must remind [JamiePringle](https://github.com/JamiePringle)  that the compressor implementations are language dependent. So NCZarr (C language) cannot use the NumCodec compressors (Python language).

The missing information is how netcdf-c is being install

[2022-08-24 18:52] DennisHeimbigner commented on #2484
I just sent a message to the maintainer of ncdf4 to see if he can provide insight into how ncdf4 handles plugins. I will pass along any useful response.

[2022-08-24 18:56] dopplershift commented on #2484
@JamiePringle Can you share the commands you used to build and install netcdf-c 4.9.0? Also, to be clear, you're not setting any `HDF5_PLUGIN_PATH` when running `ncdump`?

[2022-08-24 21:01] JamiePringle commented on #2484
@dopplershift I am using the ncdump commands provided by Macports (4.9.0 on the Mac) and the Conda install on both Mac and linux machines.  I am not setting any HDF5_PLUGIN_PATH .   I have compiled netCDF before, but I want to test the system that my data consumers are most likely to use.

I am happy to compile netCDF myself -- but it does not really solve my larger problem.

@DennisHeimbigner: yo

[2022-08-24 21:03] krisfed commented on #1985
Sorry, doing a check-in again - looks like this is still an active issue, but it might get addressed in next release (v4.9.1)?

[2022-08-25 09:42] Alexander-Barth commented on #2486
OK, this a very interesting find! So `strdup` is not part of C99 and indeed the compiler emitted a warning which I did not see.

What is surprising, is that according to `config.h`, `strdup` is available (but it is not):

[code]
Despite the test using the option `-std=c99`:

[code]

For reference, there is previous discussion about this:
https://github.com/Unidata/netcdf-c/issues/1408

I am closin

[2022-08-25 09:42] #2486 closed

[2022-08-25 09:52] Alexander-Barth commented on #2337
I am closing this issue because it is likely to be the same as: https://github.com/Unidata/netcdf-c/issues/2486

The option  `-std=c99` (used here) results that the function `strdup` is undefined and any operation on strings like using the home path leads in a crash.

Thank you very much for implementing the new API and your work in NetCDF in general !

[2022-08-25 09:52] #2337 closed

[2022-08-25 10:55] krisfed commented on #2212
Hi Dennis! Just wanted to check - is this still an active issue? I know there were a bunch of NC_VLEN fixes in v4.9.0, but I think you mentioned above that this specific scenario might not be addressed...

[2022-08-25 11:04] krisfed commented on #2181
Hi, just wanted to check for any updates! I know this is a very-very edge-case scenario, but we do still see the crash even with the suggested workaround:

[2022-08-25 11:12] krisfed commented on #1672
Hi, just wanted to check if there are any new updates, or if this is still on a back-burner for now.

[2022-08-25 16:28] WardF commented on #2484
@DennisHeimbigner Did you install `Blosc` manually, or are you using something provided by a package manager? I think the main issue we're having here stems from growing pains associated with relatively new, powerful functionality in the core library.  As more people start using this functionality, we'll be able to refine our documentation and support procedures.

If I'm understanding the main thr

[2022-08-25 16:54] JamiePringle commented on #2484
@WardF I am not sure if you were asking me, but the netCDF installs I was using are those provided either by Conda, or by macports (Conda installs a full set of netCDF libraries and binaries when it installs a package that requires netcdf). In all cases I used stock installs, and was careful to look in the paths so that I was not mixing and matching libraries and executables. It is worth noting th

[2022-08-25 17:00] WardF commented on #2484
Hi @JamiePringle I was primarily asking Dennis, but it would be great if you were able to report the dependencies on your MacOS machine.  I believe you'll need to use `otool -L` on MacOS instead of `ldd`.

That said, the compressor libraries are pulled in at runtime and won't necessarily show up as links to the libraries.  That's what the `HDF5_PLUGIN_PATH` mechanism/variable is meant to specify.

[2022-08-25 18:09] JamiePringle commented on #2484
@WardF Will do this evening. Note that I had the exact same issues on my ubuntu 20.0.4, even including the exact values of the output from ncdump...

[2022-08-25 19:18] DennisHeimbigner commented on #2486
I recall now. It turns out that, as you note, a number of functions like strdup
are not officially part of c99. However it is also the case that, at least for gcc,
the c library actually contains strdup implementation and if you had
extern char* strdup(const char*) to a header, it actually finds it.
If you look at ncconfig.h, you will see a number of declarations
that try to deal with this.

[2022-08-25 19:32] DennisHeimbigner commented on #2484
````Also, if you look above, I link to the c-library that numcodecs uses to do the blosc compression.````
The key thing to understand is that NCZarr uses the existing HDF5 compression
mechanism, which is, unfortunately, a bit complicated. We have attempted
to simplify things.
The important thing to note is that HDF5 and NCZarr do not invoke the
compressor such as c-blosc directly. Rather, the comp

[2022-08-25 20:12] WardF commented on #1985
@krisfed thanks for checking in; we are working through.  It can be tricky to determine what will make it into the release, given the resources we have to work with, but we will try to have this in the `4.9.1` release :)

[2022-08-25 22:42] DennisHeimbigner commented on #2212
There has been no progress on this.

[2022-08-26 12:19] krisfed commented on #1985
Thank you Ward! Yes I bet there are many things to juggle, thanks for taking a look!

[2022-08-26 15:28] JamiePringle commented on #2484
@DennisHeimbigner @WardF @dopplershift I would be happy to post to either zarr developers or track down the maintainer of the zarr conda maintainer to nudge them as well towards doing what needs to be done. The existing packages do read their own blosc compressed data (it is their default).

These installs do not include a plugins directory for netCDF/HDF, as far as I can tell.

Or is their a help

[2022-08-26 17:29] DennisHeimbigner commented on #2484
Thanks. If you can figure out to whom I should talk, please tell me.
[Ward would it be possible to tar up a Mac copy of the plugins and
send it to Jamie so that he can move forward?]

[2022-08-26 17:34] dopplershift commented on #2484
@DennisHeimbigner Well in regards to fixing up conda, we can start by fixing the build of 4.9.0. See this open PR that you're tagged on: https://github.com/conda-forge/libnetcdf-feedstock/pull/140

[2022-08-26 18:00] DennisHeimbigner commented on #2484
This should have been fixed with PR https://github.com/Unidata/netcdf-c/pull/2448
which apparently has been merged to master.
Are you in a position to verify the fix?

[2022-08-26 18:09] WardF commented on #2484
@DennisHeimbigner I'll be happy to but can you let me know if you installed blosc from a package manager of some sort, or if you compiled from source? Thanks :)

[2022-08-26 18:26] dopplershift commented on #2484
@DennisHeimbigner I'm working to verify, but at some point someone else needs to learn the conda-forge stuff so I'm not in the critical path. It's already critical to so much of our community, and it may be even more important to reliably deploy these complicated plugin-based setups.

[2022-08-26 18:28] DennisHeimbigner commented on #2484
As I recall, I installed c-blosc on Ubuntu 21 using apt to get package libblosc-dev

[2022-08-26 21:52] wkliao opened #2489 "NC_CLASSIC_MODEL and nc_enddef"
When using flag `NC_CLASSIC_MODEL` to create an HDF5-based file,
is calling `nc_enddef()` required before the first put/get var call?

In the NetCDF-C document, [nc_enddef](https://docs.unidata.ucar.edu/netcdf-c/current/group__datasets.html#gab794d8099a50a0c87cbd312e2f28d3c7) has the following statement, which implies it is not required.
[code]

[2022-08-27 01:05] edwardhartnett commented on #2489
Yes it is necessary when NC_CLASSIC_MODEL is used.

It is not necessary for netCDF-4 files which were created without NC_CLASSIC_MODEL.

[2022-08-27 02:52] DennisHeimbigner opened #2490 "HDF5 pre-built filter shared libraries.."
I see that HDF5 is now providing pre-built filter plugin shared libraries. See here:

How if at all should we consider making use of these?

[2022-08-27 05:05] wkliao commented on #2489
I am interested in learning the reason of why it is required. Could you please explain?

Also, look like the nc_enddef document can use a clarification.

[2022-08-27 11:22] paapu88 commented on #2459
I confirm this problem with netCDF4==1.6.0 (Ubuntu 22.04)

After saying `pip install netcdf4==1.5.7`
problem disappeared, the resulting environment (that works fine) is:
[code]
Terveisin, Markus

[2022-08-27 19:29] DennisHeimbigner commented on #2459
After re-reading this chain, I note that I was wrong and that
HTTP.SSL.CAINFO apparently does not take the same argument as HTTP.SSL.CAPATH.  CAPATH points to the containing directory and CAINFO points to the actual cert file. So you might set up .ncrc with the correct HTTP.SSL.CAINFO and see what happens.

[2022-08-27 20:04] DennisHeimbigner commented on #2478
I find this baffling since as near as I can tell, l
lib__nczhdf5filters is built in exactly the same way as
e.g. lib__nch5blosc

[2022-08-28 04:01] DennisHeimbigner commented on #2485
Fixed(?) by https://github.com/Unidata/netcdf-c/pull/2492

[2022-08-28 04:02] DennisHeimbigner commented on #2474
Partly fixed by https://github.com/Unidata/netcdf-c/pull/2492

[2022-08-28 04:03] DennisHeimbigner commented on #2465
Fixed by https://github.com/Unidata/netcdf-c/pull/2492

[2022-08-29 18:33] DanCodigaMWRA commented on #2459
I tried some other permutations of CAPATH (path only) and CAINFO (filename only, or path with filename) but still no joy. I also tried HTTP.SSL.VERIFYPEER=0 and HTTP.SSL.VALIDATE=0 but no success. Thank you for circling back with the suggestion @DennisHeimbigner.

[2022-08-29 18:49] DennisHeimbigner commented on #2459
Sorry that we could not solve this. I am out of ideas.

[2022-08-31 00:09] czender opened #2494 "new ncdump failure to print NCZarr variable"
Hi, After building today's netcdf-c snapshot that includes PR #2492, I noticed that `ncdump` and `ncks` now fail to print some NCZarr variables that they previously worked well with. Here is the symptom:
[code]
Note that `ncdump` and `ncks` continue to print the `in_zarr4.nc` file correctly.
The problem can be demonstrated by trying to dump the NCZarr version of the attached [in_zarr4.cdl.txt](htt

[2022-08-31 16:06] czender commented on #2490
A few thoughts:
First, at least two of the codecs (ZFP and BitShuffle) offer desirable characteristics not currently easily (i.e., without tedious build/installation procedures) available to netCDF users. To maximize dataset interoperability, it is important to use only codecs that have well-defined, stable, APIs so downstream users can uncompress the data for years/decades. Until quite recently (

[2022-09-01 16:57] WardF commented on #2494
Thanks @czender, I'll take a look.  @DennisHeimbigner, does anything leap out at you immediately?

[2022-09-01 17:29] WardF commented on #2494
@czender I'm having problems finding a version of netCDF-C that worked with the process outlined above.  Using `v4.9.0` gives me errors when trying to generate the zarr data, or when trying to read the zarr data created by the latest snapshot.  Can you point me to the version that works from you, and I can start from there?  I'll also keep poking through to try to figure out what's going on.

[2022-09-01 17:44] czender commented on #2494
@WardF thanks for taking a look. Everything reported above was done with the latest (today's) snapshot of netcdf-c 4.9.1-development. I just repeated the procedure, and obtain the same results as above. 4.9.0 will fail to generate the Zarr file because strings were not supported until PR #2492 was merged a few days ago. Please retry with the latest main trunk.

[2022-09-01 17:52] WardF commented on #2494
@czender Thanks! I'm digging through this and am narrowing down the 'where', and then can start to figure out the why.

I've run `ncdump` using a build with logging turned on, and passing `-L10`.  I'm seeing the following:

[code]

Still working on this; we are hoping to have a `4.9.1` maintenance release out ASAP, and this is the sort of Zarr-related issue we want to get fixed for it. Thanks!

[2022-09-01 18:06] DennisHeimbigner commented on #2494
I need to remember to indicate that I am working on an Issue.
In any case, I am testing a fix for this now.

[2022-09-01 19:47] WardF commented on #2494
Thanks @DennisHeimbigner I'll pivot back towards other issues/esupport.

[2022-09-01 21:28] WardF commented on #2484
Just an update on this; using the `libblosc.1.12.1.dylib` provided by `homebrew`, I get an `EXC_BAD_ADDRESS` error (see below).

[code]

Using a version of `libblosc.21.1.dylib` compiled manually, I get an "undefined filter" error.

[2022-09-01 21:37] WardF commented on #2484
(note, the results in my previous message were generated w/ the current developer snapshot of netcdf-c.  I'm able to replicate @JamiePringle's results with `v4.8.1`, reported at the top of this thread, as well.)

(quoting for my own reference)

[2022-09-01 21:56] WardF commented on #2484
@DennisHeimbigner Can you talk more about how you were able to read the file on Ubuntu? It seems pretty straightforward, set `HDF5_PLUGIN_PATH` to the appropriate location after installing `libblosc-dev` via the Ubuntu package manager, and then running `ncdump "file://simple.zarr#mode=nczarr,file"`, but I am not having much luck.  On my Ubuntu machine, I follow these steps and get a core dump when

[2022-09-01 22:08] DennisHeimbigner commented on #2484
What is the "appropriate location" you used for HDF5_PLUGIN_PATH?

[2022-09-01 22:16] WardF commented on #2484
@DennisHeimbigner On my system? `/usr/lib/aarch64-linux-gnu/`

[2022-09-01 22:21] DennisHeimbigner commented on #2484
Remember you need to point to the directory that contains the file
lib__nch5blosc.so

[2022-09-01 22:36] WardF commented on #2484
That file was not installed as part of `libblosc-dev`; I knew this would be a straightforward issue, thanks @DennisHeimbigner.  How is the file `lib__nch5blosc.so` created?

[2022-09-01 23:44] DennisHeimbigner commented on #2484
As a reminder,  note that HDF5 and NCZarr do not invoke the
compressor such as libblosc.21.1.dylib directly.
Rather, the compression code is wrapped
in code that translates the HDF5/NCZarr API to the ibblosc.21.1.dylib
compressor code.
If NCZarr (and HDF5) cannot find those wrappers, then it cannot apply compression to the dataset.
I assume that the --enable-filters option is enabled.
Then these w

[2022-09-03 17:55] rouault opened #2496 "Crash when opening same NC4 file from different threads BUT under global mutex"
This is an attempt at providing a minimum reproducer for https://github.com/OSGeo/gdal/issues/6253

The attached [docker.zip](https://github.com/Unidata/netcdf-c/files/9483117/docker.zip) contains a simple Dockerfile building libhdf5 and libnetcdf, and a simple C++ program.
The C++ program loops at creating 2 threads, which open the same NC4 file and one calls nc_inq_varname(). It is to be noted t

[2022-09-03 18:03] lnicola commented on #2496
Possibly related, we're seeing a similar crash when opening different files: https://github.com/georust/gdal/issues/299. One difference is that there it seems to overflow the stack while trying to print a stack trace (but that's just a guess, I'm not familiar with the two libraries).

[2022-09-03 20:27] DennisHeimbigner commented on #2494
Hopefully fixed by https://github.com/Unidata/netcdf-c/pull/2497

[2022-09-03 20:35] DennisHeimbigner commented on #2496
Do you know if you are using pthreads for your mutex?

[2022-09-03 20:52] rouault commented on #2496
using std::thread requires linking the code with -lpthread. Apparently the std::mutex implementation on Linux / gcc also uses pthread_mutex_lock() / pthread_mutex_unlock() underneeth.

cf
[code]

To be noted that the original reproducer with GDAL uses a global lock that is a pthread_mutex_t
I seem to have found a workaround on GDAL side in https://github.com/OSGeo/gdal/pull/6311 by re-using the sa

[2022-09-05 12:36] mmeindl97 commented on #1122
Which Version of HDF5 and netcdf-c do you mean by your last post? With hdf5-verson 1.10.5 I get:

[n405-001:220119] *** An error occurred in MPI_Comm_create_keyval
[n405-001:220119] *** reported by process [13875379257834143745,0]
[n405-001:220119] *** on communicator MPI_COMM_WORLD
[n405-001:220119] *** MPI_ERR_ARG: invalid argument of some other kind
[n405-001:220119] *** MPI_ERRORS_ARE_FATAL (p

[2022-09-05 14:22] joshmoore commented on #2474
@DennisHeimbigner, to clarify: is the intent for netcdf-c to be considered a Zarr library (as opposed to an nczarr library)?

@dzenanz: will you have a chance to test if the partial fix works for you?

[2022-09-05 19:01] DennisHeimbigner commented on #2474
The primary goal is to read/write netcdf-4 stored in Zarr format datasets.
But since netcdf-4 does not exactly map to Zarr v2, it is necessary
to add **optional** extensions to Zarr to support netcdf-4 concepts.

On the other hand, we do not want to cut ourselves off from pure Zarr
datasets. So, a sub-goal is to support mapping a **subset** of netcdf-4
to pure Zarr. This sub-goal allows us to acce

[2022-09-06 06:24] joshmoore commented on #2474
Thanks for the explanation, @DennisHeimbigner. I definitely understand the primary goal. But is there also a sub-goal of mapping _all_ pure Zarr datasets to some subset of netcdf-4?

[2022-09-06 18:11] DennisHeimbigner commented on #2474
Short answer is yes. For example, I have just added support for Zarr fixed length
string type. There are a couple of other things I will be adding when there
specification is stable: .zmetadata (aggregate metadata) and sharding.
If there is something you would like to see that I have missed, then let me know.

[2022-09-06 19:38] joshmoore commented on #2474
I guess I defer there to @dzenanz' testing since in https://github.com/Unidata/netcdf-c/issues/2474#issuecomment-1211459122 there appear to be Zarr datasets that aren't openable. If it would help to copy them somewhere for testing, happy to help.

[2022-09-06 19:39] WardF commented on #2484
Thanks, Dennis, I've gotten everything working.  Let me think about this.

[2022-09-06 19:55] WardF commented on #2473
Coming back to this issue as I wrap up others.  Hoping to have this resolved for the `4.9.1` maintenance release slated for this month.

[2022-09-06 19:58] WardF opened #2498 "Check for zstandard plugin should check for development headers, not just runtime library."
Running into a case on MacOS where the `zstd` plugin is being enabled because `libzstd` is being detected, but compilation fails because `homebrew` doesn't offer a package containing the appropriate development headers.  As a result, we should check for the appropriate includes.

Tangentally related to https://github.com/Unidata/netcdf-c/issues/2473

[2022-09-06 20:01] WardF opened #2499 "Github Actions: LGTM.com is being EOL'd, we need to migrate to CodeQL."
See [https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/](https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/) for more information.

[2022-09-07 16:50] czender commented on #2494
@DennisHeimbigner I tested this morning's snapshot of `main` which includes #2497. It does fix the original problem in this post. However, a new issue has crept in that may be netCDF library related. The symptom is that `ncks` correctly prints the contents of a Zarr file to `stdout`, but now also fills-up `stderr` with this undesired message, once per variable:

`*** Unmatched untrace: fcn=ncz_get

[2022-09-07 18:24] DennisHeimbigner commented on #2494
Darn, I forgot to turn off a debugging flag.
You can fix in libnczarr/zdebug.h
At about line 11 change
[code]
I will put up a fix.

[2022-09-07 18:45] abhibaruah opened #2500 "test_byterange.sh failure with URL3 thredds link"
NetCDF version: v4.8.1
OS: Linux Debian 11

While trying to build netcdf v4.8.1, we see failures in the test test_byterange.sh.
The log file netcdf/Testing/Temporary/LastTest.log has the following log:

[code]

Looks like the failure is only with URL3="https://thredds-test.unidata.ucar.edu/thredds/fileServer/pointData/cf_dsg/example/point.nc#mode=bytes"

When I comment out this URL, the test passe

[2022-09-07 18:47] czender commented on #2494
Thanks, yes, that eliminates the `stderr` output. `ncks` and `ncdump` now dump the Zarr version of `in_zarr4.cdl` correctly. So I will close this issue. However, heads-up that `ncks` and `nccopy` do encounter a fatal issue when trying to copy the Zarr version of an updated `in_zarr4.cdl`. I bet you could find it on your own by trying to `nccopy` the Zarr version of this slightly updated version of

[2022-09-07 18:51] DennisHeimbigner commented on #2500
Sorry about that. Recently, thredds-test was de-commissioned
so those URLS are no longer supported. I put up a PR to fix this.
If you need byterange, then you will need to kill those URLS.
Otherwise use option --disable-byterange

[2022-09-07 19:00] abhibaruah commented on #2500
Thanks for the update. For now, we can remove those URLs.
Will the test dap4_test/test_thredds.sh be removed/updated as well?

[2022-09-07 19:04] DennisHeimbigner commented on #2500
Yes, I am eliding all thredds-test URLs. I will probably re-introduce
the equivalents when I can find an alternate server.

[2022-09-07 20:00] WardF commented on #2484
I'll also be updating `nc-config` to have the option to report plugins supported.

[2022-09-08 15:50] WardF commented on #2494
Is the fix in a current PR or is there a new one pending?

[2022-09-08 16:02] JamiePringle commented on #2484
Thank you for this; it is very useful. I will test and make sure
uncompressed zarr is readable by the stock CRAN and conda builds. But
uncompressed files would be a significant issue for distributing data.

Do you have any plans to reach out to the folks who package the netCDF used
in conda, CRAN & the like?  I wonder if there is something you can do in
the building instructions to highlight the u

[2022-09-08 16:03] dzenanz commented on #2474
Trying to read `C:\Dev\ITKIOOMEZarrNGFF\v0.4\cyx.ome.zarr` with updated version of netCDF still produces the same error: `NetCDF: NCZarr error` when invoking `nc_open`. Same happens for the other files there (`yx.ome.zarr` and `multi-image.ome.zarr`). I am using a slightly modified netCDF: https://github.com/dzenanz/netcdf-c/tree/itkSpecific.

[2022-09-08 16:05] DennisHeimbigner commented on #2494
It will be a new one.

[2022-09-08 16:14] DennisHeimbigner commented on #2474
That is because the OME use of _ARRAY_DIMENSION is still wrong and I
cannot fix that particular problem.

[2022-09-08 20:08] dzenanz commented on #2474
Removing either `_ARRAY_DIMENSION` attributes or leaving just one scale gets me further: `NetCDF: Filter error: undefined filter encountered`. That is understandable, since the array has:
[code]

[2022-09-08 22:38] #2481 closed

[2022-09-08 23:02] DennisHeimbigner commented on #2474
How did you install netcdf-c? Are you building it yourself?

[2022-09-08 23:15] czender opened #2502 "nccopy dies when copying an NCZarr file"
Using the latest snapshot (9/8/22, 5 PM MT) both `nccopy` and `ncks` fail to copy the
[in_zarr4.cdl](https://github.com/Unidata/netcdf-c/files/9531082/in_zarr4.cdl.txt) file I posted yesterday. As mentioned in #2494, the `ncdump` and `ncks` tools now successfully print the Zarr version of that file. Here the issue is copying, not printing.

Here are some complementary symptoms that should be easy

[2022-09-09 12:50] dzenanz commented on #2474
To have the latest version, I have to build it myself. My build setup is here: https://github.com/InsightSoftwareConsortium/ITKIOOMEZarrNGFF/pull/6
Here, I am trying to add zip support to the build: https://github.com/dzenanz/ITKIOOMEZarrNGFF/commit/0bbea2563204e8bb204387852ec4d41b465ccd01
the current stumbling block is here: https://github.com/dzenanz/ITKIOOMEZarrNGFF/commit/0bbea2563204e8bb20438

[2022-09-09 17:09] DennisHeimbigner commented on #2474
So it looks like you are building with your own CMakeLists.txt and not
using the one provided by netcdf, correct?

[2022-09-09 19:00] dzenanz commented on #2474
I modified netCDF's CMakeLists.txt, in order to point to HDF5 bundled with ITK, and to avoid some duplicate targets with other libraries I use together.

[2022-09-10 01:31] DennisHeimbigner commented on #2502
Hopefully fixed by PR https://github.com/Unidata/netcdf-c/pull/2503

[2022-09-11 21:19] MicroTed commented on #1886
OK, I made some progress on this and have a relatively small example that demonstrates my problem and can be found here (the readme has info on setup and running to get the enddef error):

https://github.com/MicroTed/ncpartest.git

Basically, it sets up a grid structure with a number of 0d, 1d, 2d, and 3d variables, which may or may not be time dependent. The dimensions are time (TIME), x axes (XC

[2022-09-14 17:15] jim22k opened #2506 "nczarr replaces double-quotes in attributes with single quotes"
I don't know if this is specific to netcdf4-python or the C implementation, but when saving in nczarr format, every instance of a literal double-quote in an attribute string is replaced with a literal single-quote.

I am running netcdf4-python version 1.6.0 on a Mac, with python version 3.9.13.

Code to replicate:
[code]

[2022-09-15 08:20] czender commented on #2502
PR #2503 may have fixed the original problem though it seems to have introduced at least one regression, because `nccopy` does not successfully copy with the command and file referenced above. Using the latest netCDF-c from this morning 10 AM CEST 9/15/22, here are the results of the above commands with `nccopy` and `ncks` trying to copy i`n_zarr4` from NCZarr to NCZarr. The commands now fail at a

[2022-09-15 14:13] DennisHeimbigner commented on #2502
Try regenerating in_zarr4 from in_zarr4.cdl and see if it works.
I think I introduced a back compatibility failure.

[2022-09-15 14:45] czender commented on #2502
YES!!! I guess the on-disk NCZarr format changed due to the recent PR and the new library is incompatible with the old format. Glad you thought of that. Copying and printing both work as advertised. I'll close this issue. Thanks, @DennisHeimbigner

[2022-09-15 14:47] #2494 closed

[2022-09-15 14:47] #2502 closed

[2022-09-15 14:47] #2458 closed

[2022-09-16 02:17] DennisHeimbigner commented on #2506
It does not appear to be in the netcdf-c library. Attached is a C language program to test it out.
[tquote.c.txt](https://github.com/Unidata/netcdf-c/files/9580077/tquote.c.txt)

Assuming  my test program is correct, then my best guess is that the python wrapper for the netcdf-c library is` the culprit.

[2022-09-16 18:04] dopplershift commented on #2506
@jim22k What version of libnetcdf do you have installed? It looks like the culprit is in the `escape` function as of 4.8.1:

https://github.com/Unidata/netcdf-c/blob/cd6173f472b778fa0e558982c59f7183aa5b8e47/libdispatch/ncjson.c#L780-L804

It was erroneously replacing `"` with `'` there on line 793.

@DennisHeimbigner it looks like you already fixed this issue and it was released in 4.9.0. But yes,

[2022-09-16 18:07] #2506 closed

[2022-09-16 18:21] DennisHeimbigner commented on #2506
I stand corrected.

[2022-09-16 18:44] jim22k commented on #2506
Sure enough, I have libnetcdf 4.8.1. I'll upgrade to 4.9.0. Thanks!

[2022-09-19 21:58] WardF commented on #2498
Fixed.

[2022-09-19 21:58] #2498 closed

[2022-09-20 14:51] nvishnoiMW opened #2510 "SegV while opening a netcdf file twice (at the same time) and calling nc_get_var_string on a string variable"
Hi everyone,

I am seeing a SegV with NetCDF 4.8.1 and HDF5 1.10.8 (note that the crash does not happen with NetCDF 4.8.1 and HDF 1.8.12) when trying to open and read a string variable twice while using different file handles. Please see the attached script that would create a .nc (NetCDF4) file and would try to read data from it. I had to rename it to main.txt from main.c otherwise I was unable t

[2022-09-20 20:15] WardF commented on #2510
I can confirm that I'm able to replicate this issue with HDF5 `1.10.8`, using netCDF-C `v4.8.1`, `v4.9.0`, and the `main` development branch.  I suspect this is an issue in HDF5 `1.10.8`, since the crash doesn't occur (as you observe) in the `1.8.x` versions, nor does it occur when using HDF5 `.1.12.x`.

[2022-09-20 20:20] DennisHeimbigner commented on #2510
I ran the test with valgrind on ubuntu21. Valgrind reported
a read after free error somewhere deep in the HDF5 library.

[2022-09-20 20:23] WardF commented on #2510
This sounds like an issue that may need to be documented on our end, and raised with the HDF group.  Thanks for reporting it @nvishnoiMW

[2022-09-20 20:23] #2510 closed

[2022-09-20 21:01] czender opened #2511 "Inconsistency in filter-related info in nc-config vs. netcdf_meta.h"
Today's `main` snapshot includes some new info in `nc-config` which is good. However, it seems that `nc-config` and `netcdf_meta.h` are not consistent in what/how they report about available filters. Namely, `netcdf_meta.h` lacks any tokens that declare the availability of the Bzip2 and Blosc filters. `netcdf_meta.h` does contain a useful (meaning client applications like NCO can easily make use o

[2022-09-20 21:03] WardF commented on #2511
Good catch; I'll get this oversight corrected!

[2022-09-20 22:15] #2511 closed

[2022-09-21 14:50] nvishnoiMW commented on #2510
Thank you @WardF and @DennisHeimbigner for your super quick responses. I have raised an issue with the HDF group. Hopefully, it will be fixed soon!

Thanks,
Nalini

[2022-09-22 16:52] nvishnoiMW commented on #2510
Hi @WardF and @DennisHeimbigner,

I just heard back from the HDF group asking us to try HDF5 1.10.9 to see if the issue could be reproduced. They suspect they have fixed something similar but can't recall the exact details. It will take a bit of time at my end to hook up NetCDF with HDF5 1.10.9 library but I wanted to mention the suggestion here in case it is easier for you to test the standalone

[2022-09-22 17:03] DennisHeimbigner commented on #2510
There are some pure hdf5 test programs in netcdf-c/h5_test
that you might be able to modify to create your program.

On 9/22/2022 10:52 AM, Nalini Vishnoi wrote:

[2022-09-22 17:23] WardF commented on #2510
Thanks @nvishnoiMW, updating our test environments to use 1.10.9 is pretty straightforward, I'll give it a test.

[2022-09-22 19:25] WardF commented on #2510
So unfortunately I am seeing the same issue with `1.10.9`.  I've dug in a bit, and ran the test using memory address sanitizing (via `CFLAGS="-fsanitize=address -fno-omit-frame-pointer"`), and I see the following:

[code]

This at least confirms that we have something going on down in the hdf5 library, but unfortunately, it looks like it indicates a bug in the latest version of the `1.10.x` line o

[2022-09-23 16:54] nvishnoiMW commented on #2510
Thank you @DennisHeimbigner and @WardF!
@WardF - you are amazing! :) Thank you for confirming that the issue exists in HDF5 1.10.9. I have conveyed the same to the HDF group and they have created a bug report HDFFV-11335 regarding this crash.

Thank you once again for your help with this investigation.
Nalini

[2022-09-23 20:39] barronh opened #2514 "NC_UNLIMITED in the wrong"
* NetCDF v4.8.1
* Linux, compilers various (gcc v4.8.5, intel 19.0), reproduciable with ncdump or netCDF4
* Below is the command necessary to reproduce the error:

ncdump -h https://snpp-omps.gesdisc.eosdis.nasa.gov/opendap/SNPP_OMPS_Level2/OMPS_NPP_NMNO2_L2.2/2022/162/OMPS-NPP_NMNO2-L2_2022m0611t193917_o55040_2022m0611t220125.h5

On a local copy of the same file

ncdump -h /work/ROMO/satellite/OM

[2022-09-23 21:11] WardF commented on #2514
Are you able to run `h5dump` on the local copy of the file, out of curiosity?

[2022-09-24 01:14] DennisHeimbigner commented on #2514
Your url causes ncdump to attempt to read the data using the DAP2
protocol. The important thing to understand is that the netcdf-c library
interprets DAP2 to netcdf-3 (classic) and not to netcdf-4 (enhanced).
This means that the DAP2 meta-data  must conform to the netcdf-3 rules.
Among those rules is that there can only be one unlimited dimension and
it must occur as the first dimension of any var

[2022-09-24 01:58] barronh commented on #2514
@WardF - Yes, no error with h5dump. ‘ncdump -h’ works. I just get the error and the core dump.

@DennisHeimbigner - your explanation of the opendap makes sense. Why does ncdump core dump the local file?

[2022-09-24 02:22] DennisHeimbigner commented on #2514
I think that was fixed some time ago. Have you tried netcdf-c version 4.9.0?

[2022-09-24 03:14] DennisHeimbigner commented on #2478
What is the state of this Issue?

[2022-09-24 13:32] barronh commented on #2514
Thanks-I will!

[2022-09-24 13:32] #2514 closed

[2022-09-25 13:32] MuzafarWani opened #2515 "NetCDF: Unknown file format"
I am trying to read a netcdf file produced as output by WRF application in 2019 and I am using netcdf 4.1.3 version to read it but it is showing NetCDF: Unknown file format.

[2022-09-25 18:22] DennisHeimbigner commented on #2515
I am curious. Why are you using such an old version as 4.1.3?

[2022-09-25 23:21] MicroTed commented on #1886
In addition to testing with ifort, I also ran this test with gfortran-12, netcdf 4.8.0, hdf5 1.10.7, and got an extra error (overflow):

 NetCDF: HDF error
Note: The following floating-point exceptions are signalling: IEEE_OVERFLOW_FLAG

[2022-09-26 10:17] MuzafarWani commented on #2515
I was just following instruction manual fro WRF installation and it is mentioned in there. I didn't wanted to mess up anything

[2022-09-26 14:51] JamiePringle opened #2516 "netCDF fails on zarr file with variable length array"
On netcdf 4.8.1 when I try to use ncdump to print a zarr file with a variable length (jagged) array, it crashes with a segmentation fault. On 4.9.0 on a mac, the same command hangs indefinitely.  The zarr files have no compression, this is a separate issue from #2484 .  The attached code creates two zarr data stores. The first, ExampleNoVlen.zarr just has a simple array, and  `ncdump 'file://Examp

[2022-09-26 16:03] WardF commented on #2516
I am working on a feedstock issue right now for conda/libnetcdf, but will take a look at this as soon as I can.  Tagging @DennisHeimbigner in case an immediate solution leaps out.

[2022-09-29 12:17] Alexander-Barth commented on #2478
In julia we have currently disabled the plugins. Beside this issue, it is not so clear where we should install the plugins. I don't think that we can install them in the HDF5 plugin directory, as every library can only install files in its own installation directory (there are no shared directories like /urs/lib or/usr/include for all libraries in julia, but separate directories lib1/{lib,include,

[2022-09-29 18:37] DennisHeimbigner commented on #2478
Could you install them in "libnetcdf/hdf5/plugins", say,
and then set HDF5_PLUGIN_PATH to point to that directory?

[2022-09-30 07:23] Alexander-Barth commented on #2478
Yes, this might work. However, as far as I know, we can set this environment variable after the C libraries HDF5 and NetCDF are loaded. I am wondering if this is still early enough. Does somebody know if the HDF5_PLUGIN_PATH is also queried when opening a dataset with a so-far unknown plugin or only during the initialization of the library (and any changes later-on would not have any effect).

[2022-09-30 17:42] WardF commented on #2478
So using the `configure` argument provided at the head of this thread, I'm getting the plugins with proper file extensions:

    $ CFLAGS="-fPIC" ./configure --prefix=$HOME/tmp2 --host=aarch64-apple-darwin20 --enable-shared --disable-static --disable-dap-remote-tests --with-plugin-dir=$HOME/tmp2/plugins --build=aarch64-linux-musl --disable-dap-remote-tests

Note that I'm compiling on an ARM-based

[2022-09-30 17:43] WardF commented on #2478
Edit: Ignore previous comment that has been deleted, I see now that I'm replicating the issue.

[2022-09-30 17:49] WardF commented on #2478
Ok, I have found the issue and corrected this (pending regression testing to ensure that I didn't break anything).  The file `plugins/Makefile.am` needed the following two lines added to it (at line77):

[code]

@Alexander-Barth this corrected the file extension issue on my end; can you check on your side? I'll put up a PR shortly once I've done some testing.

[2022-09-30 19:23] #2478 closed

[2022-09-30 21:19] czender opened #2521 "Cause of failure and a workaround to build with --enable-nczarr-s3 on MacOS (+Windows?)"
This is based on today's snapshot of `4.9.1-develop`.

The netCDF-C distribution, configured with `--enable-nczarr-s3`, FTBFS with Clang (and possibly GCC) on MacOS even though the Homebrew package `aws-cpp-sdk` provides the necessary libraries `aws-cpp-sdk-s3` and `aws-cpp-sdk-core`. The failure is apparently caused because MacOS by default installs a quasi case-insensitive filesystem that causes

[2022-09-30 21:39] DennisHeimbigner commented on #2521
Does it also build if you copy VERSION to a file called "version" (lowercase)?

[2022-09-30 21:46] czender opened #2522 "Request for nc-config and a header file to include AWS S3 build info"
This is a feature request that both `nc-config` and one of the headers (`netcdf_meta.h`?) report the presence/absence of support for the AWS S3 scheme in NCZarr. Currently, AFAICT, there is no straightforward way for regular users to determine whether the netCDF installation supports S3 (hence the `nc-config` request). An advanced user could look for the AWS library in `--static` though that seems

[2022-09-30 21:57] czender commented on #2521
Good question. No, it fails with the same error as above. The compiler just finds the netCDF `version` file instead of the intended, Clang `version` file.

[2022-09-30 22:28] DennisHeimbigner commented on #2521
In any case, the problem (from my point of view) is that
aws-sdk-cpp is way overkill for what netcdf-c needs to access S3.
My belief is that we need to build our own replacement library with limited
functionality. I also believe that we can take code from HDF5
and other places to construct that replacement library.
But it still requires significant programming effort.
I keep hoping someone else wi

[2022-10-02 19:05] Alexander-Barth commented on #2478
Thanks a lot!

[2022-10-03 20:27] ellenjohnson opened #2523 "Writing a NaN to an integer variable gives inconsistent results upon subsequent read"
Hi netCDF friends!  Question regarding netCDF-C behavior when writing NaNs to a integer variable.  I tested this with netCDF 4.8.1 on my Linux machine.  I see similar results on Windows.

In MATLAB and in my netCDF-C repro program (attached), if I create a netCDF integer variable and write a NaN to it, I see inconsistent results when reading the value back which I suspect is caused by undefined be

[2022-10-03 21:27] DennisHeimbigner commented on #2523
I looked at that stack overflow url. The claim is that all conversions of Nan
(and Inf) to integer are undefined. I do not think that netcdf-c does anything
so I assume this is done by the hardware or the C runtime library.

[2022-10-03 22:04] dopplershift commented on #2521
Unless relying on the AWS C SDK is completely untenable (and I've heard inconsistent reports on whether that's the case), I'd *really* like to see us avoid expending engineering effort on a library to support an API we have no control over and isn't our unique specialty. If we're maintaining that, then we have to maintain that knowledge internally as well.

[2022-10-03 22:44] DennisHeimbigner commented on #2521
I think that Charlie's point is correct:
[code]
If we adopt your point of view, then we have no choice but to wait
until some better solution becomes available.

[2022-10-04 15:02] ellenjohnson commented on #2523
Thanks Dennis, that's what I thought - netCDF isn't doing anything special, it's just relying on the C behavior when converting NaNs to integer types.

My question at this point is whether you and your netCDF colleagues are going to leave the netCDF code as-is and close this out saying it's expected behavior, or if you consider it a bug and will modify the code to guard against cases where there i

[2022-10-04 15:52] WardF commented on #2523
Hi @ellenjohnson.  This is a good question; we've certainly encountered other issues where undefined behavior was encountered.  It seems like we may need to raise an 'undefined behavior' warning.  Our general guide here is that it's better to raise a warning/error and let the user change the data, rather than quietly changing the data being written.

We'll need to figure out exactly how we want to

[2022-10-04 16:43] dopplershift commented on #2521
@DennisHeimbigner Well, let's not hold up creating a library to handle remote access to the S3 API, including all of the authentication options that people expect for S3, as some kind of "quick fix" either, especially given the engineering resources we have to devote to that.

I'd rather see us continue to invest in trying to use existing libraries like [aws-c-s3](https://github.com/awslabs/aws-c-

[2022-10-04 17:11] ellenjohnson commented on #2523
Thanks @DennisHeimbigner and @WardF for the quick replies!  I really appreciate it.  I'll add a comment to the bug we're tracking on our side that we're waiting for a fix from the netCDF developers.

[2022-10-04 17:15] DennisHeimbigner commented on #2523
Fixing this in the netcdf-c library may be costly. In effect,
we have to examine each value during conversion from float/double
to int to see if it is a NaN value.

[2022-10-04 20:17] czender commented on #2521
On OSX, I simply installed and used the Homebrew package `aws-cpp-sdk`. I did not build it from scratch.

[2022-10-07 14:09] JamiePringle commented on #2516
thank you

[2022-10-07 19:22] DennisHeimbigner commented on #2516
In looking at your python,  I realized that I do no know what your
ragged array looks like. Netcdf-4 and hence NCZarr does not
support true ragged arrays except using the HDF5 vlen type,
which is not supported in Zarr. So how did you envision your
ragged array being layed out in memory?

[2022-10-07 21:55] JamiePringle commented on #2516
I am using the standard mechanism in zarr -- see https://zarr.readthedocs.io/en/stable/tutorial.html#ragged-arrays in which the object array is encoded with object_codec=numcodecs.VLenArray.  These codecs are discussed in https://numcodecs.readthedocs.io/en/stable/vlen.html .  I do not know how the VlenArray codec works internally.  It is the standard model for zarr.

Jamie

[2022-10-08 00:39] DennisHeimbigner commented on #2516
Unfortunately, the text you refer to is in the Zarr tutorial. It is not
part of standard Zarr as defined by the Zarr V2 spec.

[2022-10-08 19:24] DennisHeimbigner commented on #2521
One other question. Did you get the S3 related tests to work correctly?

[2022-10-08 19:50] czender commented on #2521
1. I did not attempt to run the netCDF-C tests for S3 since I thought those only worked for Unidata peeps. `make check` did pass without errors.
2. `brew install aws-cpp-sdk`. It's an 800 MB package!

[2022-10-08 19:53] DennisHeimbigner commented on #2521
You are right, I forgot that our S3 repo is private.

Wow!

[2022-10-08 21:01] DennisHeimbigner commented on #2521
WRT the original VERSION issue. I could rename the netcdf-c VERSION file
except that I do not know if it is referenced outside the library build.
If so, then it could break the workflows of other users.

[2022-10-08 22:46] czender commented on #2521
True. Also true that `VERSION` is impeding NCZarr on S3 and the MacOS/Clang system library header named `version` will be renamed. Is there a way to temporarily rename` VERSION` at the beginning of the netCDF S3 build process then restore it later? Or to tell the header search algorithm to ignore the top-level netCDF directory? Otherwise a permanent renaming or moving of `VERSION` seems inevitable

[2022-10-08 23:31] DennisHeimbigner commented on #2521
I do not use OSX except via github actions. But Ward and Ryan do.
I will discuss it with them.

[2022-10-09 03:00] DennisHeimbigner commented on #2521
I think there is another way to do this, but it may be just as intrusive.
If we move config.h into a subdirectory -- netcdf-c/include, say --
then we can remove the -I.. from the build so that VERSION is invisible.

[2022-10-09 15:41] edwardhartnett commented on #1545
Here's a slide from a presentation by @czender which adds an additional motivation for supporting and encouraging better compression:

![image](https://user-images.githubusercontent.com/38856240/194766007-9c24bec3-dcaf-4c57-a55f-5b56a6b922a3.png)

[2022-10-09 19:24] DennisHeimbigner commented on #2515
Try installing the latest netcdf-c version 4.9.0 and see
if the problem goes away.

[2022-10-09 20:48] DennisHeimbigner commented on #2521
I wonder why we do not see this under Windows, which is also case
insensitive?

[2022-10-09 21:01] czender commented on #2521
My guess is that only the MacOS/Clang system headers need to `#include` a file named `version`. It's not a portable name for source code.

[2022-10-09 21:10] DennisHeimbigner commented on #2521
Apparently, the VERSION file is not an installed file.
This means that we should be able to change its name
as we wish with no impact on users.
Of course it is possible that some package managers (apt, brew, etc)
do look at it, in which case there would be problems.

[2022-10-09 21:26] DennisHeimbigner commented on #2521
I did notice that g++ also has a "version" file.

[2022-10-10 01:39] DennisHeimbigner commented on #2521
Possibly fixed by PR https://github.com/Unidata/netcdf-c/pull/2527.

[2022-10-10 16:27] JamiePringle commented on #2516
@DennisHeimbigner and @WardF -- It may be as you say. Would you like me to file a bug-report with the zarr folks to add this to their upcoming standard revision?

I understand the frustration of dealing with incomplete standard specifications. However this raises a philosophical question. Do you wish to just do exactly what the (inevitably flawed) standard says, or do you want to embrace the stand

[2022-10-10 18:34] DennisHeimbigner commented on #2516
I agree that this issue should be raised with the Zarr community.

You note:
[code]
The short answer is yes; I do want to do exactly what the standard says.
That is the only way to ensure interoperability across implementations.
What you call the standard as implemented is (I assume) the python implementation.
The key point about specifications is that they are intended to be implementation indepe

[2022-10-10 19:25] JamiePringle commented on #2516
Ok, I will raise it in zarr's GitHub issue page.
Jamie

[2022-10-11 06:49] Avimitin opened #2528 "parallel test fail on RISC-V platform"
I am trying to build the netcdf 4.9.0 on Arch Linux RISC-V. And I met two issues that I can't resolve when I run testing. The following tests FAILED (Collpased because the log are too long):

<details>
  <summary>176 - nc_test4_run_par_test (Failed)</summary>

[code]

</details>

<details>
  <summary>203 - h5_test_run_par_tests (Failed)</summary>

[code]

</details>

## Platform information

* OS:

[2022-10-11 07:17] GeorgeVandenberghe-NOAA commented on #1964
We are treating this as a WCOSS2 vendor problem with their MPI
implementation.   We are building with HDF5 1.10.6 but 1.12.1 was tested
and verified to both
reproduce the problem and otherwise work.   Parallel NetCDF is mostly
working now on WCOSS2 and only hangs with unusual rank distributions.
Improvement has occurred with occasional pre-acceptance MPI upgrades.

On Tue, Apr 5, 2022 at 7:22 AM E

[2022-10-11 08:10] GeorgeVandenberghe-NOAA commented on #1964
I think we tested HDF5 1.12.0.. the test was last November when trying to
package a testcase.  We are currently at 1.10.6 on WCOSS2.

On Tue, Apr 5, 2022 at 7:22 AM Edward Hartnett ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2022-10-11 08:22] edwardhartnett commented on #2317
Look in the file config.log to see what error is happening...

On Fri, Apr 29, 2022 at 1:45 PM coderodyhpc ***@***.***>
wrote:

[2022-10-11 14:27] JamiePringle commented on #2516
see discussion in https://github.com/zarr-developers/zarr-specs/issues/160

[2022-10-11 15:38] edwardhartnett commented on #1964
es, there is a CMake build of netcdf. However it should make no difference to your MPI problems...

[2022-10-11 15:57] WardF commented on #2528
This is tricky for us to debug, unfortunately, given that we don't have access to RISC-V hardware, and the same configuration appears to work locally (for what that is worth).  I suspect the issue is related to the installed HDF5 library, however.  Given that `h5_test_run_par_tests` is a pure HDF5 test, no netCDF interface involved, I have to conclude that the issue is rooted in HDF5.  This would

[2022-10-12 06:14] Avimitin commented on #2528
I am using the openmpi version of the hdf5, and it seems like there are some bug in the openmpi: https://github.com/archlinux/svntogit-community/blob/packages/hdf5-openmpi/trunk/PKGBUILD#L88, and Arch Linux just bypass the test failure. So this issue is not related to the netcdf.

Thanks for your guidance!

[2022-10-12 06:14] #2528 closed

[2022-10-13 21:05] MicroTed commented on #1886
@edwardhartnett @WardF  My workaround now is to reduce the number of variable attributes. Curiously, I can add all the string/character attributes, but adding just one integer attribute trips the error. Those integers are not really needed for anything at this time, fortunately. At least it can work!

[2022-10-14 15:12] rmcd-mscb commented on #2459
I came to this thread because I was having this same issue accessing daymet using xarray in a conda environment (xr.open_dataset('https://thredds.daac.ornl.gov/thredds/dodsC/daymet-v4-agg/na.ncml').  Many other OPeNDAP endpoints worked but not daymet.

I'm working on WSL2 Ubuntu 22.04 and getting the same curl and netcdf error as @DanCodigaMWRA was experiencing in his conda example above using bot

[2022-10-14 16:19] WardF commented on #2459
Thanks @rmcd-mscb ! A good datapoint.

[2022-10-14 17:24] SorooshMani-NOAA commented on #2459
This week I ran into the same issue using `pytest` on GitHub for automated testing. I created a demo test:

I created a demo test in my package test directory (`tests/test_github_action.py`) as follows
[code]

and my test environment is set up using:
[code]
Using curl from terminal and `pydap` from within the demo test I can download the `.nc` file, but using either `xarray` or `netCDF4.Dataset` f

[2022-10-14 19:09] DennisHeimbigner commented on #2459
I put this url into my web browser:
````http://psl.noaa.gov/thredds/dodsC/Datasets/NARR/monolevel/uwnd.10m.2000.nc.dods````
This is equivalent to what ncdump is doing internally to get the data to dump.
I got back this message:
[code]

[2022-10-14 20:52] DanCodigaMWRA commented on #2459
Thx all, for the input on this.
Some minor updates to my situation now: am using netcdf4 1.6.1, curl/libcurl 7.85, and certifi 2022.9.24.

@rmcd-mscb:
* I have done "conda config --set ssl_verify" with path to a cert chain file, and it is working (for other stuff, not ncdump).
* I have tried pinning netcdf4 at 1.5.7, and 1.5.8 but no joy.

@SorooshMani-NOAA:
* Very interesting! For both the URL yo

[2022-10-21 04:35] sebastic opened #2532 "v4.9.1 tag contains code for 4.9.1-rc1"
The v4.9.1 tag is wrong, it contains code for 4.9.1-rc1:
[code]
[code]

[2022-10-21 16:58] skstr3182 opened #2533 "NetCDF Library Linkage on Windows Using CMake"
NetCDF Version: netCDF-C 4.9.0 (2022-06-10, the latest for now)
IDE: Visual Studio 2022
CMake Version: 3.24.1
Compiler: MSVC++ and nvcc

Hello.

I'm not sure it is proper to upload my question here, so please tell me where to ask if the question is not related to here.

My issue is configuring and compiling a program which involves NetCDF as a third-party library.
CMake itself does not generate a

[2022-10-21 17:08] DennisHeimbigner commented on #2533
For a start, you should go to this page:

and then you should download and install either
netCDF4.9.0-NC4-DAP-32.exe
<https://downloads.unidata.ucar.edu/netcdf-c/4.9.0/netCDF4.9.0-NC3-DAP-32.exe>
or
netCDF4.9.0-NC4-DAP-64.exe
<https://downloads.unidata.ucar.edu/netcdf-c/4.9.0/netCDF4.9.0-NC3-DAP-32.exe>

Depending on if your machine is 64  bit (most likely) or 32 bit.
Then try running your cmake s

[2022-10-21 18:25] dopplershift commented on #2390
Looks like this one has been addressed and could be closed out.

[2022-10-22 04:13] skstr3182 commented on #2533
Dear @DennisHeimbigner

I exactly followed what you said.
I downloaded a binary this one [https://downloads.unidata.ucar.edu/netcdf-c/4.9.0/netCDF4.9.0-NC4-DAP-64.exe](url)
and found what I posted above.
I think it's an internal problem.

[2022-10-22 05:03] sebastic commented on #2532
Thanks for fixing the tag.

[2022-10-22 05:03] #2532 closed

[2022-10-22 06:26] sebastic opened #2534 "Typo in manual page"
The lintian QA tool reported a typo for the Debian package build:

 * updata -> update

Patch:
[code]

[2022-10-22 17:16] DennisHeimbigner commented on #2533
I am not an expert in cmake, so I will have to turn this over to someone
more knowledgeable. Perhaps you should post this question
to the netcdf mailing list?

[2022-10-23 09:30] skstr3182 commented on #2533
Thanks for your support.

I have not posted anything to the mailing list.
It is right to mail this to netcdfgroup@unidata.ucar.edu?

[2022-10-25 06:44] zerothi commented on #1733
I would really second this!!

It would be super fantastic if netcdf installed a cmake and pkg-config file for end users!

[2022-10-25 14:57] edwardhartnett commented on #1733
What would be helpful is if some cmake-expert netCDF users would submit a PR with these fixes...

[2022-10-25 15:09] ibaned commented on #1733
Hi all,

We're using NetCDF with the CMake config file, one difference is the name is `netCDF` not `NetCDF` so `find_package(netCDF CONFIG)` works for us. We have a few nitpicks about transitive dependence on HDF5 but overall it does work okay.

[2022-10-25 15:44] WardF commented on #1733
Hi @ibaned, are the nitpicks that the transitive dependence is present in the first place? Or is there something we can clean up there to make it more functional?

[2022-10-26 03:40] bzfbmsch opened #2535 "tst_diskless4 runs forever for version 4.9.0"
Dear support team,
I am trying to build netcdf 4.9.0. This fails, the test

tst_diskless4 500000000 opendiskless

keeps one core busy with 100% "forever".

Compiler: intel 2022 with "-fPIC -O2 -fp-model precise -static-intel"
../netcdf-c-4.9.0/configure --prefix=$NETCDF_ROOT \
            --enable-netcdf-4\
            --enable-cdf5 \
            --enable-dap-long-tests \
            --enable-larg

[2022-10-26 15:17] WardF commented on #2534
Thanks; this is a pretty minor change, I'll wrap it into a different PR. Thanks!

[2022-10-26 19:46] j-m-adams opened #2536 "checksumhack debugging print statement in libdap4/d4chunk.c"
Here it is in the main branch:
https://github.com/Unidata/netcdf-c/blob/main/libdap4/d4chunk.c#L103

I see "checksumhack=0"  printed to the terminal when I access data from variables in opendap dataset URLs that start with dap4:// instead of https://

Here's how to reproduce it with ncdump:

I also see it when using the Python netCDF4 package.

[code]

[2022-10-26 20:27] DennisHeimbigner commented on #2536
Sorry about that; the dap4 code is undergoing serious revision.
Fixed by PR https://github.com/Unidata/netcdf-c/pull/2537

[2022-10-26 21:16] #2536 closed

[2022-10-26 21:48] WardF commented on #2535
I'm taking a look to see if I can replicate this; unfortunately I don't have access to the intel compilers, but with any luck I'll be able to get enough information from gcc/clang to see what's going on.

[2022-10-26 22:36] WardF commented on #2535
I was able to replicate this in `v4.9.0`, but it appears to be fixed in the `v4.9.1-rc1` release.  Can you try this release candidate and let us know if the issue is resolved for you?

[2022-10-27 00:20] DennisHeimbigner commented on #2535
Possibly related issues:
* https://github.com/Unidata/netcdf-c/issues/2418
* https://github.com/Unidata/netcdf-c/issues?q=is%3Aissue+is%3Aopen+diskless

[2022-10-27 16:02] bzfbmsch commented on #2535
Thanks for the reply. It was of great help. Two comments:
- I forgot to mention that the issue was not compiler specific.
-  For version 4.9.1-rc1 all checks run through now. So the issue should be resolved.
Many thanks again

[2022-10-27 17:32] #2535 closed

[2022-11-01 18:54] DusanJovic-NOAA opened #2540 "Linking a program on mingw fails with 'cannot find -loptimized' and 'cannot find -ldebug'"
When I try to build a program that uses netcdf library (4.9.0) on Windows (MinGW) I see the following errors:

[code]
The "missing" libraries ('debug' and 'optimized') are specified in Libs.private in netcdf.pc:
[code]
which is obviously incorrect, since debug and optimized are not actual libraries. They are just cmake keywords used to indicate whether a (actual) library that follows that keyword

[2022-11-01 19:50] WardF commented on #2540
Interesting, and thank you for letting us know. I'll take a look and try to get that fixed in v4.9.1!

[2022-11-02 00:02] DusanJovic-NOAA commented on #2540
Somewhat related to this issue is the following. This is what I see when I run cmake to configure v4.9.0 on mingw:

[code]
Note how the same library, for example `libzstd.dll.a` is listed both as debug version and as optimized version.
This happens because in `cmake/modules/FindZstd.cmake` in this block:

[code]
`libzstd` is listed in both `FIND_LIBRARY(Zstd_DEBUG_LIBRARY ...` and `FIND_LIBRARY(Zs

[2022-11-02 10:10] edwardhartnett opened #2541 "trouble installing with zstandard?"
From @Hang-Lei-NOAA:

[code]

Hang had to set LDFLAGS to have the Cmake build find the zstd library. Is that expected?

[2022-11-02 15:48] DennisHeimbigner commented on #2541
What is ZSTD_ROOT?

[2022-11-02 15:55] Hang-Lei-NOAA commented on #2541
--with-zstd=$ZSTD_ROOT

On Wed, Nov 2, 2022 at 11:49 AM Dennis Heimbigner ***@***.***>
wrote:

[2022-11-03 13:36] edwardhartnett commented on #2541
I believe Hang is using the netCDF CMake build for this.

The problem is that he has installed a number of times, thinking that he is getting zstandard compression, only to find that NC_HAS_ZSTD as still 0!

In the end he had to set LDFLAGS to include the zstandard library, and I don't think that is intented. CMake should add the LDFLAGS to include zstandard...

@Hang-Lei-NOAA can you post the ent

[2022-11-03 13:47] Hang-Lei-NOAA commented on #2541
Hi, Ed,
Report to you. At the final, I am using the configure option to solve the
build. I highlight the additions in blue. The script is :
========================================
#!/bin/bash

set -eux

name="netcdf"
c_version=${1:-${STACK_netcdf_version_c}}
f_version=${2:-${STACK_netcdf_version_f}}
cxx_version=${3:-${STACK_netcdf_version_cxx}}

# Hyphenated version used for install prefix
compil

[2022-11-03 13:51] edwardhartnett commented on #2541
OK, so you are using the autoconf build. You include --with-zstd=, which is expected.

But you still have to set LDFLAGS? It should be set for you...

[2022-11-03 13:54] Hang-Lei-NOAA commented on #2541
Hi, Ed, Yes. that is correct. I read into the configure script. We need to
do so, otherwise the info cannot be passed to the step that changes the
value to 1 of variable NC_HAS_ZSTD.

On Thu, Nov 3, 2022 at 9:51 AM Edward Hartnett ***@***.***>
wrote:

[2022-11-03 13:57] edwardhartnett commented on #2541
Is there a log that shows what the final configure command and environment settings were for this build?

[2022-11-03 14:13] Hang-Lei-NOAA commented on #2541
Yes, the only checking for zstd occurs on ld part:

-------------------------------
checking for blosc_init in -lblosc... no
checking for ZSTD_compress in -lzstd... yes
checking for library containing ZSTD_compress... -lzstd
checking whether libzstd library is available... yes
checking for BZ2_bzCompress in -lbz2... yes
--------------------------------

This echo the only reference of zstd in the

[2022-11-03 18:31] K20shores opened #2542 "Broken link in documentation"
* Version 4.9.0
* [Your website](https://docs.unidata.ucar.edu/netcdf-c/current/faq.html#HowdoIgetthenetCDFsoftwarepackage)

The last link in the the first paragraph is broken.

"... Installation instructions are available with the distribution or [online](https://docs.unidata.ucar.edu/netcdf-c/current/building.html)."

The broken link is [https://docs.unidata.ucar.edu/netcdf-c/current/building.ht

[2022-11-03 18:54] K20shores commented on #2542
And there's another one on [this page](https://docs.unidata.ucar.edu/netcdf-c/current/building_netcdf_fortran.html), the link for the [Fortran bootstrap procedures https://docs.unidata.ucar.edu/netcdf-c/current/getting_and_building_netcdf.html#getting](https://docs.unidata.ucar.edu/netcdf-c/current/getting_and_building_netcdf.html#getting) is broken.

[2022-11-04 11:41] edwardhartnett opened #2543 "now need to set LD_LIBRARY_PATH to HDF5 lib directory before autoconf build - is this expected?"
For some reason I now have to set LD_LIBRARY_PATH to the HDF5 lib directory before building and running netCDF tests.

Yet I never used to have to do this.

Is this expected?

[2022-11-04 12:13] edwardhartnett opened #2544 "current main branch fails make -j distcheck"
When I build like:

[code]
Then make -j check works. (Yea!)

But make -j distcheck does not work:

[code]
Note that I set DISTCHECK_CONFIGURE_FLAGS to --disable-dap-remote-tests, so should these tests even be running?

[2022-11-04 12:24] edwardhartnett commented on #2544
I also fails make distcheck, so this is not a parallel build/test issue.

When I look in the log for the failed tests I see:

[code]

The problem here is the dap4_test/baseline (and perhaps other directories under dap4_test) does not have a Makefile.am.

If you just want to distribute the files in this directory for testing, we need a Makefile.am which lists all the files as EXTRA_DIST.

I will su

[2022-11-04 12:28] edwardhartnett commented on #2544
...BTW it seems like this problem would also be present in the tarball release. That is, the tarball release, if constructed with make dist, will only contain the files listed in the Makefile.am files.

In fact, I see that make dist also breaks:

[code]
@DennisHeimbigner unfortunately we cannot list subdirectories in EXTRA_DIST, only files. ;-)

[2022-11-04 13:58] edwardhartnett opened #2545 "make distcheck fails in nczarr_test/run_scalar.sh"
There is some problem with file ref_scalar.cdl.

There is a file ref_scalar.cdl in nczarr_test, and it is included in EXTRA_DIST, but it is generated by ncgen?

Here's the output of the failure:

[code]

I don't understand what is happening here...

[2022-11-04 14:01] edwardhartnett commented on #2544
I have a fix to this but I have to turn off nczarr_test/run_scalar.sh for it to work. See #2545

[2022-11-04 14:11] edwardhartnett opened #2547 "distcheck target not used in CI of autotools builds"
The distcheck target is a great way to test the autotools build. It will test all that tricky autotools stuff that causes bugs in the distribution, even though everything works great on developer machines.

Lots of sysadmins do out of source tree builds for netCDF, and that's what discheck checks, but developers never do.

For example, see #2546 and #2544

[2022-11-04 16:17] edwardhartnett opened #2548 "documentation files missing from EXTRA_DIST in docs/Makefile.am"
These files need to be listed in EXTRA_DIST in docs/Makefile.am, or the tarball distribution will not be able to build the docs.

attribute_conventions.md file_format_specifications.md internal.md

[2022-11-04 19:58] DennisHeimbigner commented on #2544
I am doing a distcheck right now, and it looks like I can
put directories in EXTRA_DIST.
There was, however, an error in d4test_common.sh that specified
an incorrect path to one of those directories.

[2022-11-04 21:01] WardF commented on #2544
This path issue is fixed in the 4.9.1 wellspring branch and will be back propagated to main in due time. I'll take a look at doing that early, but no changes to fix it are needed now. I'll be back in town next Tuesday and will bring this fix to Main if nothing else.

[2022-11-06 01:38] pauliniguez commented on #2459
I was running into this issue on Google Colab and was driving me bonkers. Installing the above version of netcdf4 (prior to xarray[io]) did the trick. Thank you!

[2022-11-06 03:07] DennisHeimbigner commented on #2459
I am baffled. When I try this command using the current netcdf-c master ncdump, it works fine for me. I see no curl errors or cert errors.

Could one of you having the problem could try this ncdump command
and post the resulting output?

[2022-11-07 15:28] DanCodigaMWRA commented on #2459
Sure thing, @DennisHeimbigner, see at bottom below! And thanks for continuing to try remedies.

@pauliniguez , I am 99% sure I have tried rolling netcdf4 back to 1.5.7 without success resolving the problem. But I may try again...

Separately, I have made some progress on a workaround to avoid using netcdf, which seems possible using pydap per the suggestions from @SorooshMani-NOAA above.

[code]

[2022-11-07 17:33] DennisHeimbigner commented on #2459
Has anyone tried fixing this problem?
I did a google search on "curl trust error CERT_TRUST_REVOCATION_STATUS_UNKNOWN"
and it brought up some suggestions about how to fix it.

[2022-11-08 20:00] dopplershift opened #2551 "conda-forge build test failure"
Running down a test failure in conda-forge/libnetcdf-feedstock#154, `ncdump/tst_bom.sh` and `ncdump/tst_nccopy4.sh` failed, with odd diffs. They were running concurrently, and it turns out the problem is that both test scripts write temporary output to `tmp.cdl`.

I'll also note that `tmp.cdl` is mentioned in `ncdump/run_back_comp_tests.sh` (but commented out). The file is also removed (but not cr

[2022-11-08 20:06] DennisHeimbigner commented on #2551
I knew there was a race condition in some of our tests, but never
got around to tracking the cause. Thanks. I will submit a PR.n

[2022-11-08 20:45] #2468 closed

[2022-11-08 20:45] #2396 closed

[2022-11-09 19:44] #2534 closed

[2022-11-09 19:44] #2484 closed

[2022-11-09 19:53] JamiePringle commented on #2484
Thank you

[2022-11-09 20:15] WardF commented on #2484
@JamiePringle No problem; to answer your question posed above, we are involved in the conda feedstock pipeline, but I am not certain who I'd have to speak with for CRAN & the like.  Clarifying the documentation is a great idea and a great start, however.  Thanks again!

[2022-11-14 19:17] srherbener opened #2556 "'ncdump -t' does not work with a units attribute of type variable length string."
The upcoming release of netcdf-c v4.9.1 will introduce the capability to read fixed length strings for attribute and variable values. This is a great addition and thanks for putting it in!

It would be equally great to add the capability to write fixed length strings for both attributes and variables. I work on the JEDI project at JCSDA, and we are using netcdf extensively for storing model and ob

[2022-11-16 22:29] MicroTed commented on #2132
I almost opened a new issue, but found this one....

When compiling 4.9.0 on macos (big sur) with FC=ifort CC=clang (13.0), configure sets HAVE_DECL_ISINF=1. The logic in dutil.c around the isinf/isnan functions does not use this flag, but instead has

[code]

which causes the isinf/isnan code to be included and can result in a link error for duplicate definition. (It works correctly if CC=icc ins

[2022-11-16 22:41] WardF commented on #2132
I'm working on getting `v4.9.1-rc2` out the door right now, this seems like a straightforward fix, and I'm working on MacOS so it should be easy to test.  Thanks!

[2022-11-16 22:55] MicroTed commented on #2132
I should add one detail that I was compiling with --disable-shared, which may or may not make any difference in linking error.  Also 'make check' was happy in either case (before/after change to dutil.c), so I don't really know.

I think I just used the conditional in include/isnan.h:

#if ! (defined(isinf) || HAVE_DECL_ISINF)

[2022-11-16 23:42] #2132 closed

[2022-11-21 22:58] dopplershift commented on #2551
Closing because the tests mentioned here are passing.

[2022-11-21 22:58] #2551 closed

[2022-11-21 23:06] dopplershift opened #2562 "Conda-forge test failures redux"
Found this when [building 4.9.1rc2](https://github.com/conda-forge/libnetcdf-feedstock/pull/154). The relevant build log lines are:

[code]

[Full log](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/616373/logs/64) is available if needed; here I snipped out unrelated tests.

Again, the fact that the tests failing are running concurrently is suspicious, so

[2022-11-21 23:07] dopplershift commented on #2562
Attn: @DennisHeimbigner

[2022-11-21 23:28] DennisHeimbigner commented on #2562
Unfortunately, many of our early tests in nc_test, nc_test4, and ncdump
especially
use files supposedly created in tests presumed to have run previously.
Doing parallel make tests has completely screwed this up.
The only practical solution I can figure are:
1. give up on parallel testing or
2. build a special global test script for these directories that
guarantees serial execution.
3. ?

=Dennis

[2022-11-21 23:35] dopplershift commented on #2562
If you used a random temp directory for the intermediate test output that would let the scripts avoid stomping on each other.

[2022-11-21 23:59] dopplershift commented on #2562
Adding another case here, there's also a conflict between those two same test scripts and `tst_special_atts`:

[code]

[2022-11-21 23:59] dopplershift commented on #2562
And then another with `tst_group_data` in `ncdump`:

[code]

[2022-11-22 00:17] dopplershift commented on #2562
Ah, I see the reason we don't see such issues here isn't that we're not relying on it, it's that they're run with `--rerun-failed` (at least that's why I assume we don't see them here).

[2022-11-22 00:42] DennisHeimbigner commented on #2562
I think we can kill the interference cases. The real problem is
that some tests depend on the output of other tests as their input.

[2022-11-22 15:26] edwardhartnett opened #2563 "zstd install question: what should the user set HDF5_PLUGIN_PATH to?"
A user has asked me this:

[2022-11-22 16:28] HathewayWill commented on #2563
Good morning NETCDF community,

I am the user that Ed wrote about.  I wanted to share my commands and log files to help debug this issue.

Below you will find the bash commands and log files for each command in a .zip file.

Thank you for all your help.

[code]
[Archive.zip](https://github.com/Unidata/netcdf-c/files/10069237/Archive.zip)

[2022-11-22 20:06] dopplershift commented on #2562
I'd also argue that relying on side effects of tests instead of having that as an explicit separate dependency (e.g. a fixture/setup) is a problem with the tests that should at some point be addressed rather than continually worked around.

Just because they're tests doesn't mean they're any less deserving of programmers' love. 😆

[2022-11-23 13:08] HathewayWill commented on #2563
[code]

[2022-11-23 15:51] WardF commented on #2563
I'm seeing a warning message re: HDF5_PLUGIN_PATH.  A few questions.

First, is there an error? Does the test fail? Or are you seeing a new warning? You can modify the WRF script to specify `--enable-plugins` and `--with-plugin-dir=<plugin directory of your choice>`; set `HDF5_PLUGIN_PATH` to the same `<plugin directory of your choice>` passed to `--with-plugin-dir`.

[2022-11-23 16:21] WardF opened #2564 "Race conditions sneaking in to concurrent testing"
Several years ago, a lot of work went in to ensuring we could run our tests concurrently using either `make check -j` or `ctest -j <# processors>` for autotools and cmake-based builds, respectively.

There are mechanisms for ensuring tests which have dependencies on other tests run in the correct order.  Looking in the `Makefile.am` and `CMakeLists.txt` files in the test directories should show th

[2022-11-23 19:16] HathewayWill commented on #2563
Good afternoon,

The error messages are attached in the log files (zipped in original message).

Looking at the installation HDF5 and NETCDF-C appear to install correctly but the NETCDF-Fortran has the error.

I have tried setting the flags and variables you mentioned and still get the same result each time.

[2022-11-24 04:23] DennisHeimbigner commented on #2563
Where (which file and approximate line number) are the errors to which you refer?

[2022-11-24 11:28] HathewayWill commented on #2563
So sadly my desktop has suffered a fatal non repairable motherboard failure.  So I cannot open the files to get the line number.

If I remember correctly it is in the netcdf-fortran-make.log file (if I remember the name correctly) at the end of the file. There are Error 1 and Error 2 messages when trying to make netcdf fortran.

One possible issue that might be the cause is that the Mac is using c

[2022-11-28 15:39] niziak commented on #1373
Please see my comment: https://github.com/Unidata/netcdf-c/pull/1495#issuecomment-1329314364

[2022-11-30 08:40] MuzafarWani opened #2565 "Can't find or link to the hdf5 library"
I am trying to install netcdf-c-4.9.0
I installed the prerequisites hdf5 and zlib but when I try to install netcdf it throws error
**checking for library containing H5Fflush... no**
I am using the below command to install
CPPFLAGS='-I${hdf5dir}/include -I${zdir}/include ' LDFLAGS='-L${hdf5dir}/lib -L${zdir}/lib ' ./configure --prefix=/home/muzafar/Downloads/installs/netcdf
and hdf5dir,zdir, are re

[2022-11-30 17:57] WardF commented on #2565
What version of hdf5 are you using? Can you provide the libhdf5.settings file from your installation?